extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Эпендимома головного мозга
    +pageSubsection
      p Эпендимома головного мозга&nbsp;&mdash; это опухоль доброкачественного или злокачественного течения, которая развивается из&nbsp;патологически измененных клеток, которые выстилают желудочки головного мозга (речь об&nbsp;эпендиме желудочков&nbsp;&mdash; тончайшей эпителиальной мембране). 
    
    +pageSubsection
      h2#features Ключевые особенности новообразования
      +grid.page-subsection
        +cell({ m:6 })
          +figure({
            image: {
              name: 'ependymom-1',
              path: '/images/lechenie/golovnoy-mozg/opuholi/ependymoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Локализация. Эпендимомы часто прорастают в желудочки головного мозга и могут блокировать ток спинномозговой жидкости',  
            }, 
          }).par
          +figure({
            image: {
              name: 'ependymom-2',
              path: '/images/lechenie/golovnoy-mozg/opuholi/ependymoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'У кого диагностируют эпендимому? *данные по населению США',  
            }, 
          }).par
        +cell({ m:6 })
          p Эпендимома&nbsp;&mdash; первичное новообразование центральной нервной системы, частым местом локализации которого являются боковые желудочки либо задняя черепная ямка. Для нее характерен медленный рост, однако в&nbsp;ряде случаев опухоль способна прорастать в&nbsp;близлежащие структуры, то&nbsp;есть метастазировать.
          p Опухоль получила такое название, поскольку растет из&nbsp;эпендимальной ткани. Ткани выстилают не&nbsp;только желудочки головного мозга, но&nbsp;и&nbsp;центральный спинномозговой канал, так что потенциально эпендимомы могут формироваться и&nbsp;в&nbsp;спинномозговом канале
          p Всемирная организация здравоохранения приводит гистологическую классификацию опухолей НС. В&nbsp;нее вошла: анапластическая эпендимома, миксопапиллярная, субэпендимома головного мозга. 
          p Согласно данным статистики, на&nbsp;это новообразование приходится 6-12% от&nbsp;всех опухолей центральной нервной системы у&nbsp;детей (эпендимому головного мозга у&nbsp;детей до&nbsp;3-летнего возраста выявляют в&nbsp;30% случаев), также в&nbsp;3-9% случаев у&nbsp;взрослых. 
          +figure({
            image: {
              name: 'ependymom-3',
              path: '/images/lechenie/golovnoy-mozg/opuholi/ependymoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Статистика эпендимомы спинного и головного мозга',  
            }, 
          }).par

    .block-marked.block-marked--grey.page-subsection
      p Эпендимому диагностируют в&nbsp;возрастном диапазоне от&nbsp;1&nbsp;месяца до&nbsp;81&nbsp;года. Средний возраст заболеваемости: патология встречается в&nbsp;30-40 лет у&nbsp;взрослых и&nbsp;в&nbsp;6,4 года у&nbsp;детей. Восприимчивы к&nbsp;патологии представители обоих полов. 
    
    +pageSubsection
      p Интракраниальную опухоль чаще диагностируют у&nbsp;детей, обычно она представлена эпендимомой 4&nbsp;желудочка головного мозга, со&nbsp;склонностью к&nbsp;прорастанию в&nbsp;субарахноидальное пространство. Эпендимому левого или правого бокового желудочка выявляют реже, в&nbsp;третьем желудочке она практически не&nbsp;встречается. 
      p У&nbsp;взрослых&nbsp;же чаще диагностируют эпендимомы спинного мозга в&nbsp;пояснично-крестцовом и&nbsp;грудном отделах. Также известны случаи эпендимомы мягких тканей, средостения, яичников, черепных нервов. Вне зависимости от&nbsp;доброкачественной гистологической природы, возможно злокачественное поведение эпендимомы, когда она метастазирует (примерно в&nbsp;15% случаев).
    
    +pageSubsection
      h2#reasons Причины эпендимомы
      p В&nbsp;ходе лабораторных исследований опухолевых тканей в&nbsp;клетках выявили вирус SV40, но&nbsp;его влияние на&nbsp;развитие эпендимомы не&nbsp;установлено.
      p Потому ученые сходятся во&nbsp;мнении, что новообразование запускают онкогенные факторы, среди которых выделяют следующие:
      ul.list-unordered.par 
        li Вирус папилломы, герпеса.
        li Неблагоприятное воздействие факторов внешней среды
        li Радиоактивное излучение.
        li Злоупотребление вредными привычками.
        li Наследственный фактор.
        li Черепно-мозговые травмы, повреждение структур центральной нервной системы.
        li Химические канцерогены.
    
    +pageSubsection
      h2#symptoms Симптомы
      +grid.par
        +cell({ m:6 })
          p Клиническая картина эпендимомы зависит от&nbsp;скорости роста новообразования, величины и&nbsp;места расположения. 
          p На&nbsp;ранних стадиях опухоль практически никак себя не&nbsp;проявляет, но, по&nbsp;мере прогрессирования, симптоматика становится более выраженной,
          p Характерные проявления патологии: судороги, нарушение глотания, слуха, речи, зрения, высокое внутричерепное давление.
          p Другая симптоматика:
          ul.list-unordered.par 
            li тремор конечностей;
            li головокружение и&nbsp;головные боли (ноющая или распирающего характера);
            li шаткая, неуверенная походка;
            li ощущение давление в&nbsp;глазных яблоках;
            li непроходящая усталость;
            li нарушение координации движений;
            li тошнота, рвотные позывы;
            li резкая потеря веса;
            li нарушение памяти, письма;
            li онемение конечностей;
            li затуманенное зрение или появление &laquo;мушек&raquo; перед глазами. 
          p Клиническую картину определяет место расположения новообразования:
          ul.list-unordered.par 
            li При эпендимоме мозжечка нарушается походка, больной теряет равновесие. 
            li Судорожные припадки характерны при патологическом образовании полушариях головного мозга, особенно при локализации процесса в&nbsp;височных доляхЗатрудненное глотание, тугоухость, речи возникают при расположении опухоли в&nbsp;нижнем участке четвертого желудочка. 
            li Расположение опухоли в&nbsp;спинном мозге может вызывать нарушение моторной функции в&nbsp;руках и&nbsp;ногах, стойкое онемение в&nbsp;конечностях, нарушение функции тазовых органов, расстройство других систем внутренних органов (как правило пищеварительной системы). 
            li Опухоли, поражающие заднюю черепную ямку, провоцируют двоение в&nbsp;глазах, нарушение координации движений. Галлюцинации, расстройство психики, эпилептические припадки, нарушение чувствительности, параличи конечностей вызывает новообразование в&nbsp;боковых желудочках. 
            li Для детей&nbsp;же характерные признаки эпендимомы: выраженные головные боли, нарушение сна, рвота, снижение зрения и&nbsp;задержка психического развития. 
        +cell({ m:6 })
          +figure({
            image: {
              name: 'ependymom-4',
              path: '/images/lechenie/golovnoy-mozg/opuholi/ependymoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Симптомы эпендимомы',  
            }, 
          })
          
    +pageSubsection
      h2#classification Классификация
      +grid.par
        +cell({ m:6 })
          p В&nbsp;зависимости от&nbsp;степени недоброкачественности и&nbsp;особенностей развития выделяют следующие варианты эпендимомы:
          ul.list-unordered.par 
            li Миксопапиллярная. Новообразование доброкачественной природы, для которого характерен медленный рост и&nbsp;локализация в&nbsp;участке конского хвоста спинного мозга. Имеет первую степень злокачественности. При своевременном лечении прогноз благоприятный.
            li Субэпендимома. Развивается в&nbsp;одноименной глии, медленно растет, редко рецидивируют, чаще протекает бессимптомно и&nbsp;характеризуется доброкачественным поведением. Характерное место локализации&nbsp;&mdash; четвертый или боковые желудочки. Тоже относится к&nbsp;первой степени злокачественности, имеет благоприятный прогноз при своевременном лечении.
            li Классическая эпендимома. Диагностируют чаще, расположена в&nbsp;желудочках, имеет вторую степень злокачественности, поскольку демонстрирует агрессивное поведение и&nbsp;склонна к&nbsp;рецидивированию, перерождению в&nbsp;анапластическую форму опухоли. 
            li Анапластическая эпендимомаБыстро растет и&nbsp;активно метастазирует, прорастает в&nbsp;близлежащие ткани, имеет неблагоприятный прогноз. Характерное место расположения&nbsp;&mdash; задняя черепная ямка. Злокачественная эпендимома встречается в&nbsp;четверти случаев. 
        +cell({ m:6 })
          p В&nbsp;зависимости от&nbsp;места локализации бывают следующие типы эпендимомы:
          ul.list-unordered.par 
            li Супратенториальные. Образуются над мозжечковым наметом, обычно в&nbsp;больших полушариях головного мозга.
            li Инфратенториальные. Локализуются в&nbsp;задней черепной ямке, прорастают в&nbsp;четвертый желудочек, ствол мозга. 
            li Эпендимомы спинного мозга
        
    +pageSubsection
      h2#diagnosis Диагностика
      +grid.page-subsection
        +cell({ m:6 })
          +figure({
            image: {
              name: 'ependymom-5',
              path: '/images/lechenie/golovnoy-mozg/opuholi/ependymoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Нейросонография ребенка',  
            }, 
          })
        +cell({ m:6 })
          p Пациент обычно посещает невролога или нейрохирурга, которые оценивают неврологический статус и&nbsp;функциональные возможности пациента, анализирует симптоматику, назначает анализы и&nbsp;исследования.
          p Проходит визуальные методы исследования:
          ul.list-unordered.par 
            li Компьютерную или магнитно-резонансную томографию головного мозга. Второй метод исследования предпочтительнее, поскольку позволяет определить точное место расположения, величину, форму и&nbsp;структуру новообразования. А&nbsp;также избавляет пациента от&nbsp;лучевой нагрузки.
            li Если обследуют ребенка, то&nbsp;проводят нейросонографию, позволяющую обследовать головной мозг секторально, проводя ультразвуковое сканирование через не&nbsp;закрывшийся родничок.
            li При судорожных припадках проводят электроэнцефалографический мониторинг для определения структур головного мозга, вовлеченных в&nbsp;патологических процесс. 
            li В&nbsp;ряде случаев проводят&nbsp;МР ангиографию для оценки состояния сосудистого русла головного мозга.
    
    +pageSubsection
      h2#treatment Лечение
      +grid.par
        +cell({ m:6 })
          p Поскольку опухоль имеет высокий риск перерождения в&nbsp;злокачественную, то&nbsp;практикуется комплексное лечение, которое предполагает оперативное вмешательство, лучевую или химиотерапию. 
          p Наиболее эффективный вариант помощи&nbsp;&mdash; оперативное лечение, в&nbsp;ходе которого эпендимому удаляем полностью или частично. Операцию проводим, практикуя микрохирургические техники и&nbsp;используем операционный микроскоп, за&nbsp;счет чего вмешательство проходит с&nbsp;высочайшей точностью и&nbsp;минимальным риском осложнений.
          +figure({
            image: {
              name: 'ependymom-6',
              path: '/images/lechenie/golovnoy-mozg/opuholi/ependymoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Лучевая терапия',  
            }, 
          }).par
        +cell({ m:6 })
          p Если новообразование расположено в&nbsp;труднодоступных структурах головного мозга, проводится частичное иссечение опухоли, после чего назначается лучевая терапия, в&nbsp;ходе которой можно разрушить опухолевые клетки, которые не&nbsp;удалось удалить хирургическим методом, и&nbsp;остановить рост опухоли
          p В&nbsp;некоторых клиниках практикуют стереотаксическую радиохирургию, в&nbsp;ходе которой клетки опухоли разрушают под воздействием направленных радиоактивных лучей. Метод позволяет остановить прогрессирование опухолевого процесса, разрушить патологически измененные клетки, не&nbsp;затрагивая здоровые участки головного мозга.
          +figure({
            image: {
              name: 'ependymom-7',
              path: '/images/lechenie/golovnoy-mozg/opuholi/ependymoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Стереотаксическая радиохирургия',  
            }, 
          }).par

    +pageSubsection
      h2#why-we Почему лечение эпендимомы в&nbsp;Санкт-Петербурге лучше проводить в&nbsp;нашем Центре? 
      ul(class= gridClasses()).page-subsection
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--certificate Хирургические вмешательства на&nbsp;головном мозге проводим с&nbsp;1998&nbsp;года. За&nbsp;это время выработали уникальные авторские методики, получили на&nbsp;них патенты. Например, нейрохирурги Центра практикуют оригинальный доступ к&nbsp;основанию черепной ямки.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--microscope Максимально снижаем травматичность вмешательств, исключаем ошибки в&nbsp;ходе хирургического лечения, поскольку практикуем эндоскопическую ассистенцию, нейрофизиологический мониторинг, отслеживаем каждую манипуляцию под окуляром микроскопа.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--neurosurgery Операцию проводят опытные нейрохирурги, которые практикуют современные подходы, следуя мировым протоколам лечения.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--recovered Обеспечиваем контролируемую глубину наркоза, легкое пробуждение, что ускоряет послеоперационное восстановление, поскольку операционные оснащены оборудованием последнего поколения, которое соответствует мировым стандартам.
    
    +pageSubsection
      h2#recovery Особенности восстановительного периода
      p Восстановление занимает длительное время, поскольку на&nbsp;первых порах пациент должен находиться под врачебным наблюдением, терапевтическим лечением. После этого предполагается реабилитационный период, в&nbsp;ходе которого с&nbsp;пациентом занимается реабилитолог клиники (возможны занятия на&nbsp;дому по&nbsp;специальным методикам). В&nbsp;целом восстановительный период занимает несколько месяцев.
    
    +pageSubsection
      h2#complications Осложнения
      p Учитывая труднодоступность опухоли, из-за сложного устройства головного мозга и&nbsp;характера прорастания новообразования, риск послеоперационных осложнений остается. 
      p Возможны неврологические нарушения, которые проявляются расстройством слуха, зрения, памяти, возникновением судорог. Прогнозы и&nbsp;профилактика
      p На&nbsp;прогноз влияет стадия эпендимомы. Если опухоль вовремя диагностирована, полностью удалена, то&nbsp;пятилетняя выживаемость наблюдается в&nbsp;70% случаев. 
      p Лечение анапластического новообразования, которое склонно к&nbsp;метастазированию и&nbsp;активному росту, продлевает жизнь на&nbsp;1-2&nbsp;года. В&nbsp;случае невозможности хирургического лечения, назначают поддерживающую терапию, которая продлевает срок жизни на&nbsp;несколько месяцев.
      p Специфических мер профилактики не&nbsp;существует, но&nbsp;специалисты рекомендуют придерживаться следующих правил, которые снижают риск образования опухоли:
      ul.list-unordered.par 
        li Преодолеть вредные привычки.
        li Наладить рациональное и&nbsp;здоровое питание.
        li Поддерживать состояние иммунитета.
        li Исключить воздействие канцерогенных веществ, радиации.
        li Регулярно посещать профилактические осмотры.
    
    +pageSubsection
      h2#literature Список использованной литературы
      ol.list-ordered
        li Бейн Б.Н., Шардаков В.И., Селюкова М.В. Противоопухолевый иммунитет и&nbsp;его нарушения при церебральных опухолях: учебное пособие для врачей. Киров: Кировская ГМА, 2004. 49&nbsp;с. 
        li Яхно Н.Н., Штульман Д.Р. Болезни нервной системы: в&nbsp;2&nbsp;т. М.: Медицина, 2003. Т. 1. 742&nbsp;с. 
        li Общероссийский национальный союз &laquo;Ассоциация онкологов России&raquo;, Общероссийская общественная организация &laquo;Ассоциация нейрохирургов России&raquo;, Общероссийская общественная организация &laquo;Российское общество клинической онкологии&raquo;, Клинические рекомендации &laquo;Первичные опухоли центральной нервной системы&raquo;, 2020&nbsp;г.
        li: a(href='https://cyberleninka.ru/article/n/patomorfologicheskaya-diagnostika-ependimalnyh-opuholey-tsentralnoy-nervnoy-sistemy' target='_blank' rel='nofollow') https://cyberleninka.ru/article/n/patomorfologicheskaya-diagnostika-ependimalnyh-opuholey-tsentralnoy-nervnoy-sistemy
        li: a(href='https://cyberleninka.ru/article/n/sovremennye-aspekty-diagnostiki-i-lecheniya-ependimom-u-detey' target='_blank' rel='nofollow')  https://cyberleninka.ru/article/n/sovremennye-aspekty-diagnostiki-i-lecheniya-ependimom-u-detey
        li: a(href='https://cyberleninka.ru/article/n/klinicheskiy-sluchay-ependimarnoy-opuholi-golovnogo-mozga' target='_blank' rel='nofollow')  https://cyberleninka.ru/article/n/klinicheskiy-sluchay-ependimarnoy-opuholi-golovnogo-mozga
