extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Кавернома головного мозга
    +pageSubsection
      +grid.par
        +cell({ l:6 }) 
          p Кавернома (cavernoma)&nbsp;&mdash; доброкачественная опухоль головного мозга, сформированная из&nbsp;сосудов, дополненная полостью, полой или заполненной кровью. Другое название заболевания&nbsp;&mdash; венозная кавернома, поскольку представлена венозным сплетением. 
          p Чаще новообразование обнаруживают в&nbsp;коре больших полушарий, но&nbsp;не&nbsp;редкость кавернома ствола головного мозга, а&nbsp;также желудочков. 
          h2#features Особенности патологии
          p Кавернома имеет плотную или мягкую структуру, тромбоз, отложения солей кальция на&nbsp;стенках, а&nbsp;мышечно-эластические волокна, свойственные сосудам, в&nbsp;ее&nbsp;составе практически отсутствуют.

        
        +imageOverlay({
          path: '/images/lechenie/golovnoy-mozg/opuholi/kavernoma/', name: ['kavernoma', 'mrt'], alt: ['Кавернома', 'Кавернозная мальформация на снимке МРТ']
          })(class= cellClasses({ l:6 })) 
      
      .block-marked.block-marked--grey.par
        p Другое название заболевания&nbsp;&mdash; кавернозная мальформация. Название получила за&nbsp;счет наличие каверн (заполненных кровью полостей). Вблизи церебральной каверномы часто обнаруживают патологически измененные вены, например, венозную ангиому. 
      p Новообразование отличается размерами: обнаруживают опухоль величиной от&nbsp;нескольких миллиметров до&nbsp;десятков сантиметров. Но&nbsp;не&nbsp;только величина, но&nbsp;и&nbsp;структура, форма каверномы могут меняться в&nbsp;течение всей жизни.

      h2#reasons Основные причины заболевания
      p Точные причины развития новообразования не&nbsp;установлены. Но&nbsp;эксперты сходится во&nbsp;мнении, что болезнь врожденная, а&nbsp;вызывает ее&nbsp;вирус, который поражает эмбрион на&nbsp;этапе закладки кровеносной системы. 
      p Предрасполагающие факторы к&nbsp;возникновению каверномы у&nbsp;детей:
      ul.list-unordered 
        li травматические роды;
        li хронические заболевания матери;
        li поздняя беременность;
        li злоупотребление беременной вредными привычками.
      p Что касается появления новообразования в&nbsp;другие возрастные периоды, вероятными причинами называют следующие:
      ul.list-unordered 
        li ослабление иммунитета;
        li инфекции;
        li прохождение лучевой терапии;
        li черепно-мозговые травмы;
        li наследственный фактор;
        li воспаление мозговых оболочек.
      p А&nbsp;кавернома мозжечка появляется на&nbsp;фоне гемангиом, ангиом, разных новообразований спинного и&nbsp;головного мозга. 

      h2#pathogenesis Патогенез
      p Чтобы эндотелиальный слой стенок сосудов развивался нормально, работа определенных генов не&nbsp;должна быть нарушена. Как только случаются генные мутации, клетки эндотелия формируются с&nbsp;нарушениями или мигрируют в&nbsp;не&nbsp;свойственные им&nbsp;участки, в&nbsp;результате чего образуются каверны.
      p Радиоактивное излучение тоже вызывает опухолевые процессы в&nbsp;головном мозге, но&nbsp;ученые пока не&nbsp;пришли к&nbsp;однозначному выводу: провоцирует&nbsp;ли лучевая терапия рост уже существующих аномалий или&nbsp;же способствует формированию новых.

      h2#kinds Разновидности каверномы
      p В&nbsp;зависимости от&nbsp;строения, выделяют три типа опухоли:
      ul.list-unordered 
        li Классический. Новообразования сформированы из&nbsp;каверн, которые прижаты друг другу, а&nbsp;в&nbsp;их&nbsp;стенках отсутствуют мышечно-эластические волокна. Опухоль помещена в&nbsp;капсулу, четко отграничена от&nbsp;мозга. Такой тип регистрируют чаще, почти в&nbsp;94% случаях.
        li Смешанный. Типичные кавернозные ткани сочетаются с&nbsp;мозговой тканью и&nbsp;сосудами. На&nbsp;долю таких новообразований выпадает примерно&nbsp;5% случаев.
        li Пролиферативные. Основное отличие&nbsp;&mdash; разрастание эпителиальной ткани. Строение такой опухоли схоже с&nbsp;капиллярными гемангиомами. Этот тип новообразований встречается реже, не&nbsp;более чем в&nbsp;0,5% случаев.

      p Классифицируют опухоли и&nbsp;по&nbsp;месту расположения:
      ul.list-unordered 
        li Кавернома лобной доли. Провоцирует утрату навыков самообслуживания, способности к&nbsp;умственной, трудовой деятельности, вызывает психические расстройства.
        li Опухоль теменных долей. Вызывает нарушение счета, чтения, речи.
        li Кавернома головного мозга левой или правой височной доли. Способствует слуховым галлюцинациям, нарушению зрительного обзора.
        li Новообразование в&nbsp;мозжечке. Приводит к&nbsp;нарушению моторной функции и&nbsp;координации движений.
      
      h2#symptoms Симптомы
      p Заболевание может протекать без выраженной симптоматики. Если опухоль врожденная, то&nbsp;первые признаки появляются в&nbsp;период с&nbsp;20&nbsp;до&nbsp;40&nbsp;лет. Проявляются следующими симптомами каверномы головного мозга:
      +grid({ noGap: 'y'}).par
        -
          const list = ['звон в&nbsp;ушах;', 'нарушение слуха, зрения;', 'расстройство координации движений;', 'шаткость походки, неуверенные шаги;', 'головные боли, которые усиливаются со&nbsp;временем;', 'эпилептические приступы;', 'рвота, периодическая тошнота;', 'забывчивость, рассеянность внимания;', 'нарушение интеллекта;', 'потеря чувствительности;', 'паралич, парезы конечностей;', 'осиплость голоса.']
        - for(let i = 0; i < list.length; i++)
          +cell({ m:4 })
            ul.list-unordered 
              li !{list[i]}

      p В&nbsp;некоторых случаях возникает паралич языка, подергивание, онемение конечностей.
    
    +pageSubsection
      +grid({ columns:10 }).par
        +cell({ m:6 }) 
          h2#complications Осложнения
          p Самое частое осложнение&nbsp;&mdash; кровоизлияние в&nbsp;головной мозг. Также возникает геморрагический инсульт, внутримозговая гематома. Симптоматика нарастает: за&nbsp;чередой эпилептических приступов следует переход в&nbsp;эпилептический статус (приступ, который длится непрерывно в&nbsp;течение получасе и&nbsp;более, а&nbsp;в&nbsp;промежутках больной не&nbsp;приходит в&nbsp;сознание).
          p Затем кровоизлияния повторяются, из-за чего возникают стойкие неврологические нарушения. Если&nbsp;же разрыв сосудов произошел в&nbsp;участке ствола мозга, наступает летальный исход, поскольку дыхательной либо сосудистый центр охватывает паралич.
        +cell({ l:3, m:4, centered: 'm' })
          +img({
            name: 'complications',
            path: '/images/lechenie/golovnoy-mozg/opuholi/kavernoma/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] },
            ]
            })(alt= 'Кровоизлияние в мозг' title= 'Кровоизлияние в мозг' width=800 height=491).box-shadow
          p Кровоизлияние в мозг
    
      h2#diagnostics Диагностика
      p Каверному диагностируют с&nbsp;помощью следующих методов исследования:
      +grid({'justify': 'center'}).par
        -
          const diagnostics = [
            { 
              l: 4, m: 6,
              img: 'analysis-kt',
              alt: 'Компьютерная томография',
              text: 'На&nbsp;компьютерной томограмме обнаруживают новообразование, для которого характерны четкие границы, округлость, объем. Если выявлена структурная неоднородность, то&nbsp;это признак отложения солей кальция на&nbsp;кавернозных стенках. Методика удачна для определения кровоизлияний в&nbsp;субарахноидальное пространство и&nbsp;для визуализации гематом. Каверному малого и&nbsp;среднего размера с&nbsp;помощью этого варианта диагностики выявить сложно.'
            },
            { 
              l: 4, m: 6,
              img: 'analysis-eeg',
              alt: 'Электроэнцефалография',
              text: 'Показана больным с&nbsp;обострением эпилептических припадков. Позволяет установить форму эпиактивности, гиперсинхронность ритмов и&nbsp;высокоамплитудные вспышки.'
            },
            { 
              l: 4, m: 6,
              img: 'analysis-mrt',
              alt: 'Магнитно-резонансная томография', 
              text: 'Предпочитают чаще всего, как наиболее информативный диагностический метод. Визуализирует образование с&nbsp;98% достоверностью. Кавернома головного мозга на&nbsp;МРТ&nbsp;&mdash; новообразование с&nbsp;четкими контурами и&nbsp;неоднородной структурой.'
            },
            { 
              l: 4, m: 6,
              img: 'analysis-angyography',
              alt: 'Ангиография',
              text: 'Используют редко, когда этот вариант диагностики может показать опухоль как зону, лишенную сосудов. Методика актуальна, чтобы провести дифференциальную диагностику от&nbsp;аневризм, сосудистых новообразований, артериовенозной мальформации.'
            },
            { 
              l: 4, m: 6,
              img: 'analysis-histologic',
              alt: 'Гистологическое исследование',
              text: 'Дополнительный метод исследования, который проводят на&nbsp;тканях опухоли, отобранных во&nbsp;время хирургического вмешательства. Во&nbsp;время исследования обнаруживают кровоизлияние, отложения солей кальция, полости характерного строения. Гистологическое исследование нужно, чтобы установить точный тип опухоли.'
            },
          ] 
        +blockAnalysis('/lechenie/golovnoy-mozg/opuholi/kavernoma/', diagnostics)  
   
    +pageSubsection
      h2#treatment Лечение каверномы
      p В&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; лечение каверномы головного мозга проводим методом хирургической резекции или стереотаксическим. 
      +grid.par
        +cell({ m:7 })
          h3 Особенности хирургической резекции
          p Хирургическая резекция&nbsp;&mdash; золотой стандарт лечения при легкодоступном расположении каверномы. Оперативное вмешательство проводим с&nbsp;помощью микрохирургической техники. 
          p После введения пациента в&nbsp;общий наркоз, действуем одним из&nbsp;способов:
          ul.list-unordered 
            li практикуем открытый доступ с&nbsp;помощью трепанации черепной коробки;
            li проводим микрохирургическое удаление: через минимально возможные разрезы, с&nbsp;получением хирургического доступа с&nbsp;помощью эндоскопов. 
          p Затем, ориентируясь на&nbsp;заранее продуманный план и&nbsp;тактику хирургической помощи, удаляем новообразование.
        +cell({ m:5 })
          +img({
            name: 'treatment-1',
            path: '/images/lechenie/golovnoy-mozg/opuholi/kavernoma/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] },
            ]
            })(alt= 'Хирургическое удаление кавернозной мальформации малоинвазивным способом' title= 'Хирургическое удаление кавернозной мальформации малоинвазивным способом' width=800 height=368).box-shadow
          p Хирургическое удаление кавернозной мальформации малоинвазивным способом

        +cell({ m:7 })
          h3 Особенности стереотаксической операции 
          p Стереотаксические операции по&nbsp;удалению каверномы головного мозга практикуем при глубоком залегании опухоли, когда получить доступ иным способом проблематично, при высоком риске повреждения функционально важных областей головного мозга, кровоизлияний.
          .block-marked.block-marked--grey.par
            p Хирургическое лечение стереотаксическим методом проводим через крошечные отверстия (трепанация черепа не понадобится).
          p Для этого ориентируемся на&nbsp;сведения, полученные по&nbsp;данным компьютерной, магнитно-резонансной томографии.
          p Инструментарий вводим в&nbsp;точно заданные зоны, работая на&nbsp;специальной аппаратуре. С&nbsp;помощью специализированного оборудования контролируем глубину погружения инструментов (канюль, электродов), манипулируем ими в&nbsp;пределах операционного поля. 
        +cell({ m:5 })
          +img({
            name: 'treatment-2',
            path: '/images/lechenie/golovnoy-mozg/opuholi/kavernoma/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] },
            ]
            })(alt= 'Стереотаксическая хирургия' title= 'Стереотаксическая хирургия' width=800 height=584).box-shadow
          p Стереотаксическая хирургия
    
    +pageSubsection
      h2#why-we Почему лечение каверномы в&nbsp;Санкт-Петербурге лучше проводить в&nbsp;нашей клинике?
      ul(class= gridClasses()).page-subsection
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--certificate Опыт нейрохирургических операций на&nbsp;головном мозге с&nbsp;1998&nbsp;года. За&nbsp;это время разработали и&nbsp;практикуем уникальные авторские методики, на&nbsp;которые получили патенты.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--microscope Ошибки исключены. Предельной точности, минимальной травматичности вмешательств достигаем за&nbsp;счет использования операционного микроскопа, микрохирургической техники, эндоскопического оборудования.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--document Эффективность операций за&nbsp;счет хирургического лечения по&nbsp;современным протоколам (например, практикуем методики, изобретенные в&nbsp;Японии).
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--globe Работаем на&nbsp;прогрессивном хирургическом оснащении от&nbsp;ведущих брендов, соответствующем мировым стандартам. За&nbsp;счет этого общий наркоз контролируем по&nbsp;глубине и&nbsp;длительности, что способствует быстрому и&nbsp;мягкому пробуждения пациента после завершения хирургического вмешательства.
    
    +pageSubsection
      h2#prevention Профилактические меры и&nbsp;прогноз
      p Поскольку большинство каверном врожденные, устранить генетические мутации невозможно. Но&nbsp;беременным рекомендуют избегать взаимодействия с&nbsp;больными вирусными заболеваниями, отказаться от&nbsp;вредных привычек, психо-эмоциональных нагрузок. 
      p Чтобы избежать заболевания в&nbsp;позднем возрасте, нужно заботиться о&nbsp;сосудах:
      ul(class= gridClasses()).par
        li(class= cellClasses({ m:4, s:6 })).icon-block.icon-block--diet наладить сбалансированное питание
        li(class= cellClasses({ m:4, s:6 })).icon-block.icon-block--blood-pressure контролировать артериальное давление
        li(class= cellClasses({ m:4, s:6 })).icon-block.icon-block--stress избегать стрессовых факторов
        li(class= cellClasses({ m:4, s:6 })).icon-block.icon-block--weight не&nbsp;поднимать тяжести
        li(class= cellClasses({ m:4, s:6 })).icon-block.icon-block--cholesterol следить за&nbsp;уровнем глюкозы, холестерина
        li(class= cellClasses({ m:4, s:6 })).icon-block.icon-block--obesity преодолеть лишний вес
        li(class= cellClasses({ m:4, s:6 })).icon-block.icon-block--sedentary-life отказаться от&nbsp;сидячего образа жизни.

    .block-marked.block-marked--grey.page-subsection.par
      p Прогноз заболевания благоприятный, если кавернома выявлена вовремя и&nbsp;сразу начато лечение. Поскольку новообразование доброкачественное, оно не&nbsp;угрожает жизни. 

    p Осложнения возможны, если опухоль выявили на&nbsp;поздних стадиях, при необратимых изменениях в&nbsp;головном мозге. В&nbsp;таком случае последствия каверномы головного мозга (эпилептические приступы, кровоизлияния) предотвратить не&nbsp;удается. 

    h2#literature Список использованной литературы
    ol.list-ordered
      li Кавернозные ангиомы ствола головного мозга. Клинические проявления, диагностика и&nbsp;результаты лечения/ Коновалов А.Н., Гаврюшин А.В., Хухлаева Е.А.// Вопросы нейрохирургии&quot; имени Н.Н. Бурденко. &mdash;&nbsp;2020. &mdash;&nbsp;84(2).
      li Наследственные каверномы головного мозга: анализ 12&nbsp;семей/ Белоусова О.Б., Коновалов А.Н., Окишев Д.Н., Сазонова О.Б., Шамов А.Ю.// Вопросы нейрохирургии. &mdash;&nbsp;2011. &mdash;&nbsp;&#8470;&nbsp;4.
      li Современные подходы к&nbsp;хирургическому лечению кавернозных ангиом головного мозга/ Родич&nbsp;А., Смеянович&nbsp;А., Сидорович&nbsp;Р., Шанько&nbsp;Ю., Капацевич&nbsp;С., Щемелев&nbsp;А., Сусленков П. // Наука и&nbsp;инновации. &mdash;&nbsp;2018. &mdash;&nbsp;&#8470;&nbsp;188.
      li Characteristics of&nbsp;cavernomas of&nbsp;the brain and spine/ J.&nbsp;Kivelev, M. Niemel&auml;, J.&nbsp;Hernesniemi// Journal of&nbsp;Clinical Neuroscience. &mdash;&nbsp;2012. &minus;19(5).
