extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Невринома слухового нерва
    .page-subsection
      p Невринома слухового нерва&nbsp;&mdash; это доброкачественное новообразование, для которого характерен медленный рост и&nbsp;неагрессивное течение. Другое название заболевания&nbsp;&mdash; вестибулярная шваннома, акустическая невринома, невролеммома, нейрофиброма. 
      p Поскольку чаще локализуется в&nbsp;мостоможжечковом углу, то&nbsp;ее&nbsp;принято обозначать и&nbsp;как невриному ММУ. Невринома слухового нерва имеет код C72.4 по&nbsp;МКБ-10. 

    +pageSubsection
      h2#h2-1 Что такое невринома слухового нерва
      p Для новообразования характерна плотная структура, реже регистрируют инкапсулированное кистозное содержимое. Опухоль способна сдавливать близлежащие ткани, но&nbsp;не&nbsp;прорастать в&nbsp;них.
      p Чаще поражает только одну сторону, а&nbsp;двустороннюю регистрируют только в&nbsp;4% случаев. На&nbsp;шванному головного мозга приходится&nbsp;8% случаев от&nbsp;всех внутричерепных новообразований. 
    .block-marked.block-marked--grey.page-subsection
      p Ежегодно этой патологией заболевает 1&nbsp;человек на&nbsp;100&nbsp;тыс. населения. Диагностируют опухоль в&nbsp;возрастном диапазоне от&nbsp;20&nbsp;до&nbsp;60&nbsp;лет, в&nbsp;два раза чаще у&nbsp;женщин, нежели у&nbsp;мужского населения. У&nbsp;детей вестибулярную шванному не&nbsp;регистрируют.
    +pageSubsection
      p Поскольку основу опухоли составляют шванновские клетки вестибулярного участка восьмого нерва, то&nbsp;патологию еще называют невриномой 8-й пары черепно-мозговых нервов (ЧМН). Обнаруживают опухоль чаще вблизи внутреннего слухового прохода при том, что ее&nbsp;последующее распространение может происходить не&nbsp;только в&nbsp;эту сторону, но&nbsp;и&nbsp;в&nbsp;сторону мостомозжечкового угла. 
    +grid.page-subsection
      +figure({
        image: {
          name: 'nevrinoma-1',
          path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Акустическая невринома',  
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
      +figure({
        image: {
          name: 'nevrinoma-2',
          path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Невринома слухового нерва',  
        }, 
      })(class= cellClasses({ m:6, xs:12 }))

    +pageSubsection
      h2#h2-2 Причины невриномы слухового нерва
      p Причины возникновения односторонней опухоли не&nbsp;установлены, а&nbsp;двусторонняя связана с&nbsp;нейрофиброматозом&nbsp;&mdash; генетическая болезнь, которая провоцирует доброкачественные новообразования в&nbsp;различных тканях нервной системы. Некоторые авторы связывают невриному преддверно-улиткового нерва с&nbsp;мутацией в&nbsp;22-й хромосоме.
      p Выделяют и&nbsp;предрасполагающие факторы к&nbsp;образованию опухоли:
      ul(class= gridClasses()).par
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--hormones гормональные нарушения;
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--non-ionizing-radiation воздействие ионизирующего излучения;
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--no-fast-food неправильное питание;
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--bin неблагоприятные условиях окружающей среды.
      p Ускорить рост невриномы может солнечная инсоляция и&nbsp;беременность.

    +pageSubsection
      h2#h2-3 Симптомы невриномы слухового нерва
      +grid.par
        +cell({ m:6 })(class= gridClasses({ alignContent: 'space-between', smallGap: 'y' }))
          +cell
            p Симптоматика невриномы зависит от&nbsp;выраженности одного из&nbsp;следующих синдромов:
            ul.list-unordered 
              li мозжечковой компрессии;
              li компрессии ствола головного мозга;
              li компрессии ЧМН;
              li внутричерепной гипертензии; 
              li кохлеовестибулярного.
            h3 Особенности синдрома компрессии черепно-мозговых нервов
            p При сдавлении черепно-мозговых нервов лицевой нерв поражается мало, но&nbsp;симптоматика со&nbsp;стороны этого нерва проявляется частичным парезом его ветвей, спазмированием мускулатуры лица. 
            p Но&nbsp;если невринома головного мозга локализуется во&nbsp;внутреннем слуховом проходе, то&nbsp;происходит чрезмерное сдавление лицевого нерва, что приводит к&nbsp;потере вкуса в&nbsp;передней части языка, расстройству слюноотделения.
          +figure({
            image: {
              name: 'nevrinoma-3',
              path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Симптомы невриномы слухового нерва',  
            }, 
          })(class= cellClasses({ xs:12 })).par
        
        +cell({ m:6 })(class= gridClasses({alignContent: 'space-between', smallGap: 'y' }))
          +cell
            p Также при этом синдроме поражается тройничный нерв. В&nbsp;результате развивается повышенная чувствительность (гиперестезия) носовой полости.
            p Если опухоль прогрессирует, нарушается чувствительность кожи, а&nbsp;также возникает гиперестезия в&nbsp;участке первой и&nbsp;второй ветви. Для патологического процесса характерна и&nbsp;атрофия жевательных мышц, которая визуально проявляется отклонением челюсти в&nbsp;сторону паралича, во&nbsp;время открытия полости рта.
            p Если опухолью ущемлен отводящий нерв, то&nbsp;больной сталкивается с&nbsp;двоением в&nbsp;глазах, неправильным движением радужки. Если новообразование поражает языкоглоточный нерв, то&nbsp;пациент сталкивается с&nbsp;сильным снижением или&nbsp;же полным отсутствием вкуса на&nbsp;задней поверхности языка.
            p В&nbsp;редких случаях возникает поражение 11-12-й пары черепно-мозговых нервов (обычно при значительных размерах опухоли). Так, парез добавочного нерва вызывает расстройство либо атрофию трапециевидной мышцы, грудино-ключично-сосцевидной. А&nbsp;если случился парез подъязычного нерва, то&nbsp;атрофируются мышцы языка. Сдавление опухолью блуждающего нерва вызывает односторонний парез голосовых связок, нарушение глотания, а&nbsp;также фонации.
          +figure({
            image: {
              name: 'nevrinoma-4',
              path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Невринома: на снимке и схематичное изображение, вид сверху',  
            }, 
          })(class= cellClasses({ xs:12 })).par
        
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y' }))
          +cell
            h3 Особенности синдрома внутричерепной гипертензии
            p Характерная симптоматика при этом патологическом состоянии&nbsp;&mdash; головные боли, которые максимально интенсивны по&nbsp;утрам, рвота. Со&nbsp;временем диск зрительного нерва отекает.
            +figure({
              image: {
                name: 'nevrinoma-5',
                path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ],
                alt: 'Головная боль при внутричерепной гипертензии сильнее всего утром',  
              }, 
            }).par
            h3 Особенности кохлеовестибулярного синдрома 
            p Для него характерно поражение вестибулярного аппарата, нарушение слуха. Пораженный восьмой нерв провоцирует посторонние шумы, напоминающие свист, морской прибой. Состояние продолжается несколько лет, пока не&nbsp;разовьется симптоматика внутричерепной гипертензии.
            p Если опухоль прогрессирует, поначалу развивается глухота на&nbsp;высоких тонах, потом слух пропадает полностью. После этого больные сталкиваются с&nbsp;неконтролируемыми движениями глазных яблок, вестибулярными головокружениями, болями в&nbsp;области затылка, отдающими в&nbsp;шею. 
        
        +cell({ m:6 }) 
          h3 Симптоматика в&nbsp;зависимости от&nbsp;направления роста опухоли
          ul.list-unordered 
            li Новообразования с&nbsp;латеральным ростом приводят к&nbsp;нарушению вестибулярной функции, слуха, вкуса, парезу лицевого нерва, внутричерепной гипертензии.
            li Опухоли с&nbsp;медиальным ростом вызывают стволовые, дислокационные симптомы, увеличение внутричерепного давления. 
            li При каудальном росте невриномы поражается добавочный, блуждающий и&nbsp;языкоглоточные нервы, с&nbsp;последующим выпадением их&nbsp;функций.
            li При оральном росте возникает дислокационная симптоматика и&nbsp;внутричерепная гипертензия.

          h3 Клиника в&nbsp;зависимости от&nbsp;стадии опухоли слухового нерва
          h4 Первая стадия
          p Новообразование не&nbsp;превышает 2&nbsp;см, поражает слуховой, лицевой, тройничный нерв. На&nbsp;ранней стадии развития опухоль не&nbsp;влияет на&nbsp;ствол головного мозга (не&nbsp;приводит к&nbsp;смещению, компрессии) либо&nbsp;же оказывает минимальное воздействие на&nbsp;мозжечок, продолговатый мозг и&nbsp;мост.
          p Стволовая, гипертензионная симптоматика не&nbsp;диагностирована или слабо выражена. Чаще симптомы невриномы связаны с&nbsp;поражением мостомозжечкового угла, черепного нерва, что связано со&nbsp;снижением слуха на&nbsp;одной стороне. Возможно нарушение вкуса. 
          p При появлении подобной клинической картины важно своевременно провести дифференциальную диагностику, чтобы не&nbsp;спутать опухоль с&nbsp;невритом слухового нерва и&nbsp;не&nbsp;пропустить благоприятный период для операции.

          h4 Вторая стадия
          p На&nbsp;этой стадии клиническая картина невриномы ярко выражена. Акустическая шваннома превышает 2&nbsp;см, сдавливает мозжечок, ствол головного мозга, вызывает нарушение циркуляции спинномозговой жидкости. На&nbsp;этой стадии полностью выпадает функционал вестибулярного, слухового нерва, возникают неконтролируемые движения глазных яблок. 

          h4 Третья стадия 
          p Нарастают неконтролируемые движения глазных яблок, у&nbsp;пациента нарушается глотание, речь, возникает расстройство мозжечка, появляется гидроцефальная, гипертензионная симптоматика. 

    +pageSubsection
      h2#h2-4 Патогенез невриномы слухового нерва 
      p На&nbsp;оболочке восьмого нерва расположены шванновские клетки (леммоциты), из&nbsp;которых и&nbsp;берет начало новообразование. Упомянутые клеточные структуры выступают в&nbsp;роли каркаса для аксонов, ответственны за&nbsp;трофику нервной ткани (способствуют поступлению питательных веществ). 
      p Невринома слухового нерва способна расти в&nbsp;одном из&nbsp;направлений: в&nbsp;сторону ММУ либо в&nbsp;сторону слухового прохода. Как раз этими направлениями и&nbsp;определяется поражение определенных нервов и&nbsp;органов, выпадение функционала которых последует. 
      p Если рассмотреть структуру опухоли под окуляром микроскопа, то&nbsp;она напоминает сферу, имеет серый оттенок, бугры, неправильную форму, единичные кисты, заполненные жидкостью. Ежегодно невринома увеличивается не&nbsp;более чем на&nbsp;5&nbsp;мм, а&nbsp;клиническая картина проявляется при достижении опухолью значительных размеров.
      p Во&nbsp;время патоморфологической диагностики невриному слухового нерва классифицируют на&nbsp;два типа:
      ul.list-unordered 
        li Антони&nbsp;А: клетки с&nbsp;ядрами вытянутой формы, которые объединяются в&nbsp;группы;
        li Антони&nbsp;В: клетки имеют форму звезды, дополнены длинными отростками. 

    +pageSubsection
      h2#h2-5 Классификация и&nbsp;стадии развития
      +grid.par
        +cell({ m:6 }) 
          p Классификация базируется на&nbsp;стадии опухоли и&nbsp;ее&nbsp;величине. Клинически значимыми считают классификации по&nbsp;W.&nbsp;Koos и&nbsp;M.&nbsp;Samii. 
          +figure({
            image: {
              name: 'nevrinoma-6',
              path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Классификация Koos',  
            }, 
          }).par
        
        +cell({ m:6 }) 
          p Так, по&nbsp;первому автору выделяют 4&nbsp;стадии невриномы:
          ol.list-ordered
            li Первая. Новообразование не&nbsp;превышает 10&nbsp;мм, ограничено пределами внутреннего слухового прохода.
            li Вторая. Патология может достигать 20&nbsp;мм, способствует патологическому расширению внутреннего слухового прохода, достигает ММУ и&nbsp;даже выходит за&nbsp;его пределы.
            li Третья. Опухоль может достигать 30&nbsp;мм, разрастается до&nbsp;участка ствола мозга, но&nbsp;его компрессию не&nbsp;вызывает.
            li Четвертая. Новообразование гораздо больше 30&nbsp;мм, приводит к&nbsp;компрессии ствола мозга. 
          p По&nbsp;второму автору выделяют следующую классификацию опухолей:
          ol.list-ordered
            li T1: невринома, находящаяся во&nbsp;внутреннем слуховом проходе;
            li T2: патология, произрастающая из&nbsp;внутреннего слухового прохода;
            li T3a: новообразование, находящееся в&nbsp;цистерне ММУ;
            li T3b: невринома, расположенная около ствола мозга;
            li T4a: новообразование, провоцирующее компрессию ствола;
            li T4b: опухоль, которая сильно сжимает ствол и&nbsp;четвертый желудочек.

          p Также, в&nbsp;зависимости от&nbsp;клиники, выделяют четыре стадии патологии:
          ol.list-ordered
            li у&nbsp;пациента снижается слух на&nbsp;одно ухо, возникает шум в&nbsp;ушах;
            li лицевой и&nbsp;тройничный нерв поражаются;
            li возникает тошнота, рвота, головные боли;
            li нарушается глотание, речь, возникает расстройство голосообразования.

    +pageSubsection
      h2#h2-6 Осложнения заболевания
      ul.list-unordered 
        li Чаще регистрируют глухоту на&nbsp;одно ухо, а&nbsp;как только невринома слухового нерва увеличивается в&nbsp;размерах, слух исчезают полностью.
        li Поскольку может поражаться лицевой нерв, возникает паралич мимической мускулатуры по&nbsp;стороне расположения опухоли.
        li Если новообразование прогрессирует, поражаются черепные нервы, возникает паралич мышц, иннервирующих нервы, отвечающих за&nbsp;глотание и&nbsp;сопутствующие функции, способствующие приему пищи.
        li Если невринома слухового нерва слишком давит на&nbsp;ствол мозга, пациент испытывает слабость в&nbsp;конечностях, его походка нарушается, возникает расстройство двигательной активности, чувствительности мышц.
        li Далее возникает гидроцефалия: если ее&nbsp;не&nbsp;устранить, возможен летальный исход, спровоцированный поражением дыхательного центра.
        li Хотя опухоль и&nbsp;редко перерастает в&nbsp;злокачественную, возможен повторный рост даже после хирургического лечения.

    +pageSubsection
      h2#h2-7 Подход к&nbsp;постановке диагноза
      +grid.par
        +cell({ m:6 }) 
          p Стандарт аппаратной диагностики шванномы&nbsp;&mdash; компьютерная томография, а&nbsp;также магнитно-резонансная томография с&nbsp;применением контрастного вещества.
          +figure({
            image: {
              name: 'nevrinoma-7',
              path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Компьютерная томография',  
            }, 
          }).par
          
        +cell({ m:6 }) 
          p Именно эти методы позволяют получить максимально информативную диагностическую картину, а&nbsp;именно: определить точное место расположения новообразования, его величину, структуру, воздействие на&nbsp;близлежащие структуры.
          p Во&nbsp;время магнитно-резонансной томографии часть опухолей определяется как образование со&nbsp;сниженной плотностью, если проводить сравнение с&nbsp;мозговой тканью. Крупные новообразования состоят из&nbsp;мельчайших кист, а&nbsp;в&nbsp;7-10% случаев на&nbsp;томограмме визуализируют арахноидальную кисту, которая отграничивает невриному от&nbsp;перитуморального мозгового вещества. 
          p Анализируя снимки компьютерной томографии, наблюдают изменения, произошедшие в&nbsp;костных структурах, а&nbsp;именно расширение внутреннего слухового прохода, напоминающее конус. 
          p Другие изменения в&nbsp;близлежащих к&nbsp;новообразованию структурах, которые нейрохирурги визуализируют на&nbsp;компьютерной томограмме, полезны для принятия решения о&nbsp;конкретном методе хирургического лечения. Так, если купол яремной вены изменяет свое положение из-за опухоли, например, становится атипично высоким, тогда выполнить трепанацию внутреннего слухового прохода невозможно.
          p Важный дополнительный метод исследования&nbsp;&mdash; аудиометрия, которую выполняют вне зависимости от&nbsp;уровня снижения слуха.
          
        +figure({
          image: {
            name: 'nevrinoma-8',
            path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Магнитно-резонансная томография',  
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        
        +figure({
          image: {
            name: 'nevrinoma-9',
            path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Аудиометрия',  
          }, 
        })(class= cellClasses({  m:6, xs:12 }))

      h3 Анализы и&nbsp;диагностика
      p Диагноз ставят на&nbsp;основании анамнеза, симптомов, неврологического обследования, диагностики слуха и&nbsp;визуальных методов исследования. Для начала проводят аудиограмму, чтобы оценить слух, а&nbsp;именно его асимметричную потерю. Также в&nbsp;ходе диагностики обнаруживают снижение разборчивости речи у&nbsp;больного. Актуальна компьютерная томография с&nbsp;контрастным веществом: удастся увидеть новообразование, для которого характерны гладкие и&nbsp;четкие контуры.
    
    .block-marked.block-marked--grey.page-subsection
      p Максимально информативным методом диагностического исследования опухоли является магнитно-резонансная томография. На&nbsp;МРТ-томограмме видно место расположения, величину новообразования, визуализируется состояние окружающих структур.
    
    +pageSubsection
      p Чтобы провести дифференциальную диагностику невриномы слухового нерва, назначают МРТ с&nbsp;контрастированием. В&nbsp;таком случае удается получить более точные размеры опухоли, а&nbsp;также оценить, насколько окружающие структуры вовлечены в&nbsp;патологический процесс. 

    +pageSubsection
      h2#h2-8 Особенности составления плана лечения
      p План лечения, согласно клиническим рекомендациям, составляют консилиумом специалистов: кроме нейрохирургов в&nbsp;его разработке участвуют врачи смежных специальностей&nbsp;&mdash; неврологи и&nbsp;сурдологи.
      p Формируют&nbsp;же план лечения на&nbsp;основании такой информации: возраст, стадия опухоли, данные визуализации относительно месторасположения и&nbsp;гистологической структуры, состояние других систем организма, установление чувствительности к&nbsp;определенным лекарственным препаратам.

    +pageSubsection
      h2#h2-9 Важность наблюдения пациента перед операцией
      p Учитывая, что новообразование относится к&nbsp;категории доброкачественных, до&nbsp;принятия тактики хирургического лечения рекомендовано наблюдение за&nbsp;характером развития опухоли.
      p Согласно данным исследований, темпы роста невриномы находятся в&nbsp;диапазоне от&nbsp;0&nbsp;до&nbsp;30&nbsp;миллиметров за&nbsp;год. За&nbsp;этот&nbsp;же период они увеличиваются в&nbsp;диаметре в&nbsp;среднем на&nbsp;1,42&nbsp;мм. Количество&nbsp;же шванном, которые не&nbsp;росли в&nbsp;течение трех лет наблюдений, достигает 43%. А&nbsp;в&nbsp;некоторых случаях диагностировали даже регресс новообразований (до&nbsp;5% случаев). 

      h3 Факторы для принятия решения о&nbsp;наблюдении
      h4 Фактор опухоли
      p В&nbsp;данном случае принимают во&nbsp;внимание строение невриномы, ее&nbsp;величину, происхождение, склонность к&nbsp;ускоренному росту и&nbsp;развитию, наличие водянки головного мозга, других новообразований головного и&nbsp;спинного мозга.

      h4 Фактор пациента
      p Подразумевает, что учитывают соматический, неврологический статус, возрастную группу, ожидаемый эффект от&nbsp;лечения, наличие боязни облучения либо хирургического вмешательства.
      p Если пациент настаивает на&nbsp;риске послеоперационных осложнений, тогда от&nbsp;хирургического лечения отказываются, выбирая наблюдение за&nbsp;опухолью.

      h4 Фактор врача
      p Предполагает стаж лечения шванном, приобретенные за&nbsp;этот период навыки, выбор нейрохирургом конкретного метода лечения (хирургического либо радиохирургического), доступность выбранного способа.
      p Наблюдение актуально в&nbsp;тех случаях, когда жалобы и&nbsp;симптоматика болезни минимальные, человек не&nbsp;выпал из&nbsp;социума, сохраняет работоспособность. 
      p Опираясь на&nbsp;данные компьютерной и&nbsp;магнитно-резонансной томографии, врачи сообщают, что величина новообразования у&nbsp;такой категории пациентов незначительная, оно не&nbsp;воздействует на&nbsp;близлежащие структуры, особенно на&nbsp;ствол головного мозга.
      p Приняв решение о&nbsp;наблюдении за&nbsp;пациентом, обязательно регулярно и&nbsp;постоянно отслеживают клинику заболевания, динамику роста новообразования. Для точного&nbsp;же определения степени прогрессирования опухоли предпочитают метод магнитно-резонансной томографии, которую положено проводить ежегодно.

    +pageSubsection
      h2#h2-10 Лечение невриномы слухового нерва
      p В&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; лечение опухоли проводим хирургическим способом.
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ alignContent: 'space-between', smallGap: 'y' }))
          +cell
            h3 Особенности хирургического лечения
            p Получаем доступ через заднюю черепную ямку. Чтобы минимизировать риск осложнений, хирургическое лечение проводим под непрерывным контролем с&nbsp;помощью операционного микроскопа.
            p При большом размере невриномы слухового нерва&nbsp;&mdash; выполняем операцию через субокципитально-трансмеатальный доступ. С&nbsp;помощью него получаем достаточно широкое операционное поле, облегчающее определение структур, подлежащих удалению. 
            p Если опухоль не&nbsp;растет, а&nbsp;также для пожилых пациентов выбираем выжидательную тактику, которая предполагает регулярное наблюдение за&nbsp;поведением новообразования с&nbsp;помощью компьютерной или магнитно-резонансной томографии. При диагностировании гидроцефалии, выполняем шунтирующую операцию на&nbsp;головном мозге.

            h3 Особенности лучевой терапии
            p Если удалить опухоль хирургически невозможно или она удалена частично, практикуем лучевую терапию, например стереотаксическую радиохирургию.
          +figure({
            image: {
              name: 'nevrinoma-9-1',
              path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Операция на невриному слухового нерва',  
            }, 
          })(class= cellClasses({ xs:12 }))

        +cell({ m:6 })(class= gridClasses({ alignContent: 'space-between', smallGap: 'y' }))
          +cell
            p Облучение новообразования проводят только внешними источниками излучения, преследуя основную цель&nbsp;&mdash; контроль роста невриномы. Стабилизацию состояния, а&nbsp;в&nbsp;некоторых случаях и&nbsp;уменьшение опухоли в&nbsp;размерах, практикуя этот метод лечения, наблюдают в&nbsp;85-94% случаев. 
            p Также лучевую терапию предпочитают за&nbsp;минимальный риск прогрессирования неврологической симптоматики, особенно нарушение функционирования черепных нервов, что более свойственно для хирургического вмешательства.
            p Если ранее радиохирургию рассматривали как альтернативу операции, то&nbsp;сейчас метод выступает в&nbsp;роли продолжения хирургического лечения. 
            p Показания для радиохирургического лечения:
            ul.list-unordered 
              li Отказ пациента от&nbsp;операции.
              li Соматическая патология, не&nbsp;позволяющая провести хирургическое вмешательство.
              li Преклонный возраст.
              li Рецидив опухолевого процесса, уже проведенное нерадикальное вмешательство.
            p Некоторые клиники практикуют удаление новообразования с&nbsp;помощью технологии &laquo;Гамма-нож&raquo;, но&nbsp;по&nbsp;вероятности осложнений и&nbsp;цене метод не&nbsp;используется при удалимой опухоли.
          +figure({
            image: {
              name: 'nevrinoma-10',
              path: '/images/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Лучевая терапия',  
            }, 
          })(class= cellClasses({  xs:12 }))

    +pageSubsection
      h2#h2-11 Почему лечение невриномы слухового нерва в&nbsp;Санкт-Петербурге лучше проводить в&nbsp;нашем Центре?
      ul(class= gridClasses()).page-subsection
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--microscope Безопасность оперативных вмешательств за&nbsp;счет эндоскопической ассистенции, нейрофизиологического мониторинга, использования микроскопа для контроля всех этапов операции.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--certificate Проводим хирургическое лечение на&nbsp;головном мозге с&nbsp;1998&nbsp;года. Практикуем уникальный доступ к&nbsp;основанию черепной ямки. Применяем запатентованные авторские методики.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--ecg Операционные оснащены оборудованием последнего поколения от&nbsp;мировых брендов, за&nbsp;счет которого контролируем глубину анестезии и&nbsp;создаем условия для легкого пробуждения.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--neurosurgery Операции выполняют опытные нейрохирурги , которые проводят лечение по&nbsp;мировым протоколам и&nbsp;стандартам. 

    +pageSubsection
      h2#h2-12 Прогноз
      p Зависит от&nbsp;величины образования и&nbsp;своевременно поставленного диагноза. А&nbsp;если опухоль выявлена на&nbsp;первой, второй стадии, то&nbsp;прогноз благоприятный. Удаление невриномы слухового нерва на&nbsp;ранних стадиях в&nbsp;95% случаев заканчивается успехом: рост опухоли останавливается, трудоспособность прооперированного человека возвращается.
      p Для опухоли на&nbsp;третьей стадии прогноз неблагоприятный относительно полного удаления опухоли, из-за опасности развития стволовых нарушений .

    +pageSubsection
      h2#h2-13 Профилактика
      p Учитывая, что опухоль возникает случайно, при неправильном развитии шванновских клеток, методов профилактики нет (в&nbsp;том числе и&nbsp;вакцины). 
      p Если&nbsp;же в&nbsp;семейном анамнезе установлены случаи новообразований слухового нерва, нейрофиброматоза, важен периодический контроль состояния, особенно при проблемах со&nbsp;слухом. Так, положены регулярные обследования на&nbsp;магнитно-резонансном томографе. 

    +pageSubsection
      h2#h2-14 Список литературы
      ul.list-unordered 
        li Гайдар Б.В., Хилько&nbsp;В.&nbsp;А., Парфёнов&nbsp;В.&nbsp;Е., Щербук&nbsp;Ю.&nbsp;А., Мартынов&nbsp;Б.&nbsp;В., Труфанов&nbsp;Г.&nbsp;Е., Асатурян М.&nbsp;А. Опухоли задней черепной ямки // Практическая нейрохирургия&nbsp;/ Под ред. Б.&nbsp;В.&nbsp;Гайдара. &mdash;&nbsp;СПб.: Гиппократ, 2002. 648&nbsp;с.
        li Резакова Н.В., Гудкова А.А., Павлова Л.В., Лузин Р.В., Гаскин В.В. Клиническое наблюдение невриномы слухового нерва // Лечебное дело. &mdash;&nbsp;2017. &#8470;&nbsp;3. С. 97-99.
        li Ступак В.В., Пендюрин И.В. Результаты хирургического лечения больших и&nbsp;гигантских неврином слухового нерва// Современные проблемы науки и&nbsp;образования. &mdash;&nbsp;2017. &mdash;&nbsp;&#8470;&nbsp;5.
        li Шиманский&nbsp;В.&nbsp;Н., Тянашин&nbsp;С.&nbsp;В., Шевченко&nbsp;К.&nbsp;В., Одаманов Д.&nbsp;А. Хирургическое лечение неврином слухового нерва (вестибулярных шванном) // Вопросы нейрохирургии. &mdash;&nbsp;2017. &mdash;&nbsp;&#8470;&nbsp;3. &mdash;&nbsp;С. 66-76.
        li Agrawal&nbsp;Y., Clark&nbsp;J.&nbsp;H., Limb C.J., at&nbsp;al. Predictors of&nbsp;vestibular schwannoma growth and clinical implications // Otol Neurotol. &mdash;&nbsp;2010; 31 (5): 807-812.
        li #[a(href='https://cyberleninka.ru/article/n/klinika-diagnostika-i-taktika-lecheniya-nevrinom-sluhovogo-nerva' rel='nofollow' target='_blank') https://cyberleninka.ru/article/n/klinika-diagnostika-i-taktika-lecheniya-nevrinom-sluhovogo-nerva] 
