extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content

    h1 Опухоли головного мозга
    p Опухоли головного мозга&nbsp;&mdash; это новообразования доброкачественной или злокачественной природы, которые вызваны аномальным делением и&nbsp;ростом поврежденных клеток. 

    h2 Виды опухолей головного мозга
    +grid.par
      +cell({ l:7, m:8, s:12 }) 
        ul.list-unordered 
          li Внутримозговые (например, опухоль ствола головного мозга). Основа новообразования&nbsp;&mdash; мозговые клетки. При их&nbsp;росте и&nbsp;развитии граница между опухолью и&nbsp;тканью мозга стирается. В&nbsp;итоге опухоли разрушают структуры мозга, замещают их&nbsp;собой. 
          li Внемозговые. Сдавливают мозг, растут на&nbsp;кровоснабжающих мозг сосудах, лимфатической ткани, черепно-мозговых нервах, черепе, оболочках мозга, гипофизе. Граница между новообразованием и&nbsp;мозгом остается. 
          li Метастатические: возникают из&nbsp;первичной опухоли другого органа, которая метастазирует.
          li Доброкачественные опухоли головного мозга: не&nbsp;метастазируют, растут медленно, не&nbsp;возникают повторно после удаления. 
          li Злокачественные (онкологические, раковые): агрессивный рост и&nbsp;быстрое деление группы клеток, метастазирование, возникают повторно, уничтожают здоровые структуры, прорастают в&nbsp;них.
      +cell({ l:4, m:4, s:9, 'alignSelf': 'center', centered: 'm' })
        +img({
          name: 'tumor',
          path: '/images/lechenie/golovnoy-mozg/opuholi/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [ 1, 2 ] },
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
          ]
          })(alt= 'Наиболее частые опухоли головного мозга' title= 'Наиболее частые опухоли головного мозга' width=1043 height=749).box-shadow
        p Наиболее частые опухоли головного мозга
    p Злокачественные опухоли головного мозга классифицируют на&nbsp;первичные и&nbsp;вторичные. 
    p Первые развиваются и&nbsp;локализуются в&nbsp;мозговой ткани, но&nbsp;возникают реже, метастазы практически не&nbsp;дают. Чаще диагностируют вторичные канцерогенные новообразования. Причины опухолей головного мозга этого вида&nbsp;&mdash; метастазирование рака легких, молочной железы.

    h2 Симптомы
    +grid.par
      +cell({ l:8, m:8, s:12 })
        p Симптоматику разделяют на&nbsp;очаговую и&nbsp;общемозговую. 
        p Очаговая связана с&nbsp;местом расположения новообразования, проявляется следующими симптомами:
        ul.list-unordered 
          li нарушение двигательной функции (паралич или частичная утрата чувствительности);
          li ощущение необычных запахов;
          li нарушение речи, слуха (посторонний шум), зрения, светобоязнь;
          li расстройство координации;
          li зрительные галлюцинации;
          li приступы эпилепсии;
          li расстройства психики;
          li гормональные сбои. 
        p Общемозговые симптомы и&nbsp;первые признаки опухоли головного мозга у&nbsp;мужчин и&nbsp;женщин на&nbsp;ранних стадиях связаны с&nbsp;повышением внутричерепного давления, спровоцированного ростом опухоли. Симптоматика следующая:
        ul.list-unordered 
          li тошнота, рвота, не&nbsp;связанная с&nbsp;приемом пищи;
          li головная боль высокой интенсивности;
          li головокружения. 
      +cell({ l:3, m:4, s:7, 'alignSelf': 'center', centered: 'm' })
        +img({
          name: 'symptoms',
          path: '/images/lechenie/golovnoy-mozg/opuholi/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [ 1, 2 ] },
            { name: 's', values: [ 1, 2 ] },
          ]
          })(alt= 'Общие симптомы опухоли головного мозга' title= 'Общие симптомы опухоли головного мозга' width=640 height=903).box-shadow
        p Общие симптомы опухоли головного мозга

    h2 Причины заболевания
    .block-marked.block-marked--grey.par
      p В&nbsp;настоящее время единственной достоверно установленной причиной развития опухолей головного мозга считается нарушение генетического материала из-за радиации. Другие причины пока остаются на&nbsp;уровне предположений. К&nbsp;ним медицинская наука относит наследственную предрасположенность, воздействие токсичных веществ (экология), влияние электромагнитных полей, чрезмерное солнечное облучение и&nbsp;т.д.

    h2 Диагностика
    p При устойчивых симптомах нужно записаться на&nbsp;прием к&nbsp;неврологу Нейрохирургического центра&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo;. 
    p Специалист оценит тяжесть состояния, проведет неврологический осмотр, поставит предварительный диагноз и&nbsp;назначит дополнительные исследования. 
    +grid({ tag: 'ol' }).list-ordered-blocks.par
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Пациент при опухоли головного мозга проходит МРТ с&nbsp;контрастированием, ЭЭГ, трактографию, СКТ-ангиографию (по&nbsp;показаниям). 
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Сдает биохимический, клинический анализ крови, проходит УЗИ вен нижних конечностей, ЭКГ, рентген легких. 
      +cell({ tag: 'li', l: 4, m: 4, s: 12, xs: 12 }).list-ordered-blocks__item Получает заключение терапевта об&nbsp;отсутствии противопоказаний, а&nbsp;при наличии хронических заболеваний&nbsp;&mdash; смежных специалистов (проходит консультации у&nbsp;эндокринолога, ЛОРа, офтальмолога). 

    h2 Развитие и&nbsp;осложнения
    p Рост доброкачественной опухоли приводит к&nbsp;сдавливанию мозга, нарушению его структур, функционала. Раковые опухоли замещают собой ткань мозга, разрушают здоровые участки, что приводит к&nbsp;инвалидизации и&nbsp;летальному исходу. 
    +grid().par
      +cell({ l:7, m:9, s:9 })
        +img({
          name: 'growth',
          path: '/images/lechenie/golovnoy-mozg/opuholi/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [ 1, 2 ] },
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
            { name: 'l', values: [ 1, 2 ] },
          ]
          })(alt= 'Схема деления нормальных и раковых клеток' title= 'Схема деления нормальных и раковых клеток' width=1000 height=700).box-shadow
        p Схема деления нормальных и раковых клеток

    h2 Методы лечения 
    p Лечение опухолей головного мозга проводим хирургически. Врачи Нейрохирургического центра&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; выполняют биопсию и&nbsp;удаление новообразований.

    h3 Почему опухоли головного мозга необходимо удалять?
    p Чем быстрее опухоль будет удалена, тем благоприятнее дальнейший прогноз для пациента.
    p При удалении доброкачественной опухоли у&nbsp;человека появляется шанс на&nbsp;полное выздоровление, в&nbsp;случае удаления злокачественной&nbsp;&mdash; повышается эффективность химиотерапии или лучевого лечения.

    h3 Особенности биопсии
    +grid.par
      +cell({ l:8, m:7, s:12 })
        p Выполняем, когда нужно определить природу опухоли головного мозга, стадии, чем вызваны головные боли и&nbsp;другая симптоматика, спланировать эффективную тактику хирургической помощи. 
        h4 Преимущества метода:
        ul.list-unordered 
          li прогрессивное оборудование: безрамная нейронавигация или использование стереотаксических рам;
          li минимум травматичности;
          li малоинвазивное вмешательство;
          li не&nbsp;затрагиваем здоровые ткани, потому что обеспечена точность манипуляций; 
          li сокращается срок послеоперационного восстановления.
      +cell({ l:4, m:5, s:9, 'alignSelf': 'center', centered: 'm' })
        +img({
          name: 'byopsy',
          path: '/images/lechenie/golovnoy-mozg/opuholi/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] },
          ]
          })(alt= 'Биопсия головного мозга' title= 'Биопсия головного мозга' width=1200 height=671).box-shadow
        p Биопсия головного мозга

    h3 Особенности операции по&nbsp;удалению опухоли головного мозга
    p Проводим, когда опухолевый процесс прогрессирует, высок риск необратимых церебральных изменений, которые приведут к&nbsp;инвалидизации, несовместимы с&nbsp;жизнью. 
    p Метод нейрохирургической операции подбираем, учитывая объем, скорость роста и&nbsp;вид новообразования.
    p Многие внемозговые опухоли возможно удалить полностью, что приводит к&nbsp;выздоровлению или значительному продлению жизни, улучшению ее&nbsp;качества.
    p При внутримозговых опухолях иногда приходится ограничиваться частичным удалением, что является очень важным этапом для определения необходимости проведения лучевой терапии и&nbsp;химиотерапии.

    h4 Преимущества:
    ul.list-unordered 
      li Успешность операции за&nbsp;счет авторских методик.
      li Риск нарастания неврологической симптоматики снижен.
      li Безошибочность и&nbsp;точность хирургической помощи за&nbsp;счет операционного микроскопа и&nbsp;нейрофизиологического контроля.

    h2 Другие варианты лечения опухоли головного мозга
    +grid.par
      +cell({ l:4 })
        +grid 
          +cell({ l:12, m:8 })
            h3 Химиотерапия
            p Основана на&nbsp;применении специальных химиопрепаратов, вызывающих гибель злокачественных клеток. Проводится химиотерапия циклами: за&nbsp;периодом применения следует период восстановления и&nbsp;так далее. Это связано с&nbsp;тем, что, к&nbsp;сожалению, химиопрепараты воздействуют и&nbsp;на&nbsp;здоровые клетки организма, обладающие повышенным метаболизмом.
          +cell({ l:8, m:4, s:7 })
            +img({
              name: 'others-1',
              path: '/images/lechenie/golovnoy-mozg/opuholi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { name: 'xs', values: [ 1, 2 ] },
                { name: 's', values: [ 1, 2 ] },
              ]
              })(alt= 'Препараты химиотерапии через кровь поступают в организм' title= 'Препараты химиотерапии через кровь поступают в организм' width=960 height=756).box-shadow
            p Препараты химиотерапии через кровь поступают в организм

      +cell({ l:4 })
        +grid 
          +cell({ l:12, m:8 })
            h3 Лучевая терапия
            p При применении лучевой терапии, оставшаяся часть опухоли облучается, погибают злокачественные клетки, которые более чувствительны к&nbsp;облучению. Лучевая терапия проводится курсом в&nbsp;несколько недель по&nbsp;индивидуально рассчитанным схемам. Длительное лечение небольшими дозами даёт возможность сохранить здоровые ткани.
          +cell({ l:8, m:4, s:7 })
            +img({
              name: 'others-2',
              path: '/images/lechenie/golovnoy-mozg/opuholi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { name: 'xs', values: [ 1, 2 ] },
                { name: 's', values: [ 1, 2 ] },
              ]
              })(alt= 'Лучевая терапия при опухоли мозга' title= 'Лучевая терапия при опухоли мозга' width=960 height=756).box-shadow
            p Лучевая терапия при опухоли мозга

      +cell({ l:4 })
        +grid
          +cell({ l:12, m:8 })
            h3 Симптоматическая терапия
            p Проводится в&nbsp;случаях, когда нейрохирургическая операция вовсе невозможна из-за локализации опухоли в&nbsp;жизненно важных участках мозга или её&nbsp;больших размеров. Симптоматическая терапия, к&nbsp;сожалению, не&nbsp;устраняет причину заболевания, а&nbsp;лишь смягчает его течение. Применение ряда лекарственных препаратов помогает снять отёк головного мозга и&nbsp;снизить общемозговую симптоматику.
          +cell({ l:8, m:4, s:7 })
            +img({
              name: 'others-3',
              path: '/images/lechenie/golovnoy-mozg/opuholi/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { name: 'xs', values: [ 1, 2 ] },
                { name: 's', values: [ 1, 2 ] },
              ]
              })(alt= 'Симптоматическое лечение' title= 'Симптоматическое лечение' width=960 height=756).box-shadow
            p Симптоматическое лечение

    h2 Почему лечение опухолей головного мозга в&nbsp;СПб лучше проводить в&nbsp;нашем Центре?
    ul(class= gridClasses())
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--certificate Опыт во&nbsp;вмешательствах на&nbsp;головном мозге с&nbsp;1998&nbsp;года. За&nbsp;это время разработали авторские методики хирургического лечения, которые запатентовали, практикуем оригинальный доступ к&nbsp;основанию черепной ямки.
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--recovered Контролируемая глубина анестезии и&nbsp;легкое пробуждение от&nbsp;наркоза за&nbsp;счет оборудования последнего поколения от&nbsp;европейских брендов (оснащение соответствует мировым стандартам).
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--neurosurgery Вмешательства выполняют нейрохирурги с&nbsp;европейским образованием, хирургическое лечение проводят по&nbsp;американским и&nbsp;европейским протоколам. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--microscope Нейрофизиологический мониторинг, визуальный контроль каждой манипуляции под микроскопом, эндоскопическая ассистенция снижает травматичность операций, способствует безошибочному ходу хирургического лечения, ускоряет послеоперационное восстановление и&nbsp;сокращает период госпитализации.

    h2 Профилактика новообразований 
    p Достоверная причина опухолей&nbsp;&mdash; нарушение генетического материала. Остальные остаются предположениями: влияние электромагнитных полей, токсинов, экологии, солнечная радиация, наследственность. Поэтому способов профилактики, которые&nbsp;бы точно снизили риск опухолевого процесса, не&nbsp;существует. 
    p В&nbsp;качестве рекомендаций предлагают:
    ul.list-unordered 
      li вести здоровый образ жизни;
      li отказаться от&nbsp;употребления алкоголя, никотина;
      li ограничить использование мобильного телефона;
      li питаться натуральной пищей (минимум копченостей);
      li защищать кожу от&nbsp;солнца средствами с&nbsp;высоким spf-фактором.

    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Можно определить опухоль на&nbsp;ощупь?</h3>').par
        p Самостоятельно определить опухоль сложно, поскольку она находится в&nbsp;черепной коробке. Но&nbsp;можно ориентироваться на&nbsp;косвенные признаки: головные боли без причины, асимметрия зрачков, изменение слизистой глаз, дезориентация в&nbsp;пространстве. 
      +accordionItem('<h3>Как быстро развивается опухоль?</h3>').par
        p Раковые растут в&nbsp;течение нескольких месяцев, а&nbsp;доброкачественные развиваются годами.
      +accordionItem('<h3>С&nbsp;чем можно спутать опухоль?</h3>').par
        p С&nbsp;гормональным дисбалансом в&nbsp;организме, рассеянным склерозом, деменцией, другими возрастными изменениями.
