extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/page-subsection/page-subsection
include /blocks/accordion-item/accordion-item
include /blocks/image-double/image-double
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = false;
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff')
    +grid.par
      +cell({ l: 6, m: 8, xs: 12 })
        p Нейрохирургические операции – это хирургические вмешательства для устранения травматологических повреждений последствий травм и заболеваний головного мозга, позвоночника, спинного мозга и периферических нервов.
        p Нейрохирургические оперативные вмешательства проводят, когда диагностированы:
        ul.list-unordered
          li неврологические синдромы;
          li воспаления в оболочке головного мозга;
          li кровоизлияния, нарушения в работе сосудов спинного и головного мозга;
          li патологии центральной и периферической нервной системы;
          li переломы позвоночника, дефекты черепа, травмы, опухоли головного, спинного мозга;
          li аномалии и нарушения в работе мозга;
          li грыжи межпозвонковых дисков.
      +cell({ l: 6, m: 4, xs: 12 })
        +img({
          name: 'neyrohirurgicheskaya-operaciya',
          path: '/images/operacii/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='нейрохирургическая операция' title='нейрохирургическая операция')
        p Нейрохирургическая операция
    h2 Преимущества нейрохирургических операций в нашем Центре
    +grid({ tag: 'ul' })
      +iconBlock({ tag: 'li', globe: true })(class= cellClasses({ m: 6, xs: 12 })) Лечение по мировым методикам - используем современные европейские и американские протоколы.
      +iconBlock({ tag: 'li', ecg: true })(class= cellClasses({ m: 6, xs: 12 })) Эффективность лечения при минимальном риске осложнений. Операционные оснащены прогрессивным оборудованием: системы высокоточного нейромониторинга, видеоангиографии, 3D-нейронавигации.
      +iconBlock({ tag: 'li', neurosurgery: true })(class= cellClasses({ m: 6, xs: 12 })) Нейрохирурги с мировым опытом работы и европейским образованием. Стажируются в зарубежных клиниках, обучаются на тренингах в профильных европейских и американских центрах.
      +iconBlock({ tag: 'li', microscope: true })(class= cellClasses({ m: 6, xs: 12 })) Минимальная травматичность хирургических вмешательств. Применяем операционный микроскоп, чтобы микронейрохирургия была щадящей и безошибочной. Современное оборудование обеспечивает точность операций, без повреждения здоровых тканей.
      +iconBlock({ tag: 'li', bed: true })(class= cellClasses({ m: 6, xs: 12 })) Внимание, поддержка и сопровождение на всех этапах. За один визит пациенты проходят консультацию у профильного специалиста, большинство обследований, сдают анализы. После операции находятся под пристальным наблюдением врачей анестезиологов-реаниматологов в реанимационном отделении (в первые сутки после хирургического вмешательства) или в палате пробуждения.
    h2 Виды нейрохирургических операций
    p В Центре проводим следующие виды операций в нейрохирургии.
    h3 Стереотаксические
    +grid.par
      +cell({ l: 6, m: 8, xs: 12 })
        p Врачи Нейрохирургического центра им. профессора Г.С. Тиглиева "Новые технологии" выполняют стереотаксические операции без трепанации черепа, через небольшое отверстие.
        .block-marked.block-marked--grey.par: p Суть операции заключается в следующем. В точно заданные участки вводят инструменты (электроды, канюли), используя специальные аппараты. Устройства ориентируют в пространстве вводимый инструментарий, контролируют глубину погружения.
        p Чтобы работать с глубинно расположенными структурами без затрагивания здоровых участков, ориентируемся на данные стереотаксических атласов и результаты МРТ, КТ.
        p Особенности и преимущества стереотаксических операций:
        ul.list-unordered
          li контролируемая точность введения инструментов в структуры мозга до 1 миллиметра;
          li облегчают этапы функциональной нейрохирургии (лечение эпилепсии, болевых синдромов).
      +cell({ l: 6, m: 4, xs: 12 })
        +img({
          name: 'stereotaksicheskaya-operaciya',
          path: '/images/operacii/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='стереотаксическая операция' title='стереотаксическая операция')
        p Стереотаксическая операция
    h3 Эндоскопические
    +grid.par: +cell({ l: 6, m: 4, xs: 12 })
      .par
        +img({
          name: 'ehndoskopicheskaya-operaciya',
          path: '/images/operacii/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='эндоскопическая операция' title='эндоскопическая операция')
        p Эндоскопическая операция
      p Проводим на желудочках головного мозга с помощью эндоскопа. Это инструменты разной гибкости и жесткости, которые отбирают ткани на анализ, разрушают патологически измененные очаги и останавливают кровотечение.
    h3 Эндовазальные
    +grid({ justify: 'space-between' }).par
      +cell({ l: 7, m: 4, xs: 12 })
        p Практикуют при сосудистых нарушениях в работе мозга. Суть операции в следующем: в сосуды вводят катетеры под рентгенологическим контролем. Инструментом к пораженному сосуду доставляют устройства, которые закрывают его просвет, останавливают кровотечение.
        p Особенности и преимущества эндовазальных операций:
        ul.list-unordered
          li легче переносятся пациентами, по сравнению с открытыми вмешательствами;
          li «выключают» определенные виды аневризм;
          li щадящая анестезия: вместо наркоза врачи практикуют местное обезболивание.
      +cell({ l: 4, m: 8, xs: 12 })
        +img({
          name: 'skhema-ehndovazalnoy-operacii',
          path: '/images/operacii/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1 ] }
          ]
        })(alt='схема эндовазальной операции' title='схема эндовазальной операции')
        p Схема эндовазальной операции
    h3 Нейрохирургические операции в зависимости от проблемы
    +grid({ justify: 'space-between' }).par
      +cell({ l: 6, m: 6, xs: 12 })
        p Опытные нейрохирурги Центра проводят нейрохирургические операции на головном, спинном мозге, позвоночнике и периферической нервной системе.
        p При опухолях головного мозга выполняют биопсию, после чего принимают решение об удалении кисты или новообразования. Если установлены пороки развития, делают декомпрессию краниовертебрального перехода, а при компрессии головного мозга — декомпрессию нервов (тройничного, лицевого или зрительного).
        p Большой спектр оперативных вмешательств выполняем на сосудах головного мозга:
        ul.list-unordered
          li дренирование, удаление гематом;
          li удаление мальформаций;
          li клипирование, окклюзия аневризм;
          li эмболизация мальформаций, соустий и фистул;
          li стентирование, эндоваскулярная ангиопластика артерий;
          li прямая реваскуляризация головного мозга;
          li разобщение артериодуральных фистул.
        p Выполняем шунтирование и вентрикулостомию для устранения патологии, вызванные гидроцефалией головного мозга.
      +cell({ l: 6, m: 6, xs: 12 })
        +img({
          name: 'specialisty-neyrohirurgicheskogo-centra',
          path: '/images/operacii/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='Специалисты нейрохирургического центра' title='Специалисты нейрохирургического центра')
        p Специалисты нейрохирургического центра
    p Оказываем нейрохирургическую помощь при пороках развития спинного мозга: удаляем диастомиелию, иссекаем дермальный синус. Операции на сосудах спинного мозга и при опухолях представлены тем же перечнем аналогичных методов, что и для заболеваний головного мозга.
    .block-marked.block-marked--grey.par: p Решаем проблему компрессии спинного мозга декомпрессивными и стабилизирующими операциями.
    +grid({ justify: 'space-between' }).par
      +cell({ l: 6, m: 6, xs: 12 })
        p При дегенеративных заболеваниях позвоночника: удаление грыжи поясничного, грудного, шейного крестцового отдела и межпозвоночные, проводим нуклеопластику.
        p При травмах позвоночника выполняем хирургическую фиксацию и стабилизацию позвонков. Проводим декомпрессию позвоночного канала, лекарственные блокады.
        p Хирургически лечим поражения периферической нервной системы. При повреждении нервов выполняем их пересадку, невролиз, сшивание, транспозицию и реинервацию.
        p Предлагаем спектр нейрохирургических вмешательств при состояниях компрессии нервов: делаем декомпрессию локтевого, срединного, малоберцового, седалищного нерва.
      +cell({ l: 6, m: 6, xs: 12 })
        +img({
          name: 'operaciya-na-pozvonochnike',
          path: '/images/operacii/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='операция на позвоночнике' title='операция на позвоночнике')
        p Операция на позвоночнике
    h2 Особенности нейрохирургических операций
    ul.list-unordered
      li В отделении нейрохирургии операции выполняют по новым методикам лечения, среди которых и собственные, запатентованные. Применение оригинальных методов исключает расстройство кровообращения мозга, сохраняет его функциональность.
      li В Нейрохирургическом центре им. профессора Г.С. Тиглиева «Новые технологии» проводят уникальные операции: специалисты восстанавливают функции лицевого нерва даже при серьезных повреждениях.
      li Пациенты могут довериться профессионализму наших нейрохирургов, искусная работа которых снижает травматичность оперативного вмешательства, длительность пребывания в клинике, в том числе за счет методов ранней активизации и реабилитации.
      li Эффективность хирургического лечения обеспечена высокотехнологичным оснащением отделения, применением прогрессивных микрохирургических технологий.
    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Когда нужно срочно обращаться за нейрохирургической помощью?</h3>').par
        p При сильных головных болях, головокружении, потерях сознания, травмах головы и позвоночника нужна немедленная госпитализация.
      +accordionItem('<h3>Какие показания для нейрохирургических операций?</h3>').par
        p Показания для операций на головном мозге и позвоночнике:
        ul.list-unordered
          li опухоли;
          li гидроцефалия, которая повышает внутричерепное давление;
          li патологии сосудистых систем;
          li травмы, деформации черепной коробки;
          li краниостеноз, стеноз спинномозгового канала;
          li протрузии, грыжи межпозвонковых дисков.
      +accordionItem('<h3>Какие симптомы указывают на проблемы?</h3>').par
        p Снижение чувствительности конечностей или ощущение покалывания, беспричинные боли, постоянная усталость, снижение мышечной силы, сонливость, сильный хруст при поворотах туловищем, нарушение речи.
      p Обращайтесь за нейрохирургической помощью при первых симптомах нарушений. Потеря времени из-за откладывания визита в клинику может серьезно ухудшить состояние и замедлить выздоровление. Запишитесь на консультацию вовремя!
