include /blocks/grid/grid
include /blocks/create-element/create-element
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/container/container
include /blocks/content/content
include /blocks/img/img
include /blocks/modal/modal

include /data/main-menu

doctype html
html(lang='ru')
  include ../head/head
  if !isHomePage
    link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.core.css' rel='stylesheet')
  body
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
    +modal({ tag: 'form', width: '32rem' })#call-back
      .h2 Получить обратный звонок
      +formInput({ type: 'text', name: 'name', placeholder: 'Ф. И. О. пациента *', required: true }).par
      +formInput({ type: 'tel', name: 'tel', placeholder: 'Телефон *', required: true }).par
      +formInput({ type: 'checkbox', required: true, checked: true, label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных' }).par
      +button({ type: 'submit' }).par Отправить
    +modal({ tag: 'form', width: '32rem' })#send-review
      .h2 Оставить отзыв
      +formInput({ type: 'text', name: 'name', placeholder: 'Ф. И. О. пациента *', required: true }).par
      +formInput({ type: 'text', name: 'city', placeholder: 'Город' }).par
      +formInput({ type: 'textarea', name: 'message', placeholder: 'Телефон *', required: true }).par
      +formInput({ type: 'checkbox', name: 'name', required: true, checked: true, label: 'Я ознакомлен(-а) с <a href="/policy/">Положением о конфиденциальности</a>' }).par
      +button({ type: 'submit' }).par Отправить
  +style('rest')
  if isHomePage
    +style('home')
  else
    +style('inner')
  +scripts(['script.js'])
