.table-wrap
  overflow-x auto
.table
  width 100%
  &__header
    padding var(--base-padding)
    font-size 1.125rem
    text-align left
    vertical-align middle
    background-color var(--color-border)
  &__cell
    padding calc(var(--base-padding)/1.2) var(--base-padding)
    vertical-align middle
    border-bottom 1px solid var(--color-border)
    ^[-1]__row:last-child > &
      border-bottom 1px solid var(--color-border)
    &--empty
      text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
    &--grey
      background-color var(--color-bg)
  &--color-bg
    & ^[0]__header
      background-color var(--color-bg)
    & ^[0]__cell
      border-bottom 1px solid var(--color-bg)
    & ^[0]__row:last-child > ^[0]__cell
      border-bottom 1px solid var(--color-bg)
  &--color-odd
    & ^[0]__header
      background-color var(--color-bg)
    & ^[0]__row:nth-child(2n+1)
      background-color var(--color-bg)
    & ^[0]__cell
      border-bottom 1px solid var(--color-bg)
    & ^[0]__row:last-child > ^[0]__cell
      border-bottom 1px solid var(--color-bg)
  &--hover
    .table__row
      position relative
      &::before
        content ''
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        transform scaleX(0)
        transform-origin right center
        transition transform .3s ease-in-out
      &:not(:first-child)
        @media(min-width point-l)
          .table__cell
            transition color .3s ease-in-out
          &:hover
            &::before
              background-image linear-gradient(97deg, #40BC39 1%, #88CE84 97%)
              z-index -1
              transform scaleX(1)
              transform-origin left center
              transition-delay 150ms
            .table__cell
              color white
              transition-delay 250ms
