extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/page-subsection/page-subsection
include /blocks/accordion-item/accordion-item
include /blocks/image-double/image-double
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = false;
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff')
    +grid.par
      +cell({ l: 6, m: 8, xs: 12 })
        p Операции при опухолях спинного мозга и его оболочек — это хирургическое удаление объемных образований спинного мозга, оболочек спинного мозга, корешков спинномозговых нервов с целью устранения сдавления нервных структур и определения структуры опухоли.
        p Операции на спинном мозге проводят при следующих заболеваниях:
        ul
          li Менингиома шейного, грудного, поясничного отдела
          li Эпендимома в спинном мозге
          li Липомы позвоночного канала
          li Невриномы корешков спинномозговых нервов
          li Сосудистые образования — гемангиомы тел позвонков
          li Первичные или метастатические поражения позвонков с признаками сдавления спинного мозга и корешков.
      +cell({ l: 6, m: 4, xs: 12 })
        +img({
          name: 'spinnoy-mozg-1',
          path: '/images/operacii/spinnoy-mozg/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='Операции на спинном мозге' title='Операции на спинном мозге')
        p Операции на спинном мозге
    h2 Почему спинальные операции в СПб лучше проводить в нашем Центре?
    +grid({ tag: 'ul' })
      +iconBlock({ tag: 'li', knife: true })(class= cellClasses({ m: 6, xs: 12 })) Операции на спинном мозге проводим максимально бережно, через небольшой кожный разрез, минимально травмируя мягкие ткани. Используем прогрессивные немецкие микроскопы, чтобы не повредить нервную ткань.
      +iconBlock({ tag: 'li', recovered: true })(class= cellClasses({ m: 6, xs: 12 })) Низкий риск осложнений. Микрохирургические методики, которые нейрохирурги Центра практикуют во время удаления новообразований, минимально травматичны и безопасны.
      +iconBlock({ tag: 'li', microscope: true })(class= cellClasses({ m: 6, xs: 12 })) Максимальная точность манипуляций: для этого хирургическое лечение проводим под большим увеличением микроскопа, рентгенологическим контролем и разметкой, используем нейрофизиологический мониторинг функций спинного мозга и нервов.
      +iconBlock({ tag: 'li', license: true })(class= cellClasses({ m: 6, xs: 12 })) Вмешательства выполняем по методикам, признанным во всем мире (американские и европейские протоколы хирургического лечения, стандарты и клинические рекомендации, которые регулярно принимает Ассоциация нейрохирургов, хирургов-вертебрологов).
      +iconBlock({ tag: 'li', ctScan: true })(class= cellClasses({ m: 6, xs: 12 })) Высокая эффективность за счет современного оборудованных операционных: используем системы 3D-нейронавигации, видеоангиографии, нейромониторинга.
      +iconBlock({ tag: 'li', medicalTeam: true })(class= cellClasses({ m: 6, xs: 12 })) В Центре работают нейрохирурги, специализирующиеся на спинальных операциях.
    h2 Сколько стоит операция на спинной мозг?
    p Цена будет определяться индивидуально и зависит от обширности поражения, сложности случая, стоимости диагностики, инструментов и материалов. Например, в некоторых случаях врачи Центра устанавливают импланты, конструкции, которые сохраняют или восстанавливают опорную функцию и стабильность позвоночного столба. Полную сумму специалист назовет во время первого визита.
    h2 Виды и особенности операций
    +grid({ justify: 'space-between' }).par
      +cell({ alignSelf: 'center', l: 6, m: 8, xs: 12 })
        ul
          li В Нейрохирургическом центре им. профессора Г.С. Тиглиева «Новые технологии» проводим операции, в зависимости от вида патологического процесса и участка поражения.
          li Хирургический доступ к позвоночнику и спинному мозгу может быть передним, передне-боковым, задним и комбинированным 360’.
          li Для фиксации позвонков могут использоваться различные полимерные и титановые импланты, которые подбирают индивидуально для каждого пациента.
          li При пороках развития (например, когда речь об операции на спинном мозге при ДЦП), иссекаем дермальный синус, удаляем диастомиелии.
          li Ламинопластикой хирургически лечим компрессии, эмболизацией мальфораций, удалением фистул — сосудистые патологии спинного мозга.
        h3 Фиксированный спинной мозг: операция по высвобождению
        p Выполняем хирургическое вмешательство в случае, когда спинной мозг оказывается зафиксированным к позвоночнику, неподвижен.
        p Для этого проводим операцию, в ходе которой решаем проблему аномальной фиксации, восстанавливаем структурно-функциональные состояния. Для этого убираем спайки, реконструируем анатомию позвоночника до нормы и проводим сопутствующие методики.
      +cell({ l: 5, m: 4, xs: 12 })
        +img({
          name: 'spinnoy-mozg-2',
          path: '/images/operacii/spinnoy-mozg/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true },
          ],
          density: [
            { values: [ 1 ] }
          ]
        })(alt='Схема фиксированного спинного мозга' title='Схема фиксированного спинного мозга')
        p Схема фиксированного спинного мозга
    h2 Другие варианты хирургической помощи
    p При дегенеративно-дистрофических процессах (грыжах, остеохондрозе, протрузиях) практикуем малоинвазивные вмешательства: микрохирургическими техниками снимаем сдавливание спинномозговых корешков.
    p В случае повреждения позвоночных сегментов, проводим операции фиксации спинного мозга (жесткую либо динамическую). Для декомпрессивно-стабилизирующих вмешательств врачи Центра применяют эндофиксаторы в виде имплантов.
    h3 Современные способы хирургического лечения спинного мозга
    +blockMarked({ grey: true }).page-subsection: p Нейрохирурги Центра в совершенстве владеют микрохирургическими и малоинвазивными техниками вмешательств на спинном мозге.
    +grid.page-subsection
      +cell({ l: 6, m: 8, xs: 12 })
        p Используя хирургический микроскоп,а также эндоскопическую ассистенцию, операции удалось вывести на качественно высокий уровень эффективности.
        p Преимущества малоинвазивной техники
        ul
          li минимальные кровопотери;
          li небольшой разрез, потому восстановление проходит в ускоренном режиме, осложнения практически не возникают;
          li болевая реакция после вмешательства снижена в несколько раз;
          li ранняя активизация после операции (в первые сутки);
          li более щадящая для организма анестезия.
        p Бережный и минимально травматичный доступ к оперируемому участку обеспечивают микроэндоскопические системы последнего поколения, в сочетании с мультифункциональным инструментарием и сверхчувствительной оптикой.
      +cell({ l: 6, m: 4, xs: 12 })
        +img({
          name: 'spinnoy-mozg-3',
          path: '/images/operacii/spinnoy-mozg/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='Малоинвазивные техники' title='Малоинвазивные техники')
        p Операции на спинном мозге
    h3 Этапы операции на примере микрохирургического метода
    +grid({ tag: 'ol' }).list-ordered-blocks.page-subsection
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Вводим пациента в состояние седации, анестезии.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Делаем минимальные разрезы около 3-4 сантиметров.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Вводим микрохирургический инструментарий через естественные позвоночные промежутки.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Манипулируем оптическим прибором под визуальным контролем, с помощью компьютерных средств, четко визуализируя нервную ткань.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Удаляем опухоль микроинструментами под постоянным контролем функции спинного мозга и нервов.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Постоянно наблюдением за состоянием пациента в послеоперационном периоде.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Контролируем результаты операции, проводим контрольную нейровизуализацию (МСКТ, МРТ, ангиография).
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Назначаем комплекс реабилитации. Переводим пациента в палату для восстановления и продолжения реабилитационных мер.
    h3 Важность подготовительного этапа и плана хирургического лечения
    +blockMarked({ grey: true }).par.page-subsection: p Каждый конкретный случай в Нейрохирургическом центре им. профессора Г.С. Тиглиева «Новые технологии» разбираем на консилиуме врачей. Принимаем решение о дальнейшей хирургической помощи.
    p Нейрохирург, специализирующийся на операциях на спинном мозге, проводит неврологический осмотр, анализирует лабораторные и компьютерные исследования (МРТ, КТ, ЭНМГ, рентгенографию), оценивает симптомы, общее состояние, наличие противопоказаний.
    p При необходимости — назначает уточняющие исследования, консультацию врачей смежных специальностей. После прохождения дополнительной диагностики, устанавливает точный диагноз, составляет план лечения.
    p Анестезиолог подбирает оптимальные анестетики, мягкого, нетоксичного, щадящего действия на организм. Кардиолог, невропатолог (при наличии нарушений со стороны нервной системы) помогают скорректировать назначения.
    h2 Особенности операций на спинном мозге в Центре
    +grid.page-subsection
      +cell({ l: 6, m: 8, xs: 12 })
        ul.list-unordered
          li Врачи Нейрохирургического центра им. профессора Г.С. Тиглиева «Новые технологии» в совершенстве освоили минимально инвазивные, эндоскопические, микрохирургические способы вмешательств, используют оснащение последнего поколения.
          li Средства анестезии подбирают и вводят анестезиологи в отделении, оборудованном по мировым стандартам качества.
          li Оперирующий нейрохирург специализируется только на спинальных вмешательствах, получил знания, навыки не только в рамках российских обучающих программ, но и международных, что подтверждено документально.
          li Центр оснащен оборудованием для углубленной диагностики и проведения хирургического лечения в особо тяжелых случаях.
          li Пристальное наблюдение за прооперированным пациентом в реанимационном отделении Центра либо в специализированной палате пробуждения, под контролем состояния реаниматологами и анестезиологами.
          li Применение инновационных методик, включая собственные запатентованные, малоинвазивность вмешательств исключает инфекционные осложнения, уменьшает период восстановления и нахождения в стационаре.
          li В Центре работает реабилитолог, который разрабатывает программу послеоперационного восстановления. Специалист занимается с пациентами индивидуально в палате, на дому, использует специализированное оборудование.
      +imageDouble({
        name: 'spinnoy-mozg-4',
        path: '/images/operacii/spinnoy-mozg/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ],
        alt: 'Киселев Виталий Сергеевич, Врач-нейрохирург',
        width: '',
        height: '',
        description: '<p>Врач-нейрохирург, Киселев Виталий Сергеевич специализируется на спинальных вмешательствах.</p>'
      }, {
        name: 'spinnoy-mozg-5',
        path: '/images/operacii/spinnoy-mozg/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ],
        alt: 'Цветкова Елена Владимировна, Старшая медсестра',
        width: '',
        height: '',
        description: '<p>Старшая медсестра Цветкова Елена Владимировна наблюдает за пациентами в реанимационном отделении.</p>'
      })(class= cellClasses({ l: 6, m: 4, xs: 12 }))
    +grid().page-subsection: +youtubeResponsive('boj5xkcj3Z0')(class= cellClasses({ l: 8, m: 10, xs: 12 }))
    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Какие симптомы опухоли спинного мозга?</h3>').par
        p Самый первый и характерный симптом — боль, которая усиливается при движениях, нагрузке, однако, может возникать и в покое, в ночное и утреннее время. Болевые реакции охватывают спину, распространяются на конечности. Другая симптоматика: потеря чувствительности в конечностях, слабость конечностей, быстрая утомляемость, нарушение ходьбы, функции тазовых органов.
      +accordionItem('<h3>Какой срок полного восстановления после вмешательства?</h3>').par
        p Период реабилитации начинается в первые сутки после оперативного вмешательства. Пациент может вставать и ходить в первый день после операции. Первые 2-3 месяца предстоит период активной реабилитационной работы под контролем специалистов, а в целом восстановление длится до года.
      +accordionItem('<h3>Когда операцию не проводят?</h3>').par
        p При тяжелой сопутствующей патологии: декомпенсированной сердечной недостаточности, состояниях после инфаркта, инсульта, активном инфекционном процессе, тромбозах.
      p Рекомендуем не медлить с визитом к специалисту при опухолях спинного мозга, его оболочек, корешков спинномозговых нервов и позвонков. Запишитесь на прием вовремя, поскольку осложненные состояния могут вызвать инвалидность, обездвиживание и серьезное нарушение качества жизни.
