@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  --arrow-position var(--base-padding)
  --arrow-size 2rem
  position relative
  @media (min-width point-m)
    --arrow-position 0
    --arrow-size 3.5rem
    padding-x calc(var(--arrow-size) + var(--base-padding))
  &--full-width
    @media (min-width 94rem)
      max-width calc(var(--content-width) + ((var(--arrow-size) + var(--base-padding)) * 2))
      margin-x calc((var(--arrow-size) + var(--base-padding)) * -1)
      padding-x calc(var(--arrow-size) + var(--base-padding))
  &--small-arrows
    @media (min-width point-m)
      --arrow-size var(--gap)
  &.doctors-slider
    @media (max-width point-l - 1)
      padding-bottom .6875rem
    .slide
      height auto
  &.slider-methods
    @media (max-width point-l - 1)
      padding-bottom .6875rem
  &.slider-reviews
  &.slider-advantages
  &.slider-certificates
    @media (max-width point-l - 1)
      padding-bottom 2.5rem
  &.slider-directions ^[0]__slides
    height 25rem
  &__slides
    position static
  &__arrow
    position absolute
  &__pagination
    display flex
    gap .325rem
    align-items center
    margin-top var(--base-padding)
    @media (max-width point-m - 1)
      margin-top var(--gap)
  &__pagination-item
    bottom unset
    width .375rem
    height .375rem
    &--active
      width .625rem
      height .625rem
  &__caption
    margin-top var(--base-padding)
    width calc(100% - (var(--gap) * 2 + var(--arrow-size) * 2))
.slider-methods
  align-self flex-start
