@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  background-color inherit
  &__arrow
    --arrow-color var(--color-button)
    --arrow-transition-duration var(--transition-duration-out)
    top 50%
    z-index 100
    display flex
    justify-content center
    align-items center
    width var(--arrow-size)
    height var(--arrow-size)
    cursor pointer
    border 2px solid var(--color-button)
    border-radius 100vmax
    transform translateY(-50%)
    transition background-color var(--transition-duration-out)
    &:hover
      --arrow-color var(--color-white)
      --arrow-transition-duration var(--transition-duration-in)
      background-color var(--color-button)
      transition-duration var(--transition-duration-in)
    &:active
      background-color var(--color-button-active)
      border-color var(--color-button-active)
    &::before
      content ''
      width .5rem
      height .75rem
      background-color var(--arrow-color)
      mask-image url(../images/svg-sprites/common.svg#arrow)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      transition background-color var(--arrow-transition-duration)
    &--prev
      left var(--arrow-position)
    &--next
      right var(--arrow-position)
      &::before
        transform rotate(180deg)
        transform-origin 50% 50% 0
    &--disabled
    &--disabled:hover
    &--disabled:active
      --arrow-color var(--color-border)
      background-color transparent
      border-color var(--color-border)
      cursor default
      pointer-events none
    .doctors-slider &
    .slider-reviews &
    .slider-methods &
    .slider-advantages &
    .slider-certificates &
      @media (max-width point-m - 1)
        top unset
        bottom 0
        transform none
    ^[-1]--captioned &
      top unset
      bottom 0
      transform none
      &--prev
        right calc(var(--arrow-size) + var(--base-padding) + var(--arrow-size) + var(--gap))
        left unset
      &--next
        right calc(var(--arrow-size) + var(--base-padding))
  &__pagination
    justify-content center
  &__pagination-item
    background-color var(--color-primary)
    opacity .3
    border-radius 100vmax
    &--active
      opacity 1
