mixin slider(settings = {}, caption)
  -
    const tag = settings.tag || 'div';
    const pagination = settings.pagination !== undefined ? settings.pagination : true;
    if (caption) settings.captioned = true
    delete settings.pagination;
  #{tag}(class= classes('slider', settings))&attributes(attributes)
    .slider__slides.swiper
      .slider__wrapper.swiper-wrapper
        block
      .slider__arrow.slider__arrow--prev
      .slider__arrow.slider__arrow--next
      if pagination
        .slider__pagination
    if caption
      .slider__caption !{caption}
mixin slide(settings = {})
  - const tag = settings.tag || 'div'
  #{tag}(class = classes('slide', settings)).swiper-slide
    block
