.service-category
  padding 2rem
  transition box-shadow var(--transition-duration-out)
  &:not(.service-category--inner-page):hover
    box-shadow 0 5px 10px 0 rgba(0, 0, 0, .2)
    transition-duration var(--transition-duration-in)
  &--inner-page .list-unordered
    margin-top var(--base-padding)
  &__title
    $fontSizeXl()
    position relative
    display flex
    padding-left 3.125rem
    min-height calc(2.5em + var(--base-padding))
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 2.25rem
      height 2.25rem
      background-image url(../images/svg-sprites/common.svg#service-category__title)
      background-repeat no-repeat
      background-position center
      background-size cover
    span
      position relative
      width min-content
      padding-bottom var(--base-padding)
      &::after
        content ''
        position absolute
        left 0
        bottom 0
        width 100%
        height .125rem
        background-color var(--color-primary)
  &__list
    $fontSizeM()
    margin-top var(--base-padding)
  &__item
    & + &
      margin-top .25rem
  &--inner-page a
    text-decoration none
