include /blocks/block-marked/block-marked

mixin serviceCategory(service, settings = {})
  +blockMarked.service-category&attributes(attributes)
    h3.service-category__title: span !{service.name}
    ul.service-category__list
      each item in service.list
        li.service-category__item: a(href= item.href) !{item.name}
