.accordion-item
  --header-before-opacity 1
  --header-after-opacity 0
  --body-display none
  padding 0 16px
  background-color var(--color-bg)
  border-bottom 2px solid var(--color-primary)
  border-radius 10px 10px 0 0
  &--active
    --header-before-opacity 0
    --header-after-opacity 1
    --body-display block
  &__header
    position relative
    padding-y 16px
    cursor pointer
    &:hover
      --icon-scale 1.05
    &::before
    &::after
      $fontSize3xl()
      position absolute
      top 50%
      right 0
      order 2
      width 16px
      margin-left auto
      text-align center
      translate 0 -50%
      transition opacity var(--transition-duration-out)
    &::before
      content '+'
      opacity var(--header-before-opacity)
    &::after
      content '×'
      opacity var(--header-after-opacity)
  &__body
    display var(--body-display)
    padding-y 16px
    border-top 1px solid var(--color-white)
