mixin accordionItem(header = '', settings = {})
  #{settings.tag || 'div'}(class= classes('accordion-item', settings))&attributes(attributes)
    .accordion-item__header !{header}
    .accordion-item__body: block
