.button
.btn
  $fontSizeButton()
  appearance none
  display block
  padding .625rem 1.125rem
  font-family inherit
  text-align center
  border 2px solid var(--color-button)
  &--tertiary
    border none
