.button
.btn
  text-decoration none
  color var(--color-button)
  background-color transparent
  border-radius var(--border-radius)
  transition-property background-color, color
  transition-duration var(--transition-duration-out)
  &:hover
    color var(--color-bg)
    background-color var(--color-button)
    transition-duration var(--transition-duration-in)
  &:active
    color var(--color-bg)
    --color-button var(--color-button-active)
  &--secondary
    color var(--color-bg)
    background-color var(--color-button)
    &:hover
      color var(--color-button)
      background-color transparent
    &:active
      color var(--color-button-active)
      background-color transparent
  &--tertiary
    color var(--color-bg)
    background-color var(--color-button)
    &:hover
      background-color var(--color-button-hover)
    &:active
      background-color var(--color-button-active)
