.consultation-doctor
  display grid
  grid-template-areas 'image title' 'image name' 'image occupation' 'image experience'
  grid-template-columns 48px auto
  grid-column-gap 15px
  margin-top 20px
  &__image
    grid-area image
    width 48px
    height 48px
    object-fit cover
    object-position center
    border-radius 24px
  &__title
    grid-area title
  &__name
    grid-area name
    text-decoration underline
  &__occupation
    grid-area occupation
    font-size 13px
    line-height 18px
  &__experience
    grid-area experience
    font-size 13px
    line-height 18px
