mixin consultationDoctor(item)
  .consultation-doctor&attributes(attributes)
    img(src= item.image alt= item.name).consultation-doctor__image
    .consultation-doctor__title Отвечает
    a(href='/').consultation-doctor__name !{item.name}
    span.consultation-doctor__occupation !{item.occupation}
    span.consultation-doctor__experience !{item.experience}
