.consultation-answer
  margin-top 20px
  padding 20px
  &__title
    position relative
    margin-bottom 10px
    padding-left 34px
    font-size 15px
    line-height 24px
  p
    margin 0
  p + p
    margin-top 10px
