extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h2 Виды неврологических болезней
    +pageSubsection
      +grid.par
        +cell({ l:6 }).block-marked.block-marked--grey.service-category.service-category--inner-page
          h3.service-category__title
            a(href="/lechenie/golovnoy-mozg/") #[span Болезни головного&nbsp;мозга]
          ul.list-unordered
            li Опухоли: ганглиоглиома, кавернома, аденома гипофиза, астроцитома, гемангиобластома, краниофарингиома, медуллобластома, менингиома, невринома головного мозга, слухового, тройничного нерва, первичная лимфома, пинеобластома, пинеоцитома, холестеома, хориоидпапиллома, эпендимома, метастазы головного мозга.
            li Заболевания сосудов: аневризма, артериовенозная мальформация сосудов головного мозга, артериовенозная фистула, болезнь Моя-моя, ишемический инсульт, киста желудочка мозга, церебральная ишемия, стеноз, хроническая внутричерепная гематома, каротидно-кавернозное соустье, окклюзия внутричерепных артерий.
            li Пороки развития: аномалия Киари, менингоцеле.
            li Гидроцефалии: заболевание Хакима-Адамса.
            li Дефекты черепа.
            li Внутричерепная гипертензия.
            li Функциональные нарушения: невралгия тройничного, языкоглоточного, краниального, лицевого, слухового, подъязычного, добавочного нервов, гемифациальный спазм.

        +cell({ l:6 }).block-marked.block-marked--grey.service-category.service-category--inner-page
            h3.service-category__title
              a(href="/lechenie/spinnoy-mozg/") #[span Болезни спинного&nbsp;мозга]
            ul.list-unordered
              li Опухоли: доброкачественные, злокачественные, эпиндимома, глиома, липома, невринома, менингиома, фибролипома, интрамедуллярная, экстрамедуллярная опухоль, метастазы спинного мозга.
              li Заболевания сосудов: артериовенозная мальформация, фистулы сосудов спинного мозга. 
              li Пороки развития: дермальный синус, диастематомиелия, синдром фиксированного спинного мозга.
              li Дегенеративные изменения спинного мозга: стеноз позвоночного канала.
              li Гидромиелия.

        +cell({ l:6 }).block-marked.block-marked--grey.service-category.service-category--inner-page
            h3.service-category__title
              a(href="/lechenie/pozvonochnik/") #[span Заболевания позвоночника]
            ul.list-unordered
              li Дегенеративные изменения позвоночника: артроз межпозвонковых суставов, межпозвонковая грыжа, грыжа грудного, крестцового, поясничного, шейного отдела позвоночника, листез, фасеточный болевой синдром.
              li Опухоли: гемангиома, костная киста, остеокластома, хондрома, хордома, метастазы позвоночника.
              li Травматическая деформация позвоночника: перелом тел позвонков, кокцигодиния.

        +cell({ l:6 }).block-marked.block-marked--grey.service-category.service-category--inner-page
            h3.service-category__title 
              a(href="/lechenie/golovnoy-mozg/") #[span Заболевания периферической нервной системы]
            ul.list-unordered
              li Травмы периферических нервов: травма нерва руки, ноги, лучевого, межреберного, седалищного, локтевого, срединного, малоберцового нерва.
              li Функциональные нарушения периферических нервов.
              li Компрессии (сдавление) периферических нервов: карпальный синдром, компрессия локтевого, малоберцового, большеберцового, срединного, лучевого нерва, неврома Мортона, синдром переднего мышечного ложа, грушевидной, лестничной мышцы.
