mixin blockAnalysis(path, params)
  each item in params
    .block-analysis(class= cellClasses({ l: item.l, m: item.m, s:item.s }))
      +img({
        name: item.img,
        path: `/images${path}`,
        formats: [
          { ext: 'jpg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
        })(alt= item.alt title= item.alt width=480 height=320)
      p.block-analysis__inner= item.alt
      if item.text
        span.block-analysis__text !{item.text}
