.block-analysis
  display flex
  flex-direction column
  background-color var(--color-bg)
  border-radius 10px
  &__inner
    flex-grow 1
    display flex
    align-items center
    justify-content center
    padding var(--base-padding) 1rem 1rem
    color var(--color-primary)
    line-height 1.25
    text-transform uppercase
    text-align center
  & img 
    border-bottom-right-radius 0px
    border-bottom-left-radius 0px
  &__text 
    flex-grow 50
    padding-x var(--base-padding)
    margin-top -0.7rem
    padding-bottom var(--base-padding)
