include /blocks/block-marked/block-marked

mixin listStepsItem(item, settings = {})
  - const tag = settings.tag || 'li'
  #{tag}.list-steps-item&attributes(attributes)
    +blockMarked.list-steps-item__info
      h3.list-steps-item__title !{item.title}
      if item.price
        .list-steps-item__price !{item.price}
      if item.clarification
        .list-steps-item__clarification !{item.clarification}
      if block
        .list-steps-item__body
          block
