.list-steps-item
  --icon-mask ''
  --marker-size 5rem
  position relative
  display flex
  &:nth-child(1)
    --icon-mask url(../images/svg-sprites/common.svg#list-steps-item-1)
  &:nth-child(2)
    --icon-mask url(../images/svg-sprites/common.svg#list-steps-item-2)
  &:nth-child(3)
    --icon-mask url(../images/svg-sprites/common.svg#list-steps-item-3)
  &::before
    $fontSize2xl()
    content ''
    position absolute
    top 0
    left 0
    display flex
    justify-content center
    align-items center
    width var(--marker-size)
    height var(--marker-size)
    font-weight bold
    color var(--color-white)
    background-color var(--color-primary)
    mask-image var(--icon-mask)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
  &::after
    --gradient-1-direction to right
    --gradient-2-direction to bottom
    --gradient-1-point 97%
    --arrow-image url(../images/svg-sprites/common.svg#list-steps-item-arrow)
    content ''
    position absolute
    top calc(var(--marker-size) / 2 - .25rem)
    right var(--marker-size)
    left calc(var(--marker-size) * 2)
    height .5rem
    background-image var(--arrow-image),\
      linear-gradient(var(--gradient-1-direction), transparent var(--gradient-1-point), var(--color-arrow-bg, #f8f7f6) var(--gradient-1-point)),\
      linear-gradient(var(--gradient-2-direction), var(--color-arrow-bg, #f8f7f6) .21875rem, transparent .21875rem, transparent .28125rem, var(--color-arrow-bg, #f8f7f6) .28125rem),\
      repeating-linear-gradient(var(--gradient-1-direction), var(--color-primary), var(--color-primary) .125rem, transparent .125rem, transparent .25rem, var(--color-primary) .25rem)
    background-repeat no-repeat, repeat, repeat, repeat
    background-position right, center, center, center
    @media (max-width point-m - 1)
      left calc(var(--marker-size) * 1.25)
      height .5rem
      width calc(100% - var(--marker-size) * 1.25)
  &:last-child
    &::after
      content none
  &__info
    --margin calc(var(--marker-size) + (var(--base-padding) * var(--info-margin-mult)))
    --info-margin-mult 1.5
    margin-top var(--margin)
  &__title
    $fontSize2xl()
    font-weight bold
    color var(--color-black)
    @media (max-width point-l - 1)
      $fontSizeXl()
  &__price
    $fontSizeXl()
    margin-top .625rem
    color var(--color-primary)
  &__clarification
    $fontSizeXl()
    margin-top .625rem
    color var(--color-text-light)
  &__body
    margin-top var(--base-padding)
  &--numbered
    &:nth-child(n)
      --icon-mask none
    & .list-steps-item__info
      --margin calc(var(--marker-size) + (var(--base-padding) * var(--info-margin-mult)))
      --info-margin-mult 0.4
    &::before
      content counter(numbers)
      $fontSizeXl()
      position absolute
      top 0
      left 0
      display flex
      align-items center
      justify-content center
      width 4rem
      height 4rem
      text-align center
      color var(--color-white)
      background-color var(--color-primary)
      border-radius 100vmax
    &:last-child
      &::after
        content ''
  &--arrow-bg-grey
    &::after
      --color-arrow-bg var(--color-bg-secondary)
