extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Невралгия тройничного нерва: симптомы и лечение
    +grid.page-subsection
      +cell({ m:6 })
        h2#troynichnogo-nerva-1 Где находится тройничный нерв?
        p В&nbsp;головном мозге расположено 12&nbsp;пар черепных нервов. Пятую пару называют тройничным нервом, место расположения которого можно понять по&nbsp;схеме его строения. 
        p Так, он&nbsp;берет свое начало из&nbsp;мозгового ствола, а&nbsp;именно из&nbsp;чувствительных и&nbsp;двигательных ядер. Далее своими корешками и&nbsp;ветвями достигает уровня основания мозга. В&nbsp;участке выхода из&nbsp;черепа формирует Гассеров узел, от&nbsp;которого отходят ветви тройничного нерва. Ветви расположены справа и&nbsp;слева, по&nbsp;боковым поверхностям лица. 
        h3 Строение и&nbsp;функции 
        p Пятая пара черепных нервов имеет ядра, сформированные клетками, основная функция которых&nbsp;&mdash; передача нервных импульсов.
        p Тройничный нерв регулирует подвижность жевательной группы мышц, формирование слез, восприятие звуков. Отвечает за&nbsp;чувствительность слизистых оболочек ротовой, носовой полости и&nbsp;кожи лица. 
        h3 Основные ветви тройничного нерва
        p Выделяют 3&nbsp;ветви:
        ul.list-unordered.par
          li Первая, которая представлена глазничным нервом. Нервные волокна, из&nbsp;которых он&nbsp;построен, передают световые сигналы в&nbsp;головной мозг. Также он&nbsp;регулирует глазную реакцию на&nbsp;световые импульсы и&nbsp;отвечает за&nbsp;глазодвигательную функцию. 
          li Вторая, представленная верхнечелюстным нервом. Иннервирует верхнюю часть лица, регулирует движение мышц этой области. 
          li Третья, представленная нижнечелюстным нервом. Иннервирует нижнюю часть лица, отвечая за&nbsp;кожную чувствительность и&nbsp;движение мышц в&nbsp;этой зоне.

      +cell({ m:6 })
        h3 Точки выхода тройничного нерва на&nbsp;лице
        p Чтобы понимать, как расположены нервные структуры, разобраться в&nbsp;принципах иннервации, важно понимать топографию ветвей тройничного нерва.
        p Первая ветвь выходит из&nbsp;черепной полости в&nbsp;глазницу через глазную щель, вторая&nbsp;&mdash; через круглое отверстие, а&nbsp;третья через овальное отверстие большого крыла клиновидной кости. 
        +figure({
          image: {
            name: 'nevralgiya-2',
            path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Строение тройничного нерва'
          }, 
        }).par
      +figure({
        image: {
          name: 'nevralgiya-1',
          path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          alt: 'При невралгии тройничного нерва характерна сильная боль боковых частей лица'
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
      +figure({
        image: {
          name: 'nevralgiya-3',
          path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          alt: 'Расположение ветвей тройничного нерва'
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
        //- +imageOverlay({path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/', name: ['nevralgiya-1', 'nevralgiya-3']} ).par

    +pageSubsection
      h2#troynichnogo-nerva-2 Что такое невралгия тройничного нерва?
      p Невралгия тройничного нерва (НТН)&nbsp;&mdash; это болезнь, главным клиническим проявлением которой является обычно односторонняя, сильная боль в&nbsp;участках иннервации. Второе название заболевания&nbsp;&mdash; тригеминальная невралгия.
      +grid.par
        +figure({
          image: {
            name: 'nevralgiya-4',
            path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Внезапный приступ боли - самая частая причина обращения к нейрохирургу при НТН'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell({ m:6 })
          h3 Распространенность и&nbsp;клинические проявления
          p Заболевание регистрируют с&nbsp;частотой 3-5 случаев на&nbsp;100&nbsp;тыс. населения ежегодно, в&nbsp;то&nbsp;время как в&nbsp;России этот показатель составляет 5&nbsp;клинических случаев на&nbsp;100&nbsp;тыс. населения в&nbsp;год. Тригеминальной невралгией чаще болеют женщины (в&nbsp;1,5 раза чаще, чем мужчины). 
          p В&nbsp;70% случаев регистрируют правостороннюю локализацию патологического процесса, в&nbsp;29%&nbsp;&mdash; левостороннюю, а&nbsp;на&nbsp;двустороннюю приходится до&nbsp;1% случаев.
          p Средний возраст пациентов нейрохирургической клиники, обращающихся с&nbsp;этой проблемой, составляет 55&nbsp;лет, в&nbsp;то&nbsp;время как анализ результатов анамнеза дает представление о&nbsp;более раннем начале заболевания (примерно на&nbsp;8-10&nbsp;лет). 
          p Обращения к&nbsp;нейрохирургу связаны с&nbsp;такими причинами: внезапный приступ боли (34% от&nbsp;всех обращений), после стоматологического лечения (27%), отрицательные эмоции (17%). В&nbsp;других случаях пациенты связывают начало болезни с&nbsp;сопутствующими факторами: травмирование, респираторная инфекция, переохлаждение лица.
    
    +grid.page-subsection
      +cell({ m:6 })
        h2#troynichnogo-nerva-3 Основные причины воспаления тройничного нерва на&nbsp;лице
        p Современные взгляды на&nbsp;этиологию НТН сводятся к&nbsp;тому, что основными причинами возникновения заболевания называют: перенесенный опоясывающий лишай, который возникает в&nbsp;результате реактивации вируса герпеса, деструктивное оперативное вмешательство, провоцирующее воспаление, травмирование ветвей. 
        p Вышеперечисленные причины изменяют чувствительность указанных участков, приводят к&nbsp;невропатии (невоспалительное поражение вследствие травмы или сдавления нервных структур). 
        p Если&nbsp;же болевая реакция возникает спонтанно в&nbsp;участке иннервации ветвей, не&nbsp;сопровождается нарушением их&nbsp;чувствительности, рассматривают другие причины, что позволяет классифицировать заболевание на&nbsp;симптоматическую либо классическую (идиопатическую) НТН. Под термином &laquo;идиопатический&raquo; понимают неустановленную причину либо механизм развития болезни. 
      +figure({
        image: {
          name: 'nevralgiya-5',
          path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          alt: 'Герпес на губах'
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
      +figure({
        image: {
          name: 'nevralgiya-6',
          path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          alt: 'Среди врачей до сих пор нет однозначного ответа о причинах возникновения этого заболевания'
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
      +cell({ m:6 })
        h3 Разные взгляды на&nbsp;патогенез заболевания
        p Среди ученых до&nbsp;сих пор ведутся дискуссии об&nbsp;истинных причинах классической НТН.
        p Одни из&nbsp;них называют воздействие низкого температурного режима на&nbsp;лицевые ткани. Исследователь Л.Я. Лившиц приводит результаты исследований больных, у&nbsp;70% которых диагностировано высокое расположение пирамиды височной кости на&nbsp;стороне поражения нерва. Ученый считает, что такое строение провоцирует раздражение корешка тройничного нерва (КТН), а&nbsp;следовательно и&nbsp;его невралгию.
        p Л.Р. Рубин настаивает на&nbsp;роли в&nbsp;возникновении болезни патологии нижнечелюстного сустава, из-за чего формируется неправильный прикус, потому методом лечения назвал ношение ортодонтических аппаратов, исправляющих прикус.
        p Другие ученые, анализируя данные рентгенограммы, обнаружили стеноз (сужение) нижнечелюстного канала, называя его провоцирующим фактором заболевания. 
      +cell({ m:6 })
        h3 Нейроваскулярная природа заболевания и&nbsp;ее&nbsp;обоснование
        p Позже нейрохирурги W.&nbsp;Gardner и&nbsp;V.&nbsp;Miclos обнаружили другую причину заболевания, которая связана со&nbsp;сдавлением КТН мозжечковыми артериями. 
        p На&nbsp;основании теории о&nbsp;сосудистой компрессии, как причины тригеминальной невралгии, нейрохирург P.&nbsp;Jannetta предложил метод хирургического лечения с&nbsp;помощью микроваскулярной декомпрессии, которую проводят, используя губчатый протез синтетического происхождения. 
        p Поскольку операция показала хорошие результаты, большинство нейрохирургов стали придерживаться мнения, что главной причиной НТН является нейроваскулярный конфликт. 
        p Часть авторов называют причиной поражения тройничного нерва не&nbsp;только конфликт с&nbsp;артериальным, но&nbsp;и&nbsp;с&nbsp;венозным сосудом, поскольку рецидив болезни наблюдали у&nbsp;пациентов, у&nbsp;которых в&nbsp;процессе оперативного вмешательства находили конфликт КТН именно с&nbsp;венозным сосудом. 
        p Главным провоцирующим фактором нейроваскулярного конфликта называют долихоэктазию (расширение и&nbsp;удлинение сосуда). 
      +cell({ m:6 })
        p Причиной вторичной НТН называют новообразование, которое сдавливает КТН. Во&nbsp;время операции по&nbsp;его удалению также обнаруживают нейроваскулярный конфликт.
        +figure({
          image: {
            name: 'nevralgiya-7',
            path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Хирургическое вмешательство дает хорошие результаты при лечении'
          }, 
        }).par
      +cell({ m:6 })
        h3 Характерная симптоматика
        p Характерным признаком&nbsp;77% пациентов, страдающих невралгией тройничного нерва, называют локальные боли, ограниченные определенными зонами на&nbsp;лице. Больные описывают их&nbsp;как покалывающие, дергающие, стреляющие или слабовыраженные.
        p 23% пациентов сталкиваются с&nbsp;развернутым типичным болевым синдромом, который проявляется следующими симптомами:
        ul.list-unordered.par
          li Боль длится не&nbsp;более 10-12&nbsp;секунд, но&nbsp;чрезвычайно сильная, напоминает удар электрического тока.
          li Отсутствие боли между приступами (состояние называют &laquo;светлый промежуток&raquo;) характеризуется разной длительностью. 
          li Болевая реакция всегда охватывает определенные участки, которые связаны с&nbsp;зонами иннервации. 
          li На&nbsp;лице диагностируют гиперчувствительные участки, которые реагируют даже на&nbsp;минимальное раздражение. Обычно болевой приступ запускает прикосновение к&nbsp;области рта, носогубного треугольника.
          li Характерны пусковые факторы болевого приступа. В&nbsp;качестве таких называют: речь, глотание, жевание, умывание, ветер. 
          li У&nbsp;больных формируется типичное поведение: замирание в&nbsp;одной позе, чтобы неподвижно переждать приступ боли. В&nbsp;некоторых случаях, чтобы успокоить тройничный нерв, они могут надавливать или растирать участок болезненности. 
          li Избегающее поведение. На&nbsp;приеме у&nbsp;врача, когда пациента просят показать участки болезненности, он&nbsp;держит палец на&nbsp;расстоянии нескольких сантиметров, избегая возобновления приступа боли. Если&nbsp;же к&nbsp;гиперчувствительному участку пытается прикоснуться нейрохирург, то&nbsp;больной непроизвольно отшатывается.
          li Когда приступ боли нарастает, возникает подергивание мышц лица.
          li В&nbsp;области боли отсутствует дефицит чувствительности.
      +cell({ m:6 })
        h4 Определенные особенности симптоматики
        p Когда болевые приступы отступают, фобический синдром сохраняется. Больные делают все возможное, чтобы не&nbsp;спровоцировать рецидив болезни. Например, могут кутать голову даже при высокой температуре окружающей среды, жевать зубами, расположенными на&nbsp;противоположной стороне от&nbsp;области боли.
        p Развернутый типичный болевой синдром длится десятилетиями, чередуясь с&nbsp;периодами ремиссии и&nbsp;рецидива заболевания. В&nbsp;пожилом возрасте типичная клиническая картина меняется на&nbsp;невротические признаки. Так, болезненность носит легкий характер, ее&nbsp;интенсивность снижена, а&nbsp;позже острая боль сменяется тупой, постоянной. 
        +figure({
          image: {
            name: 'nevralgiya-8',
            path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Средний возраст пациентов с невралгией тройничного нерва - 55 лет'
          }, 
        }).par
    
    +pageSubsection
      h2#troynichnogo-nerva-4 Диагноз
      +grid.par 
        +cell({ m:6 })
          p В&nbsp;клинических рекомендациях сказано, что первостепенна дифференциальная диагностика невралгии тройничного нерва. Ее&nbsp;проводят, ориентируясь на&nbsp;различия симптоматики. 
          p По&nbsp;клиническим проявлениям НТН отличают от&nbsp;атипичных болевых синдромов лицевого нерва, ориентируясь на&nbsp;следующее:
          ul.list-unordered.par
            li Наличие поражения центральной нервной системы, что проявляется болью, которая повторяется, интенсивна, возникает внезапно, локализуется в&nbsp;области нескольких ветвей тройничного нерва, за&nbsp;счет чего клинические проявления отличаются от&nbsp;классических симптомов типичной НТН. Такие состояния называют вторичными невралгиями, а&nbsp;кроме большей длительности приступов боли, для них характерно нарушение слуха и&nbsp;зрения. 
            li Рассеянный склероз и&nbsp;другие состояния вызывают симптоматическую невралгию, которая практически не&nbsp;отличается от&nbsp;типичной НТН, за&nbsp;исключением наличия синдрома Лермитта, возникновения приступов при поворотах головы и&nbsp;локализации боли в&nbsp;области между шеей и&nbsp;головой. 
            li Постгерпетическую НТН относят больше к&nbsp;невропатии. Патология проявляется расстройством чувствительности, когда болезненность заменяет постоянный зуд, а&nbsp;область поражения охватывает офтальмический участок нерва. Иногда возникает боль низкой интенсивности и&nbsp;стреляющего характера, которая охватывает волосистую часть головы, веки. 
            li Глоссофарингеальная НТН. Боли охватывают корень языка, отдают в&nbsp;глотку, слуховой проход либо шею. Усиливаются во&nbsp;время приема кислой, холодной пищи, глотания. Болевая реакция внезапная, жгучая, односторонняя, повторяется, чаще возникает по&nbsp;ночам. 
            li SUNCT-синдром. Характеризуется отсутствием неврологического дефицита, потением лба, слезотечением, конъюнктивитом, односторонней болью короткой продолжительности. 
          +figure({
            image: {
              name: 'nevralgiya-9',
              path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Нейровизуализация'
            }, 
          }).par
        +cell({ m:6 })
          p Важным&nbsp;же диагностическим методом исследователи называют компьютерную ангиографию, которую проводят в&nbsp;спиральном режиме. С&nbsp;помощью нее удается дифференцировать классическую тригеминальную невралгию от&nbsp;других состояний, а&nbsp;также обнаружить нейроваскулярный конфликт между КТН и&nbsp;верхней мозжечковой артерией. 
          h3 Оценка выраженности болевого синдрома
          p Для этого пациентов обследуют по&nbsp;следующим шкалам:
          ul.list-unordered.par
            li Визуальная аналоговая шкала.
            li Модифицированная лицевая шкала.
            li Вербальная описательная шкала оценки боли.
          p Постановка диагноза базируется и&nbsp;на&nbsp;диагностических критериях Международного общества головной боли (классификация ICHD). 
          p Также анализируют характеристики болевого приступа по&nbsp;критериям:
          ul.list-unordered.par
            li A.&nbsp;Боль, которая охватывает одну или несколько ветвей тройничного нерва, длится до&nbsp;двух минут, соответствует критериям&nbsp;B и&nbsp;C. 
            li B.&nbsp;Для болевой реакции характерен минимум один следующий признак: 1) характеризуется как колющая, острая, интенсивная, поверхностная; 2) возникает при воздействии на&nbsp;чувствительное точки или из-за триггерных факторов.
            li C.&nbsp;Стереотипный характер болевых приступов.
            li D.&nbsp;Симптоматика неврологического дефицита отсутствует.
            li E.&nbsp;Отсутствует взаимосвязь болевой реакции с&nbsp;другими причинами.
          h3 Дифференциальная диагностика
          p Заболевание дифференцируют&nbsp;от: мышечно-скелетной боли, болезней ЛОР-органов, поражения височно-нижнечелюстного сустава, языкоглоточной невралгии, невралгии затылочного нерва, ушного узла, тригеминальной автономной цефалгии и&nbsp;подобных состояний. 
          h3 Особенности нейровизуализации
          p Чтобы повысить чувствительность диагностики, используют дополнительные методы нейровизуализации. Так, практикуют новые протоколы, один из&nbsp;которых&nbsp;&mdash; последовательность T2-CICE. 
          p Это вариант проведения магнитно-резонансной томографии, когда стандартную импульсную последовательность FIESTA, при МРТ головного мозга, соединяют с&nbsp;магнитно-резонансной ангиографией. Обрабатывая полученный результат с&nbsp;помощью программного обеспечения, удается установить тип сосуда, конфликтующего с&nbsp;КТН.
          p Далее, опираясь на&nbsp;полученные данные, спланировать нейрохирургическое вмешательство удается более правильно. Так, специалист владеет полной картиной анатомического строения вен в&nbsp;оперируемом участке, а&nbsp;потому максимально безопасно и&nbsp;точно &laquo;выключает&raquo; нужную, чтобы выйти на&nbsp;высокую эффективность васкулярной декомпрессии. 
          
    +pageSubsection
      h2#troynichnogo-nerva-5 Лечение 
      p Ключевая цель лечения невралгии тройничного нерва&nbsp;&mdash; устранение болевого синдрома и&nbsp;препятствие рецидиву болезни. Практикуют консервативное и&nbsp;оперативное лечение, которое подбирают, ориентируясь на&nbsp;нюансы клинического случая.
      h3 Особенности консервативного лечения
      p Консервативное лечение невралгии тройничного нерва подразумевает прием препаратов и&nbsp;физиотерапевтические методы. Первостепенно медикаментозное лечение начинают с&nbsp;приема противоэпилептических лекарств, поскольку они демонстрируют максимальную эффективность. 
      +grid.par 
        +cell({ m:6 })(class= gridClasses({ alignContent: 'space-between', smallGap: 'y' }))
          +cell
            h4 Применение карбамазепина
            p Стандартно применяют карбамазепин. Для начала препарат назначают в&nbsp;дозировке 200-400&nbsp;мг в&nbsp;день, после чего дозу постепенно увеличивают до&nbsp;тех пор, пока боли полностью не&nbsp;исчезнут. 
            p Обычно выходят на&nbsp;дозировку 800&nbsp;мг в&nbsp;сутки, равномерно распределяя объем лекарственного средства на&nbsp;четыре приема. После этого практикуют тактику уменьшения дозы, достигая минимально эффективной. 
            h4 Особенности лечения другими препаратами 
            ul.list-unordered.par
              li Тизанидин. Дозировку подбирают индивидуально, начиная с&nbsp;приема одной капсулы ежедневно. В&nbsp;большинстве случаев назначают по&nbsp;две капсулы в&nbsp;сутки. 
              li Вальпроевая кислота. Начальная дозировка препарата составляет от&nbsp;3&nbsp;до&nbsp;15&nbsp;мг в&nbsp;сутки, которую равномерно распределяют на&nbsp;два приема. Возможно повышение дозы на&nbsp;5-10&nbsp;мг. Максимальная дозировка составляет 30&nbsp;мг на&nbsp;килограмм в&nbsp;сутки. Если&nbsp;же практикуют комбинированную терапию, тогда начинают с&nbsp;дозы 10-30&nbsp;мг на&nbsp;килограмм в&nbsp;сутки, после чего увеличивают до&nbsp;5-10&nbsp;мг на&nbsp;килограмм в&nbsp;неделю.
              li Баклофен. Начальная дозировка составляет 5&nbsp;мг в&nbsp;сутки, с&nbsp;равномерным распределением на&nbsp;три приема. После этого дозу постепенно увеличивают на&nbsp;такое&nbsp;же значение, но&nbsp;не&nbsp;ежедневно, а&nbsp;каждые три дня, пока не&nbsp;выйдут на&nbsp;желаемый результат. Максимальная дозировка, которая составляет 100&nbsp;мг в&nbsp;сутки, возможна только при лечении в&nbsp;стационарных условиях. Если&nbsp;же у&nbsp;пациента повышена чувствительность, то&nbsp;дозировку увеличивают медленно, а&nbsp;начальная доза должно составлять 6-10&nbsp;мг в&nbsp;сутки. 
              li Фенитоин. Используют однократно, в&nbsp;случае обострения заболевания. Основной способ введения&nbsp;&mdash; внутривенный. Рекомендуемая дозировка&nbsp;&mdash; 15&nbsp;мг на&nbsp;килограмм.
              li Антидепрессанты. Применяют амитриптилин. Дозировку расчитывают таким образом, чтобы большее количество препарата действовало в&nbsp;ночной период времени (то&nbsp;есть применяют перед сном). Начальная доза&nbsp;&mdash; 25-50&nbsp;мг, после чего ее&nbsp;повышают до&nbsp;150-300&nbsp;мг в&nbsp;сутки, дробя на&nbsp;три приема. Увеличение дозы проводят постепенно, в&nbsp;течение пяти-шести дней. Больного наблюдают, и&nbsp;если улучшения нет, повышают дозу до&nbsp;300&nbsp;мг в&nbsp;сутки. Для пациентов пожилого возраста начальная дозировка составляет 30-100&nbsp;мг, после чего ее&nbsp;снижают до&nbsp;25-50&nbsp;мг в&nbsp;сутки, достигая поддерживающей концентрации в&nbsp;организме.
              li Назначают витамины, особенно группы B.&nbsp;Лучший результат демонстрирует применение комбинированных препаратов.
          +figure({
            image: {
              name: 'nevralgiya-10',
              path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Консервативное лечение включает в себя прием препаратов'
            }, 
          })(class= cellClasses({ xs:12 }))
        +cell({ m:6 })(class= gridClasses({ alignContent: 'space-between', smallGap: 'y' }))
          +cell
            p От&nbsp;использования обезболивающих средств отказываются, поскольку они малоэффективны. А&nbsp;превышение дозировки анальгетиков может спровоцировать двустороннюю головную боль.
            h4 Физиотерапевтические методы
            p Чтобы снять болевой приступ, практикуют минимальное тепловое воздействие. Для этого используют: ультрафиолетовое облучение, электрогрелку либо лампу &laquo;Соллюкс&raquo;.
            p Для снятия воспаления, а&nbsp;также чтобы оказать обезболивающее воздействие, в&nbsp;течение двух-трех минут применяют диадинамические токи. Ежедневно проводят от&nbsp;6&nbsp;до&nbsp;10&nbsp;процедур, делая перерыв на&nbsp;одну неделю. Рекомендованы минимум два курса лечения этим способом.
            p Чтобы справиться с&nbsp;болевой реакцией высокой интенсивности, кроме упомянутых токов, вводят эпинефрин, тетракаин и&nbsp;подобные препараты. А&nbsp;если болевой синдром длится долго, болезнь приобрела хронический характер, тогда длительность воздействия увеличивает до&nbsp;8-10&nbsp;минут, а&nbsp;количество процедур на&nbsp;курс лечения повышают до&nbsp;10-18, выдерживая четырехдневный перерыв после каждого 10-го сеанса.
            p Если&nbsp;же болевой синдром в&nbsp;области лица связан с&nbsp;остеохондрозом в&nbsp;области шеи и&nbsp;подобными состояниями, используют ультразвуковое воздействие, особенно на&nbsp;точки выхода тройничного нерва. Длительность процедуры&nbsp;&mdash; 2&nbsp;минуты для каждой точки.
            p Когда заболевание носит подострый характер, используют электрофорез тиамина и&nbsp;прокаина или других препаратов, в&nbsp;зависимости от&nbsp;показаний. Длительность процедуры составляет 10-30&nbsp;минут. 
            h4 Другие консервативные методы лечения
            ul.list-unordered.par
              li Если болезнь перешла в&nbsp;хроническую стадию, практикуют массаж лица, который делают в&nbsp;течение 6-7&nbsp;минут. Процедуры выполняют каждый день или через день.
              li Подбирают курс лечебной гимнастики.
              li Назначают бальнеотерапию, а&nbsp;именно радоновые, морские, сульфидные ванны.
              li Делают грязевые аппликации, используя торф, парафин либо озокерит. Наносят на&nbsp;10&nbsp;минут, соблюдая температурный режим в&nbsp;пределах 36-37 &deg;C.&nbsp;Курс предполагает проведение 10&nbsp;процедур.
              li Положительные результаты дает рефлексотерапия, которая предполагает следующие методы: прижигание, терапию лазером, иглоукалывание. 
          +figure({
            image: {
              name: 'nevralgiya-11',
              path: '/images/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Электрогрелка'
            }, 
          })(class= cellClasses({ xs:12 }))
      h3 Особенности хирургического лечения
      p Вне зависимости от&nbsp;существования нескольких методов хирургического лечения тригеминальной невралгии, нейрохирурги практикуют васкулярную декомпрессию, которую выполняют с&nbsp;помощью микрохирургического вмешательства. Выбор этого способа обоснован, поскольку направлен именно на&nbsp;механизм развития заболевания.
      p Цель микроваскулярной декомпрессии&nbsp;&mdash; устранение нейроваскулярного конфликта в&nbsp;области поражения нервных структур. Как только нейрохирург получает доступ к&nbsp;пораженному участку, он&nbsp;разобщает КТН и&nbsp;сосуд. 
      p Для этого устанавливает специальный протектор (синтетический губчатый материал), который и&nbsp;препятствует защемлению корешка тройничного нерва сосудом. 

    +pageSubsection
      h2#troynichnogo-nerva-6 Популярные вопросы и&nbsp;ответы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Можно&nbsp;ли предотвратить воспаление тройничного нерва?</h3>').par
          p Нет, поскольку основная причина заболевания&nbsp;&mdash; аномалии строения сосудов, точная причина которых не&nbsp;установлена. 
          p Но&nbsp;важно избегать травмирования, а&nbsp;если невралгия уже диагностирована, тогда нужно беречь лицо от&nbsp;воздействия холодных воздушных масс, поскольку они провоцируют возобновление болевых приступов.
        +accordionItem('<h3>Что нельзя делать при невралгии лицевого нерва?</h3>').par
          p Нельзя посещать баню, сауну, делать прогревание в&nbsp;области воспаления, использовать горячие компрессы.
        +accordionItem('<h3>Какая длительность болевого приступа при этом заболевании?</h3>').par
          p Болевой приступ длится от&nbsp;3&nbsp;минут до&nbsp;3&nbsp;дней.
        +accordionItem('<h3>Как отличить невралгию от&nbsp;зубной боли?</h3>').par
          p При тригеминальной невралгии болевой приступ проявляется на&nbsp;одной стороне, боль отдает не&nbsp;только в&nbsp;десны, зубы, но&nbsp;и&nbsp;в&nbsp;нижнюю, верхнюю челюсть, а&nbsp;также область виска.
          p Также невралгию следует отличать от&nbsp;пульпита, поскольку она не&nbsp;сопровождается повышенной чувствительностью зубов во&nbsp;время приема горячей и&nbsp;холодной пищи.
        +accordionItem('<h3>Может&nbsp;ли воспаление тройничного нерва на&nbsp;лице пройти самостоятельно?</h3>').par
          p Нет, поскольку это хроническая болезнь. Но&nbsp;если соблюдать врачебные рекомендации, можно существенно снизить интенсивность и&nbsp;частоту болевых приступов.
        +accordionItem('<h3>Что будет, если не&nbsp;лечить заболевание?</h3>').par
          p Запущенная тригеминальная невралгия вызывает хронический конъюнктивит, подергивание лицевых мышц, снижение кожной чувствительности, дистрофию жевательных мышц. Отек щеки, который развивается при сильном воспалении тройничного нерва, сопровождается деформацией лица в&nbsp;области иннервации.
          p Также болезнь вызывает социальные, психологические проблемы, ведет к&nbsp;потере трудоспособности.
        +accordionItem('<h3>Изменение погодных условий влияет на&nbsp;болевые приступы?</h3>').par
          p Да, мучительные боли может провоцировать воздействие ветра и&nbsp;холодного воздуха на&nbsp;триггерные точки, расположенные в&nbsp;разных участках лица. Но&nbsp;тройничный нерв не&nbsp;может быть застужен, потому такую формулировку считают неправильной. 
        +accordionItem('<h3>Стресс может усугубить заболевание?</h3>').par
          p Да, поскольку установлена взаимосвязь между стрессовым состоянием и&nbsp;болевой реакцией. При хроническом течении заболевания у&nbsp;пациента повышается чувствительность к&nbsp;боли, спровоцированной стрессом.
        +accordionItem('<h3>Какие продукты могут вызвать и&nbsp;усугубить болевой приступ?</h3>').par
          p Цитрусовые фрукты, шоколад, напитки и&nbsp;продукты, содержащие кофеин, а&nbsp;также острая и&nbsp;пряная пища. Возникновение боли связывают и&nbsp;с&nbsp;резким запахом компонентов блюд, например, перца.

    +pageSubsection
      h2#troynichnogo-nerva-7 Источники
      ol.list-ordered
        li Балязина Е.В. Диагностика классической невралгии тройничного нерва&nbsp;/ Е.В. Балязина // Бюллетень Сибирской медицины.&nbsp;2010.
        li Балязина Е.В. Этиология и&nbsp;патогенез невралгии тройничного нерва&nbsp;/ Е.В. Балязина // Неврологический журнал. &mdash;&nbsp;2012. &mdash;&nbsp;Т. 17, &#8470;&nbsp;4. &mdash;&nbsp;С. 4-12. 
        li Манвелов Л.С., Тюрников В.М., Кадыков А.В. Принципы лечения и&nbsp;ведения больных невралгией тройничного нерва. РМЖ. 2014;16:1198.
        li Степанченко А.В. Невралгия тройничного нерва. РМЖ. 2003;25:1381.
        li Уилсон-Паувелс&nbsp;Л., Акессон Э. Дж., Стюарт П.А. (1998). Черепные нервы: анатомия и&nbsp;клинические комментарии. B.&nbsp;C.&nbsp;Decker.
        li Шиманский В.Н., Коновалов А.Н., Пошатаев В.К. Васкулярная декомпрессия при невралгии тройничного нерва, гемифациальном спазме, невралгии языкоглоточного нерва. М.: Издательство ИП&nbsp;&laquo;Т.А. Алексеева&raquo;, 2017. 91&nbsp;с.
        li Gardner&nbsp;W.&nbsp;J., Miklos M.&nbsp;V. Response of&nbsp;trigeminal neuralgia to&nbsp;&laquo;decompression&raquo; of&nbsp;sensory root. Discussion of&nbsp;cause of&nbsp;trigeminal neuralgia // J.A.M.A. &mdash;&nbsp;1959. &mdash;&nbsp;Vol.170. &mdash;&nbsp;P. 1773&ndash;1776.
        li Jannetta P.&nbsp;J. Neurovascular compression in&nbsp;cranial nerve and systemic disease // Ann. Surg. &mdash;&nbsp;1980. &mdash;&nbsp;Vol.&nbsp;192, N&nbsp;4. &mdash;&nbsp;P. 518&ndash;525.
        li Jannetta P.&nbsp;J. Microvascular decompression of&nbsp;the trigeminal nerve root entry zone: theoretical considerations, operative anatomy, surgical techniques, and results // Trigeminal Neuralgia&nbsp;/ Eds R.&nbsp;I. Rovit, R.&nbsp;Murali, P.&nbsp;J. Jannetta. &mdash;&nbsp;Baltimore: Md: Williams &amp;&nbsp;Wilkins, 1990. &mdash;&nbsp;P. 201&ndash;222.
