.reviews-footer
  @media (min-width point-m)
    display grid
    grid-template-columns 10rem auto 10rem
    align-items center
  @media (max-width point-m - 1)
    display flex
    flex-direction column
  &__button
    @media (min-width point-m)
      justify-self center
    @media (max-width point-m - 1)
      align-self center
      width 100%
      margin-top var(--base-padding)
