.tourism-header 
  color var(--color-white)
  background-color #0D525C
  &__list
    p
      &::before
        content '•'
        position absolute
        top 0
        left 0
        width 1em
        height 1em
  &__link
    color #0D525C
    text-decoration none
    background-color var(--color-white)
    transition-property background-color, color
    transition-duration var(--transition-duration-out)
    appearance none
    &:hover
      color var(--color-bg)
      background-color var(--color-button)
      transition-duration var(--transition-duration-in)
    &:active
      color var(--color-bg)
      --color-button var(--color-button-active)
