.tourism-header 
  border-radius var(--border-radius)
  &__inner
    display flex
    flex-direction column
    align-items flex-start
    row-gap calc(var(--base-padding)*1.5)
    margin auto
    padding calc(var(--base-padding)*1.5)
    @media(max-width point-l - 1)
      row-gap calc(var(--base-padding)*0.8)
      padding var(--base-padding)
  &__title
    font-size 2rem
    line-height 1.25
    font-weight 700
  &__list
    font-size 1.25rem
    p + p
      margin-top .25rem
    p
      position relative
      padding-left 1rem
  &__link
    display block
    padding 0.625rem 1.125rem
    font-size 1.25rem
    border-radius var(--border-radius)
  &__image
    display block !important
    border-radius 0
    border-top-right-radius var(--border-radius)
    border-bottom-right-radius var(--border-radius)
    @media(max-width point-m - 1)
      border-top-right-radius 0
      border-bottom-right-radius var(--border-radius)
      border-bottom-left-radius var(--border-radius)
