.block-marked
  background-color var(--color-white)
  &--grey
    background-color var(--color-bg)
  &--grey--without-border
    background-color var(--color-bg)
  &--white
    background-color var(--color-white)
  &--researches
    &::before
      content ''
      position absolute
      top -2.5rem
      left -2.5rem
      z-index 20
      width 12rem
      height 12rem
      background-color var(--color-primary)
      border-radius 100vmax
    &::after
      content ''
      position absolute
      top 2.125rem
      left 2rem
      z-index 21
      width 3.75rem
      height 4.375rem
      background-color var(--color-white)
      mask-image url(../images/svg-sprites/common.svg#researches)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
  &--loan
  &--tax
    &::before
      content ''
      position absolute
      top 2rem
      right 2rem
      z-index 2
      height 4.125rem
      background-color var(--color-white)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      @media (max-width point-l - 1)
        top var(--base-padding)
        right var(--base-padding)
        height 2.0625rem
    &::after
      content ''
      position absolute
      top -10rem
      right -6rem
      z-index 1
      width 20rem
      height 20rem
      border-radius 100vmax
      background-color var(--color-primary)
      @media (max-width point-l - 1)
        width 10rem
        height 10rem
        top -5rem
        right -2rem
  &--loan
    &::before
      mask-image url(../images/svg-sprites/common.svg#block-marked--loan)
  &--tax
    &::before
      mask-image url(../images/svg-sprites/common.svg#block-marked--tax)
