.block-marked
  padding var(--gap)
  border-radius 10px
  &.content
    @media (max-width point-l - 1)
      padding var(--gap) var(--base-padding)
    @media (min-width point-l)
      max-width calc(var(--content-width) + (10rem - var(--gap) * 2))
      margin-x -5rem
      padding 4rem
  &--grey
    border-bottom 2px solid var(--color-primary)
    border-radius 10px 10px 0 0
  &--white
    border-bottom 2px solid var(--color-primary)
    border-radius 10px 10px 0 0
  &--researches
    position relative
    display flex
    flex-direction column
    justify-content center
    overflow hidden
    padding-left 12rem
  &--loan
  &--tax
    position relative
    overflow hidden
    .text-marked:first-child
      @media (max-width point-l - 1)
        padding-right 4rem
  &--loan
    @media (min-width point-l)
      padding-right 12rem
    &::before
      width 6.25rem
      @media (max-width point-l - 1)
        width 3.125rem
  &--tax
    @media (min-width point-l)
      padding-right 14.6875rem
    &::before
      width 8.375rem
      @media (max-width point-l - 1)
        width 4.1875rem
