.article-doctor
  background-color var(--color-bg)
  border-radius 10px 10px 0 0
  z-index 1
  &__verified
    color var(--color-text-light)
    @media(max-width point-s - 1)
      align-self center
  &__name
    text-decoration none
