.article-doctor
  position relative
  display grid
  grid-template-columns auto 1fr
  grid-auto-rows min-content
  column-gap 1.5rem
  padding-x 2rem
  padding-bottom 1.5rem
  border-bottom 2px solid var(--color-primary)
  @media(max-width point-m - 1)
    row-gap 0.5rem
  @media(max-width point-s - 1)
    padding-x calc(var(--base-padding) * 1.5)
    padding-top 1.5rem
  &__verified
    grid-column 2/3
    grid-row 1/2
    font-size 1rem
    line-height normal
    font-weight bold
    @media (min-width point-s)
      padding-top 1.5rem
  &__name
    grid-column 2/3
    grid-row 2/3
  &__job
    grid-column 2/3
    grid-row 3/4
    line-height normal
    @media(max-width point-s - 1)
      grid-column 1/-1
      font-size 0.9rem
  &__image
    grid-column 1/2
    grid-row 1/4
    max-width 5.5rem
    @media(max-width point-s - 1)
      grid-row 1/3
      max-width 4rem
  &__date
    grid-column 1/-1
    margin-top 0.75rem
    @media(max-width point-m - 1)
      margin-top 0
    @media(max-width point-s - 1)
      font-size 0.9rem
