include /blocks/block-marked/block-marked

mixin consultationOthersList(list)
  .block-marked.consultation-others-list
    .consultation-others-list__header.consultation-title Другие вопросы
    each item in list
      .consultation-others-list__item
        .consultation-others-list__title
          a(href='/') !{item.title}
        if item.question
          p.consultation-others-list__question !{item.question}... 
