.consultation-others-list
  display flex
  flex-direction column
  &__header
    margin-bottom 1.25rem
  &__title
    margin-top 0
    margin-bottom .4rem
    font-size 1.25rem
    font-weight 400
    @media(max-width point-m - 1)
      font-size 1rem
  &__item
    position relative
    padding-left 34px
    &::before
      content ''
      position absolute
      top 4px
      left 2px
      width 20px
      height 20px
      background-color #9D9EA0
      mask-image url(../images/svg-sprites/inner.svg#consultation-similar__item)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    & + &
      margin-top 0.8rem
  &__question
    // white-space nowrap
    overflow hidden
    // text-overflow ellipsis
    // line-clamp 2
    display -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp 2
