.page-subsection
  --margin-top var(--gap)
  & + &
    margin-top var(--margin-top)
  h2 + &
  & + h2
    margin-top 2rem
  h3 + &
  & + h3
    margin-top var(--base-padding)
  &--level--2
    --margin-top var(--base-padding)
