.list-unordered
  $textSizeM()
  pushPar(selector())
  --color-marker var(--color-primary) 
  li
    position relative
    padding-left 1.75em
    &::before
      content ''
      position absolute
      top .125rem
      left .125rem
      width 1em
      height 1em
      background-color var(--color-marker)
      mask-image url(../images/svg-sprites/common.svg#check)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    & + li
      margin-top .25rem
  &--column-2
    @media(min-width point-s)
      column-count 2
