@font-face
  font-family 'Scada'
  src local("Scada Regular"), url("../fonts/Scada-Regular.woff2") format("woff2")
  font-weight normal
  font-style normal
  font-display swap

@font-face
  font-family 'Scada'
  src local("Scada Bold"), url("../fonts/Scada-Bold.woff2") format("woff2")
  font-weight Bold
  font-style normal
  font-display swap

@font-face
  font-family 'PT Sans Narrow'
  src local("PT Sans Narrow Regular"), url("../fonts/PT-Sans_Narrow-Regular.woff2") format("woff2")
  font-weight normal
  font-style normal
  font-display swap
