$fontSize3xl()
  font-size 2rem
  line-height 1.25
$fontSize2xl()
  font-size 1.5rem
  line-height 1.25
$fontSizeXl()
  font-size 1.25rem
  line-height 1.25
$fontSizeL()
  font-size 1.125rem
  line-height 1.5
$fontSizeM()
  font-size 1rem
  line-height 1.5
$fontSizeS()
  font-size .875rem
  line-height 1.5
$fontSizeXs()
  font-size .75rem
  line-height 1.5
$fontSizeButton()
  font-size 1.125rem
  line-height 1.25
