// breakpoints

point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1366px
point-hd = 1600px

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n

$par = ()

pushPar($item)
  for $i in split(',', $item)
    push($par, $i)

parMargin()
  for $item in $par
    {$item}
      for $item2 in $par
        {$item2} + &
          margin-top 1.25rem
    :is(h1, h1, h2, h2) + {$item}
      margin-top .5rem
    :is(h3, h3, h4, h4) + {$item}
      margin-top .25rem
    {$item} + :is(h1, h1, h2, h2, h3, h3, h4, h4)
      margin-top 1.25em
