:root
  --color-text #646466
  --color-text-light #9d9ea0
  --color-primary #4fb14a
  --color-bg #f8f7f6
  --color-bg-secondary #f1f0ee
  --color-white #ffffff
  --color-black #242424
  --color-blue #3a7ee4
  --color-border #e4e4e4
  --color-red #b91d33

  --color-link #3197db
  --color-link-hover #6aa1f2
  --color-link-active #134794

  --color-button var(--color-primary)
  --color-button-hover #368132
  --color-button-active #3B7B38

  --transition-duration-in 100ms
  --transition-duration-out 400ms

  --border-radius 10px
  --box-shadow 0 5px 20px 0 rgba(0,0,0,.2)
