.form-input
  &--checkbox
    display flex
    & ^[-1]__field
      appearance none
      flex-shrink 0
      order 1
      width 1rem
      height 1rem
      margin-top .125rem
      margin-right .375rem
      padding 0
      border 2px solid #a0cd65
      border-radius .25rem
      transition-property border-color, background-color
      transition-duration var(--transition-duration-out)
      &:hover
        border-bottom-color #a0cd65
      &:checked
        background-color var(--color-primary)
        background-image url(../images/svg-sprites/common.svg#form-input__field_checked)
        background-repeat no-repeat
        background-position center
        background-size 1.5rem
        border-color var(--color-primary)
        transition-duration var(--transition-duration-in)
    & ^[-1]__label
      order 2
  &__field
  &__select
    transition border-bottom-color var(--transition-duration-out)
    &:hover
    &:focus
      border-bottom-color var(--color-primary)
      outline none
      transition border-bottom-color var(--transition-duration-in)
  &__checkbox
    flex-shrink 0
    margin-right calc(var(--base-padding)/2)
