.form-input
  position relative
  display block
  &__field
  &__select
    display block
    width 100%
    padding calc(var(--base-padding)/3*2) 1.875rem
    font-family 'Scada', sans-serif
    line-height 1.5
    border none
    border-bottom 2px solid var(--color-border)
    border-radius 10px
    textarea&
      height calc(9.75rem + 2px)
      resize none
  &__label
    $fontSizeM()
    display inline-block
    margin-bottom calc(var(--base-padding)/3)
