extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content.wrapper
    +grid({ 'justify': 'space-between' })
      +cell({ l:7, m:8, s:12 })
        p Клипирование аневризмы сосудов головного мозга&nbsp;&mdash; это микрохирургическое вмешательство, в&nbsp;ходе которого на&nbsp;мешковидное образование сосудов накладывается клипса, приток крови к&nbsp;аневризме прекращается и&nbsp;прогрессирование патологического процесса останавливается.
        p Проводим в&nbsp;случае, когда в&nbsp;ходе диагностики у&nbsp;пациента обнаружено патологическое выпячивание стенок артерий головного мозга, величина которого более 7&nbsp;миллиметров.
      +cell({ l:4, m:4, s:10 })
        +img({
          name: 'clipping',
          path: '/images/operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Схема клипирования аневризмы головного мозга' title= 'Схема клипирования аневризмы головного мозга' width=622 height=422).box-shadow
        p.par Схема клипирования аневризмы головного мозга

    h2 Почему клипирование аневризмы в&nbsp;СПб лучше проводить в&nbsp;нашем Центре?
    +grid({ tag: 'ul' })
      +iconBlock({ tag: 'li', knife: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Эффективная хирургическая помощь и&nbsp;точность вмешательств за&nbsp;счет транскраниальной магнитостимуляции и&nbsp;идентификации зон головного мозга.
      +iconBlock({ tag: 'li', globe: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Операцию по&nbsp;клипированию аневризмы головного мозга проводят нейрохирурги, которые практикуют мировые методики лечения (в&nbsp;частности изобретенные и&nbsp;запатентованные в&nbsp;Японии).
      +iconBlock({ tag: 'li', pills: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Средства для общего наркоза подбираем последнего поколения, гипоаллергенные, которые совместимы с&nbsp;другими препаратами, быстро выводятся из&nbsp;организма и&nbsp;не&nbsp;имеют токсичного воздействия. 
      +iconBlock({ tag: 'li', ecg: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Минимизируем риск осложнений, повышаем эффективность помощи за&nbsp;счет современного оснащения операционных системами нейромониторинга, видеоангиографии, 3D-нейронавигации. 
      +iconBlock({ tag: 'li', certificate: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Помощь даже в&nbsp;самых сложных случаях за&nbsp;счет авторских методик, которые запатентованы. 
      +iconBlock({ tag: 'li', microscope: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Минимальная травматичность операции за&nbsp;счет использования хирургического микроскопа, интраоперационного мониторинга, потому здоровые структуры не&nbsp;повреждаются. 

    h2 Цена
    +iconBlock({ coins: true }): p Цена клипирования аневризмы зависит от&nbsp;сложности случая, стоимости материалов, медикаментов и&nbsp;оборудования. Полную сумму назовет нейрохирург во&nbsp;время первого визита в&nbsp;Центр. 
    h2 Особенности операции
    p В&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; аневризмы сосудов головного мозга лечим методом клипирования. 
    h3 Преимущества и&nbsp;особенности метода:
    ul.list-unordered
      li Более надежный способ отключения патологического выпячивания мозговых артерий от&nbsp;кровотока.
      li Высокая эффективность операции для пациентов в&nbsp;хорошем клиническом состоянии.
      li Приток крови к&nbsp;аневризме перекрывается, потому риск роста и&nbsp;разрыва сосудов минимизируется. 
      li Клипс микроскопических размеров, изготовлен из&nbsp;особого титанового сплава, конструкция продумана настолько, чтобы не&nbsp;позволять сползать с&nbsp;аневризмы.

    h3 Особенности подготовительного этапа
    p Пациент проходит консультацию у&nbsp;невролога, нейрохирурга, получает заключение терапевта об&nbsp;отсутствии противопоказаний к&nbsp;операции, а&nbsp;при наличии хронических заболеваний&nbsp;&mdash; смежных специалистов. 
    ul.list-unordered
      li Первым проводят УЗИ сосудов головного мозга, как информативное, доступное и&nbsp;быстрое исследование. 
      li Практикуем КТ&nbsp;и&nbsp;МРТ-исследования, высокоточные способы диагностики, в&nbsp;ходе которых получаем множественные послойные изображения высокой четкости. Оценив степень развития патологии с&nbsp;разных ракурсов, удается спланировать операцию максимально точно. 
      li С&nbsp;помощью ангиографии получаем данные о&nbsp;точном расположении, величине, форме аневризмы.
      li Если нужно клипирование разорвавшейся аневризмы, тогда проводим исследование спинномозговой жидкости на&nbsp;наличие крови, что подтверждает факт кровоизлияния.
    
    p Также, для оценки состояния пациента перед нейрохирургическим вмешательством, направляем на&nbsp;общие анализы: клинический, биохимический анализ крови, мочи, ЭКГ, рентген легких или флюорографию, УЗИ вен нижних конечностей. 

    .par(class= gridClasses({ 'columns':10 }))
      .block-analysis(class= cellClasses({l:2, m:5, s:5}))
        +img({
          name: 'analysis-blood',
          path: '/images/operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Анализы крови' title= 'Анализы крови' width=460 height=306)
        p.block-analysis__inner Анализы крови

      .block-analysis(class= cellClasses({l:2, m:5, s:5}))
        +img({
          name: 'analysis-urine',
          path: '/images/operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Анализ мочи' title= 'Анализ мочи' width=460 height=306)
        p.block-analysis__inner Анализ мочи

      .block-analysis(class= cellClasses({l:2, m:5, s:5}))
        +img({
          name: 'analysis-ecg',
          path: '/images/operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'ЭКГ' title= 'ЭКГ' width=460 height=306)
        p.block-analysis__inner ЭКГ

      .block-analysis(class= cellClasses({l:2, m:5, s:5}))
        +img({
          name: 'analysis-xrays',
          path: '/images/operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Рентген легких' title= 'Рентген легких' width=460 height=306)
        p.block-analysis__inner Рентген легких

      .block-analysis(class= cellClasses({l:2, m:5, s:5}))
        +img({
          name: 'analysis-ultrasound',
          path: '/images/operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'УЗИ вен нижних конечностей' title= 'УЗИ вен нижних конечностей' width=460 height=306)
        p.block-analysis__inner УЗИ вен нижних конечностей

    p Анестезиолог проверяет отсутствие аллергической реакции к&nbsp;компонентам наркоза, подбирает оптимальный препарат в&nbsp;нужной дозировке. 
    h3 Ход операции
    +grid({ tag: 'ol' }).list-ordered-blocks.par
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Вводим в&nbsp;состояние наркоза, на&nbsp;оборудовании последнего поколения непрерывно мониторим жизненно важные функции пациента.
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Фиксируем голову пациента в&nbsp;специальном трехконтактном устройстве, чтобы удерживать ее&nbsp;в&nbsp;одном положении в&nbsp;течение всей операции.
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Делаем разрез кожи, отодвигаем ее&nbsp;совместно с&nbsp;мышцами. Микроинструментом проделываем отверстия в&nbsp;черепе. 
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Под окуляром операционного микроскопа определяем место расположения поврежденного участка. 
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Нейрохирург устанавливает металлическую клипсу на&nbsp;стенку аневризмы, за&nbsp;счет чего она перестает кровоснабжаться. 
      +cell({ tag: 'li', l: 4, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Возвращаем костный лоскут на&nbsp;место, фиксируем его, накладываем на&nbsp;кожу швы из&nbsp;тонкого, но&nbsp;прочного шовного материала.

    h3 Послеоперационный этап
    p После операции пациент находится в&nbsp;палате пробуждения, где за&nbsp;его состоянием наблюдает анестезиолог-реабилитолог. Спустя 1-2 дня прооперированного переводят в&nbsp;стационарную палату, где проводим контроль анализов, перевязки, регулярные осмотры. Через несколько дней пациента выписываем. 
    p Практикуем раннюю активацию, индивидуальную программу восстановления и&nbsp;занятия с&nbsp;реабилитологом в&nbsp;палате и&nbsp;на&nbsp;дому. 
    p Первое время после операции запрещено посещение бани, сауны, физиотерапия, загорание, чрезмерные физические нагрузки, работа в&nbsp;наклонном положении.

    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Какие последствия клипирования аневризмы?</h3>').par
        p Восстанавливается функция речи, исчезает головная боль, зрительные, психомоторные, двигательные нарушения.
      +accordionItem('<h3>Назовите причины аневризмы</h3>').par
        p Травмы головного мозга, генетическая склонность, атеросклероз сосудов, инфекции артериальных стенок, аномальный кровоток в&nbsp;месте соединения сосудов.
      +accordionItem('<h3>Какие основные симптомы?</h3>').par
        p Помутнение, нарушение остроты зрения, расширенные зрачки, паралич лица, тошнота, головная боль, общая слабость.
      +accordionItem('<h3>Назовите противопоказания</h3>').par
        p Операцию при церебральной аневризме не&nbsp;проводим при остром инфекционном, воспалительном процессе в&nbsp;организме, сахарном диабете, тяжелых соматических патологиях, нарушении свертываемости крови, онкологии четвертой стадии. 

      p Не&nbsp;рекомендуем откладывать с&nbsp;лечением аневризмы, поскольку она грозит глубокой инвалидизацией и&nbsp;опасна для жизни. Потому запишитесь на&nbsp;визит к&nbsp;врачу Центра вовремя!
