.home-regenerative
  &__link
    position relative
    display block
    width 100%
    height 325px
    text-decoration none
    border-radius var(--border-radius)
    overflow hidden
    z-index 2
    &:hover .home-regenerative__image
      transform scale(1.1)
  &__image
    position absolute
    width 100%
    height 100%
    background-size cover
    border-radius var(--border-radius)
    transition all 0.3s ease-in-out
    z-index -1
    &--sport
      background radial-gradient(73.8% 44.77% at 50% 50.92%, rgba(89, 66, 31, 0.65) 0%, rgba(117, 106, 87, 0) 100%), url(../images/sport-traumatology.webp) center no-repeat
    &--osteoarthritis
      background radial-gradient(95.11% 57.69% at 50% 50.92%, rgba(124, 128, 140, 0.65) 0%, rgba(118, 120, 124, 0) 100%), url(../images/osteoarthritis.webp) center no-repeat
  &__text
    position absolute
    top 50%
    width 100%
    padding 0 1rem
    font-size 1.5rem
    line-height 1.25
    font-weight 700
    text-align center
    color var(--color-white)
    transform translate(0, -50%)
    z-index 1
