@import 'includes/mixins'
@import 'includes/font-sizes'
@import 'includes/reset'
@import 'includes/variables.core'
@import 'includes/fonts.core'

html
  overflow-x hidden
  font-family 'Scada', sans-serif
  font-size 16px
  color var(--color-text)
  scroll-behavior smooth
body
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
:is(h2, .h2) + :is(h3, .h3, h4, .h4)
  margin-top .25rem
:is(h3, .h3) + :is(h4, .h4)
  margin-top .2rem

@import '../blocks/button/button.core'
@import '../blocks/container'
@import '../blocks/content'
@import '../blocks/grid'
@import '../blocks/h2/h2.core'
@import '../blocks/header-navigation/header-navigation.core'
@import '../blocks/header-search/header-search.core'
@import '../blocks/header-switcher/header-switcher.core'
@import '../blocks/header/header.core'
@import '../blocks/home-header/home-header.core'
@import '../blocks/article-info/article-info.core'
@import '../blocks/img'
@import '../blocks/link-icons/link-icons.core'
@import '../blocks/article-doctor/article-doctor.core'
@import '../blocks/text-marked/text-marked.core'
@import '../blocks/list-ordered'
@import '../blocks/form-input/form-input.core'
@import '../blocks/tourism-header/tourism-header.core'
@import '../blocks/direction-item/direction-item.core'
@import '../blocks/block-marked/block-marked.core'
@import '../blocks/consultation-categories/consultation-categories.core'
@import '../blocks/consultation-answer/consultation-answer.core'
@import '../blocks/consultation-question/consultation-question.core'
@import '../blocks/consultation-more/consultation-more.core'
@import '../blocks/consultation-title'
@import '../blocks/slider/slider.core'
@import '../blocks/faq-item/faq-item.core'
@import '../blocks/list-unordered'
@import '../blocks/logo/logo.core'
@import '../blocks/modal/modal.core.styl'
@import '../blocks/page-section/page-section.core'
@import '../blocks/page-subsection/page-subsection.core'
@import '../blocks/par'
@import '../blocks/phone/phone.core'
@import '../blocks/text-align'
@import '../blocks/consultation-doctor'

parMargin()

.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore
