@import 'includes/variables.rest'
@import 'includes/mixins'
@import 'includes/font-sizes'
@import 'includes/fonts.rest'

body
  background-color var(--color-bg)

@import '../blocks/a'
@import '../blocks/advantage-item'
@import '../blocks/block-marked/block-marked.rest'
@import '../blocks/button/button.rest'
@import '../blocks/doctor-item'
@import '../blocks/footer'
@import '../blocks/footer-menu'
@import '../blocks/form-input/form-input.rest'
@import '../blocks/h2/h2.rest'
@import '../blocks/header-navigation/header-navigation.rest'
@import '../blocks/header-search/header-search.rest'
@import '../blocks/header-switcher/header-switcher.rest'
@import '../blocks/header/header.rest'
@import '../blocks/link-icons/link-icons.rest'
@import '../blocks/list-steps'
@import '../blocks/list-steps-item'
@import '../blocks/logo/logo.rest'
@import '../blocks/modal/modal.rest.styl'
@import '../blocks/phone/phone.rest'
@import '../blocks/review-item'
@import '../blocks/reviews-footer'
@import '../blocks/service-category'
@import '../blocks/slider/slider.rest'
@import '../blocks/text-marked/text-marked.rest'
@import '../blocks/page-section/page-section.rest'
@import '../blocks/text-marked-border'
@import '../blocks/visually-hidden'
@import '../blocks/form-submit'
@import '../blocks/iframe-responsive'
@import '../blocks/diagnostics-item'
@import '../blocks/home-numbers'
@import '../blocks/table'
@import '../blocks/direction-item/direction-item.rest'

.no-wrap
  white-space nowrap

.hyphens-auto
  hyphens auto

.text-hover
  display none

p:hover
  .text-hover
    display inline
  .text-original
    display none
