.tourism-service
  position relative
  border-radius var(--border-radius)
  background-color var(--color-white)
  @media(min-width point-s)
    &:hover
      background-color var(--color-white)
      transition-duration var(--transition-duration-in)
      border-bottom-right-radius 0
      border-bottom-left-radius 0
      & .tourism-service__list
        display block
        opacity 1
        pointer-events auto
        transition-duration var(--transition-duration-in)
        box-shadow 0px 5px 5px -5px rgba(0,0,0,.2)
      & .tourism-service__title
        &::before
          transform rotate(180deg)
          transition-duration var(--transition-duration-in)
  &__title
    $fontSizeXl()
    display flex
    padding-y 1.5rem
    padding-left 5.125rem
    min-height calc(2.5em + var(--base-padding))
    border-top-right-radius var(--border-radius)
    border-top-left-radius var(--border-radius)
    &::before
      content ''
      position absolute
      top 2rem
      left 2rem
      width 1.5rem
      height 1.25rem
      mask-image url(../images/svg-sprites/common.svg#header-navigation__item--parent_a_after)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      background-color var(--color-primary)
      transition transform var(--transition-duration-out) ease-in-out
    span
      position relative
      width min-content
      padding-bottom var(--base-padding)
      &::after
        content ''
        position absolute
        left 0
        bottom 0
        width 100%
        height .125rem
        background-color var(--color-primary)
    @media(max-width point-s - 1)
      &:has(.tourism-service__input:checked) 
        &::before
          transform rotate(180deg)
          transition-duration var(--transition-duration-in)
        & + .tourism-service__list
          display block
          // opacity 1
          // pointer-events auto
  &__input
    display none
  &__list
    position relative
    padding 0 2rem 2rem
    width 100%
    $fontSizeM()
    transition opacity var(--transition-duration-out)
    background-color var(--color-white)
    border-bottom-right-radius var(--border-radius)
    border-bottom-left-radius var(--border-radius)
    z-index 1
    @media(min-width point-s)
      position absolute
      pointer-events none
      opacity 0
    @media(max-width point-s - 1)
      display none
  &__item
    & + &
      margin-top .25rem
