include /blocks/block-marked/block-marked

mixin tourismService(service, settings = {})
  .tourism-service&attributes(attributes)
    label.tourism-service__title
      span !{service.name}
      input(type='checkbox').tourism-service__input
    .tourism-service__list
      each item in service.list
        .tourism-service__item: a(href= item.href) !{item.name} 
