.consultation-categories
  padding 30px
  &__list-item
    margin-top 20px
    & > span
      position relative
      display block
      padding-right 24px
      font-size 20px
      line-height 25px
  &__sublist
    display none
    margin-top 10px
  &__sublist-item
    display flex
    gap 10px
    margin-top 5px
    font-size 15px
    line-height 24px
  &__sublist-count
    font-size 15px
    line-height 24px
