.consultation-categories
  background-color #fff
  &__list-item
    & > span
      cursor pointer
      &::after
        content ''
        position absolute
        top 6px
        right 6px
        width 8px
        height 8px
        border-left 2px solid
        border-bottom 2px solid
        transform rotate(-45deg)
        transform-origin 50% 50% 0
    &--active
      & > span::after
        border-color #9D9EA0
        transform rotate(135deg)
      & > ^[-2]__sublist
        display block
  &__sublist-item
    --color-text #9D9EA0
    justify-content space-between
    &--active
      --color-text #646466
  &__sublist-name
    text-decoration none
    color var(--color-text)
    transition color .4s
    &:hover
      color #646466
      transition-duration .1s
  &__sublist-count
    color #4FB14A
