mixin figure(figure, settings = {})
  figure(class= classes('figure', settings))&attributes(attributes)
    +img(figure.image).figure__image.box-shadow
    - const imageAlt = figure.image
      figcaption.figure__caption !{imageAlt.alt}
