.header-switcher
  position relative
  color var(--color-bg)
  background-color transparent
  &--active
    background-color var(--color-button-hover)
  &::before
    content ''
    position absolute
    top 50%
    left 1.125rem
    width 2rem
    height 1.6875rem
    background-color var(--color-bg)
    mask-image url(../images/svg-sprites/common.svg#header-switcher)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    transform translateY(-50%)
    z-index 10
