.advantage-item
  display flex
  flex-direction column
  &__title
    $fontSizeXl()
    order 2
    margin-top 1.25rem
    color var(--color-black)
  &__description
    order 3
    margin-top .625rem
  &__image
    order 1
    box-shadow 0 5px 10px 0 rgba(0,0,0,.2)
