mixin advantageItem(item)
  .advantage-item&attributes(attributes)
    h3.advantage-item__title !{item.title}
    p.advantage-item__description !{item.description}
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [
        { values: [ 1, 2 ] }
      ],
    })(width=408 height=248 alt= item.title title= item.title).advantage-item__image
