.diagnostics-item
  display flex
  flex-direction column
  text-align center
  background-color var(--color-white)
  border-radius 10px
  &__title
    order 2
    margin 20px 20px 10px
    text-transform uppercase
    color var(--color-primary)
  &__description
    order 3
    margin 0 20px 20px
  &__image
    order 1
    border-radius 10px 10px 0 0
