mixin diagnosticsItem(item)
  .diagnostics-item&attributes(attributes)
    .diagnostics-item__title !{item.title}
    .diagnostics-item__description !{item.description}
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' }
      ],
    }).diagnostics-item__image
