mixin doctorItem(item)
  - const price = item.price || '2000 ₽'
  - const href = item.href || '/'
  .doctor-item&attributes(attributes)
    a(href= href).doctor-item__title !{item.title}
    .doctor-item__description: block
    if item.oldPrice
      +button({ tag: 'a' })(href='#appointment' data-modal).doctor-item__button Записаться / #[span.text-marked--old-price !{item.oldPrice}] !{price}
    else 
      +button({ tag: 'a' })(href='#appointment' data-modal).doctor-item__button Записаться / !{price}
    .doctor-item__image: +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
      density: [{
        values: [ 1, 2 ]
      }]
    })(alt= item.title title= item.title width=154 height=223)
