.doctor-item
  position relative
  isolation isolate
  display grid
  grid-template-areas 'image description description' 'title title title' 'button button button'
  grid-template-columns 35% auto 1fr
  grid-template-rows auto repeat(2, min-content)
  column-gap calc(var(--base-padding) * 1.5)
  row-gap var(--base-padding)
  .slide &
    height 100%
  @media (min-width point-m)
    padding calc(var(--base-padding) * 1.5)
    padding-top 0
  @media (max-width point-m - 1)
    padding var(--base-padding)
  &::before
    content ''
    position absolute
    right 0
    bottom 0
    left 0
    z-index -1
    height 100%
    background-color var(--color-white)
    border-bottom 2px solid var(--color-primary)
    border-radius 10px
    @media (min-width point-m)
      height calc(100% - var(--base-padding) * 1.5)
  &__title
    $fontSizeXl()
    grid-area title
    text-decoration none
  &__description
    $fontSizeS()
    grid-area description
    @media (min-width point-m)
      padding-top 3.75rem
    p
      font-size inherit
  &__button
    grid-area button
    align-self center
  &__image
    grid-area image
