include /blocks/page-section/page-section
include /blocks/phone/phone
include /blocks/link-icons/link-icons
include /blocks/footer-menu/footer-menu

footer.footer
  -
    const menus = [
      {
        name: 'Разделы',
        list: [ 'О центре', 'Специалисты', 'Цены', 'Отзывы', 'Вопрос-ответ', 'Контакты' ],
      },
      {
        name: 'Заболевания',
        list: [ 'Головной мозг', 'Спинной мозг', 'Позвоночник', 'Периферическая нервная система' ],
      },
      {
        name: 'Пациентам',
        list: [ 'Запись на прием', 'Госпитализация', 'Для иногородних', 'Заочная консультация', 'Статьи', 'Оплата онлайн' ],
      },
    ]
    const phones = [
      { number: '8 (800) 222-25-90', link: '+78002222590', description: 'бесплатно по России' },
      { number: '8 (921) 915-03-30', link: '+79219150330' },
    ]
  +pageSection({ noContent: true }).footer__top: +content(class= gridClasses())
    each menu in menus
      +cell({ l: 3, s: 6, xs: 12 })
        .footer__subtitle !{menu.name}
        +footerMenu(menu.list)
    +cell({ l: 3, s: 6, xs: 12 })
      .footer__subtitle Контакты
      each phone in phones
        +phone(phone).footer__phone
      .footer__socials
        span Напишите нам:
        +linkIcons([ 'vk', 'telegram', 'whatsapp' ])
      p.footer__email Почта: 
        a(href='mailto:info@neuros.ru') info@neuros.ru
      +button({ tag: 'a' })(href='/').footer__appointment Задать вопрос в консультацию
  +pageSection({ noContent: true }).footer__bottom: +content(class= gridClasses({ justify: 'space-between' }))
    +cell({ m: 6, xs: 12 })
      p ООО «Нейрохирургический центр имени профессора Г.С. Тиглиева «Новые технологии»
      p
        a(href='/') Лицензия
        |  на осуществление медицинской деятельности № 78-01-003026 выдана 07.10 2012 комитетом по здравоохранению г.Санкт-Петербурга
      p
        a(href='/') Соглашения на обработку персональных данных
        br
        a(href='/') Правила использования сайта
    +cell({ l: 5, m: 6, xs: 12 })
      +grid({ alignItems: 'center' }).footer__payments
        +cell({ xs: 4 }).footer__payment: include /includes/payment-visa.svg
        +cell({ xs: 4 }).footer__payment: include /includes/payment-mastercard.svg
        +cell({ xs: 4 }).footer__payment: include /includes/payment-mir.svg
      p.footer__developer: span
        a(href='https://medreclama.ru' target='_blank') Разработка сайта и продвижение клиники:
        |  Medreclama
