.footer
  &__top
    color var(--color-white)
    background-color #575757
  &__subtitle
    $fontSizeL()
    margin-bottom .625rem
    font-weight bold
  &__phone
    .phone
      &__description
        font-size 1rem
        color var(--color-white)
      &__number
        --color-link var(--color-white)
        @media (min-width: point-m)
          font-size 1rem
    & + &
      margin-top .25rem
  &__socials
    display flex
    flex-wrap wrap
    align-items center
    gap .625rem
    margin-top 1.25rem
  &__email
    --color-link var(--color-button)
    --color-link-hover var(--color-button-hover)
    --color-link-active var(--color-button-active)
    margin-top .625rem
  &__bottom
    --color-link var(--color-text)
    --color-link-hover var(--color-text)
    --color-link-active var(--color-text)
    background-color var(--color-text-light)
    a
      &:hover
        text-decoration none
  &__payments
    width fit-content
  &__developer
    display flex
    align-items center
    gap .625rem
    margin-top 2rem
    color #734D76
    &::before
      content ''
      flex-shrink 0
      display block
      width 3rem
      height 3rem
      background-image url(../images/svg-sprites/common.svg#medreclama-logo)
      background-repeat no-repeat
      background-position top
      background-size 4rem
