extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Синдром грушевидной мышцы
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        p Синдром грушевидной мышцы&nbsp;&mdash; это заболевание, которое связывают с&nbsp;компрессией (сдавлением) седалищного нерва волокнами грушевидной мышцы. 
        p Патологию связывают с&nbsp;ишиасом&nbsp;&mdash; термином, который используют для описания боли, возникающей из-за поражения седалищного нерва вследствие его компрессии или раздражения. 
        p То&nbsp;есть под ишиасом понимают симптом, который характеризуется болью в&nbsp;области седалищного нерва. А&nbsp;синдром грушевидной мышцы&nbsp;&mdash; одна из&nbsp;возможных причин ишиаса. 
        h2#ishias-1 Распространенность заболевания
        p Синдром грушевидной мышцы регистрируют в&nbsp;6-35% клинических случаев у&nbsp;пациентов, которые обращаются с&nbsp;жалобами на&nbsp;боль в&nbsp;нижней части спины. 
        p Разные процентные показатели связаны с&nbsp;трудностью постановки диагноза на&nbsp;это заболевание, а&nbsp;также невозможностью своевременного выявления, когда заболевание маскируют сопутствующие патологии. 
        p Синдром грушевидной мышцы чаще регистрируют в&nbsp;возрастном периоде между 30&nbsp;и&nbsp;50&nbsp;годами. Уровень физической активности и&nbsp;профессиональная деятельность не&nbsp;влияет на&nbsp;частоту заболеваемости этой патологией. 
      +cell({ m:6 })
        p Но&nbsp;синдром грушевидной мышцы чаще диагностируют у&nbsp;женщин. Ученые, занимающиеся исследованием этого вопроса, связывают такое явление с&nbsp;особенностями женской анатомии в&nbsp;области таза. 
        p В&nbsp;научных источниках также сказано, что заболевание диагностируют у&nbsp;50% пациентов, страдающих дискогенным пояснично-крестцовым радикулитом. 
        +figure({
          image: {
            name: 'ishias-1',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Указание врачом места компрессии'
          }, 
        }).par
    
    +pageSubsection
      h2#ishias-2 Причины и&nbsp;механизм развития 
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Синдром грушевидной мышцы относят к&nbsp;периферической невропатии седалищного нерва, которая связана с&nbsp;нарушением функционирования грушевидной мышцы.
          +figure({
            image: {
              name: 'ishias-2',
              path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Расположение грушевидной мышцы'
            }, 
          }).par
        +cell({ m:6 })
          p Также заболевание провоцирует микротравма, которая возникает после длительного сидения на&nbsp;твердой поверхности, чрезмерной физической нагрузки после бега, а&nbsp;также длительной ходьбы.
          p Ученые классифицируют синдромы на&nbsp;первичные и&nbsp;вторичные:
          ul.list-unordered
            li Первичные связаны с&nbsp;нетипичным расположением седалищного нерва, его разделением или&nbsp;же разделением грушевидной мышцы указанным нервом.
            li Вторичные появляются вследствие ишемии (недостатка кровоснабжения), разной длины ног, а&nbsp;также после травмирования. В&nbsp;85% клинических случаев регистрируют вторичные синдромы грушевидной мышцы. 
          p Самая распространенная причина синдрома грушевидной мышцы&nbsp;&mdash; обширная травма ягодиц, в&nbsp;результате которой возникает воспалительный процесс, спазм мышечных и&nbsp;сдавление нервных структур. При этом симптоматика может появляться спустя несколько месяцев после получения травмы.
          p Противовоспалительные вещества, которые высвобождает спазмированная мышца, выступают в&nbsp;качестве раздражающих веществ по&nbsp;отношению к&nbsp;седалищному нерву. В&nbsp;результате формируется устойчивый симптомокомплекс, который повторяется по&nbsp;кругу: возникает боль, спазм и&nbsp;воспаление.
    
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:12 })
        h2#ishias-3 Симптомы 
        p Характерный симптом синдрома грушевидной мышцы&nbsp;&mdash; повышение интенсивности боли в&nbsp;области ягодиц, как только пациент принимает сидячее положение, находясь в&nbsp;этой позе больше четверти часа.
        p Также больные описывают дискомфортные ощущения во&nbsp;время ходьбы, болевую реакцию, как только они меняют положение противоположной ноги. Например, сидя, закинув нога на&nbsp;ногу.
        p Если случилось сдавление малоберцовой ветви седалищного нерва, тогда появляются жалобы на&nbsp;болезненность или снижение/нарушение чувствительности, ощущение ползания мурашек.
      +cell({ m:6 })
        h3 Симптоматика, которая периодически встречается 
        ul.list-unordered
          li Болезненность, неспецифические ощущения в&nbsp;области бедра, ягодиц. 
          li Возникновение или повышение интенсивности боли, когда пациент лежит, стоит или сидит больше четверти часа.
          li Боль, возникающая с&nbsp;противоположной стороны от&nbsp;области поражения. 
          li Болезненность при выходе из&nbsp;сидячего положения.
          li Смена положения не&nbsp;приводит к&nbsp;полному прекращению боли.
          li Нарастание боли в&nbsp;покое, но&nbsp;уменьшение во&nbsp;время ходьбы.
          li Трудности во&nbsp;время ходьбы, которые проявляются свисающей стопой (когда стопу не&nbsp;поднимают вверх, потому она шлепает при ходьбе) или характеризуются анталгической походкой (когда пациент старается не&nbsp;наступать на&nbsp;ту&nbsp;ногу, которая болит).
          li Возникновение болезненности во&nbsp;время акта дефекации.
          li Боль во&nbsp;время полового акта у&nbsp;женщин.
          li Боль в&nbsp;других участках тела: тазовая, головная, абдоминальная (в&nbsp;брюшной полости).
          li Мышечная слабость.
          li Онемение стопы.
        p Симптомы, свидетельствующие о&nbsp;наличии синдрома грушевидной мышцы, связаны со&nbsp;сдавлением или мышечным спазмом нерва. Диагностический признак в&nbsp;этом случае&nbsp;&mdash; боль, возникающая в&nbsp;ответ на&nbsp;прикосновение к&nbsp;грушевидной мышце или близлежащим участкам тела. 
      +cell({ m:6 })
        h3 Симптоматика, указывающая на&nbsp;синдром грушевидной мышцы 
        ul.list-unordered
          li Спазм и&nbsp;болезненность грушевидной мышцы.
          li Болевая реакция в&nbsp;ответ на&nbsp;пальпацию пораженного участка.
          li Снижение интенсивности боли в&nbsp;случае вытяжения пораженной нижней конечности.
          li Положительный симптом при исследовании по&nbsp;методикам, предложенным разными авторами. 
          li Укорочение ноги на&nbsp;стороне поражения. 
          li Ограниченная подвижность нижней конечности. 
          li Атрофия ягодичных мышц (в&nbsp;случае перехода заболевания в&nbsp;хроническую форму). 
        +figure({
          image: {
            name: 'ishias-3',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Болевая зона при синдроме грушевидной мышцы'
          }, 
        }).par
    +pageSubsection
      h2#ishias-4 Диагностика
      p Для постановки диагноза используют методы мануального тестирования. Так проводят следующие исследования: тест Битти, Бонне-Бобровниковой, Миркина, Пейса, Тренделенбурга, Фрейбурга, Хьюза, FAIR-тест Фишмана, тест на&nbsp;подвижность грушевидной мышцы, а&nbsp;также обследуют на&nbsp;симптом Гроссмана, Ласега. 
      p Появление характерной болезненности или других изменений чувствительности, описанной авторами тестов, свидетельствует о&nbsp;положительном результате исследования, то&nbsp;есть позволяет поставить диагноз. 

      h3 Инструментальные методы исследования
      p В&nbsp;качестве таковых применяют компьютерную, магнитно-резонансную томографию, а&nbsp;также ультразвуковое исследование. Но&nbsp;&laquo;золотой стандарт&raquo; диагностики синдрома грушевидной мышцы пока отсутствует.
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'ishias-4',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Мануальная диагностика'
          }, 
        })(class= cellClasses({ m:6, xs:12 })) 
        +figure({
          image: {
            name: 'ishias-5',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Результат магнитно-резонансной томографии таза'
          }, 
        })(class= cellClasses({ m:6, xs:12 })) 
        +figure({
          image: {
            name: 'ishias-6',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Ультразвуковая диагностика'
          }, 
        })(class= cellClasses({ m:6, xs:12 })) 
        +cell({ m:6 })
          h4 Важность ультразвуковой диагностики
          p По&nbsp;сравнению с&nbsp;магнитно- резонансной томографией, ультразвуковое исследование рассматривают как приоритетный метод диагностики, учитывая его доступность, надежность, простоту проведения, а&nbsp;также мгновенную оценку состояния обследуемой области в&nbsp;режиме реального времени.
          p Так, авторы ввели диагностические критерии, а&nbsp;также протокол ультразвукового исследования, согласно которому определяют нормальную и&nbsp;аномальную толщину пораженных мышечных структур. Так, для этого пациента располагают в&nbsp;положении лежа на&nbsp;животе, после чего применяют специальный датчик, позволяющий определить толщину пораженной мышцы.
        +cell({ m:6 })
          h4 Компьютерная и&nbsp;магнитно-резонансная томография для постановки диагноза 
          p Эти инструментальные методы исследования актуальны, когда нужно исключить новообразования, сдавливающие нервно-мышечные структуры. 
          p С&nbsp;помощью магнитно-резонансной томографии выявляют денервацию, отек или атрофию мышечных структур. Также метод информативен для определения, насколько пораженные мышечные структуры увеличены в&nbsp;размерах. 
          p МРТ предпочитают&nbsp;за:
          ul.list-unordered
            li безвредность (поскольку отсутствует лучевая нагрузка);
            li неинвазивность (отсутствие вмешательства в&nbsp;организм через естественные барьеры);
            li улучшенную визуализацию за&nbsp;счет трехмерности изображения; 
            li превосходную просматриваемость мягких тканей;
            li возможность оценить тканевый обмен веществ. 
          p С&nbsp;помощью компьютерной томографии выявляют изменение плотности, величины пораженных мышечных структур, а&nbsp;также асимметричное увеличение нерва.
        +figure({
          image: {
            name: 'ishias-7',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Компьютерная томография'
          }, 
        })(class= cellClasses({ m:6, xs:12 })) 

    +pageSubsection
      h2#ishias-5 Лечение
      p Лечение синдрома грушевидной мышцы предполагает комплексный подход. Практикуют консервативное лечение, а&nbsp;в&nbsp;случае его неэффективности более трех месяцев&nbsp;&mdash; проводят оперативное вмешательство.

      h3 Особенности консервативного лечения
      p Пациентам назначают нестероидные противовоспалительные препараты, с&nbsp;помощью которых снимается воспаление, в&nbsp;целом облегчается симптоматика, снижается интенсивность боли. 
      p По&nbsp;данным других авторов&nbsp;&mdash; показаны лекарственные средства, предназначенные для лечения нейропатической боли.
      +grid({ smallGap: 'y' }).par 
        +cell({ m:6 })
          h4 Особенности физиотерапевтических методов и&nbsp;рефлексотерапии
          p Так, показаны упражнения на&nbsp;растяжку, позволяющие удлинить грушевидную мышцу, что облегчает состояние больных. Для этого проводят комплекс процедур по&nbsp;сгибанию бедра, повороту (меняют его положение в&nbsp;пространстве под определенным углом).
          p Назначают ударно-волновую терапию, которую предпочитают за&nbsp;отсутствие необходимости в&nbsp;медикаментозном лечении, улучшение показателей физической реабилитации, быстрое достижение эффекта.
          p Также в&nbsp;качестве лечения используют методику тройного иглоукалывания. Поскольку этот метод, по&nbsp;сравнению с&nbsp;традиционной иглорефлексотерапией, предполагает введение иглы непосредственно в&nbsp;точки, где ощущается боль, болезненность эффективнее уменьшается или полностью снимается. 
          p Согласно результатам исследований, иглоукалывание показано в&nbsp;случаях, когда организм пациентов не&nbsp;реагирует на&nbsp;медикаментозное лечение. 
        +cell({ m:6 })
          h4 Другие варианты консервативного лечения 
          ul.list-unordered
            li Метод локальной инъекционной терапии. Он&nbsp;предполагает введение местных анестетиков, глюкокортикостероидов. 
            li Мануальные методы, под которыми обычно подразумевают остеопатические техники. Так, практикуют трастовые, артикуляционные, мышечно-энергетические и&nbsp;техники Стилла. 
            li Ботулинотерапия. Введение ботулинотоксина типа&nbsp;A способствует расслаблению мышечных структур, в&nbsp;результате чего они прекращают сдавливать седалищный нерв. Чтобы повысить точность инъекций, дополнительно практикуют методы визуализации с&nbsp;помощью УЗИ, МРТ, КТ, выполняют рентгеноскопическую навигацию. Этот метод выбирают, когда заболевание прогрессирует, существенно снижая качество жизни, а&nbsp;остальные варианты лечения неэффективны. 
        +figure({
          image: {
            name: 'ishias-8',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Пример упражнения на растяжку грушевидной мышцы'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +figure({
          image: {
            name: 'ishias-9',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Ботулинотерапия'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell({ m:6 })
          h3 Особенности хирургического лечения
          p Хирургическое лечение синдрома грушевидной мышцы проводят, если вышеописанные методы не&nbsp;дали желаемого результата.
          p Суть хирургического лечения синдрома грушевидной мышцы сводится к&nbsp;декомпрессии седалищного нерва, а&nbsp;в&nbsp;некоторых случаях предполагает и&nbsp;устранение напряжения мышцы.
          p Для декомпрессии практикуют эндоскопический подход, который:
          ul.list-unordered
            li Способствует максимальной визуализации операционного поля. 
            li Предполагает щадящее воздействие на&nbsp;тканево-мышечные структуры, а&nbsp;потому минимальный косметический дефект в&nbsp;прооперированном участке. 
            li Снижает вероятность послеоперационной боли и&nbsp;осложнений в&nbsp;виде локального инфекционного процесса, гематом. 
            li Минимизирует период восстановления. 
        +figure({
          image: {
            name: 'ishias-10',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/ishias/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Операция по декомпрессии седалищного нерва'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))

    +pageSubsection
      h2#ishias-6 Почему лечение синдрома грушевидной мышцы лучше проводить в&nbsp;нашем Центре?
      ul.list-unordered
        li Максимальная точность и&nbsp;безошибочность оперативного лечения, поскольку полный визуальный контроль обеспечен с&nbsp;помощью эндоскопического оборудования и&nbsp;работы под окуляром интраоперационного микроскопа.
        li Риск осложнений сведен к&nbsp;нулю, поскольку операционные оснащены оборудованием последнего поколения, например, системой нейромониторинга.
        li Минимальная травматичность за&nbsp;счет щадящего хирургического вмешательства, поскольку практикуем микрохирургические техники.
        li Хирургическое лечение проводят нейрохирурги, которые придерживаются последних клинических рекомендаций и мировых стандартов.

    +pageSubsection
      h2#ishias-7 Популярные вопросы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Что нельзя делать при синдроме грушевидной мышцы?</h3>').par
          p Нужно избегать сильных физических нагрузок, не&nbsp;практиковать резкие и&nbsp;быстрые повороты, плавно преодолевать подъемы и&nbsp;спуски, обязательно делать разминку перед тренировками, а&nbsp;также снимать мышечное напряжение после их&nbsp;завершения.
        +accordionItem('<h3>Можно&nbsp;ли массировать грушевидную мышцу?</h3>').par
          p Да, массаж позволяет уменьшить болезненность, последствия сильного спазма, но&nbsp;полностью не&nbsp;решает проблему.
        +accordionItem('<h3>Где именно болит при этом заболевании?</h3>').par
          p Боль охватывает область ягодиц, паха, голени, а&nbsp;также бедра.
        +accordionItem('<h3>Как расслабить грушевидную мышцу в&nbsp;домашних условиях?</h3>').par
          p Для этого существует специальный комплекс упражнений для расслабления, которые лучше подбирать совместно со&nbsp;специалистом. Он&nbsp;учтет противопоказания, особенности течения заболевания и&nbsp;другие индивидуальные особенности пациента. 
        +accordionItem('<h3>Какой вариант МРТ выбрать для обследования грушевидной мышцы? </h3>').par
          p Для этого проходят магнитно-резонансную томографию поясничного отдела позвоночника. 

    +pageSubsection
      h2#ishias-8 Источники
      ol.list-ordered
        li Диагностика и&nbsp;лечение скелетно-мышечных (неспецифических) болей в&nbsp;нижней части спины: Клинические рекомендации. М.; 2021; 47&nbsp;с. 
        li Насонов&nbsp;Е.&nbsp;Л., Яхно&nbsp;Н.&nbsp;Н., Каратеев&nbsp;А.&nbsp;Е., Алексеева&nbsp;Л.&nbsp;И., Баринов&nbsp;А.&nbsp;Н., Барулин&nbsp;А.&nbsp;Е., Давыдов&nbsp;О.&nbsp;С., Данилов&nbsp;А.&nbsp;Б., Журавлева&nbsp;М.&nbsp;В., Заводовский&nbsp;Б.&nbsp;В., Копенкин&nbsp;С.&nbsp;С., Кукушкин&nbsp;М.&nbsp;Л., Парфенов&nbsp;В.&nbsp;А., Страхов&nbsp;М.&nbsp;А., Тюрин&nbsp;В.&nbsp;П., Чичасова&nbsp;Н.&nbsp;В., Чорбинская С.&nbsp;А. Общие принципы лечения скелетно-мышечной боли: междисциплинарный консенсус. Науч.-практич. ревматол.&nbsp;2016; 54 (3): 247&ndash;265. 
        li Одинак&nbsp;М.&nbsp;М., Дыскин Д.&nbsp;Е. Клиническая диагностика в&nbsp;неврологии: Рук. для врачей. СПб.: СпецЛит; 2010; 528&nbsp;с. 
        li Парфенов&nbsp;В.&nbsp;А., Яхно&nbsp;Н.&nbsp;Н., Давыдов&nbsp;О.&nbsp;С., Кукушкин&nbsp;М.&nbsp;Л., Чурюканов&nbsp;М.&nbsp;В., Головачева&nbsp;В.&nbsp;А., Исайкин&nbsp;А.&nbsp;И., Ачкасов&nbsp;Е.&nbsp;Е., Евзиков&nbsp;Г.&nbsp;Ю., Каратеев&nbsp;А.&nbsp;Е., Хабиров&nbsp;Ф.&nbsp;А., Широков&nbsp;В.&nbsp;А., Якупов Э.&nbsp;З. Хроническая неспецифическая (скелетно-мышечная) поясничная боль. Рекомендации Российского общества по&nbsp;изучению боли (РОИБ). Неврология, нейропсихиатрия, психосоматика.&nbsp;2019; 11 (2S): 7&ndash;16. 
        li Романенко&nbsp;В.&nbsp;И., Романенко&nbsp;И.&nbsp;В., Романенко Ю.&nbsp;И. Синдром грушевидной мышцы. Междунар. неврол. журн.&nbsp;2014; 8 (70): 91&ndash;95.
        li Сехвейл&nbsp;С., Гончарова З.&nbsp;А. Синдром грушевидной мышцы: дифференцированный подход к&nbsp;терапии. Рос. журн. боли.&nbsp;2020; 18&nbsp;(S): 66.
        li Фролов&nbsp;В.&nbsp;А., Акопян М.&nbsp;С. Мануальная терапия и&nbsp;визуальная цветоимпульсная терапия в&nbsp;реабилитации пациентов с&nbsp;синдромом грушевидной мышцы. Российский остеопатический журнал.&nbsp;2020; 3: 95&ndash;101.
