extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Неврома Мортона
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        p Неврома Мортона&nbsp;&mdash; это доброкачественное новообразование в&nbsp;области подошвенного пальцевого нерва, которое представляет собой утолщение, вызванное разрастанием фиброзной ткани. По&nbsp;этой причине ученые не&nbsp;рассматривают неврому в&nbsp;качестве истинной опухоли, а&nbsp;ограничиваются только терминологией &laquo;патологическое утолщение&raquo;. 
        p Заболевание относят к&nbsp;туннельным невропатиям. В&nbsp;литературе встречаются другие названия патологии: болезнь/синдром/метатарзалгия Мортона, неврома стопы, межпальцевая неврома. 
        p Неврома названа в&nbsp;честь американского хирурга-ортопеда&nbsp;&mdash; Томаса Джорджа Мортона, которому принадлежит авторство симптомокомплекса заболевания. 
        h2#nevroma-mortona-1 Распространенность заболевания
        p Заболевание встречается редко: в&nbsp;1,9% клинических случаев среди всех болезней стоп. Но&nbsp;в&nbsp;последние годы исследователи регистрируют более частые обращения больных этой патологией, что связано с&nbsp;совершенствованием диагностики и&nbsp;ростом научного интереса среди врачей профильных специальностей. 
        p Неврому Мортона рассматривают в&nbsp;качестве туннельного синдрома стопы: на&nbsp;эту форму поражения периферической нервной системы приходится до&nbsp;25% клинических случаев. 
        p Патологию провоцирует сдавление межпальцевого нерва между головками плюсневых костей, что регистрируют в&nbsp;4&nbsp;раза чаще у&nbsp;женщин, чем у&nbsp;мужчин. Это связано с&nbsp;тем, что женщины носят тесную обувь или на&nbsp;высоком каблуке. 
      +figure({
        image: {
          name: 'nevroma-mortona-1',
          path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          alt: 'Схема с выделением утолщения нерва (невромы) между плюсневыми костями.'
        }, 
      })(class= cellClasses({ m:6, xs:12 }))

    +pageSubsection
      h2#nevroma-mortona-2 Патогенез
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Природа происхождения невромы Мортона связана с&nbsp;туннельной невропатией. Под невропатией понимают невоспалительное поражение нервов периферической нервной системы, вызванное компрессией (сдавлением) либо связанное с&nbsp;травмированием. 
          p В&nbsp;норме, во&nbsp;время стояния и&nbsp;ходьбы, вес тела на&nbsp;стопу передается через согнутые пальцы и&nbsp;область пятки. Но&nbsp;сидение на&nbsp;корточках, ношение обуви на&nbsp;высоком каблуке провоцирует разгибание пальцев и&nbsp;смену давления, когда с&nbsp;пятки оно переходит на&nbsp;передний участок стопы. 
          +figure({
            image: {
              name: 'nevroma-mortona-2',
              path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Поражение нерва'
            }, 
          }).par
        +cell({ m:6 })
          p Неврома Мортона развивается после продолжительного сдавления подошвенных пальцевых нервов, связанного с&nbsp;длительной гиперэкстензией (избыточным разгибанием и&nbsp;деформацией) суставов. 
          p Как сообщают некоторые авторы, если пальцы розогнуты во&nbsp;время стояния или ходьбы, подошвенные пальцевые нервы прижимаются к&nbsp;связке, а&nbsp;также натягиваются. В&nbsp;результате и&nbsp;формируется компрессионно-тракционная невропатия (термин &laquo;тракция&raquo; означает длительное растяжение/натяжение/вытягивание). 
          p Для периферических нервов характерна адаптация к&nbsp;измененному положению конечностей, принцип которой заключается в&nbsp;скользящих движениях, которые нерв совершает в&nbsp;ложе. 
          p Патологический&nbsp;же процесс, охватывающий нервы в&nbsp;результате их&nbsp;сдавления, нарушает упомянутый механизм приспособления. В&nbsp;результате принцип развития туннельной невропатии (к&nbsp;которой относят неврому Мортона) заключается в&nbsp;увеличении тканей, окружающих нерв, в&nbsp;объеме, нарастании давления в&nbsp;средине туннеля, нарушении кровоснабжения в&nbsp;пережатом участке, гиперфиксации нерва. 
          p Неврома Мортона формируется при чрезмерном сдавлении плюсневой области. Давление особенно нарастает как при уплощении, так и&nbsp;при отсутствии поперечного свода стопы, что связано с&nbsp;плоскостопием. 
          
    +pageSubsection
      h2#nevroma-mortona-3 Причины
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Главная причина&nbsp;&mdash; деформация суставов плюсны, связанная с&nbsp;ношением неудобной обуви, чрезмерной массой тела, неправильной осанкой, нарушением походки, длительным стоянием, чрезмерной нагрузкой на&nbsp;стопы, а&nbsp;также очень длительной ходьбой.
          p Также среди основных причин развития заболевания называют чрезмерную нагрузку на&nbsp;передний отдел стопы. В&nbsp;группу риска относят спортсменов, чья профессиональная деятельность связана с&nbsp;силовыми видами спорта, а&nbsp;также тех, кто столкнулся с&nbsp;заболеваниями, провоцирующими деформацию стоп.
          p Выделяют неблагоприятные факторы, которые способствуют развитию патологии:
          ul.list-unordered
            li Гематомы.
            li Артроз.
            li Плоскостопие.
            li Воспалительные процессы, провоцирующие сдавление нерва.
            li Травмирование стоп, особенно многократное.
            li Нарушение кровообращения в&nbsp;области межпальцевых нервов.
        +figure({
          image: {
            name: 'nevroma-mortona-3',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Неудобная обувь с чрезмерной нагрузкой на передний отдел стопы - частая причина невромы Мортона'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
      p Ушибы, вывихи, переломы, гематомы, воспаление сосудов, сухожилий, новообразования в&nbsp;области плюсневых костей провоцируют раздражающее, сдавливающее воздействие на&nbsp;межпальцевый нерв. В&nbsp;результате его оболочки уплотняются и&nbsp;утолщаются, а&nbsp;на&nbsp;его волокнах разрастается соединительная ткань.
    
    +pageSubsection
      h2#nevroma-mortona-4 Симптоматика заболевания
      +grid({ smallGap: 'y' }).par
        +figure({
          image: {
            name: 'nevroma-mortona-4',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Болевые ощущения в переднем отделе стопы'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell({ m:6 })
          p Симптомы невромы Мортона в&nbsp;основном сводятся к&nbsp;болезненности, которая локализуется в&nbsp;переднем отделе стопы. 
          p Характерные проявления неврома Мортона: 
          ul.list-unordered
            li Постоянная боль сопровождается парестезиями (нарушением кожной чувствительности, связанной с&nbsp;нетипичными ощущениями). 
            li Для заболевания характерны приступы в&nbsp;виде стреляющей, жгучей боли, которая отдает в&nbsp;пальцы, провоцируя характерное поведение пациента. Так, человек, страдающий приступообразной болью при невроме Мортона, вынужден останавливаться во&nbsp;время движения, чтобы снять обувь, помассировать тот участок ноги, который вызывает у&nbsp;него дискомфортные ощущения.
            li В&nbsp;некоторых случаях болезненность сопровождается чувством онемения 4-го пальца.
            li Боль усиливается во&nbsp;время стояния на&nbsp;носочках, приседания и&nbsp;длительного нахождения в&nbsp;этом положении, при ношении обуви на&nbsp;высоких каблуках, в&nbsp;том числе при наличии плоскостопия.
              
    +pageSubsection
      h2#nevroma-mortona-5 Диагностика
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Осмотр стоп часто не&nbsp;дает результатов, поскольку внешние признаки болезни обычно отсутствуют. В&nbsp;редких случаях обнаруживают отек тыльной стороны стопы.
          p Некоторые авторы настаивают, что для постановки диагноза достаточно сбора анамнеза, а&nbsp;также осмотра, во&nbsp;время которого болезненность выявляют, постукивая по&nbsp;плюсневым костям. Глубокая пальпация информативна для обнаружения локальной болезненности, а&nbsp;также боли, которая отдает в&nbsp;пальцы. 
          p Выполняют компрессионный тест, сближая плюсневые кости, или просят пациента приседать на&nbsp;носочках (диагностика с&nbsp;помощью позиционной провокации). В&nbsp;результате появляется болезненность, которая характеризуется проявлениями, специфическими для этого заболевания. 
          h3 Инструментальные методы исследования
          p Для постановки диагноза на&nbsp;неврому Мортона выполняют рентгенографическое исследование, компьютерную томографию. Но&nbsp;эти методы не&nbsp;позволяют рассмотреть область утолщения нерва. 
        +cell({ m:6 })
          p Чаще пациента направляют на&nbsp;магнитно-резонансную томографию, во&nbsp;время которой новообразование визуализируется в&nbsp;качестве отграниченного участка, для которого характерна нечеткость изображения и&nbsp;повышенная интенсивность сигнала. Но&nbsp;визуализация с&nbsp;помощью МРТ все&nbsp;же затруднена, а&nbsp;в&nbsp;некоторых случаях недостаточно информативна.
          p В&nbsp;то&nbsp;же время лучевые методы обследования предназначены для дифференциации невромы Мортона от&nbsp;опухолей, травматических повреждений стоп, а&nbsp;также их&nbsp;осложнений.
          p Золотой стандарт диагностики при этом заболевании&nbsp;&mdash; УЗИ мягких тканей, в&nbsp;области которых располагается утолщение межпальцевого нерва.
          p Гистологическое исследование содержимого невромы позволяет установить диагноз в&nbsp;том случае, если обнаружен фиброз межпальцевого нерва, прилегающих сосудов, а&nbsp;также утолщение нервных структур.
        +figure({
          image: {
            name: 'nevroma-mortona-5',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Рентген стопы'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +figure({
          image: {
            name: 'nevroma-mortona-6',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Ультразвуковое обследование стопы'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
    
    +pageSubsection
      h2#nevroma-mortona-6 Лечение невромы Мортона
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Начинают с&nbsp;консервативного лечения невромы Мортона:
          ul.list-unordered
            li Для этого рекомендуют сменить обувь: выбрать модель с&nbsp;широким носком и&nbsp;низким каблуком или плоской подошвой.
            li Передний участок стопы разгружают, используя ортопедические стельки, а&nbsp;также супинаторами корректируют плоскостопие, если оно диагностировано.
            li Болевой синдром снимают с&nbsp;помощью инъекций дипроспана в&nbsp;сочетании с&nbsp;лидокаином либо новокаином. Блокаду проводят в&nbsp;область невромы или вводят раствор непосредственно в&nbsp;нее. 
            li Осложнения в&nbsp;виде тромбоза профилактируют за&nbsp;счет использования современных антикоагулянтов (актуально для пациентов после 50&nbsp;лет). 
        +figure({
          image: {
            name: 'nevroma-mortona-7',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Использование ортопедических стелек помогает правильно распределить нагрузку на стопу'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell({ m:6 })
          h3 Особенности хирургического лечения 
          p Если консервативное лечение невромы Мортона неэффективно, выполняют хирургическое. Для этого практикуют невролиз (высвобождение нерва из&nbsp;тканей, которые его сдавливают) и&nbsp;удаление невромы. 
          p Ход операции:
          ol.list-ordered
            li Выполняют местную или проводниковую анестезию.
            li Укладывают пациента, обрабатывают операционное поле антисептиком.
            li Получают доступ к&nbsp;общепальцевому нерву. 
            li Неврому удаляют, иссекая ниже и&nbsp;выше места утолщения. Прооперированный участок послойно зашивают.
            li Спустя 2&nbsp;недели швы снимают.
          p В&nbsp;основном этапе иногда выполняют просто декомпрессию (освобождение нерва) из-под связки, сдавливающей нерв.
        +cell({ m:6 })
          h3 Особенности реабилитационного лечения
          p Финальный и&nbsp;обязательный этап после хирургического лечения&nbsp;&mdash; реабилитация, которая предполагает процедуры, направленные на&nbsp;снятие воспалительного процесса и&nbsp;нормализацию микроциркуляции. 
          p Суть реабилитационного лечения заключается в&nbsp;следующем:
          ul.list-unordered
            li Пациентам назначают сосудистые, нестероидные противовоспалительные препараты. 
            li Также проводят фонофорез, используя гидрокортизоновую мазь (физиотерапевтическая процедура, которая предполагает использование ультразвука, доставляющего препарат, в&nbsp;данном случае гидрокортизоновую мазь, в&nbsp;патологический очаг). 
            li В&nbsp;качестве дополнительного метода практикуют магнитотерапию, а&nbsp;также делают массаж. 
        +figure({
          image: {
            name: 'nevroma-mortona-8',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Хирургическое лечение невромы'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +figure({
          image: {
            name: 'nevroma-mortona-9',
            path: '/images/lechenie/perifericheskie-nervy/kompressionnaya-nevropatiya/nevroma-mortona/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Массаж как один из методов лечения'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))

    +pageSubsection
      h2#nevroma-mortona-7 Почему лечение невромы Мортона лучше проводить в&nbsp;нашем Центре?
      ul.list-unordered
        li Максимально щадящая тактика хирургического лечения. Поскольку работаем на&nbsp;операционном микроскопе, предельно подробно визуализируем поврежденные участки нерва, что исключает травматизацию здоровых тканей. 
        li Максимальная точность манипуляций нейрохирурга. Превосходный обзор операционного поля обеспечен увеличением в&nbsp;25&nbsp;раз, благодаря использованию специального окуляра. 
        li Минимальная длительность восстановления после оперативного вмешательства. Послеоперационный уход проходит по&nbsp;высшим стандартам качества, а&nbsp;реабилитацию проводим по&nbsp;программе, индивидуально разработанной для каждого пациента Центра. 

    +pageSubsection
      h2#nevroma-mortona-8 Популярные вопросы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Какую обувь носить при невроме Мортона?</h3>').par
          p Просторную, на&nbsp;каблуке не&nbsp;выше 4&nbsp;см, а&nbsp;лучше сразу подобрать ортопедическую модель обуви. Если приобрести такую нет возможности или желания, можно ограничиться ортопедическими стельками. 
          p Нужно отказаться от&nbsp;обуви, сдавливающей пальцы, с&nbsp;узким носком и&nbsp;на&nbsp;высоком каблуке. 
        +accordionItem('<h3>Когда можно ходить после удаления невромы? </h3>').par
          p Современные хирургические методы лечения позволяют встать на&nbsp;ноги уже спустя 3-4 часа после оперативного вмешательства.
        +accordionItem('<h3>Заболевание может провоцировать боль в&nbsp;пятке?</h3>').par
          p Да, так как неврому иногда обнаруживают и&nbsp;в&nbsp;области пятки. 
        +accordionItem('<h3>Где болит при невроме Мортона?</h3>').par
          p Боль локализуется в&nbsp;области 3-4-го пальца. Гораздо реже болезненность охватывает пространство между 2-м и&nbsp;3-м пальцем. 
        +accordionItem('<h3>Всегда&nbsp;ли нужно удалять неврому Мортона?</h3>').par
          p Ее&nbsp;удаляют, если интенсивность боли постоянно увеличивается, нарушается чувствительность пальцев, а&nbsp;также становится проблематично передвигаться. 
        +accordionItem('<h3>Можно&nbsp;ли водить машину при невроме Мортона? </h3>').par
          p Да, если поражена не&nbsp;правая нога, а&nbsp;коробка передач автоматическая. 

    +pageSubsection
      h2#nevroma-mortona-9 Источники
      ol.list-ordered
        li Вейн А.М., Вознесенская Т.Г., Данилов А.Б. Болевые синдромы в&nbsp;неврологической практике. ― М.: Медпресс, 1999. ― 372с.
        li Истомина И.С., Левин А.Н., Кузьмин В.И. и&nbsp;др. Болезнь Мортона как туннельный синдром интерметатарзального канала // Вестник травматологии и&nbsp;ортопедии&nbsp;им. Н.Н. Приорова. ― 2006. ― &#8470;&nbsp;1. ― С. 76-81.
        li Мозолевский Ю.В., Баринов А.Н. Комплексное лечение тоннельных невропатий нижних конечностей // Неврология, нейропсихиатрия, психосоматика. ― 2013. ― &#8470;&nbsp;4. ― С. 10-20.
        li Салтыкова В.Г. Роль ультразвукового исследования в&nbsp;диагностике туннельных невропатий // Ультразвуковая и&nbsp;функциональная диагностика. ― 2011. ― &#8470;&nbsp;4. ― С. 43-56.
        li Салтыкова В.Г., Левин А.Н. Возможности ультразвуковой диагностики невромы Мортона // Ультразвуковая и&nbsp;функциональная диагностика. ― 2007. ― &#8470;&nbsp;5. ― С. 92-98.
        li Пахомов И.А., Садовой М.А., Прохоренко В.М, и&nbsp;др. Особенности диагностики и&nbsp;лечения пациентов с&nbsp;невромой Мортона // Травматология и&nbsp;ортопедия России. ― 2008. ― &#8470;&nbsp;3 (49). ― С. 42-46.
