mixin consultationMore(list)
  .consultation-more
    .consultation-more__item.consultation-more__item--illness Подробнее о заболевании: 
      a(href='/') !{list.illness}
    .consultation-more__item.consultation-more__item--treatment Подробнее о лечении: 
      a(href='/') !{list.treatment}
