.consultation-more
  &__item
    &::before
      content ''
      position absolute
      top 2px
      left 2px
      width 20px
      height 20px
      background-color #9D9EA0
      mask-image var(--mask)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    &--illness
      --mask url(../images/svg-sprites/inner.svg#consultation-more__item--illness)
    &--treatment
      --mask url(../images/svg-sprites/inner.svg#consultation-more__item--treatment)
