.consultation-more
  margin-top 20px
  padding-top 20px
  border-top 1px solid #F8F7F6
  &__item
    position relative
    display flex
    flex-wrap wrap
    column-gap 10px
    margin-bottom 10px
    padding-left 34px
    & + &
      margin-top 10px
