extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    +grid({ 'justify': 'space-between' }).par
      +cell({ l:7, m:8, s:12 })    
        p Болезни головного мозга&nbsp;&mdash; это патологические состояния сосудов, нервных тканей и&nbsp;структур органа. Диагноз устанавливают после исследования функционального и&nbsp;структурного состояния головного мозга. 
        h2 Характерные симптомы
        p Симптомы и&nbsp;признаки заболеваний головного мозга зависят от&nbsp;вида, степени прогрессирования патологического процесса и&nbsp;других особенностей. 
      +cell({ l:4, m:4, s:8 })
        +img({
          name: 'atherosclerosis',
          path: '/images/lechenie/golovnoy-mozg/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Церебральный атеросклероз' title= 'Церебральный атеросклероз' width=546 height=376).box-shadow
        p Церебральный атеросклероз

    h3 Общая симптоматика
    +grid({ 'noGap': 'y'}).par
      +cell({ m:6 })
        ul.list-unordered
          li проблемы с&nbsp;памятью;
          li стойкая головная боль (иногда пульсирующая), которую не&nbsp;снимают обезболивающие;
          li судороги;
          li потеря сознания;
          li при сжатии кровоснабжающих участков мозга&nbsp;&mdash; головокружения;
          li тошнота, рвотные позывы, когда внутричерепное давление увеличено;
          li частые скачки давления, изменение пульса;
      +cell({ m:6 })
        ul.list-unordered
          li ухудшение зрения (например, когда новообразование задевает зрительный нерв);
          li непроходящая усталость;
          li нарушение слуха и&nbsp;речи (при поражении слухового и&nbsp;других нервов);
          li гормональные сбои: нарушение менструального цикла, чрезмерное оволосение;
          li потеря масса тела вплоть до&nbsp;истощения;
          li потеря чувствительности: нарушение ощущения тела в&nbsp;пространстве, низкая чувствительность к&nbsp;раздражителям;
          li длительное повышение температуры тела.  

    h3 Симптоматика атеросклероза
    ul.list-unordered
      li холодные конечности: провоцирует жесткость сосудов и&nbsp;усложненный ток крови из-за этого;
      li шум в&nbsp;ушах: когда холестериновая бляшка перекрывает артерии на&nbsp;60% и&nbsp;более.

    +grid.par
      +cell({ l:6, m:6, s:12 })    
        h3 Симптомы инсульта
        p К&nbsp;специфическим относят следующие: затрудненность движений, двоение в&nbsp;глазах, онемение конечностей и&nbsp;лица. 
        p Признаки, которые спасают жизнь больного: 
        ul.list-unordered 
          li Уголок рта опущен, невозможность улыбнуться.
          li Невозможность двигать одновременно несколькими конечностями. 
          li Невозможность внятно произносить слова.
        
      +cell({ l:6, m:6, s:9 })
        +img({
          name: 'insult',
          path: '/images/lechenie/golovnoy-mozg/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Виды инсульта' title= 'Виды инсульта' width=480 height=248).
        p Виды инсульта

    .block-marked.block-marked--grey.par
      p Спасти жизнь человека в&nbsp;таком состоянии можно, если доставить его в&nbsp;больницу в&nbsp;течение 1-2&nbsp;часов.

    h3 Симптоматика сосудистых заболеваний головного мозга
    ul.list-unordered 
      li нарушение сна;
      li потеря концентрации внимания, снижение работоспособности;
      li нарушения со&nbsp;стороны нервной системы: перепады настроения, депрессивное состояние;
      li нарушение функции жевания, глотания;
      li нарушение ориентации в&nbsp;пространстве;
      li нарушение мелкой и&nbsp;крупной моторики.
    p Среди сосудистых патологий выделяют хроническое нарушение мозгового кровообращения. Для хронического заболевания головного мозга свойственны следующие признаки: нарушение равновесия, эмоциональной сферы, мочеиспускания, сна, памяти, слабость.
    p Характерные симптомы опухолевых процессов:
    ul.list-unordered 
      li забывчивость и&nbsp;невнимательность, которые прогрессируют;
      li нарушение двигательных функций (например, невозможность прекратить определенные действия);
      li головная боль с&nbsp;нарушением координации, слуха и&nbsp;рвотой;
      li постоянная головная боль, которая длится неделями, месяцами. 

    h2 Особенности поражений мозга
    p Среди церебральных патологий чаще регистрируют органическое заболевание головного мозга человека. Суть патологии&nbsp;&mdash; патогенное воздействие на&nbsp;мозговые ткани, которое нарушает функции органа или приводит к&nbsp;их&nbsp;утрате. 
    p Во&nbsp;время органического поражения в&nbsp;нейронах начинаются процессы дистрофии, вследствие чего функциональная активность клеток снижается. 

    +grid({ 'justify': 'space-between' }).par
      +cell({ l:6, m:6, s:12 }) 
        +grid 
          +cell({ l:12 })
            h3 Травматические поражения 
            p Травматическая болезнь головного мозга вызвана механическими повреждениями. В&nbsp;результате возникает отек, внутричерепное давление нарастает, приводит к&nbsp;гибели клеток.
            p Когда травму сопровождает кровоизлияние, образуется объемная гематома, головной мозг смещается. Если подкорковые структуры вдавливаются в&nbsp;черепные структуры, поражается дыхательный и&nbsp;сосудодвигательный центр.
          +cell({ s:9 })
            +img({
              name: 'types',
              path: '/images/lechenie/golovnoy-mozg/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
              })(alt= 'Виды кровоизлияния' title= 'Виды кровоизлияния' width=528 height=453).box-shadow
            p Виды кровоизлияния

      +cell({ l:6, m:6, s:12 }) 
        +grid 
          +cell({ l:12 })
            h3 Инфекционные 
            p Функциональные способности нарушаются и&nbsp;во&nbsp;время энцефалита, менингита, вентрикулита. 
            ul.list-unordered 
              li Энцефалит&nbsp;&mdash; воспалительный процесс ткани мозга, гнойное поражение, из-за чего возникает нарушение в&nbsp;работе органов больного.
              li Менингитом называют воспаление оболочек мозга, которое вызывают бактерии и&nbsp;вирусы. Заболевание классифицируют на&nbsp;первичное и&nbsp;вторичное (при снижении иммунитета). 
              li Вентрикулит&nbsp;&mdash; воспаление тканей желудочков, которое вызывает гидроцефалию, повышение внутричерепного давления. 
          +cell({ s:9 })       
            +img({
              name: 'infection',
              path: '/images/lechenie/golovnoy-mozg/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
              })(alt= 'Здоровые и пораженные оболочки мозга при менингите' title= 'Здоровые и пораженные оболочки мозга при менингите' width=550 height=380).box-shadow
            p Здоровые и пораженные оболочки мозга при менингите

    h3 Виды поражений 
    +grid({ 'noGap': 'y' }).par
      +cell({ m:6, s:6 })
        ul.list-unordered 
          li Очаговые: очаг поражения четко ограничен, диагностируют локальную некротизацию тканей. Основной пусковой фактор&nbsp;&mdash; острое расстройство мозгового кровообращения.
      +cell({ m:6, s:6 })
        ul.list-unordered 
          li Диссеминированные: множественные очаги поражения мозговых тканей. Частые причины подобных заболеваний головного мозга&nbsp;&mdash; онкологические и&nbsp;инфекционные процессы. 

    h2 Виды заболеваний головного мозга
    +grid 
      +cell({ m:4, s:6 })
        h3 Опухоли:
        ul.list-unordered.par
          li астроцитома;
          li кавернома;
          li ганглиоглиома;
          li медуллобластома;
          li аденома;
          li эпендимома; 
          li невринома;
          li хориоидпапиллома;
          li астроцитома;
          li лимфома;
          li краниофарингиома;
          li гемангиобластома;
          li пинеобластома;
          li менингиома;
          li холестеома;
          li пинеоцитома. 
      +cell({ m:4, s:6 })
        h3 Сосудистые:
        ul.list-unordered.par
          li аневризма;
          li болезнь Моя-моя;
          li каротидно-кавернозное соустье;
          li артериовенозная фистула, мальформация;
          li инсульты, ишемии;
          li киста желудочка;
          li стеноз;
          li окклюзия внутричерепных артерий.
      +cell({ m:4, s:12 })
        h3 Среди других болезней выделяют:
        ul.list-unordered.par
          li Внутричерепная гипертензия.
          li Функциональные нарушения: невралгии, гемифациальный спазм. 
          li Дефекты черепа.
          li Гидроцефалии, болезнь Хакима Адамса.
          li Пороки развития: менингоцеле, аномалия Киари.

    h2 Диагностика
    p Диагностика заболеваний головного мозга у&nbsp;женщин и&nbsp;мужчин зависит от&nbsp;симптоматики и&nbsp;сопутствующих патологических процессов.
    p Диагностика заболеваний головного мозга включает:
    ul.list-unordered 
      li МРТ ;
      li ангиографию;
      li ультразвуковую допплерографию;
      li ЭЭГ;
      li КТ;
      li трактографию. 
    +grid({'justify': 'center'}).par
      -
        const diagnostics = [
          { 
            m: 3, s: 6,
            img: 'analysis-mrt',
            alt: 'МРТ',
          },
          { 
            m: 3, s: 6,
            img: 'analysis-angyography',
            alt: 'Ангиография',
          },
          { 
            m: 3, s: 6,
            img: 'analysis-doppler',
            alt: 'Ультразвуковая допплерография', 
          },
          { 
            m: 3, s: 6,
            img: 'analysis-eeg',
            alt: 'ЭЭГ',
          },
          { 
            m: 3, s: 6,
            img: 'analysis-kt',
            alt: 'КТ',
          },
          { 
            m: 3, s: 6,
            img: 'analysis-tractography',
            alt: 'Трактография',
          },
        ] 
      +blockAnalysis('/lechenie/golovnoy-mozg/', diagnostics)           

    p Дополнительно проводят: УЗИ сердца, вен нижних конечностей, ЭКГ, биохимический, клинический анализ крови, рентген легких.
    +grid.par
      -
        const diagnosticsAdd = [
          { 
            m: 3, s: 6,
            img: 'analysis-ultrasound',
            alt: 'Узи вен',
          },
          { 
            m: 3, s: 6,
            img: 'analysis-ecg',
            alt: 'ЭКГ',
          },
          { 
            m: 3, s: 6,
            img: 'analysis-blood',
            alt: 'Анализы крови', 
          },
          { 
            m: 3, s: 6,
            img: 'analysis-xrays',
            alt: 'Рентген легких',
          },
        ] 
      +blockAnalysis('/lechenie/golovnoy-mozg/', diagnosticsAdd)  

    p Пациент проходит консультацию ЛОРа, офтальмолога, получает заключение терапевта об&nbsp;отсутствии противопоказаний к&nbsp;хирургическому лечению, а&nbsp;при наличии хронических процессов в&nbsp;организме&nbsp;&mdash; заключение смежных специалистов. 

    h2 Лечение 
    p Лечение заболеваний головного мозга в&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева проводим стереотаксические, эндоскопические и&nbsp;эндовазальные хирургические вмешательства.
    +pageSubsection.par
      +grid
        +cell({ l:6, m:7, s:12 })
          ul.list-unordered 
            li Стереотаксические операции выполняем через микроотверстия, для которых не&nbsp;нужна трепанация черепа. 
            li С&nbsp;помощью специальных аппаратов, под точным визуальным контролем, вводим микроинструментарий, непрестанно отслеживая глубину погружения. 
            li Не&nbsp;затрагиваем здоровые ткани даже при хирургическом лечении глубинных структур. В&nbsp;этом помогают результаты КТ, МРТ и&nbsp;данные стереотаксических атласов.
            li С&nbsp;помощью стереотаксических методов облегчаем функциональную нейрохирургию, обеспечиваем точность введения микроинструментов вплоть до&nbsp;миллиметра. 
        +cell({ l:5, m:5, s:8 })
          +img({
            name: 'treatment-1',
            path: '/images/lechenie/golovnoy-mozg/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
            })(alt= 'Стереотаксическая операция' title= 'Стереотаксическая операция' width=480 height=230).box-shadow
          p Стереотаксическая операция

    +pageSubsection
      +grid
        +cell({ l:6, m:6, s:12 })
          +grid({ 'noGap': 'y' })
            p Эндоскопический способ практикуем при помощи эндоскопа. Инструменты отличает жесткость и&nbsp;гибкость, необходимая для отбора тканей на&nbsp;анализ. Также они останавливают кровотечение и&nbsp;разрушают пораженные очаги. 
            +cell({ l:7, m:8, s:7 }).par
              +img({
                name: 'treatment-2',
                path: '/images/lechenie/golovnoy-mozg/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
                })(alt= 'Эндоскопический способ удаления опухоли' title= 'Эндоскопический способ удаления опухоли' width=480 height=451).box-shadow
              p Эндоскопический способ удаления опухоли

        +cell({ l:6, m:6, s:12 })
          +grid({ 'noGap': 'y' })
            p Эндовазальные методики актуальны для лечения сосудистых патологий. Под рентгеновским контролем вводим в&nbsp;сосуды катетеры, чтобы доставить устройства, закрывающие просвет (остановить кровотечение). 
            +cell({ l:7, m:8, s:7 }).par
              +img({
                name: 'treatment-3',
                path: '/images/lechenie/golovnoy-mozg/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
                })(alt= 'Эндоваскулярная спираль' title= 'Эндоваскулярная спираль' width=480 height=451).box-shadow
              p Эндоваскулярная спираль
            p Для эндовазальных вмешательств достаточно местных анестетиков, соответственно переносятся пациентами легче.

    h2 Преимущества лечения болезней головного мозга в&nbsp;СПб в&nbsp;нашем Центре
    ul(class= gridClasses())
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--ecg Эффективные вмешательства с&nbsp;минимальными осложнениями. Операционные современно оснащены: системы 3D-нейронавигации, видеоангиографии, нейромониторинга.
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--neurosurgery Врачи Центра&nbsp;&mdash; нейрохирурги с&nbsp;европейским образованием и&nbsp;постоянным профессиональным совершенствованием на&nbsp;профильных американских и&nbsp;европейских тренингах. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--globe Оказываем хирургическую помощь по&nbsp;мировым методикам (американские, европейские протоколы).
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--recovered Минимальный срок восстановления за&nbsp;счет пристального наблюдения в&nbsp;палате пробуждения, под присмотром реаниматологов, анестезиологов, благодаря индивидуальной реабилитационной программе, занятий с&nbsp;реабилитологом на&nbsp;дому. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--microscope Минимальный риск травматичности: точность операций, отсутствие повреждений здоровых тканей за&nbsp;счет использования операционного микроскопа. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--certificate Оперативные вмешательства по&nbsp;прогрессивным методикам, включая авторские, многие из&nbsp;которых запатентованные. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--pills Адекватная релаксация мозга, гладкое течение послеоперационного периода, быстрый и&nbsp;плавный выход из&nbsp;наркоза за&nbsp;счет применения препаратов последнего поколения. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--scanners Диагностическое оснащение ведущих мировых брендов, чтобы обеспечить визуализацию предельной точности. Проводим лабораторное, мультимодальное нейрофизиологическое тестирование, не&nbsp;только МРТ, но&nbsp;и&nbsp;мультиспиральную рентгеновскую КТ. 
    p Затягивать с&nbsp;лечением заболеваний головного мозга не&nbsp;нужно, потому что состояние чревато инвалидизацией и&nbsp;летальным исходом. Запишитесь на&nbsp;консультацию в&nbsp;Нейрохирургический центр&nbsp;им. профессора Г.С. Тиглиева вовремя!
