.home-header
  position relative
  @media (min-width point-m)
    &.page-section
      padding 0
      padding-top var(--gap)
    min-height 47vh
    padding-top 10rem
    padding-bottom 6.25rem
  @media (max-width point-m - 1)
    &.page-section
      padding-bottom 0
  &__title
    font-weight bold
    letter-spacing -0.01em
    @media (min-width point-m)
      font-size 2rem
      line-height 1.25
    @media (max-width point-m - 1)
      font-size 1.5rem
      line-height 1.5
    span
      margin-x -.25rem
      padding-x .25rem
      font-weight inherit
  &__subtitle
    line-height 1.25
    @media (min-width point-m)
      margin-top 3rem
      font-size 1.75rem
    @media (max-width point-m - 1)
      $fontSizeXl()
      margin-top 1rem
  &__inner
    display grid
    gap 1rem
    @media (min-width point-l)
      grid-template-columns auto minmax(300px, auto) 1fr
    @media (max-width point-l - 1)
      grid-template-columns 3fr 1fr
    @media(max-width point-s - 1)
      grid-template-columns 1fr
  &__header
    align-self center
    @media (max-width point-l - 1)
      grid-column 1/-1
  &__image
    @media(min-width point-l)
      img
        min-height 500px
        object-fit contain
        object-position bottom
    @media(max-width point-s - 1)
      margin-top -3rem
  &__doctor 
    position relative
    margin-bottom 2.5rem
    padding 0.5rem 1.25rem
    align-self flex-start
    @media(min-width point-l)
      margin-left -9rem
    @media(min-width point-l)
      width max-content 
    @media(max-width point-m - 1)
      min-width 16rem
    @media(max-width point-s - 1)
      min-width auto
      grid-column 1/-1
      grid-row 2/3
  &__cite
    display block
    margin-bottom 0.625rem
    font-size 1.625rem
    @media (max-width point-m - 1)
      font-size 1.25rem
  &__name
    font-size 1.25rem
    line-height 1.25
    @media (max-width point-m - 1)
      font-size 1rem
  &__job
    margin-top 0
    @media (max-width point-m - 1)
      font-size 0.75rem
      line-height 1.25
