include /blocks/page-section/page-section

+pageSection({ noContent: true }).home-header
  +content.home-header__inner
    .home-header__header
      h1.home-header__title Нейрохирургические операции любой сложности с&nbsp;быстрым восстановлением
    .home-header__image
      +img({
        name: 'index-header-doctor',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { name:'xs', values: [ 1, 2 ] },
          { name:'s', values: [ 1, 2 ] },
        ],
      })(width=504 height=542 alt='Трушин Павел Вадимович, врач-нейрохирург')
    .home-header__doctor.home-header__doctor--cite
      cite.home-header__cite &laquo;Главное&nbsp;&mdash; это пациент&raquo;
      p.home-header__name Трушин Павел Вадимович
      p.home-header__job врач-нейрохирург, кандидат медицинских наук, #[br] стаж с 2008 г.
    //- ul.list-unordered.home-header__subtitle
    //-   li Запись в день обращения
    //-   li Все обследования и анализы за 1 визит
    //-   li Назначаем дополнительные обследования и операцию только при необходимости
