.home-header
  &::before
    content ''
    position absolute
    top -10.8125rem
    right 0
    bottom 0
    left 0
    z-index -1
    background-image url(../images/index-header-bg.webp)
    background-repeat no-repeat
    background-position center
    background-size cover
  &__image
    align-self end
  &__title
    color var(--color-white)
    text-shadow 0 5px 10px rgba(0,0,0,.3)
  &__subtitle
    --color-marker var(--color-white)
    color var(--color-white)
    text-shadow 0 5px 10px rgba(0,0,0,.3)
  &__doctor
    text-align center
    background-color rgba(217, 240, 226, 0.8)
    box-shadow 0px 4px 16px rgba(102, 119, 103, 0.35)
    border-radius var(--border-radius)
    &--cite
      &::before
        content ''
        position absolute
        bottom: -3.25rem;
        left: 3.75rem;
        width: 85px;
        height: 4.4473rem
        mask-image url(../images/svg-sprites/common.svg#cite)
        mask-repeat no-repeat
        background-color rgba(217, 240, 226, 1)
  &__name
    color var(--color-black)
  &__cite
    color var(--color-black)

