extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/page-subsection/page-subsection
include /blocks/accordion-item/accordion-item
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = false;
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff')
    +grid({ justify: 'space-between' }).par
      +cell({ l: 6, m: 8, xs: 12, alignSelf: 'center' })
        p Биопсия опухоли головного мозга — это получение микроскопического фрагмента мозговой ткани для установления природы новообразования (доброкачественной или злокачественной).
        p Биопсию проводим для гистологического анализа в случаях, когда другими методами диагностики не удается установить полную картину патологии и выработать тактику лечения. А также для дифференциации новообразования от других заболеваний.
      +cell({ l: 6, m: 4, xs: 12 }): +img({
        name: 'biopsy-1',
        path: '/images/operacii/golovnoy-mozg/opuholi/biopsy/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })
    h2 Почему биопсию головного мозга в СПб лучше проводить в нашем Центре?
    ul.par
      +iconBlock({ tag: 'li', scalpel: true }) Минимальная инвазивность вмешательства за счет безрамной навигации либо стереотаксических рам. За счет этого здоровые структуры не повреждаются, восстановление после операции происходит быстрее, длительность госпитализации уменьшается.
      +iconBlock({ tag: 'li', doctor: true }) Лечение без ухудшения исходного неврологического статуса за счет высокого профессионализма операционной бригады, высокотехнологичного оборудования и инструментария.
      +iconBlock({ tag: 'li', hourglass: true }) Быстрое восстановление и максимально раннее возвращение к привычной жизни: срок госпитализации — 1-3 дня.
      +iconBlock({ tag: 'li', report: true }) Значительный опыт в успешном проведении вмешательств на головном мозге: проводим операции с 1998 года.
      +iconBlock({ tag: 'li', monitor: true }) Высокая эффективность вмешательств и минимальный риск осложнений за счет современного оснащения операционных системами видеоангиографии, нейромониторинга и 3D-нейронавигации.
    h2 Особенности операции
    p В Нейрохирургическом центре им. профессора Г.С. Тиглиева «Новые технологии» биопсию проводим стереотаксическим способом.
    +blockMarked({ tag: 'p', grey: true }) Стереотаксическая биопсия опухоли головного мозга — минимально травматичный способ с широкой областью применения, по сравнению с пункционной методикой. Выполняем рамным и безрамным методом.
    h3 Особенности и преимущества рамного метода
    +pageSubsection(class= gridClasses({ justify: 'space-between' })).par
      +cell({ l: 6, m: 8, xs: 12, alignSelf: 'center' })
        ul.list-unordered
          li Максимальная точность, вплоть до миллиметра.
          li Считается классическим вариантом вмешательства.
          li Проводим с закреплением на голове пациента особой рамы, на которую возложено несколько функций: надежная фиксация иглы в сочетании с аппаратной частью и система координат, необходимая для определения траектории проникновения.
          li Точку входа иглы и минимально травматичную подачу к опухоли определяем способом КТ, МРТ. Магнитно-резонансной томографией также корректируем траекторию.
        p Рассмотрим, как делают, берут и как проходит биопсия головного мозга.
      +cell({ l: 6, m: 4, xs: 12 }): +img({
        name: 'biopsy-2',
        path: '/images/operacii/golovnoy-mozg/opuholi/biopsy/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })
    h3 Особенности и преимущества безрамного метода
    +pageSubsection(class= gridClasses()).par
      +cell({ l: 6, m: 4, xs: 12 }): +img({
        name: 'biopsy-3',
        path: '/images/operacii/golovnoy-mozg/opuholi/biopsy/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })
      +cell({ l: 6, m: 8, xs: 12, alignSelf: 'center' })
        ul.list-unordered
          li Предполагает выполнение биопсии с помощью системы нейронавигации.
          li Максимальная оперативность выполнения процедуры.
          li Высокие показатели точности (до трех миллиметров).
          li Выполняем КТ или МРТ, чтобы на основе полученных данных создать 3D-модель головного мозга.
          li На полученной модели намечаем точку входа иглы, а также траекторию ее перемещения к участку опухоли с минимальной травматичностью для окружающих тканей.
          li Игла проделывает минимально возможное отверстие в черепной коробке, ее вводим совместно со светодиодом и камерой.
          li Сопоставляем реальные сведения, выводимые на монитор после введения камеры, и 3D-модель, чтобы сделать забор тканей максимально точным и бережным.
    h3 Подготовительный этап
    +pageSubsection(class= gridClasses({ tag: 'ol' })).list-ordered-blocks.par
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Выполняем МРТ головного мозга с контрастированием, ЭЭГ, если есть показания – трактографию, СКТ-ангиографию сосудов головного мозга.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Пациент проходит стандартные исследования и анализы: УЗИ вен нижних конечностей, ЭКГ, биохимический и клинические анализы мочи и крови.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Проходит консультацию у ЛОРа, офтальмолога (специалист оценивает остроту зрения, поле зрения, глазное дно).
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Получает заключение терапевта об отсутствии противопоказаний к операции, при наличии хронических заболеваний – смежных специалистов (например, эндокринолога при сахарном диабете).
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item За 8 часов до биопсии пациент прекращает употреблять пищу и жидкость.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Незадолго до вмешательства восполняем жидкость: внутривенно вводим полиионные растворы.
      +cell({ tag: 'li', l: 3, m: 4, s: 6, xs: 12 }).list-ordered-blocks__item Готовим операционное поле: сбриваем волосы только в области разреза, на небольшом участке головы.
    p Анестезиолог подбирает препараты для общей анестезии, которые не токсичны, быстро выводятся из организма, гипоаллергенны. Вводит в нужной дозировке, рассчитанной под каждого пациента индивидуально.
    +grid.par
      +cell({ l: 6, xs: 12 })
        h3 Ход операции при использовании рамного метода
        ol.list-ordered.par
          li Способом магнитно-резонансной томографии с контрастированием определяем координаты введения и продвижения иглы.
          li На голове пациента фиксируем стереотаксическую раму.
          li Закрепляем МРТ-локализатор при наличии меток, выполненных контрастным веществом.
          li Проводим компьютерную томографию.
          li Сопоставляем результаты МРТ и КТ, чтобы обеспечить максимально точное внедрение.
          li Нейрохирург Центра наносит разрез, используя фрезу, создает диагностическое отверстие.
          li Иглу перемещаем по предварительно спланированному пути, отбираем биоматериал.
          li Накладываем швы на участок разреза.
      +cell({ l: 6, xs: 12 })
        h3 Ход операции при использовании безрамного метода
        ol.list-ordered.par
          li Проводим компьютерную или магнитно-резонансную томографию.
          li Полученные данные переносим в систему нейронавигации, чтобы получить объемное изображение.
          li На экране нейрохирург определяет место введения и траекторию иглы, требуемый участок проведения биопсии.
          li Специальным инструментарием к пациенту прикасаются, чтобы на экран монитора вывести нужную точку.
          li Наносим разрез на кожу, создаем диагностическое отверстие.
          li Под контролем нейронавигационной системы вводим биопсийную иглу, делаем забор биоматериала.
          li В области разреза накладываем швы.
    h3 Послеоперационный этап
    +pageSubsection(class= gridClasses({ justify: 'space-between' })).par
      +cell({ l: 6, m: 8, xs: 12, alignSelf: 'center' })
        p Пациент пробуждается сразу после операции. В палате пробуждения находится под пристальным наблюдением анестезиолога-реаниматолога, непрерывно мониторятся его жизненно важные функции.
        p После возвращения в палату — находится под круглосуточным наблюдением медперсонала: сотрудники контролируют анализы, делают перевязки, проводят восстановительное лечение.
        p Чтобы сократить сроки пребывания пациента в стационаре, применяем раннюю активацию и реабилитацию пациента.
      +cell({ l: 6, m: 4, xs: 12 }): +img({
        name: 'biopsy-4',
        path: '/images/operacii/golovnoy-mozg/opuholi/biopsy/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })
    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Что нельзя делать после биопсии?</h3>').par
        p Запрещены тепловые процедуры: посещение бани, сауны, физиотерапия, загорание на солнце. Противопоказана витаминотерапия, вождение автомобиля, чрезмерная физическая нагрузка, употребление психоактивных веществ и алкоголя.
      +accordionItem('<h3>Через какой срок возможно возвращение к обычной жизни?</h3>').par
        p Возвращение к работе зависит от результатов гистологического анализа: структуры патологического процесса и сложности дальнейшего лечения. В среднем срок составляет 10 дней.
        p Не рекомендуем откладывать с верификацией опухоли, чтобы патологический процесс не прогрессировал и не вызвал нарушение двигательных функций, чувствительности и инвалидизацию.
    +formInput({ type: 'checkbox',name: 'test', checked: true, label: 'Я ознакомлен(-а) с <a href="/policy/" target="_blank">Положением о конфиденциальности</a>' })
    +formInput({ type: 'text' })
