extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/h2/h2
include /blocks/advantage-item/advantage-item
include /blocks/block-marked/block-marked
include /blocks/slider/slider
include /blocks/service-category/service-category
include /blocks/doctor-item/doctor-item
include /blocks/review-item/review-item
include /blocks/list-steps-item/list-steps-item
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/text-marked-border/text-marked-border
include /blocks/diagnostics-item/diagnostics-item
include /blocks/table/table
include /blocks/home-symptoms/home-symptoms
include /blocks/direction-item/direction-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = true;    
block content
  -
    const advantages = [
      {
        title: 'На базе научно - клинического центра Л.Г. Соколова ФМБА России',
        description: 'Это позволит вам <strong>в одном месте</strong> получить консультацию всех необходимых <strong>специалистов</strong>, выполнить обследования и сдать анализы <strong>за один визит</strong>.',
        image: 'advantages-1',
      },
      {
        title: 'Узкоспециализированные врачи высшей категории',
        description: 'Опытные врачи высшей категории, кандидаты медицинских наук со <strong>стажем более 20 лет</strong>. Участвуют в научной деятельности, постоянно повышают свой профессиональный уровень.',
        image: 'advantages-2',
      },
      {
        title: 'Запатентованные методики',
        description: 'С&nbsp;помощью <strong>микрохирургических техник</strong> обеспечиваем высокую <strong>эффективность</strong> нейрохирургических вмешательств&nbsp;— восстановление после операции в&nbsp;течение нескольких дней.',
        image: 'advantages-3',
      },
      //{
        //title: 'Отзывчивый персонал',
        //description: '<strong>Постоянное наблюдение</strong>, чуткое и&nbsp;<strong>внимательное отношение</strong> медицинского персонала сделает ваше пребывание максимально комфортным.',
        //image: 'advantages-4',
      //},
      {
        title: 'Принципы доказательной медицины',
        description: 'Принимаем решения о диагностических и лечебных вмешательствах, исходя из имеющихся <b>доказательств</b> их <strong>эффективности и безопасности</strong>.',
        image: 'advantages-5',
      },
      {
        title: 'Онлайн-консультация',
        description: 'Даже если вы находитесь в другом городе, вы можете получить <b>консультацию</b> врача <strong>онлайн</strong>. Это не заменит полноценный осмотр, но <strong>поможет определиться</strong> с тактикой лечения и необходимостью оперативного вмешательства.',
        image: 'advantages-6',
      },
      {
        title: 'Говорим с вами на одном языке',
        description: '<strong>Постоянное наблюдение</strong>, чуткое и&nbsp;<strong>внимательное отношение</strong> медицинского персонала сделает ваше пребывание максимально комфортным. Наши врачи <strong>понятным языком</strong> рассказывают о причинах и последствиях каждого варианта лечения. <b>Уважительно</b> отвечают на <strong>все вопросы</strong>.',
        image: 'advantages-7',
      },
    ]
    const services = [
      { name: 'Головной мозг', list: [
          { name: 'Опухоли головного мозга', href: '/' },
          { name: 'Заболевания сосудов головного мозга', href: '/' },
          { name: 'Пороки развития головного мозга', href: '/' },
          { name: 'Гидроцефалии', href: '/' },
          { name: 'Дефекты черепа', href: '/' },
          { name: 'Внутричерепная гипертензия', href: '/' },
          { name: 'Функциональные нарушения головного мозга', href: '/' },
        ]},
      { name: 'Спинной мозг', list: [
          { name: 'Опухоли спинного мозга', href: '' },
          { name: 'Заболевания сосудов спинного мозга', href: '' },
          { name: 'Пороки развития спинного мозга', href: '' },
          { name: 'Дегенеративные изменения спинного мозга', href: '' },
          { name: 'Гидромиелия', href: '' },
        ]},
      { name: 'Позвоночник', list: [
          { name: 'Дегенеративные изменения позвоночника', href: '' },
          { name: 'Опухоли позвоночника', href: '' },
          { name: 'Травматическая деформация позвоночника', href: '' },
        ]},
      { name: 'Периферическая нервная система', list: [
          { name: 'Травмы периферической нервной системы', href: '' },
          { name: 'Функциональные нарушения периферических нервов', href: '' },
        ]},
    ]
    const doctors = [
      {
        title: 'Щербинин Антон Владимирович',
        description: `
          <p>Врач - нейрохирург, кандидат медицинских наук</p>
          <p>Стаж работы: 24 года</p>
        `,
        image: 'doctor-item-1',
      },
      {
        title: 'Шевченко Елена Николаевна',
        description: `
          <p>Врач - нейрохирург высшей категории</p>
          <p>Стаж работы: 27 лет</p>
        `,
        image: 'doctor-item-2',
        oldPrice: '3&nbsp;500&nbsp;₽', 
      },
      {
        title: 'Киселев Виталий Сергеевич',
        description: `
          <p>Врач - нейрохирург, кандидат медицинских наук</p>
          <p>Стаж работы: 22 года</p>
        `,
        image: 'doctor-item-3',
      },
    ]
    const steps = [
      {
        title: 'Заочная консультация',
        price: 'Бесплатно',
        clarification: 'Ответ в течение 1 рабочего дня',
        body: `
          <p>Опишите свои жалобы и направьте свои анализы или результаты исследований нам на <a href='mailto:info@neuros.ru'>электронную почту</a> или в разделе <a href='/questions/' class="no-wrap">Вопрос-Ответ</a>.</p>
          <p>Врач-нейрохирург изучит ваши документы, файлы ваших исследований и анализов и <strong>предложит возможные варианты решения</strong> вашей проблемы.</p>
        `,
      },
      {
        title: 'Очная консультация в клинике',
        price: 'От 2000 руб.',
        clarification: 'Около 1 часа',
        body: `
          <p>Врач выполнит <strong>полноценный осмотр</strong>, оценит состояние пациента, данные МРТ/СКТ и других исследований, <strong>поставит диагноз, даст заключение</strong> о тактике лечения, расскажет об эффективности и рисках, ответит на все вопросы</p>
        `,
      },
      {
        title: 'Получите высохотехнологичное лечение',
        body: `
          <p>Дадим памятку со списком необходимых анализов и подскажем, где их лучше сдать. Расскажем, как подготовиться к процедуре или операции, что делать после операции. Для иногородних — рекомендуем, где разместить сопровождающих.</p>
        `,
      },
    ]
    const diagnostics = [
      {
        title: 'мрт',
        description: 'Магнитно-резонансная томография',
        image: 'diagnostics-1',
      },
      {
        title: 'кт',
        description: 'Компьютерная томография',
        image: 'diagnostics-2',
      },
      {
        title: 'Рентген',
        description: 'Рентгенологическое исследование',
        image: 'diagnostics-3',
      },
      {
        title: 'ЭНМГ',
        description: 'Электронейромиография',
        image: 'diagnostics-4',
      },
      {
        title: 'УЗИ нервов',
        description: 'Ультразвуковая диагностика нервов',
        image: 'diagnostics-5',
      },
    ]
  include /blocks/home-header/home-header                
  +pageSection
    h2.text-align-center.hyphens-auto Акция на электронейромиографию
    +grid.page-subsection 
      +cell({ m:7 })
        p Электронейромиография (ЭНМГ)&nbsp;&mdash; безопасный безболезненный метод оценки работы мышц и&nbsp;нервной системы. Является наиболее информативным методом в&nbsp;диагностике поражений периферических нервов и&nbsp;сплетений. Данное исследование позволяет проследить, насколько беспрепятственно и&nbsp;быстро нервные импульсы проходят по&nbsp;нервным путям.
        p #[strong Суть метода] заключается в&nbsp;подаче искусственных электрических импульсов небольшой величины через электроды и&nbsp;регистрации ответов с&nbsp;нервных волокон и&nbsp;мышц. ЭНМГ включает в&nbsp;себя #[strong две основные методики]: стимуляционную электронейромиографию (ЭНМГ) и&nbsp;игольчатую электромиографию (иЭМГ).
        p #[strong Не&nbsp;откладывайте визит к&nbsp;врачу], если:
        ul.list-unordered
          li испытываете боль в&nbsp;мышцах, частые спазмы или судороги
          li чувствуете слабость в&nbsp;руках и&nbsp;ногах
          li недавно получили перелом конечностей
      +cell({ m:5 }): +img({
        name: 'enmg',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', orig: true }
        ],
        density: [{ values: [ 1, 2 ] }],
      })(width=800 height=533)
    +grid({ columns: 10 }).page-subsection 
      +cell({ m:7 })
        +grid 
          +cell
            +table({ 'hover': true })
              +tr.table__row
                +th Услуга 
                +th Стоимость 1-го исследования
              +tr.table__row
                +td Электронейромиография (ЭНМГ) стимуляционная
                +td 4&nbsp;000&nbsp;₽ вместо&nbsp;#[span.text-marked--old-price 4&nbsp;500&nbsp;₽]
              +tr.table__row
                +td Электронейромиография (ЭНМГ) стимуляционная верхних и нижних конечностей
                +td 6&nbsp;000&nbsp;₽ вместо&nbsp;#[span.text-marked--old-price 6&nbsp;700&nbsp;₽]
              +tr.table__row
                +td Электронейромиография (ЭНМГ) игольчатая
                +td 6&nbsp;000&nbsp;₽ вместо&nbsp;#[span.text-marked--old-price 6&nbsp;700&nbsp;₽]
              +tr.table__row
                +td Электронейромиография (ЭНМГ) игольчатая верхних и нижних конечностей
                +td 7&nbsp;000&nbsp;₽ вместо&nbsp;#[span.text-marked--old-price 7&nbsp;900&nbsp;₽]
          +cell({ l:4, m:6 })
            +button({ tag: 'a', secondary: true })(href='#appointment' data-modal) Записаться на прием
      +cell({ m:3 })
        +img({
          name: 'arhireev',
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true }
          ],
          density: [{ values: [ 1, 2 ] }],
        })(alt='Архиреев А.Ю., врач функциональной диагностики' width=800 height=700)
        p Архиреев А.Ю., врач функциональной диагностики. Стаж с 2005 г.

  +pageSection
    +h2.text-align-center Направления центра
    +slider({ fullWidth: true }).slider-directions.page-subsection
      +slide
        +directionItem({ 'neurosurgery': true }, 'Нейрохирургия' ) 
      +slide
        +directionItem({ 'neurology': true, tag: 'a' }, 'Неврология' )(href='#')
      //- +slide
      //-   +directionItem({ 'gastroenterology': true }, 'Гастроэнтерология' ) 
      //- +slide
      //-   +directionItem({ 'orthopedics': true }, 'Ортопедия' ) 
      +slide
        +directionItem({ 'diagnostics': true }, 'Диагностика:' ) 
          ul.direction-item__list
            li МРТ
            li КТ
            li Рентген
            li ЭНМГ
            li УЗИ нервов
      +slide
        +directionItem({ 'oncology': true }, 'Онкология' )

  +pageSection
    +h2.text-align-center Почему выбирают нас
    +grid.page-subsection
      each advantage in advantages
        +cell({ m:4, s:6 })
          +advantageItem(advantage)
    //- +slider({ fullWidth: true }).slider-advantages
    //-   each advantage in advantages
    //-     +slide: +advantageItem(advantage)
  +pageSection({ noContent: true, noPadding: 'top' })
    +blockMarked(class= gridClasses()).content
      +cell({ l: 6, xs: 12 })
        +pageSubsection
          h2 Уникальные методики нейрохирургической медицины <span style='white-space: nowrap; font-weight: inherit'>в Санкт-Петербурге</span>
          p Центр был основан заслуженным деятелем науки России, членом 
            strong Российской и Американской Ассоциаций нейрохирургов
            |  и действительным членом 
            strong Американской Коллегии Хирургов
            |  более 
            strong 20 лет назад
            | .
          p Лечение в клинике проводится по современным 
            strong американским и европейским протоколам
            | .
          p Получите доступ к лучшим 
            strong мировым методикам
            | , не уезжая за рубеж.
        +pageSubsection(class= gridClasses({ justify: 'space-between', alignItems: 'center' }))
          +cell({ l: 5 }): +button({ tag: 'a', secondary: true })(href='/') Записаться на прием
          +cell({ l: 4 }): a(href='/') Подробнее о центре
      +slider({ smallArrows: true })(class= cellClasses({ l: 6, xs: 12 })).slider-methods
        each i in [1, 2, 3]
          +slide: +img({
            name: `methods-${i}`,
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true }
            ],
            density: [{ values: [ 1, 2 ] }],
          })
  +pageSection({ noContent: true, noPadding: 'top' })
    +grid().home-numbers.content
      +cell({ m: 3, xs: 6 }).home-numbers__item
        .home-numbers__item-title: span
          span(data-counter='25').home-numbers__item-counter 25
          small  лет
        .home-numbers__item-description на рынке услуг по нейрохирургии
      +cell({ m: 3, xs: 6 }).home-numbers__item
        .home-numbers__item-title: span
          span(data-counter='21').home-numbers__item-counter 21
          small  год
        .home-numbers__item-description средний стаж врача
      +cell({ m: 3, xs: 6 }).home-numbers__item
        .home-numbers__item-title: span
          span > 
          span(data-counter='200').home-numbers__item-counter 200
        .home-numbers__item-description консультаций в год
      +cell({ m: 3, xs: 6 }).home-numbers__item
        .home-numbers__item-title: span
          span < 
          span.home-numbers__item-counter(data-counter=1 data-counter-from=100) 1 
          small  %
        .home-numbers__item-description рецидива и повторных обращений после операции

  +pageSection({ noContent: true, noPadding: 'top' }).home-regenerative
    +blockMarked.content
      +h2.text-align-center Регенеративная медицина
      +pageSubsection
        +grid
          +cell({ m:6 })
            a(href='/sportivnaya-travmotologiya/').home-regenerative__link
              .home-regenerative__image.home-regenerative__image--sport
              span.home-regenerative__text в спортивной травматологии
          +cell({ m:6 })
            a(href='/osteoartrit/').home-regenerative__link
              .home-regenerative__image.home-regenerative__image--osteoarthritis
              span.home-regenerative__text при остеоартрите


  +pageSection({ backgroundColor: true })
    h2.text-align-center Интерьер клиники
    +slider({ fullWidth: true, pagination: false }).slider-interior
      each i in [1, 2]
        each j in [1, 2, 3]
          +slide: +img({
            name: `interiors-${j}`,
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', orig: true }
            ],
            density: [{ values: [ 1, 2 ] }],
          })

  +pageSection
    h2.text-align-center Симптомы наших пациентов
    - 
      const symptoms = [
        {
          title: 'В области головы',
          list: ['Головные боли', 'Головокружение', 'Головные боли с тошнотой и рвотой', 'Боли в лице', 'Онемение в лице', 'Шаткость и неустойчивость', 'Внезапные падения', 'Сложности с засыпанием и частые ночные пробуждения', 'Длительное чувство слабости', 'Потери сознания, предобморочные состояния'],
          image: 'symptoms-1', 
        },
        {
          title: 'В области шеи',
          list: ['Боль в шее', 'Боли после перенесенных операций', 'Боль в шее при засыпании', 'Ограничение движений в шейном отделе'],
          image: 'symptoms-2', 
        },
        {
          title: 'В области спины',
          list: ['Грыжи межпозвоночных дисков', 'Острые или хронические боли в спине'],
          image: 'symptoms-3', 
        },
        {
          title: 'В области живота',
          list: ['Боль в животе', 'Запоры и диареи'],
          image: 'symptoms-4', 
        },
        {
          title: 'В области ног',
          list: ['Онемение в ногах', 'Боли в ногах при длительном положении сидя', 'Частые судороги в руках и ногах', 'Ночные боли в ногах', 'Боли после перенесенных операций', 'Боли в ногах при ходьбе', 'Боли в ягодице'],
          image: 'symptoms-5', 
        },
        {
          title: 'В области рук',
          list: ['Онемение в руках', 'Боли в кистях рук при нагрузке', 'Слабость в руках', '&laquo;Прострелы&raquo; в&nbsp;руках', 'Дрожь в руках'],
          image: 'symptoms-6', 
        },
        {
          title: 'В области груди',
          list: ['Чувство нехватки воздуха', 'Усиленное сердцебиение', 'Жжение в груди, чувство горечи во рту'],
          image: 'symptoms-7', 
        },
      ]
    +homeSymptoms(symptoms).page-subsection
    +pageSubsection
      p.text-align-center Если вы&nbsp;обнаружили у&nbsp;себя хотя&nbsp;бы 3&nbsp;симптома из&nbsp;перечисленных&nbsp;&mdash; не&nbsp;откладывайте визит к&nbsp;врачу и&nbsp;запишитесь в&nbsp;клинику уже сегодня
      +grid({ justify: 'center' }).par 
        +cell({ l:3, m:4 })
          a(href='#appointment' data-modal).button.button--secondary Записаться на прием

  +pageSection({ noPadding: 'top' })
    h2.text-align-center Что мы лечим?
    //- +grid().par
    //-   each service in services
    //-     +serviceCategory(service)(class= cellClasses({ l: 3, m: 4, s: 6, xs: 12 }))
    +grid({ alignItems: 'center', justify: 'center', columns:10 }).home-treatment
      +cell({ m:3, s:4, xs:7 }).home-treatment__skeleton 
        .home-treatment__body
          .home-treatment__layer(data-selected)
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 945")
              image(class='home-treatment__layer-image' width="408" height="945" href="/images/treatment.webp")
              g(opacity='0')
                polygon(points='231,89,221,57,191,38,147,48,125,83,125,119,134,158,140,180,219,179' id='treatment-1')
              g(opacity='0')
                polygon(points='147,608,174,611,176,812,172,848,95,846,71,764,71,675,83,580,88,505,95,451,85,401,80,489,68,541,56,580,45,620,55,653,57,689,46,693,38,683,36,706,35,723,12,750,7,698,16,637,15,573,15,496,23,439,29,380,28,335,24,281,45,242,83,230,125,215,139,204,138,609,212,610,213,611,210,611,177,610,184,847,252,847,266,846,286,774,287,707,285,626,287,608,274,530,268,457,277,402,283,456,285,507,296,551,310,598,313,633,307,680,306,723,324,742,350,753,368,739,370,706,372,659,398,685,407,675,379,632,358,613,346,549,348,476,338,415,334,347,341,302,331,260,303,239,274,231,219,205,214,610,210,611,213,611' id='treatment-4')
              g(opacity='0')
                polygon(points='159,156,220,154,218,210,252,224,247,250,250,398,249,468,250,509,252,558,199,559,197,154,131,153,139,207,114,221,111,255,117,432,118,473,117,521,118,560,162,558' id='treatment-3')
              g(opacity='0')
                polygon(points='159,155,197,156,199,560,161,559' id='treatment-2')
          img(src="/images/treatment.webp" alt="Что мы лечим?" width='408').home-treatment__image
      +cell({ l:3, m:5 })
        .home-treatment__block
          -
            const treatments = [
              {
                title: 'Головной мозг',
                list: ['Опухоли головного мозга', 'Заболевания сосудов головного мозга', 'Пороки развития головного мозга', 'Гидроцефалии', 'Дефекты черепа', 'Внутричерепная гипертензия', 'Функциональные нарушения головного мозга'],
                data: 'treatment-1',
              },
              {
                title: 'Спинной мозг',
                list: ['Опухоли спинного мозга', 'Заболевания сосудов спинного мозга', 'Пороки развития спинного мозга', 'Дегенеративные изменения спинного мозга', 'Гидромиелия'],
                data: 'treatment-2',
              },
              {
                title: 'Позвоночник',
                list: ['Дегенеративные изменения позвоночника', 'Опухоли позвоночника', 'Травматическая деформация позвоночника'],
                data: 'treatment-3',
              },
              {
                title: 'Периферическая нервная система',
                list: ['Травмы периферической нервной системы', 'Функциональные нарушения периферических нервов'],
                data: 'treatment-4',
              },
            ]
          each item in treatments
            .home-treatment__inner(data-img=item.data)
              button(type='button').home-treatment__title !{item.title}
              ul.home-treatment__list
                each text in item.list
                  li #[a(href='/') !{text}] 

  +pageSection({ backgroundColor: true })
    h2.text-align-center Лучшие в своем деле
    +slider({ fullWidth: true }).doctors-slider.page-subsection
      each i in [1, 2]
        each doctor in doctors
          +slide: +doctorItem(doctor) !{doctor.description}
  +pageSection
    h2.text-align-center Что говорят о нас пациенты
    +slider({ fullWidth: true, pagination: false }).slider-reviews.page-subsection
      +slide: +reviewItem({
        author: 'Лилия Мельникова',
        location: 'Санкт-Петербург',
      })
        p Присоединяюсь к многочисленным словам благодарности в адрес Нейрохирургического Цента им.Проф.Тиглиева от имени родных Ваших пациентов. Высочайший уровень профессионализма, пунктуальность, поддержка и деликатность - это то, что так необходимо нам в самые трудные моменты жизни, когда сердце разрывается от переживаний за близких. И все это мы встретили в Вашем Центре. Дорогая Ольга Владимировна! У Вас прекрасная команда! Берегите Ваших виртуозов, которые творят настоящие чудеса! Дмитрий Александрович и Дмитрий Андреевич спасли самое дорогое, что есть у нас в жизни - нашу маму.
      +slide: +reviewItem({
        author: 'Николай Иванович',
        location: 'Санкт-Петербург',
      })
        p Огромное спасибо хочу сказать всему коллективу нейрохирургического центра “Новые технологии”, и отдельное спасибо - двум волшебникам: Гуляеву Дмитрию Александровичу и Кондюкову Дмитрию Андреевичу. Два месяца назад у меня была удалена грыжа межпозвонкового диска L4-L5. В нейрохирургическом центре я находился всего три дня. Сколько внимания, чуткости, доброты и отзывчивости я здесь увидел! В центре работают настоящие профессионалы, мастера своего дела, дружная сплоченная команда. СПАСИБО всем вам за ваш труд. Успехов и процветания вашему центру! Крепкого здоровья и счастья всем вам! 
      +slide: +reviewItem({
        author: 'Денис',
        location: 'Санкт-Петербург',
      })
        p Большое Вам спасибо за проведенную операцию и заботу. Дмитрий Александрович Гуляев прооперировал мне позвоночник, шейный отдел, удаление грыжи С3-С4. Результат очень хороший. Если у Вас еще есть сомнения оперироваться или нет у него, можете не сомневаться идите смело - мастер своего дела.Отдельное спасибо Ольге Владимировне за проявленное внимание. Желаю вашему процветания, ваша помощь неоценима! 
    +pageSubsection: include /blocks/reviews-footer/reviews-footer
  +pageSection({ backgroundColor: true })
    h2.text-align-center Диагностические возможности
    +pageSubsection(class= gridClasses({ columns: 10 }))
      +blockMarked(class= cellClasses({ l: 5, m: 5, xs: 10 }))
        p Центр оснащён диагностическим оборудованием 
          strong ведущих мировых производителей
          | , позволяющим осуществлять высокоточную визуализацию с использованием МРТ и КТ, функциональное, нейрофизиологическое, а также лабораторное тестирование.
      +blockMarked({ researches: true })(class= cellClasses({ l: 5, m: 5, xs: 10 }))
        p Организуем выполнение всех необходимых исследований, которые вы сможете пройти в день приёма.
      each item in diagnostics
        +diagnosticsItem(item)(class= cellClasses({ l: 2, m: 2, s: 5, xs: 10 }))
  +pageSection({ backgroundColor: true, noPadding: 'top' })
    h2.text-align-center Для наших пациентов
    +pageSubsection(class= gridClasses())
      +blockMarked({ loan: true, tag:'a' })(href='/to-patients/lechenie-v-rassrochku/' class= cellClasses({ l: 6, m: 6, xs: 12 })).hover-effect
        +textMarked({ tag: 'p', color: 'green', fontWeight: 'bold' }) Рассрочка без переплаты на 3 месяца
        p Критерии для одобрения:
        ul.list-unordered
          li Возраст — от 18 до 75 лет включительно
          li Гражданство РФ
          li Ежемесячный доход, одобрение также для самозанятых, пенсионеров и ИП
          li Для оформления рассрочки необходим только паспорт.
      +blockMarked({ tax: true })(class= cellClasses({ l: 6, m: 6, xs: 12 }))
        +textMarked({ tag: 'p', color: 'green', fontWeight: 'bold' }) Налоговый вычет
        p Вы 
          strong можете вернуть 13%
          |  от стоимости лечения в нашем центре. 
        p Подробности можно уточнить у администратора клиники.

  +pageSection()
    h2.text-align-center Как попасть на лечение?
    +pageSubsection({ tag: 'ol' })(class= gridClasses({ justify: 'center' })).list-steps
      each step in steps
        +listStepsItem(step)(class= cellClasses({ l: 4, m: 6, xs: 12 })).list-steps__item !{step.body}
  +pageSection({ backgroundColor: true })
    +grid({ justify: { l: 'space-between', xs: 'center' } })
      +cell({ l: 5, xs: 8 }): img(src='https://dummyimage.com/1040x900')
      +cell({ l: 6, m: 7, xs: 12 })
        h2 Записаться на прием к врачу
        +textMarked({ tag: 'p' }) Уточните дополнительную информацию по телефону 
          +textMarked({ tag: 'span', color: 'green' }).no-wrap 8 800 222-25-90
          |  или заполните форму:
        p Администратор свяжется с вами для уточнения даты и времени.
        form.par 
          +formInput({ type: 'text', placeholder: 'ФИО пациента' }).par
          +formInput({ type: 'tel', placeholder: 'Телефон' }).par
          +formInput({ type: 'checkbox', label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных', checked: true }).par
          +button(type='submit').form-submit.par Записаться
