extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = true;
block content
  - const sliderCaption = '<p>Наши пациенты размещаются в одноместных комфортабельных палатах с телевизором, холодильником, телефоном, санузлом.</p>'
  +pageSection: +grid(): +cell({ l: 6 })
    +slider({ pagination: false, smallArrows: true }, sliderCaption)
      +slide: a.fancybox(href='https://neuros.ru/images/1000/gospitalizacia-image-1.jpg' style='background-image:url();')
        picture(itemscope='' itemtype='http://schema.org/ImageObject')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-1.webp, https://neuros.ru/images/1000/gospitalizacia-image-1@2x.webp 2x' type='image/webp')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-1.jpg, https://neuros.ru/images/1000/gospitalizacia-image-1@2x.jpg 2x')
          img(src='https://neuros.ru/images/1000/gospitalizacia-image-1.jpg' alt='Общий вид одноместной палаты' title='Общий вид одноместной палаты' itemprop='contentUrl')
      +slide: a.fancybox(href='https://neuros.ru/images/1000/gospitalizacia-image-2.jpg' style='background-image:url();')
        picture(itemscope='' itemtype='http://schema.org/ImageObject')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-2.webp, https://neuros.ru/images/1000/gospitalizacia-image-2@2x.webp 2x' type='image/webp')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-2.jpg, https://neuros.ru/images/1000/gospitalizacia-image-2@2x.jpg 2x')
          img(src='https://neuros.ru/images/1000/gospitalizacia-image-2.jpg' alt='Одноместная палата' title='Одноместная палата' itemprop='contentUrl')
      +slide: a.fancybox(href='https://neuros.ru/images/1000/gospitalizacia-image-3.jpg' style='background-image:url();')
        picture(itemscope='' itemtype='http://schema.org/ImageObject')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-3.webp, https://neuros.ru/images/1000/gospitalizacia-image-3@2x.webp 2x' type='image/webp')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-3.jpg, https://neuros.ru/images/1000/gospitalizacia-image-3@2x.jpg 2x')
          img(src='https://neuros.ru/images/1000/gospitalizacia-image-3.jpg' alt='Комфортабельная одноместная палата' title='Комфортабельная одноместная палата' itemprop='contentUrl')
      +slide: a.fancybox(href='https://neuros.ru/images/1000/gospitalizacia-image-4.jpg' style='background-image:url();')
        picture(itemscope='' itemtype='http://schema.org/ImageObject')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-4.webp, https://neuros.ru/images/1000/gospitalizacia-image-4@2x.webp 2x' type='image/webp')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-4.jpg, https://neuros.ru/images/1000/gospitalizacia-image-4@2x.jpg 2x')
          img(src='https://neuros.ru/images/1000/gospitalizacia-image-4.jpg' alt='Комфортабельная палата' title='Комфортабельная палата' itemprop='contentUrl')
      +slide: a.fancybox(href='https://neuros.ru/images/1000/gospitalizacia-image-5.jpg' style='background-image:url();')
        picture(itemscope='' itemtype='http://schema.org/ImageObject')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-5.webp, https://neuros.ru/images/1000/gospitalizacia-image-5@2x.webp 2x' type='image/webp')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-5.jpg, https://neuros.ru/images/1000/gospitalizacia-image-5@2x.jpg 2x')
          img(src='https://neuros.ru/images/1000/gospitalizacia-image-5.jpg' alt='Комфортабельная палата с телевизором' title='Комфортабельная палата с телевизором' itemprop='contentUrl')
      +slide: a.fancybox(href='https://neuros.ru/images/1000/gospitalizacia-image-6.jpg' style='background-image:url();')
        picture(itemscope='' itemtype='http://schema.org/ImageObject')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-6.webp, https://neuros.ru/images/1000/gospitalizacia-image-6@2x.webp 2x' type='image/webp')
          source(srcset='https://neuros.ru/images/1000/gospitalizacia-image-6.jpg, https://neuros.ru/images/1000/gospitalizacia-image-6@2x.jpg 2x')
          img(src='https://neuros.ru/images/1000/gospitalizacia-image-6.jpg' alt='Санузел' title='Санузел' itemprop='contentUrl')
