extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection
    p 
      a(href='sport-traumatology.html') Спортивная травмотология — sport-traumatology.html
      br
      a(href='osteoarthritis.html') Остеоартрит — osteoarthritis.html
    p
      a(href='home.html') Главная страница — home.html
      br
      a(href='sertificates.html') Сертификаты — sertificates.html
      br
      a(href='hospitalization.html') Госпитализация — hospitalization.html
      br
      a(href='news.html') Новости — news.html
    p
      a(href='konsultatsiya.html') Консультация — konsultatsiya.html
      br
      a(href='konsultatsiya-answer.html') Консультация, детальная страница — konsultatsiya-answer.html
      br
      a(href='konsultatsiya-ask.html') Консультация, форма вопроса — konsultatsiya-ask.html
    p
      a(href='biopsy.html') Биопсия — biopsy.html
    p
      a(href='medical-tourism.html') Страница мед туризм - medical-tourism.html
    h2 Операции
    ul.list-unordered
      li: a(href='/operacii/') Операции — /operacii/index.pug
      li: a(href='/operacii/golovnoy-mozg/') Головной мозг — /operacii/golovnoy-mozg/index.pug
      li: a(href='/operacii/spinnoi-mozg/') Спинной мозг — /operacii/spinnoi-mozg/index.pug
      li: a(href='/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva.html') Декомпрессия тройничного нерва — /operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva.pug
      li: a(href='/operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy.html') Клипирование аневризмы — /operacii/golovnoy-mozg/sosudi/klipirovanie-anevrizmy.pug
      li: a(href='/operacii/golovnoy-mozg/plastika-cherepa.html') Пластика черепа — /operacii/golovnoy-mozg/plastika-cherepa.pug
      li: a(href='/operacii/pozvonochnik/degenerativnye/udalenie-gryzhi/index.html') Удаление грыжи позвоночника — /operacii/pozvonochnik/degenerativnye/udalenie-gryzhi/index.pug  
    h2 Лечение
    ul.list-unordered
      li: a(href='/lechenie/') Виды неврологических болезней - lechenie.html
      li: a(href='/lechenie/golovnoy-mozg/index.html') Болезни головного мозга - /lechenie/golovnoy-mozg/index.pug
      li: a(href='/lechenie/spinnoy-mozg/index.html') Болезни спинного мозга - /lechenie/spinnoy-mozg/index.pug
      li: a(href='/lechenie/golovnoy-mozg/opuholi/opuholi.html') Опухоли головного мозга - /lechenie/golovnoy-mozg/opuholi/opuholi.pug
      li: a(href='/lechenie/golovnoy-mozg/opuholi/kavernoma.html') Кавернома - /lechenie/golovnoy-mozg/opuholi/kavernoma.pug
      li: a(href='/lechenie/golovnoy-mozg/opuholi/ependymoma.html') Эпендимома - /lechenie/golovnoy-mozg/opuholi/ependymoma.pug
      li: a(href='/lechenie/pozvonochnik/gryzha-grudnogo-otdela.html') Грыжа грудного отдела (с блоками Содержание и Информацию проверил) - /lechenie/pozvonochnik/gryzha-grudnogo-otdela.pug
      li: a(href='/lechenie/pozvonochnik/gryzha-poyasnichnogo-otdela.html') Грыжа поясничного отдела - /lechenie/pozvonochnik/gryzha-poyasnichnogo-otdela.pug
      li: a(href='/lechenie/golovnoy-mozg/opuholi/nevrinoma-sluhovogo-nerva.html') Невринома слухового нерва - /lechenie/golovnoy-moz/gopuholi/nevrinoma-sluhovogo-nerva.pug
      li: a(href='/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma.html') Субдуральная гематома головного мозга - /lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma.pug
      li: a(href='/lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva.html') Невралгия тройничного нерва - симптомы и лечение - /lechenie/golovnoy-mozg/nevralgiya/troynichnogo-nerva.pug
      li: a(href='/lechenie/perifericheskie-nervy/ishias.html') Синдром грушевидной мышцы - /lechenie/perifericheskie-nervy/ishias.pug
      li: a(href='/lechenie/perifericheskie-nervy/nevroma-mortona.html') Неврома Мортона - /lechenie/perifericheskie-nervy/nevroma-mortona.pug
      li: a(href='/lechenie/pozvonochnik/travmy-pozvonochnika/kokcigodiniya.html') Кокцигодиния - /lechenie/pozvonochnik/travmy-pozvonochnika/kokcigodiniya.pug

    h2 Направления
    ul.list-unordered
      li: a(href='/directions/neurology.html') Неврология - neurology.html
      li: a(href='/directions/konsultatsiya-neyrokhirurga.html') Нейрохирургия - konsultatsiya-neyrokhirurga.html 
