extends /blocks/layout/layout

include /blocks/page-subsection/page-subsection
include /blocks/page-section/page-section
include /blocks/consultation-list/consultation-list
include /blocks/consultation-categories/consultation-categories

block head
  -
    var pageTitle = 'Опухоли головного мозга'
    var pageDescription = ''
    var pageKeywords = ''
  <link href="https://fonts.googleapis.com/css?family=Scada:400,700&amp;subset=cyrillic" rel="stylesheet">
block content
  .consultation-container: .wrapper.main-content
    +pageSection
      +grid()
        +cell({l:8,xs:12})
          +pageSubsection: include /blocks/consultation-ask-panel/consultation-ask-panel
          +pageSubsection
            -
              var consItems = [
                {
                  title:'Анапластическая эпиндемома обоих полушарий мозжечка функционально значимых зон',
                  question: 'Здравствуйте. Меня зовут Надежда дочь пациентки Семагиной Натальи Леонтьевны. 03.04.1960 г. Обращаемся к Вам с диагнозом экстрадуральная опухоль крестца (гигантоклеточная?) Жалобы: недержание мочи. Боли в области крестца, отдающие в правую нижнюю конечность',
                  author: 'Татьяна',
                  date:'08.10.2019',
                },
                {
                  title:'Экстрадуральная опухоль крестца (гигантоклеточная?)',
                  question: '63 года состояние удовлетворительное с давних пор появился шум в левом ухе и иногда с утра бывают кратковременные головные боли есть заключение МРТ мр картина умеренной наружной гидроцефалиии нерезко выраженная гипоплазия дорзально-медиальных отделов',
                  author: 'Надежда',
                  date:'10.05.2020',
                },
                {
                  title:'Картина умеренной наружной гидроцефалиии',
                  question: 'Доброе время суток! Проконсультируйте пожалуйста по следующей проблеме. В 2015 году мужу (1991гр) был поставлен диагноз анапластическая эпиндемома обоих полушарий мозжечка функционально значимых зон, параствтловая. Проведена операция. В 2016 году был рецидив',
                  author: 'Олег',
                  date:'14.07.2020',
                },
              ]
            +consultationList(consItems)

          include /blocks/pagination/pagination
          include /blocks/consultation-ask-panel/consultation-ask-panel
        +cell({l:4,s:6,xs:12})
          include /data/consultation-categories
          +consultationCategories(consCategories) 
