extends /blocks/layout/layout

include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = 'Задать вопрос нейрохирургу'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .consultation-container: .wrapper.main-content
    +grid({ justify: 'space-between' }).consultation-ask
      +cell({ l: 6, xs:12 }).consultation-ask__form
        p Чтобы задать вопрос, введите свое имя, тему и выберите категорию вопроса - так ваш вопрос быстрее попадет к нужному специалисту. Впишите актуальный e-mail, текст вопроса и нажмите кнопку “Отправить”.
        p Оповещение об ответе будет выслано вам на электронную почту.
        form(class= gridClasses()).consultation-ask-form
          +cell({ tag: 'input', xs: 12 })(type='text' name='topic' value='' placeholder='Тема вопроса').contact-form-input
          +cell({ xs: 12 }).special-contact-form-select
            input.contact-form-input.required(type='text' name='theme' value='' placeholder='Выберите категорию' readonly='')
            table.specialists-list
              tr(data-doc='Вопросы по операциям'): td.specialists-list-item-name Вопросы по операциям
              tr(data-doc='Вопросы по болезням'): td.specialists-list-item-name Вопросы по болезням
          textarea.grid__cell.grid__cell--xs--12.consultation-ask-form__textarea.contact-form-textarea(name='message' placeholder='Ваш вопрос')
          +cell({ tag: 'input', m: 6, xs: 12 })(type='text' name='name' value='' placeholder='Ваше имя *').contact-form-input.required
          +cell({ tag: 'input', m: 6, xs: 12 }).contact-form-input.required(type='text' name='email' value='' placeholder='Электронная почта *')
          +cell({ xs: 12 })
            .consultation-ask-form__file-header Прикрепить файл
            p При необходимости вы можете прикрепить файл с фотографией или рентгенографическим снимком к своему вопросу.
            +grid
              +cell({ m: 6, xs: 12, tag: 'input' })(type='file')
              +cell({ m: 6, xs: 12 }) Допустимые форматы: jpg, png, doc
          +cell({ xs: 12 })
            .privacy-policy.consultation-ask-form__conditions
              label.checkbox-styled
                input(type='checkbox' name='privacy-policy' checked)
                span.checkbox-styled-label
              .privacy-policy-text Я ознакомлен(-а) с 
                a(href='/policy/' target='_blank') Положением о конфиденциальности
          +cell({ l: 4, m: 6, s: 8, xs: 12 })
            a.button(href='#' onclick="send('questions', event)") Отправить
      +cell({ s: 5, xs: 12 }).consultation-ask__info
        +textMarked({ tag: 'p' }) Задавая вопрос, пожалуйста, постарайтесь придерживаться данной схемы:
        ul
          li Возраст пациента
          li Состояние пациента на данный момент
          li Жалобы пациента
          li Длительность заболевания
          li Данные обследований (если есть снимки, заключения специалистов)
          li Какое лечение проводилось, есть ли эффект?
          li Сопутствующие заболевания
          li Вопрос к специалисту
        p Информация, которую вы получите в ответе, безусловно, не заменит собой информацию, получаемую при персональном обращении к врачу, но она поможет вам сориентироваться в проблеме, понять алгоритм необходимых действий и разъяснит некоторые аспекты вашего заболевания.
