extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-steps-item/list-steps-item
include /blocks/tourism-hotels/tourism-hotels
include /blocks/tourism-service/tourism-service

block head  
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #f8f7f6').main-content
    
    +pageSection({ noPadding: 'top', noContent: true }) 
      +grid({ noGap: true }).tourism-header 
        +cell({ m:7 }).tourism-header__inner
          p.tourism-header__title Лечение &laquo;под ключ&raquo; для пациентов из-за рубежа
          div.tourism-header__list
            p врачи мирового уровня со стажем от 20 лет 
            p персональный менеджер, готовый ответить на все вопросы
            p лечение на базе крупнейшего научно-клинического центра России
          a(href='#appointment' data-modal).tourism-header__link Заявка на онлайн-консультацию
        +cell({ m:5, alignSelf: center })
          +img({
            name: 'tourism-header',
            path: '/images/to-patients/inogorodnim/', 
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ], }
            ]
            })(alt= 'Лечение &laquo;под ключ&raquo; для пациентов из-за рубежа' width=1200 height=968).tourism-header__image

    +pageSection({ noPadding: 'top', noContent: true })
      +grid 
        +cell({ m:8 })
          p Наш Центр принимает пациентов со всех городов России и стран СНГ, а также дальнего зарубежья. Мы понимаем как непросто бывает решиться на лечение в другом городе или даже стране, поэтому оказываем дополнительную поддержку гостям города. К вашим услугам будет предоставлен персональный менеджер, который поможет:
          ul.list-unordered 
            li организовать трансфер из аэропорта;
            li определиться с вариантом размещения при клинике (в том числе и для сопровождающих родственников);
            li подобрать переводчика (если требуется);
            li выяснить нюансы по процессу лечения и заранее определиться со сроками пребывания.
          p Также для приезжих доступна опция предварительного бронирования у врачей. Мы постараемся не только оказать вам лечение на самом высоком уровне с быстрой реабилитацией, а также сделать ваше пребывание в Северной столице максимально комфортным.
        +cell({ m:4 })
          +img({
            name: 'consultation',
            path: '/images/to-patients/inogorodnim/', 
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ], }
            ]
            })(alt= 'Консультация врача' width=700 height=415)
    
    +pageSection({ noPadding: 'top', noContent: true })
      +grid({ noGap: true }).tourism-online
        +cell({ l:3, m:4 })
          +img({
            name: 'online',
            path: '/images/to-patients/inogorodnim/', 
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ], }
            ]
            })(alt= 'Онлайн консультация врача' width=1000 height=666)
        +cell({ l:9, m:8}).tourism-online__inner
          p Если вы из другого города и у вас нет возможности заранее приехать на консультацию хирурга, возможно проведение заочной предварительной консультации со специалистом
          a(href='#appointment' data-modal).button.button--secondary Записаться на онлайн-консультацию

    .page-section.page-section--no-padding--top
      h2.text-align-center Что мы лечим?
      +grid().page-subsection
        -
          const services = [
            { name: 'Головной мозг', list: [
                { name: 'Опухоли головного мозга', href: '/lechenie/golovnoy-mozg/opuholi/' },
                { name: 'Заболевания сосудов головного мозга'},
                { name: 'Пороки развития головного мозга'},
                { name: 'Гидроцефалии'},
                { name: 'Дефекты черепа'},
                { name: 'Внутричерепная гипертензия'},
                { name: 'Функциональные нарушения головного мозга'},
              ]},
            { name: 'Спинной мозг', list: [
                { name: 'Опухоли спинного мозга', href: '/lechenie/spinnoy-mozg/opuholi/' },
                { name: 'Заболевания сосудов спинного мозга'},
                { name: 'Пороки развития спинного мозга'},
                { name: 'Дегенеративные изменения спинного мозга'},
                { name: 'Гидромиелия'},
              ]},
            { name: 'Позвоночник', list: [
                { name: 'Дегенеративные изменения позвоночника'},
                { name: 'Опухоли позвоночника'},
                { name: 'Травматическая деформация позвоночника'},
              ]},
            { name: 'Периферическая нервная система', list: [
                { name: 'Травмы периферической нервной системы'},
                { name: 'Функциональные нарушения периферических нервов'},
              ]},
          ]
        each service in services  
          +tourismService(service)(class= cellClasses({ l: 3, s: 6, xs: 12 }))  

    .page-section.page-section--no-padding--top
      <h2 class="text-align-center">Как попасть на лечение?</h2>
      <div class="grid grid--justify--center list-steps list-steps--numbered page-subsection">
        <div class="list-steps-item grid__cell grid__cell--l--3 grid__cell--m--6 grid__cell--xs--12 list-steps-item--numbered list-steps__item list-steps__item--numbered ">
          <div class="block-marked list-steps-item__info">
            <h3 class="list-steps-item__title">Получение анализов</h3>
            <div class="list-steps-item__body">
          <p>Предварительно отправьте <span class="text-marked text-marked--size--m text-marked--font-weight--bold">снимки МРТ, КТ</span> и другие исследования на&nbsp;почту <a href="mailto:info@neuros.ru">info@neuros.ru</a>.</p>

            </div>
          </div>
        </div>
        <div class="list-steps-item grid__cell grid__cell--l--3 grid__cell--m--6 grid__cell--xs--12 list-steps-item--numbered list-steps__item list-steps__item--numbered">
          <div class="block-marked list-steps-item__info">
            <h3 class="list-steps-item__title">Онлайн-консультация</h3>
            <div class="list-steps-item__body">
              <p>На усмотрение врача возможно потребуется онлайн-консультация, либо будут назначены <span class="text-marked text-marked--size--m text-marked--font-weight--bold">дополнительные анализы.</span></p>

            </div>
          </div>
        </div>
        <div class="list-steps-item grid__cell grid__cell--l--3 grid__cell--m--6 grid__cell--xs--12 list-steps-item--numbered list-steps__item list-steps__item--numbered">
          <div class="block-marked list-steps-item__info">
            <h3 class="list-steps-item__title">Составление плана</h3>
            <div class="list-steps-item__body">
              <p>Врач составляет план лечения, <span class="text-marked text-marked--size--m text-marked--font-weight--bold">оценивает</span> ориентировочную <span class="text-marked text-marked--size--m text-marked--font-weight--bold">стоимость</span> и <span class="text-marked text-marked--size--m text-marked--font-weight--bold">отвечает на все вопросы.</span></p>

            </div>
          </div>
        </div>
        <div class="list-steps-item grid__cell grid__cell--l--3 grid__cell--m--6 grid__cell--xs--12 list-steps-item--numbered list-steps__item list-steps__item--numbered">
          <div class="block-marked list-steps-item__info">
            <h3 class="list-steps-item__title">Начинаем лечение</h3>
            <div class="list-steps-item__body">
              <p>В Санкт-Петербурге <span class="text-marked text-marked--size--m text-marked--font-weight--bold">подтверждаем диагноз</span> и оказываем необходимую медицинскую помощь.</p>

            </div>
          </div>
        </div>
      </div>
    
    +pageSection({ noPadding: 'top', noContent: true })
      .icon-block.icon-block--tourism
        p После лечения врач назначает контрольные обследования, пациент их&nbsp;выполняет и&nbsp;отправляет в&nbsp;клинику. Хирург интересуется послеоперационным состоянием по&nbsp;телефону: #[strong бесплатно] консультирует, дает рекоментации. При желании пациент может вернуться, пройти обследования в&nbsp;центре, но&nbsp;обычно в&nbsp;этом нет необходимости.

    .page-section.page-section--no-padding--top
      h2.text-align-center Варианты размещения рядом с центром
      -
        const hotels = [
          {
            title: 'Гостиница больницы',
            price: 'от 2400 руб./ночь', 
            img: 'hospital',
          },
          {
            title: 'Гостиничный комплекс',
            price: 'от 1200 руб./ночь',
            img: 'hotel-complex',
          },
          {
            title: 'Отель',
            price: 'от 3400 руб./ночь',
            img: 'hotel',
          },
        ]
      +tourismHotels(hotels)
