extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    +slider({ smallArrows: true }, sliderCaption).slider-news
      +slide: a#bx_3218110189_5631.news-list-item(href='/press-room/news/vnimanie-aktsiya1/')
          span.news-list-item-content
            span.news-list-item-title Внимание, акция!
            span.news-list-item-preview-text
              | Акция! Скидка 50% на консультацию сосудистого нейрохирурга, к.м.н. Киселёва В.С., только 16.10 - 17.10!
              br
      +slide: a#bx_3218110189_5085.news-list-item(href='/press-room/news/master-klass-glioma-2019/')
          span.news-list-item-content
            span.news-list-item-title Мастер-класс глиома 2019
            span.news-list-item-preview-text 22-23 марта, клиническая больница №122 им. Л.Г. Соколова ФМБА, Санкт-Петербург
      +slide: a#bx_3218110189_1.news-list-item(href='/press-room/news/priem-nevrologa-po-subbotam/')
          span.news-list-item-content
            span.news-list-item-title Прием невролога по субботам!
            span.news-list-item-preview-text
              | Уважаемые Пациенты!
              br
              | Спешим Вам сообщить, что с 26 апреля 2018 года в нашем центре будет проходить прием невролога по субботам!
      +slide: a#bx_3218110189_5004.news-list-item(href='/press-room/news/aktsiya/')
          span.news-list-item-content
            span.news-list-item-title АКЦИЯ!
            span.news-list-item-preview-text С 25 апреля 2018г. электронейромиография(ЭНМГ) со скидкой!
      +slide: a#bx_3218110189_5007.news-list-item(href='/press-room/news/neyrokhirurgicheskiy-tsentr-zapuskaet-obrazovatelnye-programmi/')
          span.news-list-item-content
            span.news-list-item-title
              | Нейрохирургический центр им. Проф. Г.С. Тиглиева «Новые технологии» Запускает «Образовательные программы»
            span.news-list-item-preview-text
              | Нейрохирургический центр им. Проф. Г.С. Тиглиева «Новые технологии» Запускает «Образовательные программы» 
              br
      +slide: a#bx_3218110189_2.news-list-item(href='/press-room/news/master-klass-v-fgbu-szfmits-im-almazova/')
          span.news-list-item-content
            span.news-list-item-title Мастер-класс в ФГБУ «СЗФМИЦ им. Алмазова»
            span.news-list-item-preview-text
              | 27 мая 2017 года в ФГБУ «СЗФМИЦ им. Алмазова» Минздрава России прошел мастер – класс «Реконструктивная нейрохирургия», в котором приняли участие ведущие нейрохирурги России.
      +slide: a#bx_3218110189_3.news-list-item(href='/press-room/news/d-a-gulyaev-prochel-lektsii-dlya-ordinatorov-pervogo-goda/')
          span.news-list-item-content
            span.news-list-item-title Д.А. Гуляев прочел лекции для ординаторов первого года
            span.news-list-item-preview-text
              | 28 января 2017 года в актовом зале ФГБУЗ КБ № 122 им. Л.Г. Соколова ФМБА России д.м.н., Гуляев Дмитрий Александрович прочел курс лекций для ординаторов по специальности "Нейрохирургия"
      +slide: a#bx_3218110189_33.news-list-item(href='/press-room/news/nasha-stranitsa-vkontakte/')
          span.news-list-item-content
            span.news-list-item-title Наша страница Вконтакте
            span.news-list-item-preview-text
              | Уважаемые Пациенты!
              br
              | Присоединяйтесь к нашей группе ВКонтакте и всегда будьте в курсе последних новостей Центра.
      +slide: a#bx_3218110189_5006.news-list-item(href='/press-room/news/master-klass-zadnyaya-fiksatsiya-s1-s2-pozvonkov/')
          span.news-list-item-content
            span.news-list-item-title Мастер-класс «Задняя фиксация С1-С2 позвонков»
            span.news-list-item-preview-text
              | 5-6 декабря в г.Санкт-Петербург в СПБ ГБУЗ «Александровская больница» был проведен мастер-класс «Задняя фиксация С1-С2 позвонков».
      +slide: a#bx_3218110189_5005.news-list-item(href='/press-room/news/v-pskove-proshla-konferentsiya/')
          span.news-list-item-content
            span.news-list-item-title
              | в г.Пскове прошла конференция «Актуальные вопросы нейрохирургии: диагностика и лечение»
            span.news-list-item-preview-text
              | 13-14 ноября 2015 года в г.Пскове прошла конференция « Актуальные вопросы нейрохирургии: диагностика и лечение»
      +slide: a#bx_3218110189_5003.news-list-item(href='/press-room/news/vpervye-v-rossii/')
          span.news-list-item-content
            span.news-list-item-title Впервые в России!
            span.news-list-item-preview-text 6 и 7 декабря проведена уникальная нейрохирургическая операция...
      +slide: a#bx_3218110189_5002.news-list-item(href='/press-room/news/teper-i-v-subbotu/')
          span.news-list-item-content
            span.news-list-item-title Теперь и в субботу!
            span.news-list-item-preview-text
              | Уважаемые клиенты! 
              br
              |  Мы сообщаем, что теперь работаем по субботам с 11:00 до 14:00, пожалуйста, ждём Ваших звонков!
              br
      +slide: a#bx_3218110189_5001.news-list-item(href='/press-room/news/my-vystupili-s-dokladom/')
          span.news-list-item-content
            span.news-list-item-title Мы выступили с докладом
            span.news-list-item-preview-text
              | Наши нейрохирурги приняли участие и выступили с докладом на тему
              | "Тотальное эндопротезирование при дегенеративном поражении шейного
              | отдела позвоночника" Годанюк Д.С., Гуляев Д.А., Каурова Т.А., ...
      +slide: a#bx_3218110189_5000.news-list-item(href='/press-room/news/robotizirovannaya-sistema-spineassist-teper-i-u-nas/')
          span.news-list-item-content
            span.news-list-item-title Роботизированная система SpineAssist теперь и у нас!
            span.news-list-item-preview-text
              | Единственная в Санкт-Петербурге роботизированная система SpineAssist,
              | позволяющая проводить хирургические вмешательства на позвоночнике с
              | уникальной точностью до 1 мм ...
      +slide: a#bx_3218110189_4999.news-list-item(href='/press-room/news/spetsialnoe-predlozhenie-v-avguste/')
          span.news-list-item-content
            span.news-list-item-title Специальное предложение в Августе!
            span.news-list-item-preview-text
              | Консультация у любого врача выгоднее на 20%! Только в августе, ждём Вас в Нейрохирургическом центре "Новые Технологии"! 
              br
      +slide: a#bx_3218110189_4997.news-list-item(href='/press-room/news/provedena-uspeshnaya-operatsiya-patsientke-pozhilogo-vozrasta/')
          span.news-list-item-content
            span.news-list-item-title Проведена успешная операция пациентке пожилого возраста
            span.news-list-item-preview-text
              | Пациентка с выраженным стенозом позвоночного канала, осложнившимся
              | развитием парапареза в ногах, нарушения функции тазовых органов
              | (недержание мочи)
      +slide: a#bx_3218110189_4996.news-list-item(href='/press-room/news/vyshla-statya-ot-nashikh-vrachey/')
          span.news-list-item-content
            span.news-list-item-title Вышла статья от наших врачей
            span.news-list-item-preview-text
              | Основные направления в реабилитации больных, перенесших краниофациальную блок-резекцию по поводу опухолей основания черепа
      +slide: a#bx_3218110189_4995.news-list-item(href='/press-room/news/vystuplenie-v-bratislave/')
          span.news-list-item-content
            span.news-list-item-title Выступление в Братиславе
            span.news-list-item-preview-text
              | Наши хирурги выступили с докладом в европейском съезде нейрохирургов в Братиславе в октябре 2012 г.
      +slide: a#bx_3218110189_4998.news-list-item(href='/press-room/news/obnovlennye-razdely/')
          span.news-list-item-content
            span.news-list-item-title Обновленные разделы
            span.news-list-item-preview-text На нашем сайте обновились разделы, спешите посмотреть
      +slide: a#bx_3218110189_4994.news-list-item(href='/press-room/news/vosstanovlenie-funktsii-litsevogo-nerva/')
          span.news-list-item-content
            span.news-list-item-title Восстановление функции лицевого нерва
            span.news-list-item-preview-text
              | Повреждения лицевого нерва, как и его заболевания, занимают первое место среди поражений черепных нервов. Число больных в возрасте от 10 до 30 лет составляет 60-70%. В нашем центре научились ...
      +slide: a#bx_3218110189_4993.news-list-item(href='/press-room/news/smi-komanda-khirurgov-vershit-chudesa/')
          span.news-list-item-content
            span.news-list-item-title СМИ: Команда хирургов вершит чудеса
            span.news-list-item-preview-text
              | Петербурге успешно завершилась сложнейшая операция. Ее провела сводная бригада хирургов клинической больницы № 122 и медицинского университета имени Павлова. ...
