extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/h2/h2
include /blocks/icon-block/icon-block
include /blocks/list-steps-item/list-steps-item
include /blocks/accordion-item/accordion-item
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/slider/slider
include /blocks/review-item/review-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ noContent: true })
    +blockMarked.content.landing-header.landing-header--osteoarthritis
      p.landing-header__title.text-align-center Устранение боли и&nbsp;улучшение подвижности суставов #[br] без операций и&nbsp;таблеток
      p.landing-header__text.text-align-center Только до конца марта скидка на курс инъекций 20%!
      a(href="#appointment" data-modal).button.button--tertiary Записаться к врачу

  +pageSection({ noContent: true, noPadding: 'top' })
    +blockMarked(class= gridClasses({ 'alignItems':'center', justify: 'center' })).content
      +cell({ m:7 })
        h2 О методе
        +pageSubsection
          p Инъекции плазмы, обогащенной факторами роста по&nbsp;технологии PRGF Endoret BTI&nbsp;&mdash; это метод лечения, основанный на&nbsp;применении собственной, богатой тромбоцитами плазмы крови пациента.
          p Факторы роста&nbsp;&mdash; это белки, которые в&nbsp;норме присутствуют в&nbsp;плазме крови и&nbsp;в&nbsp;тромбоцитах. Они выполняют важную функцию в&nbsp;коммуникации между клетками и&nbsp;обладают множеством биологических свойств, играющих важную роль в&nbsp;процессах заживления и&nbsp;регенерации тканей. Также они стимулируют:
          ul.list-unordered 
            li #[span.text-marked.text-marked--size--m.text-marked--font-weight--bold восстановительные процессы] на уровне клеток
            li #[span.text-marked.text-marked--size--m.text-marked--font-weight--bold разрастание клеток] соединительной ткани
            li рост кровеносных сосудов, что улучшает #[span.text-marked.text-marked--size--m.text-marked--font-weight--bold кровоснабжение и питание тканей], усиливает кислородный обмен.
          p Данный метод подходит для лечения ряда заболеваний и травм #[span.text-marked.text-marked--size--m.text-marked--font-weight--bold любых суставов] в организме человека.
      +cell({ m:5, s:10 })
        +img({
          name: 'about',
          path: '/images/landing/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Восстановление поврежденного участка сосуда' title= 'Восстановление поврежденного участка сосуда' width=434 height=324)

  +pageSection({ backgroundColor: true })
    +h2.text-align-center При каких диагнозах применяется плазма, обогащенная факторами роста?
    +grid.page-subsection
      +iconBlock({ tag: 'div', checked: true, white: true })(class= cellClasses({ s:6 }))
        +textMarked({ tag: 'p', fontWeight: 'bold', size: 'xl' }) Остеоартрит
      +iconBlock({ tag: 'div', checked: true, white: true })(class= cellClasses({ s:6 }))
        +textMarked({ tag: 'p', fontWeight: 'bold', size: 'xl' }) Артроз

  +pageSection({ backgroundColor: true, noPadding: 'top' })
    +h2.text-align-center Результат лечения инъекциями плазмы
    +grid.page-subsection
      - 
        const results = [
          {
            mod: 'timer',
            text: 'Замедляет',
            span: 'процесс заболевания',
          },
          {
            mod: 'bones',
            text: 'Улучшает',
            span: 'подвижность сустава',
          },
          {
            mod: 'pain',
            text: 'Сокращает',
            span: 'воспаление и боль',
          },
          {
            mod: 'walk',
            text: 'Возвращает',
            span: 'функцию и мобильность',
          },
          {
            mod: 'joint',
            text: 'Нормализует',
            span: 'питание тканей суставов',
          },
          {
            mod: 'shield',
            text: 'Замедляет',
            span: 'разрушение суставного хряща',
          },
        ]
      each item in results
        +cell({m:4, s:6})(class= `icon-block icon-block--vertical icon-block--white icon-block--landing-${item.mod}`)
          +textMarked({ tag: 'p', fontWeight: 'bold', size: 'xl' })= item.text 
          span.text-align-center= item.span

  +pageSection({ noContent: true })
    +blockMarked.content
      +h2.text-align-center Преимущества плазмотерапии
      +grid({ 'noGap': true }).page-subsection
        -
          const list = ['Отсутствие аллергии', 'Выздоровление наступает примерно в 2-3 раза быстрее, чем при медикаментозном лечении', 'Минимум побочных эффектов', 'Препарат действует локально, только в месте введения', 'Минимум осложнений']
        
        - for (let i = 0; i < list.length; i++)
          +cell({ m:6 })
            ul.list-unordered
              +textMarked({ tag: 'li', fontWeight: 'bold', color: 'grey', size: 'xl' })= list[i]
        
  +pageSection({ noContent: true, noPadding: 'top' })
    +blockMarked(class= gridClasses({ 'justify': 'space-between' })).content
      +cell({ m:6 })
        +img({
          name: 'specialists',
          path: '/images/landing/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Специалисты Нейрохирургического Центра им.профессора Г.С. Тиглиева' title= 'Специалисты Нейрохирургического Центра им.профессора Г.С. Тиглиева' width=632 height=324)
      +cell({ l:5, m:6 })
        h2 Преданность качеству
        +pageSubsection
          p Наши врачи #[span.text-marked.text-marked--size--m.text-marked--font-weight--bold прошли специальную подготовку] и имеют многолетний опыт работы по методике PRGF Endoret BTI с использованием расходных материалов и оборудования, произведенных в Испании.
          p Технология была разработана для применения с использованием точных и очень строгих протоколов, которые #[span.text-marked.text-marked--size--m.text-marked--font-weight--bold гарантируют качество конечного продукта.]

  +pageSection({ backgroundColor: true })
    +h2.text-align-center Этапы
    +pageSubsection({ tag: 'ol' })(class= gridClasses({ justify: 'center' })).list-steps.list-steps--numbered
      -
        const steps = [
          {
            title: 'Консультация',
            body: `
              <p>Врач проведёт <span class="text-marked text-marked--size--m text-marked--font-weight--bold"> осмотр</span>, при наличии показаний к PRGF-терапии назначит первичный набор анализов: клинический и биохимический анализы крови, тест на инфекционные заболевания и пр., и, учитывая их результаты, <span class="text-marked text-marked--size--m text-marked--font-weight--bold">сделает вывод о возможности</span> процедуры.</p>
            `,
          },
          {
            title: 'Лечение',
            body: `
              <p>В процедурном кабинете происходит <span class="text-marked text-marked--size--m text-marked--font-weight--bold">забор крови</span> у пациента. Процедура проводится натощак. Кровь разделяется на фракции в специальной центрифуге. После этого производится послойный забор тромбоконцентрата и его активация. Готовый препарат <span class="text-marked text-marked--size--m text-marked--font-weight--bold">вводят в поражённую область.</span></p>
            `,
          },
          {
            title: 'После процедуры',
            body: `
              <p>Вся процедура обычно занимает около <span class="text-marked text-marked--size--m text-marked--font-weight--bold">30 минут.</span> Для получения наилучшего эффекта рекомендовано пройти курс из <span class="text-marked text-marked--size--m text-marked--font-weight--bold">3&ndash;5 процедур.</span></p>
            `,
          },
        ] 
      each step in steps
        +listStepsItem(step)(class= cellClasses({ l: 4, m: 6, xs: 12 })).list-steps-item--numbered.list-steps-item--arrow-bg-grey.list-steps__item.list-steps__item--numbered !{step.body}

  //- +pageSection
    +h2.text-align-center Что говорят о нас пациенты
    +slider({ fullWidth: true, pagination: false }).slider-reviews.page-subsection
      +slide: +reviewItem({
        author: 'Лилия Мельникова',
        location: 'Санкт-Петербург',
      })
        p Присоединяюсь к многочисленным словам благодарности в адрес Нейрохирургического Цента им.Проф.Тиглиева от имени родных Ваших пациентов. Высочайший уровень профессионализма, пунктуальность, поддержка и деликатность - это то, что так необходимо нам в самые трудные моменты жизни, когда сердце разрывается от переживаний за близких. И все это мы встретили в Вашем Центре. Дорогая Ольга Владимировна! У Вас прекрасная команда! Берегите Ваших виртуозов, которые творят настоящие чудеса! Дмитрий Александрович и Дмитрий Андреевич спасли самое дорогое, что есть у нас в жизни - нашу маму.
      +slide: +reviewItem({
        author: 'Николай Иванович',
        location: 'Санкт-Петербург',
      })
        p Огромное спасибо хочу сказать всему коллективу нейрохирургического центра “Новые технологии”, и отдельное спасибо - двум волшебникам: Гуляеву Дмитрию Александровичу и Кондюкову Дмитрию Андреевичу. Два месяца назад у меня была удалена грыжа межпозвонкового диска L4-L5. В нейрохирургическом центре я находился всего три дня. Сколько внимания, чуткости, доброты и отзывчивости я здесь увидел! В центре работают настоящие профессионалы, мастера своего дела, дружная сплоченная команда. СПАСИБО всем вам за ваш труд. Успехов и процветания вашему центру! Крепкого здоровья и счастья всем вам! 
      +slide: +reviewItem({
        author: 'Денис',
        location: 'Санкт-Петербург',
      })
        p Большое Вам спасибо за проведенную операцию и заботу. Дмитрий Александрович Гуляев прооперировал мне позвоночник, шейный отдел, удаление грыжи С3-С4. Результат очень хороший. Если у Вас еще есть сомнения оперироваться или нет у него, можете не сомневаться идите смело - мастер своего дела.Отдельное спасибо Ольге Владимировне за проявленное внимание. Желаю вашему процветания, ваша помощь неоценима! 
    +pageSubsection: include /blocks/reviews-footer/reviews-footer

  +pageSection({ backgroundColor: true, noPadding: 'top' })
    +h2.text-align-center Часто задаваемые вопросы
    +pageSubsection 
      +grid({ 'justify':'center' }): +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3><span class="text-marked text-marked--color--grey text-marked--font-weight--bold">При каких показаниях применяют данный метод лечения?</span></h3>').par
          p Остеоартрит, артроз, хроническая тендинопатия, повреждения сухожилий, мышц, связок, патология мениска
        +accordionItem('<h3><span class="text-marked text-marked--color--grey text-marked--font-weight--bold">С какими методами лечения сочетается эта процедура?</span></h3>').par
          p Этот метод прекрасно сочетается со всеми другими методами лечения позвоночника и суставов. Особенно эффективно признано сочетание плазмотерапии со следующими процедурами:
          ul.list-unordered 
            li лечебная физкультура;
            li лекарственная терапия.
        +accordionItem('<h3><span class="text-marked text-marked--color--grey text-marked--font-weight--bold">Какие есть противопоказания?</span></h3>').par
          ul.list-unordered 
            li беременность и лактация;
            li инфекции, вирусы, воспалительные процессы;
            li заболевания крови;
            li онкопатологии;
            li обострения хронических недугов;
            li сахарный диабет;
            li заболевания кожи;
            li возраст до 18 лет.
        +accordionItem('<h3><span class="text-marked text-marked--color--grey text-marked--font-weight--bold">Когда становится заметен эффект и как долго он держится?</span></h3>').par
          p Первые результаты плазмотерапии вы увидите уже через 10-15 дней после начала курса. Эффект развивается в течение 6 недель. В дальнейшем рекомендуется повторить курс для поддержания эффекта через 6 месяцев и далее по необходимости.

  +pageSection({ noContent: true}) 
    +blockMarked(class= gridClasses({ 'justify': 'space-between' })).content
      +cell({ l:5, m:6 })
        +grid({ justify:'center' })
          +cell({ m:12, s:8 })
            +img({
              name: 'kosov',
              path: '/images/landing/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ]
              })(alt= 'Косов Дмитрий Александрович' title= 'Косов Дмитрий Александрович' width=520 height=374)
          +cell
            +textMarked({ tag: 'p', fontWeight: 'bold', color: 'grey', size: 'xl' }).text-align-center Косов Дмитрий Александрович
            +textMarked({ tag: 'p', size: 'm' }).text-align-center Врач-травматолог-ортопед высшей категории #[br]
              +textMarked({ tag: 'span', size: 'm', fontWeight: 'bold' }) стаж работы: c&nbsp;2006&nbsp;г., помог более чем 5&nbsp;000 пациентам
          +cell 
            +grid({ 'alignItems': 'center' }) 
              +cell({ s:6 })
                a(href='/vrachi/kosov-dmitriy-aleksandrovich/').button Подробнее о враче
              +cell({ s:6 })
                a(href='/otzyvi/').button Отзывы
          
      +cell({ m:6 })
        h2 Запись на прием к врачу
        form.par 
          +formInput({ type: 'text', name: 'name', placeholder: 'ФИО пациента' }).par
          +formInput({ type: 'tel', name: 'phone', placeholder: 'Телефон' }).par
          +formInput({ type: 'email', name:'email', placeholder: 'Электронная почта' }).par
          +formInput({ type: 'checkbox', label: `Отправляя эту форму Вы соглашаетесь с <a href='/policy/'> условиями обработки персональных данных</a>`, checked: true }).par
          +button(type='submit').form-submit.button--secondary.par Записаться на прием
