extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection: +slider({ pagination: false }).slider-certificates
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/fe5/kiselev0018.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/fe5/kiselev0018.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/fbe/kiselev.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/fbe/kiselev.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/036/kiselev0001.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/036/kiselev0001.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/604/kiselev1.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/604/kiselev1.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/892/kiselev2.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/892/kiselev2.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/790/kiselev0003.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/790/kiselev0003.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/e48/kiselev3.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/e48/kiselev3.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/e7a/kiselev0004.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/e7a/kiselev0004.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/08d/kiselev0008.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/08d/kiselev0008.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/5d7/kiselev0011.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/5d7/kiselev0011.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/ead/kiselev0013.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/ead/kiselev0013.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/4f2/kiselev0014.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/4f2/kiselev0014.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/88d/kiselev0017.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/88d/kiselev0017.JPG' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/821/samorukova_001.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/821/samorukova_001.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/d3f/samorukova_002.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/d3f/samorukova_002.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/963/samorukova_003.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/963/samorukova_003.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/80a/samorukova_004.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/80a/samorukova_004.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/75f/samorukova_005.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/75f/samorukova_005.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/063/samorukova_006.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/063/samorukova_006.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/c27/samorukova_007.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/c27/samorukova_007.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/790/samorukova_008.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/790/samorukova_008.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/794/samorukova_009.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/794/samorukova_009.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/f27/samorukova_010.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/f27/samorukova_010.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/b3e/samorukova_011.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/b3e/samorukova_011.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/8e2/samorukova_012.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/8e2/samorukova_012.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/5cb/samorukova_013.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/5cb/samorukova_013.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/312/samorukova_014.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/312/samorukova_014.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/c92/samorukova_015.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/c92/samorukova_015.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/890/panov_022.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/890/panov_022.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/ab6/panov_023.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/ab6/panov_023.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/995/panov_024.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/995/panov_024.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/fbf/panov_025.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/fbf/panov_025.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/932/panov_026.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/932/panov_026.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/195/panov_027.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/195/panov_027.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/212/panov_028.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/212/panov_028.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/d19/panov_029.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/d19/panov_029.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/392/panov_030.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/392/panov_030.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/ae2/panov_001.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/ae2/panov_001.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/261/panov_002.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/261/panov_002.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/c65/panov_003.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/c65/panov_003.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/03b/panov_004.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/03b/panov_004.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/b0d/panov_005.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/b0d/panov_005.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/afa/panov_006.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/afa/panov_006.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/c38/panov_007.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/c38/panov_007.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/790/panov_008.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/790/panov_008.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/018/panov_009.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/018/panov_009.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/693/panov_010.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/693/panov_010.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/06b/panov_011.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/06b/panov_011.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/d27/panov_012.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/d27/panov_012.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/6db/panov_013.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/6db/panov_013.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/1b8/panov_014.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/1b8/panov_014.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/c3a/panov_015.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/c3a/panov_015.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/a06/panov_016.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/a06/panov_016.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/0f3/panov_017.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/0f3/panov_017.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/4ca/panov_018.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/4ca/panov_018.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/08d/panov_019.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/08d/panov_019.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/9a3/panov_020.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/9a3/panov_020.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/82c/panov_021.jpg')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/82c/panov_021.jpg' alt='Сертификаты' itemprop='contentUrl')
    +slide: a(data-fancybox='certificates' href='https://neuros.ru/upload/iblock/e67/sefr.JPG')
      picture(itemscope='' itemtype='http://schema.org/ImageObject')
        img(src='https://neuros.ru/upload/iblock/e67/sefr.JPG' alt='Сертификаты' itemprop='contentUrl')
