.home-numbers
  &__item
    display flex
    flex-direction column
    align-items center
  &__item-title
    position relative
    display flex
    justify-content center
    align-items center
    width unquote('min(100%, 15rem)')
    aspect-ratio 1.25 / 1
    overflow hidden
    font-size 4rem
    text-align center
    color var(--color-primary)
    @media (max-width point-m - 1)
      font-size 3rem
    &::before
      content ''
      position absolute
      top 0
      left 0
      // z-index -1
      width 100%
      aspect-ratio 1/1
      background-image radial-gradient(circle at center, \
        transparent 68%, \
        var(--color-primary) 68%, \
        var(--color-primary) 70%, \
        transparent 70%
      )
    & > span
      display flex
      align-items baseline
      margin-top 1rem
    small
      font-size 37.5%
  &__item-description
    width unquote('min(100%, 15rem)')
    margin-top 1.875rem
    text-align center
