.image-double
  display grid
  grid-template-columns repeat(4, 1fr)
  grid-template-rows repeat(3, 1fr) auto
  grid-gap var(--base-padding)
  @media (max-width point-l - 1)
    display block
  &__big
    display contents
    a
      grid-column-start 2
      grid-column-end 5
      grid-row-start 1
      grid-row-end 3
    & ^[-1]__description
      grid-column-start 3
      grid-column-end 5
      grid-row-start 3
      grid-row-end -1
      @media (max-width point-l - 1)
        margin-top var(--base-padding)
  &__small
    grid-column-start 1
    grid-column-end 3
    @media (min-width point-l)
      grid-row-start 2
      grid-row-end 4
    @media (max-width point-l - 1)
      margin-top var(--gap)
    img
      box-shadow 0 5px 10px 0 rgba(0,0,0,.2)
    & ^[-1]__description
      margin-top var(--base-padding)
  &__description
    @media (min-width point-l)
      grid-column-start 3
      grid-column-end 5
      grid-row 3 / -1
