mixin imageDouble(image1, image2)
  .image-double&attributes(attributes)
    .image-double__big
      a(href=''): +img(image1)(alt= image1.alt title= image1.alt width= image1.width height= image1.height)
      .image-double__description !{image1.description}
    .image-double__small
      +img(image2)(alt= image2.alt title= image2.alt width= image2.width height= image2.height)
      .image-double__description !{image2.description}
