.home-treatment
  &__skeleton
    @media(min-width point-l)
      padding-right 5rem
  &__body
    position relative
    display inline-block
  &__image
    opacity 0
    max-width 100%
  &__layer
    position absolute
    width 100%
    z-index 100
    g
      cursor pointer
  &__block
    display flex
    flex-direction column
    @media(min-width point-s)
      width max-content
  &__inner
    --transition-duration-in 0.3s
    --transition-duration-out 0.4s
    --title-color var(--color-text)
    display grid
    grid-template-rows min-content 0fr
    row-gap 0
    justify-items start
    padding-y 1.875rem
    padding-right 1.25rem
    transition-property grid-template-rows, row-gap
    transition-duration var(--transition-duration-out)
    &--active
      --title-color #4FB14A
      position relative
      grid-template-rows min-content 1fr
      row-gap 0.625rem
      transition-duration var(--transition-duration-in)
      background-color var(--color-bg)
      border-top-right-radius 20px
      border-bottom-right-radius 20px
      &::after
        content ''
        position absolute
        left 1px
        top -1px
        right 1px
        bottom -1px
        width 100%
        background linear-gradient(to left, #4FB14A, #4FB14A00)
        z-index -1
        border-top-right-radius 21px
        border-bottom-right-radius 21px
  &__title
    padding 0
    font-family 'Scada', sans-serif
    font-size 1.5rem
    font-weight 700
    color var(--title-color)
    text-align left
    background-color transparent
    border none
    border-bottom 2px dashed var(--title-color)
    transition color var(--transition-duration-out), border-color var(--transition-duration-out)
    &:hover
      color #4FB14A
      border-color #4FB14A
      transition-duration 0.1s 
  &__list
    overflow hidden
    li + li 
      margin-top 0.5rem
