a
  color var(--color-link)
  transition color var(--transition-duration-out)
  &:hover
    color var(--color-link-hover)
    transition-duration var(--transition-duration-in)
  &:active
    color var(--color-link-active)
    transition-duration var(--transition-duration-in)
  &[href^='#']
    text-decoration-style dotted
