.consultation-similar
  &__title
    margin-bottom 10px
  &__list
    display flex
    flex-direction column
    align-items flex-start
  &__item
    position relative
    padding-left 34px
    &::before
      content ''
      position absolute
      top 2px
      left 2px
      width 20px
      height 20px
      background-color #9D9EA0
      mask-image url(../images/svg-sprites/inner.svg#consultation-similar__item)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
  & + &
    margin-top 10px
