mixin logo(settings = {})
  a(href='/' class= classes('logo', settings))&attributes(attributes)
    if !settings.noInfo
      .logo__info
        .logo__title Нейрохирургический центр
        .logo__description Им. профессора Г.С. Тиглиева «Новые Технологии»
