.logo
  position relative
  color #444
  text-decoration none
  &:hover
    color var(--color-text-light)
  &:active
    color var(--color-black)
  &::before
    content ''
    position absolute
    top 0
    left 0
    background-image url(../images/svg-sprites/common.svg#logo)
    background-repeat no-repeat
    background-position center
    background-size cover
    @media (min-width point-m)
      width 4rem
      height 4rem
    @media (max-width point-m - 1)
      width 2.5rem
      height 2.5rem
