.logo
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  text-transform uppercase
  @media (min-width point-m)
    min-height 4rem
    padding-left 4.625rem
  @media (max-width point-m - 1)
    min-height 2.5rem
    padding-left 3.125rem
  &__title
    font-family 'PT Sans Narrow'
    font-weight bold
    @media (min-width point-m)
      font-size 19px
      font-weight bold
      line-height 17px
      letter-spacing 1.6px
    @media (max-width point-m - 1)
      $fontSizeM()
  &__description
    font-family 'PT Sans Narrow'
    text-transform uppercase
    @media (min-width point-m)
      font-size 12px
      line-height 17px
    @media (max-width point-m - 1)
      max-height 2em
      $fontSizeXs()
