.page-section
  @media (min-width point-m)
    padding 5rem 0 5rem
  @media (max-width point-m - 1)
    padding 2.5rem 0 2.5rem
  &--no-padding
    &--top
      @media (min-width point-m)
        padding-top 0
      @media (max-width point-m - 1)
        padding-top 0
