.hover-effect
  text-decoration none
  color inherit
  transition box-shadow var(--transition-duration-out)
  &:hover
    box-shadow 0 5px 10px 0 rgba(0, 0, 0, .2)
    transition-duration var(--transition-duration-in)
    color inherit
