extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Субдуральная гематома головного мозга

    +grid.page-subsection
      +cell({ m:6 })
        p Субдуральная гематома (subdural hematoma, СДГ)&nbsp;&mdash; это объемное скопление крови, расположенное между твердой и&nbsp;паутинной мозговыми оболочками, которое вызывает сдавление головного мозга, чаще всего связанное с&nbsp;черепно-мозговой травмой. 
        h2#gematoma-1 Распространенность заболевания
        p По&nbsp;сравнению с&nbsp;эпидуральной гематомой, субдуральную регистрируют чаще. Она занимает лидирующее место по&nbsp;количеству всех разновидностей внутричерепных гематом.
        p Результаты анализа последствий черепно-мозговых травм (ЧМТ) свидетельствуют о&nbsp;том, что в&nbsp;1-5% клинических случаев образуется острая субдуральная гематома, в&nbsp;то&nbsp;время как после тяжелой ЧМТ ее&nbsp;диагностируют уже в&nbsp;9-22% случаев. 
        p Заболевание чаще регистрируют у&nbsp;мужчин, чем у&nbsp;женщин (в&nbsp;соотношении 3:1), обычно в&nbsp;возрасте после 40&nbsp;лет. Но&nbsp;в&nbsp;целом его диагностируют у&nbsp;пациентов всех возрастных групп, включая новорожденных. 
      +figure({
        image: {
          name: 'subduralnaya-gematoma-1',
          path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
          formats: [
            { ext: 'jpg?v=1', orig: true },
            { ext: 'webp?v=1', mime: 'image/webp' },
          ],
          alt: 'Субдуральная гематома'
        }, 
      })(class= cellClasses({ m:6, xs:12 })) 

    //- +grid.page-subsection
    //-   +figure({
    //-     image: {
    //-       name: 'subduralnaya-gematoma-2',
    //-       path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
    //-       formats: [
    //-         { ext: 'jpg', orig: true },
    //-         { ext: 'webp', mime: 'image/webp' },
    //-       ],
    //-       alt: 'Различия между субдуральной и эпидуральной гематомами'
    //-     }, 
    //-   })(class= cellClasses({ m:6, xs:12 }))
    
    +grid.page-subsection
      +cell({ m:6 })
        h2#gematoma-2 Классификация
        p Классификация строится на&nbsp;сроке формирования и&nbsp;данных МКБ-10. 
        p В&nbsp;соответствии с&nbsp;первым критерием выделяют такие виды субдуральных гематом:
        ul.list-unordered.par
          li Острая. Формируется в&nbsp;течение трех суток с&nbsp;момента травматического повреждения.
          li Подострая субдуральная гематома сроки имеет такие: развивается в&nbsp;период от&nbsp;трех суток до&nbsp;двух недель с&nbsp;момента черепно-мозговой травмы.
          li Хроническая. Образуется позднее двух недель.
        p По&nbsp;МКБ-10 выделяют нетравматическую субдуральную гематому и&nbsp;травматическое субдуральное кровоизлияние с&nbsp;открытой внутричерепной раной или без.
      +cell({ m:6 })
        h3 Характеристики разных типов субдуральных гематом
        ul.list-unordered.par
          li Острая. Развивается в&nbsp;результате резкой травмы головы, что приводит к&nbsp;разрыву сосудов и&nbsp;скоплению крови между твердой и&nbsp;паутинной мозговыми оболочками. Она возникает быстро и&nbsp;может привести к&nbsp;резкому ухудшению состояния пациента.
          li Подострая. Характеризуется медленным нарастанием симптомов и&nbsp;проявлений. Она может быть следствием менее интенсивной, но&nbsp;продолжительной травмы головы. 
          li Субдуральная гематома хроническая.Часто развивается после легкой травмы головы или удара, особенно у&nbsp;пожилых людей. Она характеризуется небольшим скоплением крови, которое увеличивается постепенно, с&nbsp;течением времени.
        p Вне зависимости от&nbsp;типа гематомы, пациенту нужно как можно скорее обратиться за&nbsp;медицинской помощью, как только появились характерные симптомы. Если не&nbsp;сделать этого своевременно, наступит необратимое поражение головного мозга.
    
    +pageSubsection
      h2#gematoma-3 Причины возникновения
      p Источником субдуральной гематомы могут быть:
      ul.list-unordered.par
        li Поврежденные сосуды коры, оболочек мозга, а&nbsp;также вены, впадающие в&nbsp;сагиттальный, клиновидно-теменной и&nbsp;каменистый синусы. 
        li Даже легкая черепно-мозговая травма. Гематома субдуральная травматическая в&nbsp;таком случае формируется на&nbsp;фоне приема кроверазжижающих препаратов, заболеваний кроветворной системы.
        li У&nbsp;пожилых людей СДГ тоже появляется после легкой ЧМТ, что связано со&nbsp;слабостью сосудистой стенки

    +pageSubsection
      h2#gematoma-4 Патогенез
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })(class= gridClasses({ alignContent: 'space-between', smallGap: 'y' }))
          +cell
            p Субдуральное кровоизлияние головного мозга приводит к&nbsp;формированию гематомы, основой которой выступает кровь в&nbsp;свернувшемся или жидком виде. Иногда в&nbsp;составе присутствует разрушенная ткань мозга. 
            p Объем субдуральной гематомы может достигать от&nbsp;1&nbsp;мл до&nbsp;350&nbsp;куб.&nbsp;см. Эффект сдавления мозга возникает при объеме гематомы более 30-75&nbsp;куб.&nbsp;см. Если у&nbsp;пациента нарушено свертывание крови или он&nbsp;принимает кроверазжижающие препараты, то&nbsp;объем гематомы может увеличиваться значительно быстрее.
            p Наличие субдуральной гематомы может приводить к&nbsp;смещению срединных структур головного мозга (дислокации).
            p Субдуральная травматическая гематома обычно осложняется некрозом тканей головного мозга, связанным с&nbsp;их&nbsp;повреждением в&nbsp;результате сдавления. Образование увеличивает внутричерепное давление, провоцирует отек головного мозга, ишемию, рефлекторный спазм церебральных сосудов.

          //- +figure({
          //-   image: {
          //-     name: 'subduralnaya-gematoma-3',
          //-     path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
          //-     formats: [
          //-       { ext: 'jpg', orig: true },
          //-       { ext: 'webp', mime: 'image/webp' },
          //-     ],
          //-     alt: 'Ишемический инсульт'
          //-   }, 
          //- })(class= cellClasses({ xs:12 }))
        +cell({ m:6 })(class= gridClasses({ alignContent: 'space-between', smallGap: 'y' }))
          +cell
            p Ишемия, в&nbsp;свою очередь, способствует массивному повреждению, в&nbsp;результате которого патологические изменения охватывают близлежащие структуры головного мозга. 
            p Так, в&nbsp;14% случаев образование прорывается в&nbsp;желудочки головного мозга, в&nbsp;результате чего они наполняются кровью. А&nbsp;в&nbsp;23% случаев формируются множественные гематомы разных видов: не&nbsp;только субдуральная, но&nbsp;и&nbsp;эпи-субдуральная и&nbsp;эпидуральная. 
          //- +figure({
          //-   image: {
          //-     name: 'subduralnaya-gematoma-4',
          //-     path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
          //-     formats: [
          //-       { ext: 'jpg', orig: true },
          //-       { ext: 'webp', mime: 'image/webp' },
          //-     ],
          //-     alt: 'Нормальное состояние, эпидуральная и субдуральные гематомы'
          //-   }, 
          //- })(class= cellClasses({ xs:12 }))
    
    +pageSubsection
      h2#gematoma-5 Клиническая картина
      p При субдуральной гематоме клиника различна: зависит от&nbsp;объема гематомы, ее&nbsp;локализации, скорости формирования и&nbsp;других сопутствующих факторов. Общими для субдуральных кровоизлияний головного мозга будут тяжелые сопутствующие повреждения головного мозга, которые бывают двусторонними.

      h3 Общемозговая симптоматика
      +grid({ alignItems: 'flex-start' }).par
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y' }))
          +cell
            p Общемозговые симптомы проявляются рвотой, головной болью, расстройствами психики и&nbsp;сознания. 
            p Для классической клинической картины характерно нарушение сознания, протекающее в&nbsp;трех фазах:
            ol.list-ordered.par
              li Вначале сознание исчезает сразу&nbsp;же после черепно-мозговой травмы.
              li Затем восстанавливается на&nbsp;короткий период времени (эту фазу называют светлым промежутком).
              li Во&nbsp;время третьей фазы больной снова сталкивается с&nbsp;утратой сознания.
            
          +figure({
            image: {
              name: 'subduralnaya-gematoma-5',
              path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Потеря сознания - первый признак субдуральной гематомы'
            }, 
          })(class= cellClasses({ xs:12 }))
          
        +cell({ m:6 })(class= gridClasses({ smallGap: 'y' }))
          +cell
            p Классическая картина субдуральной гематомы наблюдается редко, так как субдуральные гематомы ассоциированы с&nbsp;ушибом головного мозга, поэтому утраченное бодрствование в&nbsp;первой фазе полностью не&nbsp;восстанавливается, а&nbsp;изменяется только его степень.
            p Продолжительность светлого промежутка разнообразна при каждом типе гематом:
            ul.list-unordered.par
              li При острой он&nbsp;длится от&nbsp;нескольких минут до&nbsp;нескольких часов.
              li При подострой&nbsp;&mdash; несколько суток.
              li При хронической&nbsp;&mdash; недели, месяцы, а&nbsp;в&nbsp;редких случаях даже годы.
            p Если светлый промежуток длится слишком долго, спровоцировать его завершение может повторное травмирование, скачки артериального давления и&nbsp;прочие факторы.
            p Некоторые пациенты жалуются на&nbsp;повышенную чувствительность к&nbsp;свету, головокружение, головную боль, которая отдает в&nbsp;глаза и&nbsp;затылок, усиливается после рвоты, отмечают дискомфортные ощущения во&nbsp;время движения глазными яблоками, снижение зрения.
            p Поскольку субдуральное кровоизлияние провоцирует сдавление головного мозга, поражаются определенные структуры, вызывая нарушение дыхания, повышение или снижение артериального давления, глобальное расстройство рефлексов и&nbsp;нарушение мышечного тонуса.
          //- +figure({
          //-   image: {
          //-     name: 'subduralnaya-gematoma-6',
          //-     path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
          //-     formats: [
          //-       { ext: 'jpg', orig: true },
          //-       { ext: 'webp', mime: 'image/webp' },
          //-     ],
          //-     alt: 'Симптомы субдуральной гематомы'
          //-   }, 
          //- })(class= cellClasses({ xs:12 }))

      h3 Очаговая симптоматика
      p Самый частый очаговый признак&nbsp;&mdash; расширение зрачка, которое в&nbsp;60% случаев регистрируют на&nbsp;стороне кровоизлияния. На&nbsp;противоположной стороне зрачок расширяется в&nbsp;том случае, если субдуральная гематома головного мозга сопровождается ушибом, охватывающим другое полушарие.
      p Симптом дополняется расстройством реакции на&nbsp;свет (она снижается или полностью исчезает), что свойственно острому течению заболевания. Для других типов гематом характерно сохранение реакции на&nbsp;свет.
      p Другие очаговые симптомы:
      ul.list-unordered.par
        li Некоторые пациенты жалуются на&nbsp;повышенную чувствительность к&nbsp;свету, головокружение, головную боль, которая отдает в&nbsp;глаза и&nbsp;затылок, усиливается после рвоты, отмечают дискомфортные ощущения во&nbsp;время движения глазными яблоками, снижение зрения. В&nbsp;определенных случаях расширение зрачков дополняется глазодвигательными нарушениями, опущением верхнего века. Возможны судороги, галлюцинации, слабость или паралич половины тела, угнетение сознания.
        li Характерен парез лицевого нерва, повышенный тонус мышц в&nbsp;конечностях, в&nbsp;результате чего снижается сила и&nbsp;двигательная активность. 
        li Возникает расстройство речи, сенсорные расстройства, связанные с&nbsp;нарушением глубоких и&nbsp;поверхностных видов чувствительности.
        li Диагностируют изменение тонуса в&nbsp;мышцах-сгибателях и&nbsp;разгибателях, хватательный рефлекс, вытягивание губ вперед, которое возникает при малейшем прикосновении к&nbsp;ним.
    
    +pageSubsection
      h2#gematoma-6 Диагностика
      p При субдуральной гематоме клинические рекомендации по&nbsp;постановке диагноза следующие. 
      p Диагностика начинается с&nbsp;полного неврологического обследования. Врач обязательно собирает анамнез, учитывает характер черепно-мозговой травмы, степень прогрессирования нарушения сознания, оценивает неврологический статус, наличие светлого промежутка.
      p Специалист направляет на&nbsp;рентгенографию черепа, а&nbsp;в&nbsp;качестве вспомогательных методов выбирает Эхо-ЭГ и&nbsp;офтальмоскопию. Обследуя глазное дно, определяет застойные диски зрительных нервов, признаки атрофии. 
      p &laquo;Золотой&raquo; стандарт при диагностике субдуральной гематомы&nbsp;&mdash; компьютерная или магнитно-резонансная томография.
      +grid.par
        +cell({ m:6 })(class= gridClasses({ alignContent: 'flex-start', smallGap: 'y' }))
          +cell
            h3 Особенности КТ&nbsp;при субдуральной гематоме
            p Субдуральная гематома острого течения на&nbsp;компьютерной томограмме выглядит как гомогенная зона, имеет вид серпа. А&nbsp;также для нее характерно повышение плотности. Обычно поражение охватывает практически всё полушарие, а&nbsp;иногда и&nbsp;оба. 
            p Если характеризовать эпидуральную и&nbsp;субдуральную гематому на&nbsp;КТ, то&nbsp;первая выглядит как двояковыпуклая или плосковыпуклая линза, прилегающая к&nbsp;своду черепа, которая наиболее часто сопровождается переломом костей черепа. Что касается субдурального образования, то, поскольку его содержимое смешано с&nbsp;разрушенными мозговыми тканями, цереброспинальной жидкостью, это обуславливает нечеткость контура на&nbsp;томограмме, что наиболее выражено при острой и&nbsp;подострой гематоме.
            p В&nbsp;некоторых случаях для заболевания характерно нетипичное место расположения: например, в&nbsp;участке намета мозжечка, межполушарной щели, средней черепной ямки. 
            p Если проводить обследование в&nbsp;более позднем периоде, то&nbsp;диагностика осложняется снижением плотности образования, поскольку кровяные пигменты распадаются, разжижается содержимое. В&nbsp;таких случаях необходимо выполнение МРТ. 
          +figure({
            image: {
              name: 'subduralnaya-gematoma-7',
              path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Компьютерная томограмма'
            }, 
          })(class= cellClasses({ xs:12 }))
        +cell({ m:6 })(class= gridClasses({ alignContent: 'flex-start', smallGap: 'y' }))
          +cell
            h3 Особенности МРТ при субдуральной гематоме
            p Анализируя при субдуральной гематоме МРТ, специалисты отмечают снижение контрастности снимка, что связано с&nbsp;отсутствием метгемоглобина. Чтобы обойти это ограничение, магнитно-резонансную томографию проводят с&nbsp;контрастным веществом. 
            p Поскольку капсула гематомы активно накапливает контраст, это становится вспомогательным средством для дифференцирования ее&nbsp;от&nbsp;арахноидальных кист и&nbsp;гигром. 
            p В&nbsp;целом МРТ становится приоритетным методом диагностики, когда нужно исследовать плоскостную субдуральную гематому, а&nbsp;также в&nbsp;случаях распространения образования в&nbsp;межполушарную щель или при базальном расположении. 
          +figure({
            image: {
              name: 'subduralnaya-gematoma-8',
              path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Процедура МРТ'
            }, 
          })(class= cellClasses({ xs:12 }))

    +pageSubsection
      h2#gematoma-7 Лечение субдуральной гематомы
      p Практикуем консервативное и&nbsp;хирургическое лечение, ориентируясь на&nbsp;сложность случая, состояние пациента и&nbsp;прочие индивидуальные особенности.
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          h3 Особенности хирургического лечения
          p Показание к&nbsp;хирургическому лечению&nbsp;&mdash; субдуральная гематома, которая сопровождается угнетением сознания, смещением срединных структур больше 5&nbsp;мм. А&nbsp;показание при хронической субдуральной гематоме&nbsp;&mdash; очаговая симптоматик, угнетение сознания, нарастание объема гематомы.
          p Нейрохирурги проводят удаление субдуральной гематомы следующими методами:
          ul.list-unordered.par
            li При острой субдуральной гематоме выполняют трепанацию черепа с&nbsp;удалением гематомы. 
            li При подострой и&nbsp;хронической субдуральных гематомах удаляют образование путем опорожнения его содержимого, наложения одного фрезевого отверстия и&nbsp;установки субдурального дренажа. 
            li При хронической гематоме головного мозга также возможно эндоваскулярное лечение путем эмболизации артерии, питающей капсулы гематомы.
        +figure({
          image: {
            name: 'subduralnaya-gematoma-9',
            path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Хирургическое вмешательство'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell
          h3 Особенности консервативного лечения
          p Консервативное лечение субдуральной гематомы проводим в&nbsp;случае ясного сознания, объема гематомы менее 35&nbsp;куб.&nbsp;см&nbsp;и&nbsp;смещения срединных структур не&nbsp;более 5&nbsp;мм. В&nbsp;случае ухудшения состояния рекомендовано выполнение КТ-контроля с&nbsp;последующей интерпретацией результатов лечащим врачом или врачом-нейрохирургом.

    +pageSubsection
      h2#gematoma-8 Почему лечение субдуральной гематомы в&nbsp;Санкт-Петербурге лучше проводить в&nbsp;нашем Центре? 
      ul.list-unordered.par
        li Хирургическое лечение по&nbsp;поводу удаления опухолей головного мозга проводим с&nbsp;1998&nbsp;года. За&nbsp;этот период разработали и&nbsp;запатентовали уникальную методику&nbsp;&mdash; оригинальный доступ к&nbsp;основанию черепной ямки.
        li Минимальная травматичность оперативного вмешательства, а&nbsp;потому быстрое восстановление за&nbsp;счет интраоперационного мониторинга, контроля хода операции под окуляром операционного микроскопа. 
        li Минимальный риск осложнений: оснастили операционные современными системами 3D-нейронавигации, видеоангиографии, нейромониторинга.
        li Хирургическое лечение осуществляют нейрохирурги широкого профиля, выполняющие операции при черепно-мозговых травмах, онкологических и&nbsp;сосудистых патологиях головного мозга. 
    
    +pageSubsection
      h2#gematoma-9 Осложнения
      p Проявляются последствиями после операции, на&nbsp;этапе выздоровления, а&nbsp;также связаны с&nbsp;возрастным фактором.
      +grid.par
        +cell({ m:6 })
          h3 Субдуральная гематома головного мозга: последствия после операции 
          p Возможные осложнения:
          ul.list-unordered.par
            li гнойно-воспалительные поражения мягких тканей головы (нагноение ран), костей черепа (остеомиелит), вещества мозга (энцефалит, абсцесс), его оболочек (менингит) и&nbsp;желудочков (вентрикулит);
            li прочие: рецидивные гематомы, ликворея, острые тромбозы внутричерепных вен и&nbsp;синусов твердой мозговой оболочки. 
          p Некоторое время может сохраняться головная боль, нарушение внимания, амнезия и&nbsp;тревога.
        +cell({ m:6 })
          h3 Другие возможные осложнения
          p В&nbsp;редких случаях остаются когнитивные расстройства, которые проявляются снижением критики к&nbsp;собственному поведению и&nbsp;состоянию, расстройствами памяти, мышления. Также возможна мышечная слабость верхних или нижних конечностей.
          p У&nbsp;пациентов пожилого возраста в&nbsp;головном мозге часто остается гигрома&nbsp;&mdash; пространство, заполненное жидкостью. Если оно увеличивается в&nbsp;размерах, то&nbsp;возрастает риск разрыва сосудов, а&nbsp;следовательно и&nbsp;повторного кровоизлияния.
    
    +pageSubsection
      h2#gematoma-10 Прогноз
      p Для благоприятного прогноза при тяжелой черепно-мозговой травме важно наиболее раннее обращение к&nbsp;врачу-нейрохирургу. Так, при субдуральной гематоме черепа необходимо как можно скорее доставить пострадавшего в&nbsp;клинику, чтобы оказать медицинскую помощь. Прогноз разный в&nbsp;каждом конкретном случае. Зависит от&nbsp;расположения образования, его типа, объема, давности формирования. Наиболее неблагоприятный прогноз при остром типе гематомы, которая сопровождается летальностью в&nbsp;50% случаев (а&nbsp;у&nbsp;пожилых пациентов показатель возрастает до&nbsp;90%) либо инвалидизацией.
      p Вероятные исходы лечения:
      ul.list-unordered.par
        li Исход ухудшается, если кровоизлияние сочетается с&nbsp;ушибами.
        li Более тяжелый исход регистрируют у&nbsp;пациентов с&nbsp;отсутствием светлого промежутка, что указывает на&nbsp;тяжелую степень травматизации головного мозга.
        li Исход хирургического лечения улучшается, если пациента прооперируют в&nbsp;первые 4-6 часов после черепно-мозговой травмы.
    
    +grid.page-subsection
      +cell({ m:6 })
        h2#gematoma-11 Профилактика
        ul.list-unordered.par
          li Следует избегать травматизма, особенно в&nbsp;области черепа. Для этого соблюдать правила дорожного движения, технику безопасности при высотных работах. Ездить на&nbsp;скейте, роликах, мотоцикле в&nbsp;защитном шлеме, носить каску на&nbsp;стройке, при подъеме в&nbsp;горы, а&nbsp;также во&nbsp;время занятий экстремальными видами спорта.
          li Вести здоровый образ жизни, отказаться от&nbsp;спиртного, поскольку наиболее часто тяжелую черепно-мозговую травму пациенты получают вследствии алкоголного опьянения. 
          li Внимательно относиться к&nbsp;состоянию здоровья, если уже диагностированы заболевания. Выполнять все рекомендации лечащего врача и&nbsp;проходить периодические диагностические осмотры. Так, страдающим гипертонией надо своевременно посещать терапевта и&nbsp;кардиолога, контролировать уровень артериального давления. Пациентам с&nbsp;сахарным диабетом отслеживать показатели крови, соблюдать рекомендации эндокринолога.
      +figure({
        image: {
          name: 'subduralnaya-gematoma-10',
          path: '/images/lechenie/golovnoy-mozg/sosudi/subduralnaya-gematoma/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          alt: 'Профилактика заключается прежде всего во внимании к своему организму и здоровой оценке рисков'
        }, 
      })(class= cellClasses({ m:6, xs:12 }))

    +pageSubsection
      h2#gematoma-12 Популярные вопросы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Какие рекомендации ускорят восстановление после операции?</h3>').par
          ul.list-unordered.par
            li После хирургического лечения нужно соблюдать режим сна, отдыхать в&nbsp;течение дня.
            li Контролировать нагрузку, восстанавливать прежний уровень деятельности постепенно, ориентируясь на&nbsp;самочувствие.
            li Возвращаться к&nbsp;занятиям спортом, езде на&nbsp;том или ином виде транспорта только после разрешения врача.
            li Выполнять все врачебные назначения, принимать препараты в&nbsp;тех дозах и&nbsp;с&nbsp;той частотой, которая прописана во&nbsp;врачебных рекомендациях.
            li Если возникают сложности с&nbsp;запоминанием, записывать информацию, чтобы чрезмерно не&nbsp;перегружать мозг.
            li Отказаться от&nbsp;приема спиртных напитков до&nbsp;полного восстановления.
        +accordionItem('<h3>Что такое субдуральная гематома простыми словами?</h3>').par
          p Это полость между оболочками мозга, которая заполнена кровью в&nbsp;результате кровоизлияния.
        +accordionItem('<h3>Какие методы диагностики являются наиболее точными?</h3>').par
          p Максимально достоверными диагностическими методами признаны&nbsp;КТ и&nbsp;МРТ. 
        +accordionItem('<h3>В&nbsp;каких случаях требуется срочная операция?</h3>').par
          p При угнетении сознания пострадавшего, появлении очаговой симптоматики, увеличении смещения срединных структур и&nbsp;объема гематомы, что диагностировано по&nbsp;результатам&nbsp;КТ головы или МРТ головного мозга.
        +accordionItem('<h3>Как долго длится восстановление после операции?</h3>').par
          p На&nbsp;срок восстановления влияет возрастной фактор и&nbsp;степень поражения. Дети восстанавливаются быстрее, в&nbsp;то&nbsp;время как для восстановления взрослых понадобится минимум полгода от&nbsp;момента черепно-мозговой травмы. 

    +pageSubsection
      h2#gematoma-13 Источники
      ol.list-ordered
        li Amano T, Miyamatsu Y, Otsuji R, Nakamizo A. Efficacy of&nbsp;endoscopic treatment for chronic subdural hematoma surgery. J&nbsp;Clin Neurosci.&nbsp;2021;92:78&mdash;84. 
        li Коновалов А.Н., Лихтерман Л.Б., Потапов А.А. (ред.) Клиническое руководство по&nbsp;черепно-мозговой травме: в&nbsp;3-х т. Т.1. Москва: Антидор; 1998.
        li Mobbs R, Khong P. Endoscopic-assisted evacuation of&nbsp;subdural collections. J&nbsp;Clin Neurosci.&nbsp;2009;16(5):701&mdash;704.
        li Недугов Г.В. Субдуральные гематомы. Самара: Офорт; 2011.
        li Серебренников Н.А., Мизгирёв Д.В., Талыпов А.Э. Малоинвазивные эндоскопические вмешательства в&nbsp;лечении травматических внутричерепных гематом. Журнал им. Н.В. Склифосовского &laquo;Неотложная медицинская помощь&raquo;. 2023;12(3):418-427.
