mixin reviewItem(item)
  article.review-item&attributes(attributes)
    .review-item__body
      block
    footer.review-item__footer
      .review-item__author !{item.author}
      .review-item__location !{item.location}
