.review-item
  position relative
  isolation isolate
  display flex
  flex-direction column
  justify-content space-between
  background-color var(--color-white)
  border-radius 10px
  .slide &
    height 100%
    max-height 100%
  @media (min-width point-m)
    padding var(--gap)
  @media (max-width point-m - 1)
    padding var(--base-padding)
  &::before
    content ''
    position absolute
    top 0
    right 5rem
    z-index -1
    width 11.625rem
    height 8.125rem
    background-color var(--color-bg)
    mask-image url(../images/svg-sprites/common.svg#quotes)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
  &__footer
    display flex
    flex-wrap wrap
    gap var(--base-padding) var(--gap)
    justify-content space-between
    margin-top var(--base-padding)
    padding-top var(--base-padding)
    border-top 1px solid var(--color-border)
  &__author
    color var(--color-text-light)
  &__location
    color var(--color-primary)
