extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/page-subsection/page-subsection
include /blocks/accordion-item/accordion-item
include /blocks/image-double/image-double
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isHomePage = false;
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff')
    +grid.par
      +cell({ l: 6, m: 8, xs: 12 })
        p Операции на головном мозге — это вид нейрохирургического лечения патологий мозговых структур. Оперативные вмешательства охватывают классические и современные методы, с использованием эндоскопического оснащения, микрохирургических инструментов, нейронавигации и интраоперационного мониторинга (контроля повреждения нервной ткани).
        p Проводят в следующих случаях:
        ul.list-unordered
          li новообразования злокачественной и доброкачественной природы;
          li невриномы, невралгии нервов;
          li гематомы, абсцессы и кисты;
          li патологии сосудов головного мозга;
          li гидроцефалия;
          li аномалия Арнольда-Киари
          li дефекты черепа.
      +cell({ l: 6, m: 4, xs: 12 })
        +img({
          name: 'operacii-na-golovnom-mozge',
          path: '/images/operacii/golovnoy-mozg/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='нейрохирургическая операция' title='нейрохирургическая операция')
        p Нейрохирургическая операция
    h2 Почему операцию на головном мозге в СПб лучше проводить в нашем Центре
    +grid({ tag: 'ul' })
      +iconBlock({ tag: 'li', anesthetic: true })(class= cellClasses({ m: 6, xs: 12 })) Анестетики подбираем с особой тщательностью: нетоксичные, быстро выводящиеся из организма и совместимые с другими препаратами.
      +iconBlock({ tag: 'li', solution: true })(class= cellClasses({ m: 6, xs: 12 })) Практикуем комбинированный подход к лечению. Сочетанное применение методов дает стабильные результаты хирургического лечения, минимизирует вероятность повторного роста опухоли.
      +iconBlock({ tag: 'li', mri: true })(class= cellClasses({ m: 6, xs: 12 })) Максимальная точность и эффективность помощи за счет транскраниальной магнитостимуляции и идентификации зон головного мозга.
      +iconBlock({ tag: 'li', helpingHand: true })(class= cellClasses({ m: 6, xs: 12 })) Помощь даже в самых тяжелых случаях: выполняем операции даже в самых труднодоступных местах, охватываем все мозговые структуры.
      +iconBlock({ tag: 'li', foreigner: true })(class= cellClasses({ m: 6, xs: 12 })) Тип опухоли определяем максимально точно, привлекая российских и зарубежных специалистов, при необходимости проводим верификацию диагноза за рубежом.
      +iconBlock({ tag: 'li', microscope: true })(class= cellClasses({ m: 6, xs: 12 })) Минимум травматичности хирургических вмешательств. Используем операционный микроскоп, который обеспечивает безошибочные действия во время операции, интраоперационный мониторинг, потому здоровые ткани не повреждаются.
      +iconBlock({ tag: 'li', neurosurgery: true })(class= cellClasses({ m: 6, xs: 12 })) Операции выполняют нейрохирурги, которые применяют мировые методики. (например, изобретенные и запатентованные в Японии) .
      +iconBlock({ tag: 'li', ecg: true })(class= cellClasses({ m: 6, xs: 12 })) Минимум осложнений при высокой эффективности помощи. В операционных современное оснащение: системы 3D-нейронавигации, видеоангиографии и нейромониторинга.

    h2 Стоимость
    +iconBlock({ coins: true }): p Цена операции на головном мозге зависит от сложности случая, типа хирургического лечения, использованных материалов и оборудования. Точную сумму назовет врач во время первого визита в Центр. Стоимость оперативного вмешательства прозрачная и честная, без скрытых платежей.
    h2 Виды операций на головном мозге
    p Хирургические вмешательства классифицируем по виду патологического состояния. Проводим биопсию новообразования, а потом операцию по удалению опухоли головного мозга или кисты.
    .block-marked.block-marked--grey.par
      p Состояние гидроцефалии устраняем шунтированием и вентрикулостомией, компрессию — декомпрессией тройничного, лицевого или зрительного нерва.
    p Декомпрессией краниобертебрального перехода хирургически лечим пороки развития головного мозга.
    p Проводим операции на сосуды головного мозга:
    ul.list-unordered
      li дренирование гематом;
      li клипирование, окклюзия аневризм;
      li удаление мальфораций, гематом;
      li эмболизация фистул, соустий, мальфораций;
      li стенирование артерий, эндоваскулярная ангиопластика;
      li разобщение артериодуральных фистул;
      li прямая реваскуляризация головного мозга.
    p По времени проведения хирургические вмешательства бывают:
    ul.list-unordered
      li плановыми (при наличии показаний);
      li срочными (для лечения инсультов и абсцессов).
    p В зависимости от вида хирургической помощи, оперативные вмешательства могут быть:
    ul.list-unordered
      li Открытыми. Вскрываем череп, получаем прямой доступ к пораженной зоне. Операцию делаем под общим наркозом, в случае обширного поражения и злокачественной природы новообразования.
      li Эндоскопическими. Показаны для лечения мозговых желудочков, каналов, опухолей гипофиза. Обезболивание сочетанное, например, для введения зонда, биопсии применяем анестетики местного действия. Эндоскопическим способом удается убрать кровотечения, разрушить образования. Операцию этого типа сочетаем с лазерным методом и коагуляцией.
      li Стереотаксическими. Вмешательство проводим через крошечное отверстие, чтобы получить доступ в оперируемый участок с помощью специального микроинструмента. За счет этого манипуляции приобретают точность до миллиметра. Выполняем под общим наркозом, хирургически лечим гиперкинезы, болевые синдромы, эпилепсию.
      li Эндовазальными. Обезболиваем местными анестетиками, используем катетеры, чтобы доставить окклюзионные вещества к оперируемому участку. Этим методом лечим аневризмы и другие патологии сосудов.
    h2 Основные этапы
    +grid({ justify: 'space-between' }).par
      +cell({ l: 6, m: 8, xs: 12 })
        h3 Обследование
        p Принимаем решение о хирургическом вмешательстве после постановки диагноза, а в случае опухоли — после определения ее природы.
        p На этом этапе проводим магнитно-резонансную или компьютерную томографию, трактографию в современно оснащенном отделении визуализационной диагностики.
        p Отбираем образец ткани опухоли, исследуем в гистологической лаборатории, чтобы определить доброкачественная она или злокачественная, степень прогрессирования и показания к хирургическому лечению.
      +cell({ l: 5, m: 4, xs: 12 })
        +img({
          name: 'provedenie-mrt',
          path: '/images/operacii/golovnoy-mozg/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='проведение МРТ' title='проведение МРТ')
        p Проведение МРТ
    +grid({ justify: 'space-between' }).par
      +cell({ l: 5, m: 4, xs: 12 })
        +img({
          name: 'izuchenie-analizov-pacienta',
          path: '/images/operacii/golovnoy-mozg/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1 ] }
          ]
        })(alt='изучение анализов пациента' title='изучение анализов пациента')
        p Изучение анализов пациента
      +cell({ l: 6, m: 8, xs: 12 })
        h3 Подготовительный этап
        p Разрабатываем план нейрохирургического оперативного вмешательства. Применяем данные нейрофизиологического картирования участков головного мозга и результаты МРТ или КТ.
        p Проводим комплексную подготовку по минимизации риска отека мозга. Изучаем данные общего анализа крови, назначаем режим воздержания от приема пищи, алкоголя и никотина.
        p Внимательно и ответственно подбираем анестетик, который не вызовет аллергию, токсические поражения, быстро выводится из организма.
    +grid({ justify: 'space-between' }).par
      +cell({ l: 6, m: 8, xs: 12 })
        h3 Собственно операция
        p Получаем хирургический доступ к участку поражения. Проводим трепанацию черепной коробки или получаем доступ через небольшое отверстие, используя микроинструмент.
        p Проводим хирургическое вмешательство оптимальным методом. Продолжительность будет зависеть от сложности оперативного лечения, величины патологического процесса (например, новообразования):
        ul.list-unordered
          li краниотомия — пара часов;
          li стереотаксические, эндоскопические методы — до часа.
      +cell({ l: 5, m: 4, xs: 12 })
        +img({
          name: 'operaciya-na-golovnom-mozge',
          path: '/images/operacii/golovnoy-mozg/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1 ] }
          ]
        })(alt='операция на головном мозге' title='операция на головном мозге')
        p Операция на головном мозге
    h2 Особенности операций на головном мозге
    +grid({ justify: 'space-between' }).par
      +cell({ l: 6, m: 8, xs: 12 })
        ul.list-unordered
          li Операцию проводят врачи Нейрохирургического центра им. профессора Г.С. Тиглиева «Новые технологии», специализирующиеся на патологических процессах головного мозга. С навыками, знаниями и опытом в проведении сложнейших хирургических вмешательств, потому эффективность помощи высока.
          li В Центре работает нейрохирург, специализирующийся именно на операциях на головном мозге.
          li Высокий процент успешных операций — используем международные стандарты, практикуем собственные методы, на которые получили патенты.
          li Послеоперационные осложнения исключены, поскольку используем оригинальные методы, чтобы сохранить функциональность головного мозга, исключить расстройство его кровообращения.
          li Эффективность вмешательств обеспечена прогрессивным нейрохирургическим оснащением (хирургическим микроскопом, системой навигации компьютеризированного типа, интраоперационным мониторингом), современными микрохирургическими технологиями.
      +cell({ l: 5, m: 4, xs: 12 })
        +img({
          name: 'specialisty-neyrohirurgicheskogo-centra',
          path: '/images/operacii/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='Специалисты нейрохирургического центра' title='Специалисты нейрохирургического центра')
        p Специалисты нейрохирургического центра
    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Назовите противопоказания</h3>').par
        p Почечная недостаточность, диабет, тяжелые заболевания дыхательной системы, сердца, печени, нарушение свертываемости крови, острые гнойные и онкологические процессы (на 4-й стадии).
      +accordionItem('<h3>Когда можно снова водить машину?</h3>').par
        p Через две недели от момента оперативного лечения, а также, если отсутствуют проблемы со зрением, памятью, прекращен прием препаратов, вызывающих рассеянность внимания и сонливость. А также машину нельзя водить при сохранении судорожного синдрома.
      +accordionItem('<h3>Как правильно ухаживать за прооперированной областью?</h3>').par
        p Защищайте от прямых солнечных лучей, не используйте фен, не наносите средства для волос и мази, кремы до тех пор, пока ранка не затянется.
      p Не откладывайте визит к врачу, запишитесь на прием вовремя! В противном случае состояние может усугубиться, а хирургическое лечение окажется неэффективным.
