extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content.wrapper
    +grid
      +cell({ l:7, m:8, s:12 })
        p Пластика черепа&nbsp;&mdash; это хирургические вмешательства для устранения дефектов черепной коробки. 
        p Проводят в&nbsp;следующих случаях:
        ul.list-unordered
          li метеозависимость: головные боли в&nbsp;участке черепного дефекта;
          li потребность восстановить эстетику черепа (например, с&nbsp;помощью контурной пластики костей лицевого черепа); 
          li черепно-мозговые травмы, переломы;
          li участки мозга, не&nbsp;покрытые костной тканью;
          li выпячивание содержимого черепной коробки.

      +cell({ l:5, m:4, s:10 })
        +img({
          name: 'skull',
          path: '/images/operacii/golovnoy-mozg/plastika-cherepa/',
          formats: [
            { ext: 'png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Пластика черепа: до/после' title= 'Пластика черепа: до/после' width=600 height=316)
        p Пластика черепа: до/после

    h2 Почему пластику черепа в&nbsp;СПб лучше проводить в&nbsp;нашем Центре?
    +grid({ tag: 'ul' })
      +iconBlock({ tag: 'li', neurosurgery: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Операцию проводит врач с&nbsp;европейским образованием, который специализируется на&nbsp;хирургическом лечении головного мозга и&nbsp;костных структур.
      +iconBlock({ tag: 'li', certificate: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Практикуем подходы к&nbsp;лечению, принятые во&nbsp;всем мире, проводим уникальные операции, применяем запатентованные авторские методики.
      +iconBlock({ tag: 'li', pills: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Общая анестезия под контролем современного европейского оборудования, которое соответствует мировым стандартам и&nbsp;требованиям. За&nbsp;счет этого обеспечиваем требуемую глубину, длительность наркоза. Пробуждение пациента происходит в&nbsp;первый час после вмешательства.
      +iconBlock({ tag: 'li', knife: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Эффективность и&nbsp;гладкое течение послеоперационного периода обеспечено щадящими микрохирургическими техниками, минимальным вмешательством, чтобы не&nbsp;затрагивать здоровые структуры. 
      +iconBlock({ tag: 'li', modeling: true })(class= cellClasses({ l:6, m: 6, xs: 12 })) Максимально точное восстановление конфигурации костей черепа за&nbsp;счет компьютерного 3D-моделирования, на&nbsp;этапе которого рассчитывается необходимый размер титановой пластины, планируется оптимальное прилегание для безупречного восстановления дефектов черепной коробки.

    h2 Пластика черепа: цена операции
    +iconBlock({ coins: true })
      p Стоимость зависит от&nbsp;объема хирургического вмешательства, места расположения костного дефекта (например, нужна&nbsp;ли пластика костей свода черепа), величины титановой пластины (необходима&nbsp;ли стандартная или изготовленная индивидуально). 
      p Ценообразование в&nbsp;клинике прозрачное: не&nbsp;завышаем цены, скрытые платежи отсутствуют, врач называет полную сумму хирургического лечения во&nbsp;время первого визита в&nbsp;Центр.

    h2 Особенности пластики черепа
    p Костные дефекты черепной коробки в&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; восстанавливаем методом краниопластики. 
    p Суть операции заключается в&nbsp;закрытии костных дефектов с&nbsp;помощью титановой пластины.
    h3 Особенности и&nbsp;преимущества краниопластики
    ul.list-unordered
      li Восстановление защиты головного мозга от&nbsp;инфицирования, повреждений. 
      li Нормализация лимфо- и&nbsp;кровотока.
      li Исчезают симптомы метеозависимости.
      li Улучшается эстетика черепа.
      li Психологический дискомфорт снимается.
      li Титан не&nbsp;провоцирует воспалительную реакцию и&nbsp;не&nbsp;вызывает аллергию.
      li Возможность восстановить сложнейшие дефекты костей черепа.
      li Послеоперационные риски практически отсутствуют.
      li Минимизирует риск спаечного процесса.
      li Удачный выбор для эстетической пластики костных дефектов черепа.
      li После внедрения пластины, изготовленной из&nbsp;титана, нет ограничений на&nbsp;проведение контрольной&nbsp;КТ и&nbsp;даже рентгена.
    .block-marked.block-marked--grey.par
      p Весомую роль в&nbsp;успешности краниопластики дефекта черепа играет безрамная нейронавигация. После компьютерной томографии, нейрохирург загружает результат в&nbsp;нейронавигационную установку, чтобы воссоздать отсутствующие костные структуры. 
    p При изготовлении индивидуальной титановой пластины требуемой формы, каждый этап контролируют и&nbsp;сопоставляют с&nbsp;компьютерной моделью. В&nbsp;результате получают трансплантат точного прилегания для полного перекрытия костного дефекта.

    h3 Этапы краниопластики
    +grid.par
      +cell({ l: 7, m: 7, xs: 12 })
        h4 Подготовительный этап 
        +grid({ tag: 'ol' }).list-ordered-blocks
          +cell({ tag: 'li', l: 6, m: 6, s: 6, xs: 12 }).list-ordered-blocks__item Пациент проходит консультацию у&nbsp;невролога, офтальмолога, исследования. 
          +cell({ tag: 'li', l: 6, m: 6, s: 6, xs: 12 }).list-ordered-blocks__item Сдает анализ крови, мочи, проходит ЭКГ, УЗИ, рентген легких либо флюорографию. 
          +cell({ tag: 'li', l: 12, m: 12, s: 12, xs: 12 }).list-ordered-blocks__item Обязательна компьютерная томография головного мозга и&nbsp;костей черепа. Давность компьютерной томограммы не&nbsp;должна превышать 3-х месяцев, а&nbsp;толщина срезов&nbsp;&mdash; 1&nbsp;миллиметр (актуально при сложных дефектах черепа, когда нужен индивидуальный заказ пластины). 
      +cell({ l: 5, m: 5, xs: 12 })
        +img({
          name: 'stage-1',
          path: '/images/operacii/golovnoy-mozg/plastika-cherepa/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Врач изучает рентген черепа' title= 'Врач изучает рентген черепа' width=630 height=378)
        p Врач изучает рентген черепа

    +grid.par
      +cell({ l: 5, m: 5, xs: 12 })
        +img({
          name: 'stage-2',
          path: '/images/operacii/golovnoy-mozg/plastika-cherepa/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Исправление формы затылка (верхнее фото) и лба (нижнее фото)' title= 'Исправление формы затылка (верхнее фото) и лба (нижнее фото)' width=630 height=378)
        p Исправление формы затылка (верхнее фото) и лба (нижнее фото)

      +cell({ l: 7, m: 7, xs: 12 })
        h4 Планирование вмешательства
        ol.list-ordered
          li Составляем план хирургической помощи. 
          li Подбираем препараты для общей анестезии: проверяем на&nbsp;отсутствие аллергии, отдаем предпочтение средствам, которые быстро выводятся из&nbsp;организма, не&nbsp;оказывают токсического воздействия, легко переносятся и&nbsp;обеспечивают гладкое течение наркоза. 
          li Выбираем имплантат для закрытия дефекта черепной коробки. Для небольших дефектов подойдут заводские пластины стандартного размера (10&times;10). При гигантских и&nbsp;сложных дефектах&nbsp;&mdash; заказываем индивидуальную пластину по&nbsp;размерам и&nbsp;форме черепа. 
          li Проводим компьютерное 3D-моделирование, чтобы получить безошибочный результат операции, во&nbsp;время которого произойдет точное прилегание пластины и&nbsp;полное восстановление черепного дефекта.
    .par
      h4 Операция
      ol.list-ordered
        li Вводим пациента в&nbsp;общий наркоз. Для обеспечения его безопасности&nbsp;&mdash; постоянно мониторим показатели пульса, давления, дыхания и&nbsp;работу сердца, используя высокотехнологичное и&nbsp;прогрессивное оснащение.
        li В&nbsp;участке доступа сбриваем волосы, делаем разрез точно спланированной величины и&nbsp;места расположения, не&nbsp;затрагиваем здоровые (неповрежденные) структуры. 
        li Устанавливаем и&nbsp;фиксируем титановую пластину. Проверяем точность и&nbsp;степень прилегания, правильность и&nbsp;полноту восстановления костного дефекта.
        li Ушиваем апоневроз (участок между кожей и&nbsp;надкостницей, который покрывает свод черепа) и&nbsp;кожные покровы. 
        li При необходимости выполняем кожную пластику, которая заключается в&nbsp;иссечении и&nbsp;перемещении тканей. 

    +grid.par
      +cell({ l: 7, m: 7, xs: 12 })
        h4 Послеоперационный этап
        +grid({ tag: 'ol' }).list-ordered-blocks.par
          +cell({ tag: 'li', l: 12, m: 12, s: 12, xs: 12 }).list-ordered-blocks__item Пациент пробуждается сразу после хирургического вмешательства. Переводим в&nbsp;палату пробуждения, где он&nbsp;находится под пристальным наблюдением анестезиолога-реаниматолога.
          +cell({ tag: 'li', l: 6, m: 6, s: 6, xs: 12 }).list-ordered-blocks__item Пациента наблюдает медицинский персонал Центра. Проводим перевязки, восстановительное лечение, контроль анализов. 
          +cell({ tag: 'li', l: 6, m: 6, s: 6, xs: 12 }).list-ordered-blocks__item Практикуем раннюю активацию и&nbsp;реабилитацию пациента, благодаря чему длительность пребывания в&nbsp;стационаре существенно сокращается.
      +cell({ l: 5, m: 5, xs: 12 })
        +img({
          name: 'stage-4',
          path: '/images/operacii/golovnoy-mozg/plastika-cherepa/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Старшая медсестра Цветкова Елена Владимировна' title= 'Старшая медсестра Цветкова Елена Владимировна' width=630 height=378)
        p Старшая медсестра Цветкова Елена Владимировна

    h2 Особенности операции в&nbsp;Центре
    +grid
      +cell({ l: 5, m: 5, xs: 12 })
        +img({
          name: 'features',
          path: '/images/operacii/golovnoy-mozg/plastika-cherepa/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Специалисты нейрохирургического центра' title= 'Специалисты нейрохирургического центра' width=630 height=378)
        p Специалисты нейрохирургического центра
      +cell({ l: 7, m: 7, xs: 12 })
        ul.list-unordered
          li Для ускорения восстановления пациента практикуем методику Фаст Трек: полная диагностика, минимальная длительность анестезии, минимальная травматичность вмешательства и&nbsp;создание условий, чтобы пациент поднимался в&nbsp;первые сутки после операции. 
          li В&nbsp;реабилитации пациента участвует команда неврологов и&nbsp;реабилитологов Центра.
          li Пластика костных дефектов черепа, которую проводят нейрохирурги Центра, нетравматичная. Возможен лишь легкий дискомфорт в&nbsp;области разреза, что в&nbsp;пределах нормы. 

    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Когда можно вернуться к&nbsp;нормальной жизни?</h3>').par
        p Вернуться к&nbsp;обычной жизни можно после снятия швов&nbsp;&mdash; через 10-14&nbsp;дней. В&nbsp;этот период обрабатываем рану, делаем перевязки. 
      +accordionItem('<h3>Назовите противопоказания</h3>').par
        p Нарушение свертываемости крови, острые инфекционные процессы в&nbsp;организме, серьезные психические расстройства, абсцесс мозга, повышенное внутричерепное давление.
      p Долгое откладывание операции приведет к&nbsp;серьезным осложнениям, главное из&nbsp;которых&nbsp;&mdash; повреждение мозга, риск инвалидизации, нарушения чувствительности тела и&nbsp;двигательной функции. 
      p Потому рекомендуем записаться на&nbsp;консультацию к&nbsp;врачу Нейрохирургического центра&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; вовремя!
