extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    +grid
      +cell({ l:7, m:8, s:12 })
        p Декомпрессия тройничного нерва&nbsp;&mdash; это нейрохирургическое вмешательство, которое позволяет снять сдавление корешка тройничного нерва окружающими его структурами. 
        p Основное показание к&nbsp;операции&nbsp;&mdash; тригеминальная или языкоглоточная невралгия тройничного нерва (НТН).
        h2 Почему декомпрессию тройничного нерва в&nbsp;Санкт-Петербурге лучше проводить в&nbsp;нашем Центре?
        ul(class= gridClasses())
          li(class= cellClasses({l:12, m:12})).icon-block.icon-block--globe 
            p.icon-block__inner Хирургическое лечение выполняют нейрохирурги, которые специализируются на&nbsp;операциях на&nbsp;головном мозге. Практикуют уникальные авторские методики, на&nbsp;которые получили патенты. Используют мировые методики (например, изобретенные и&nbsp;запатентованные в&nbsp;Японии).
          li(class= cellClasses({l:12, m:12})).icon-block.icon-block--ecg 
            p.icon-block__inner Минимум осложнений и&nbsp;максимальная эффективность хирургической помощи за&nbsp;счет оснащения операционных передовым оборудованием: системами 3D-нейронавигации, видеоангиографии, нейромониторинга. 
          li(class= cellClasses({l:12, m:12})).icon-block.icon-block--microscope
            p.icon-block__inner Минимальная травматичность, не&nbsp;затрагиваем здоровые структуры, поскольку работаем с&nbsp;помощью эндоскопической аппаратуры, используем микрохирургические техники. 
          li(class= cellClasses({l:12, m:12})).icon-block.icon-block--bed 
            p.icon-block__inner Максимальная точность вмешательств и&nbsp;быстрое восстановление за&nbsp;счет адекватной релаксации мозга, ранней активации, работы под визуальным контролем операционного микроскопа.

      +cell({ l:5, m:4, s:8 })
        +img({
          name: 'promo',
          path: '/images/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Схема декомпрессии тройничного нерва' title= 'Схема декомпрессии тройничного нерва' width=520 height=503).box-shadow
        p.par Схема декомпрессии тройничного нерва

    h2 Виды и&nbsp;особенности операций при компрессии тройничного нерва
    +grid({ 'justify':'space-between' })
      +cell({ l:6, m:8, s:12 })
        p В&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; невралгию тройничного нерва хирургически лечим способом декомпрессии. Для этого выполняем микроваскулярную (микрососудистую) декомпрессию тройничного нерва. 
        .block-marked.block-marked--grey.par
          p Микроваскулярная декомпрессия корешка тройничного нерва также называется васкулярной, микрохирургической. Термин образован из-за применения микрохирургических техник и&nbsp;инструментария. 
        p Особенности и&nbsp;преимущества метода:
        ul.list-unordered
          li удается сохранить нерв (а&nbsp;значит и&nbsp;чувствительность лица), снять болевой синдром;
          li непосредственное воздействие именно на&nbsp;причину боли;
          li минимальный риск рецидивов;
          li способствует полному выздоровлению пациента, возвращению к&nbsp;привычному, комфортному образу жизни;
          li минимально возможный разрез и&nbsp;отсутствие косметического дефекта после операции, поскольку вмешательство проводим в&nbsp;заушной области.
      +cell({ l:5, m:4, s:8 })
        +img({
          name: 'features',
          path: '/images/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Тройничный нерв' title= 'Тройничный нерв' width=520 height=520).box-shadow
        p Тройничный нерв

    h2 Подготовительный этап
    p Прежде чем васкулярная декомпрессия тройничного нерва будет выполнена, проводим обследование. 
    p Пациент проходит ЭНМГ, в&nbsp;ходе которой устанавливаем проводимость нерва и&nbsp;силу его поражения. В&nbsp;ходе МР-ангиографии определяем степень сдавливания нервных структур сосудами. 
    .block-marked.block-marked--grey.par
      p Выясняем объем поражения, степень прогрессирования процесса и&nbsp;точное местоположение сдавленных участков с&nbsp;помощью&nbsp;КТ и&nbsp;МРТ. 
    p Анализируем полученные результаты, определяемся с&nbsp;тактикой хирургической помощи, составляем план лечения. 
    
    p Также пациент сдает стандартные анализы: клинический, биохимический анализ крови, мочи, проходит ЭКГ, рентген легких. Терапевт дает заключение об&nbsp;отсутствии противопоказаний к&nbsp;операции, а&nbsp;смежные специалисты&nbsp;&mdash; при наличии хронических процессов в&nbsp;организме. 

    .par(class= gridClasses())
      .block-analysis(class= cellClasses({l:3, m:3, s:6}))
        +img({
          name: 'analysis-blood',
          path: '/images/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Анализы крови' title= 'Анализы крови' width=460 height=306)
        p.block-analysis__inner Анализы крови

      .block-analysis(class= cellClasses({l:3, m:3, s:6}))
        +img({
          name: 'analysis-urine',
          path: '/images/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Анализ мочи' title= 'Анализ мочи' width=460 height=306)
        p.block-analysis__inner Анализ мочи

      .block-analysis(class= cellClasses({l:3, m:3, s:6}))
        +img({
          name: 'analysis-ecg',
          path: '/images/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'ЭКГ' title= 'ЭКГ' width=460 height=306)
        p.block-analysis__inner ЭКГ

      .block-analysis(class= cellClasses({l:3, m:3, s:6}))
        +img({
          name: 'analysis-xrays',
          path: '/images/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Рентген легких' title= 'Рентген легких' width=460 height=306)
        p.block-analysis__inner Рентген легких

    p Обязательна консультация нейрохирурга, невролога и&nbsp;анестезиолога. Специалист индивидуально подбирает средства для наркоза, которые нетоксичны, быстро выводятся из&nbsp;организма, совместимы с&nbsp;другими препаратами. Обязательно проверяет отсутствие аллергической реакции на&nbsp;медикаменты. 
    .par(class= gridClasses())
      +cell({ l:6, m:10 })
        +img({
          name: 'consultation',
          path: '/images/operacii/golovnoy-mozg/nervy-golovy/dekompressiya-troynichnogo-nerva/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
          })(alt= 'Консультация нейрохирурга' title= 'Консультация нейрохирурга' width=760 height=506)
        p Консультация нейрохирурга

    h2 Этапы операции
    ol
      li Пациента вводим в&nbsp;состояние общего наркоза. Подсоединяем к&nbsp;оборудованию для контроля жизненно важных функций.
      li Поворачиваем его на&nbsp;бок, фиксируем голову в&nbsp;неподвижном состоянии. 
      li Обрабатываем операционное поле антисептическим раствором. 
      li Наносим разрез за&nbsp;ухом, точность расположения инструментария контролируем с&nbsp;помощью нейронавигационной системы. 
      li Делаем микроскопическое отверстие в&nbsp;затылочной кости, чтобы получить доступ к&nbsp;нерву. 
      li Отодвигаем прилегающие структуры, обнажаем тройничный нерв. 
      li Выполняем микрохирургическую декомпрессию тройничного нерва. Под контролем микроскопа определяем сосуд, сдавливающий нервные структуры и&nbsp;устраняем компрессию.
      li Устанавливаем между сосудистыми и&nbsp;нервными структурами тефлоновую прокладку. 
      li Все структуры возвращаем на&nbsp;место, накладываем швы из&nbsp;современного шовного материала. Накладываем липкую повязку на&nbsp;операционную ранку.
      li Операция длится 2-3&nbsp;часа. 

    h2 Послеоперационный период
    .block-marked.block-marked--grey.par
      p Первые недели запрещены чрезмерные физические нагрузки и&nbsp;поднятие тяжестей.
    p Восстановительный период длится несколько недель. Выписка происходит спустя 1-2 дня после операции. Нейрохирург назначает лекарственные средства для снятия послеоперационных болей. 
    p Разрабатываем индивидуальную реабилитационную программу, в&nbsp;палате и&nbsp;на&nbsp;дому с&nbsp;пациентом занимается реабилитолог Центра. В&nbsp;некоторых случаях назначаем сеансы массажа, физиотерапевтические процедуры. 

    h2.icon-block.icon-block--reviews Отзывы
    p Предлагаем прочесть отзывы об&nbsp;операции микроваскулярной декомпрессии тройничного нерва, чтобы узнать мнения наших пациентов и&nbsp;истории успешного исцеления от&nbsp;заболевания. 

    h2 Часто задаваемые вопросы
    +grid().par: +cell({ l: 8, m: 10, xs: 12 })
      +accordionItem('<h3>Назовите показания к операции</h3>').par
        ul.list-unordered 
          li онемение;
          li боль;
          li отсутствие подвижности конечностей или ощущение слабости в ногах;
          li увеличенная чувствительность кожи при прикосновении;
          li ухудшение качества жизни;
          li нарушение функционала тазовых органов (непроизвольная дефекация, мочеиспускание или их задержка).
      +accordionItem('<h3>За сколько дней можно избавиться от грыжи?</h3>').par
        p В Нейрохирургическом центре им. профессора Г.С. Тиглиева «Новые технологии» избавиться от спинной грыжи можно за 3 дня. За это время мы проведем диагностику, операцию и первичные реабилитационные меры.
      +accordionItem('<h3>Чем грыжа отличается от протрузии?</h3>').par
        p Разница в величине выпячивания за пределы позвоночника. Размер до пяти миллиметров указывает на протрузию, а выбухание более полсантиметра — на грыжу.
        
    p Не&nbsp;рекомендуем откладывать с&nbsp;операцией, чтобы не&nbsp;произошла потеря чувствительности и&nbsp;необратимое поражение нервных структур. Запишитесь на&nbsp;прием к&nbsp;нейрохирургу Центра вовремя!
