.consultation-question
  &__title
    &::before
      content ''
      position absolute
      top 2px
      left 2px
      width 20px
      height 20px
      background-color #4FB14A
      mask-image url(../images/svg-sprites/inner.svg#consultation-question__title)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
  &__info
    color #9D9EA0
