.consultation-question
  p
    margin 0
  p + p
    margin-top 15px
  &__title
    position relative
    margin-bottom 10px
    padding-left 34px
    font-size 15px
    line-height 24px
  &__body
    margin-bottom 10px
