extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Кокцигодиния 
    +grid({ smallGap: 'y' }).page-subsection
      +cell({ m:6 })
        p Кокцигодиния (или анокопчиковый болевой синдром)&nbsp;&mdash; это боль в&nbsp;области копчика, которая может распространяться в&nbsp;область крестца, промежности, ягодицы, половые органы.

        h2#kokcigodiniya-1 Распространенность кокцигодинии
        p Патологию диагностируют у&nbsp;1% населения, преимущественно у&nbsp;женщин 30-60-летнего возраста. 
        p Анокопчиковый болевой синдром чаще возникает после родов, травмирования копчика, связан как с&nbsp;патологиями опорно-двигательного аппарата, а&nbsp;именно костных структур таза, так и&nbsp;с&nbsp;поражением органов, расположенных в&nbsp;этой области. 
        h2#kokcigodiniya-2 Причины
        p В&nbsp;научных источниках сказано, что патологию вызывает множество причин. Первичную кокцигодинию классифицируют на&nbsp;идиопатическую и&nbsp;посттравматическую. 
        p Если во&nbsp;втором случае заболевание&nbsp;&mdash; последствие травмы, которая предполагает перелом, вывих и&nbsp;подобное состояние, в&nbsp;результате чего запускается череда дегенеративных изменений, то&nbsp;в&nbsp;первом случае пусковым фактором может стать множество причин.
        p Так, кокцигодиния появляется после езды на&nbsp;велосипеде с&nbsp;неподходящим сидением, длительного соприкосновения с&nbsp;жесткой поверхностью, тяжелых родов, особенно после применения щипцов, в&nbsp;случае существенного увеличения индекса массы тела. 
        p Обследование сотен больных позволило установить, что дегенеративные изменения копчика, связанные с&nbsp;травмированием, возникают только в&nbsp;20% случаев. У&nbsp;остальных пациентов, у&nbsp;которых диагностирована кокцигодиния, упомянутые изменения не&nbsp;выявлены. 
        p Исследователи утверждают, что болевой синдром в&nbsp;этом случае&nbsp;&mdash; последствие спазма мышц копчика и&nbsp;ануса. В&nbsp;других случаях, кроме хронического спазмирования мышечных структур, выявляют патологические изменения костей в&nbsp;области крестцового-копчикового сплетения.
      +figure({
        image: {
          name: 'kokcigodiniya-1',
          path: '/images/lechenie/pozvonochnik/travmy-pozvonochnika/kokcigodiniya/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          alt: 'Анокопчиковый болевой синдром'
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
    
    +pageSubsection
      h2#kokcigodiniya-3 Симптомы кокцигодинии
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          p Кокцигодиния проявляется длительным болевым синдромом. Ориентируясь на&nbsp;локализацию боли, заболевание подразделяют&nbsp;на:
          ul.list-unordered
            li истинную кокцигодинию, когда болит только копчик;
            li прокталгию, связанную с&nbsp;болезненностью в&nbsp;области ануса;
            li аноректальный болевой синдром: болевая реакция охватывает крестец, промежность, анальное отверстие и&nbsp;даже ягодицы. 
          p Для постановки диагноза важен характер боли, которая при кокцигодинии может быть тянущей, распирающей, ноющей или тупой, а&nbsp;жгучая практически не&nbsp;возникает. 
          p Болезненность временно исчезает или снижается, когда пациент меняет положение тела на&nbsp;горизонтальное. Боль усиливается в&nbsp;положении стоя, при наклонах тела, а&nbsp;особенно ее&nbsp;интенсивность повышается при сидении, кашле, вставании, ходьбе, в&nbsp;целом при физических нагрузках. Также боль провоцирует сексуальный контакт, акт дефекации, менструация.
          +figure({
            image: {
              name: 'kokcigodiniya-2',
              path: '/images/lechenie/pozvonochnik/travmy-pozvonochnika/kokcigodiniya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Прокталгия' 
            }, 
          }).par
        +cell({ m:6 })
          p Болезненность в&nbsp;упомянутых областях формирует характерное поведение пациентов: они снижают интенсивность движений, могут сидеть, опираясь на&nbsp;одну ягодицу.
          p Болевой синдром обостряется в&nbsp;определенные сезоны года, когда возникает кратковременная боль и&nbsp;гораздо реже постоянная. Провоцирующие факторы усиления болезненности:
          ul.list-unordered
            li Травмирование.
            li Стрессовое состояние.
            li Переохлаждение.
            li Переутомление.
            li Психические перегрузки.
            li Чрезмерные физические нагрузки.
          p На&nbsp;начальной стадии развития заболевания пациенты жалуются на&nbsp;постоянную слабость, усталость. У&nbsp;них возникает раздражительность, предрасположенность к&nbsp;фобиям и&nbsp;тревожным состояниям, нарушается сон, снижается работоспособность. 
          p Обострения случаются тем чаще, чем дольше длительность заболевания. Предрасполагающими факторами для обострений являются: переохлаждение, эмоциональные, психологические и&nbsp;физические перегрузки.
          p Также кокцигодинию связывают со&nbsp;следующими расстройствами:
          ul.list-unordered
            li гинекологическими;
            li когнитивными;
            li сексуальными;
            li урологическими;
            li кишечными;
            li эмоциональными;
            li поведенческими. 
          
    +pageSubsection
      h2#kokcigodiniya-4 Диагностика
      p Для постановки диагноза на&nbsp;кокцигодинию проводят дифференциальную диагностику от&nbsp;болезней, симптоматика которых связана с&nbsp;болями в&nbsp;области копчика и&nbsp;ануса, а&nbsp;именно&nbsp;от:
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          ul.list-unordered
            li геморроя;
            li инфекционного воспаления органов малого таза;
            li анальной трещины;
            li злокачественных новообразований. 
          p Потому вначале пациента направляют на&nbsp;консультацию к&nbsp;колопроктологу, врачу-урологу или гинекологу, хирургу.
          p Важно провести осмотр, который сопровождается пальпацией, а&nbsp;также ректальным исследованием. Во&nbsp;время этих обследований определяют место локализации боли, наличие подвижности копчика и&nbsp;крепитации (характерного хрустящего звука, что возникает после травмирования). 
          p Диагностическим критерием, при постановке диагноза на&nbsp;кокцигодинию, будет возникновение болезненности или нарастание ее&nbsp;интенсивности. Также на&nbsp;это заболевание указывает усиление болезненности в&nbsp;то&nbsp;время, когда пациент наклоняется вперед, вытянув руки.
        +figure({
          image: {
            name: 'kokcigodiniya-3',
            path: '/images/lechenie/pozvonochnik/travmy-pozvonochnika/kokcigodiniya/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            alt: 'Осмотр (пальпация) при кокцигодонии'
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell({ m:6 })
          h3 Особенности проведения инструментальных методов исследования
          p Во&nbsp;время рентгенографии положение, которое должен занять пациент, зависит от&nbsp;наличия боли. Так, при ее&nbsp;отсутствии обследование проводят в&nbsp;положении стоя, а&nbsp;при наличии&nbsp;&mdash; в&nbsp;положении сидя. В&nbsp;ходе исследования устанавливают патологическую подвижность копчика, что рассматривают в&nbsp;качестве одного из&nbsp;ведущих факторов в&nbsp;механизме развития заболевания.
          p Выполняют магнитно-резонансную и&nbsp;рентгеновскую компьютерную томографию (РКТ). МРТ необходима, чтобы оценить состояние связок в&nbsp;крестцово-копчиковой области. РКТ позволяет максимально точно оценить состояние костных структур, создать 3D-реконструкцию поврежденного участка. 
          p Оба метода подходят для выявления новообразований, гнойных и&nbsp;воспалительных процессов, но&nbsp;менее значимы, по&nbsp;сравнению с&nbsp;функциональной рентгенографией. 
        +cell({ m:6 })
          h3 Другие методы исследования
          p Чтобы подтвердить первичную кокцигодинию, в&nbsp;крестцово-копчиковый диск вводят анестетик, который провоцирует усиление боли. Если болезненность отсутствует, то&nbsp;говорят о&nbsp;псевдококцигодинии. 
          p Также важно определить выраженность боли, уровень депрессии, неврологическую симптоматику, используя соответствующие шкалы.
    
    +pageSubsection
      h2#kokcigodiniya-5 Лечение
      p Эффективному лечению кокцигодинии способствует индивидуальный подход. При этом терапевтическую помощь нужно направить не&nbsp;только на&nbsp;снятие симптоматики, но&nbsp;и&nbsp;устранение основной причины заболевания. 
      +grid({ smallGap: 'y' }).par
        +cell({ m:6 })
          h3 Медикаментозная помощь 
          p Медикаментозное лечение предполагает назначение нестероидных противовоспалительных препаратов, обезболивающих средств, миорелаксантов (препаратов, снимающих мышечные спазмы), а&nbsp;также хондропротекторов (препаратов, восстанавливающих, защищающих и&nbsp;питающих хрящевую ткань суставов). 
          h4 Помощь при психогенных расстройствах
          p Когда болевой синдром сопровождается психогенными факторами, назначают антиконвульсанты, антидепрессанты, сеансы когнитивно-поведенческой терапии, а&nbsp;также транквилизаторы.
          p Согласно результатов последних клинических исследований, классические транквилизаторы можно заменить фитопрепаратами.
          p Он&nbsp;демонстрирует высокую эффективность при стрессовых и&nbsp;тревожных состояниях. Снижая уровень тревожности и&nbsp;депрессии, Нерво-Вит повышает качество жизни пациентов, страдающих кокцигодинией. На&nbsp;финальном этапе лечения этим препаратом у&nbsp;пациента снижается общий дискомфорт. 

        +cell({ m:6 })
          h3 Физиотерапевтическая помощь
          p Пациентам, страдающим кокцигодинией, назначают физиотерапевтические процедуры, основная цель которых&nbsp;&mdash; расслабление мышц тазового дна.
          p Эффективные методы физиотерапии при этом заболевании&nbsp;&mdash; иглорефлексотерапия, массаж, магнитотерапия, а&nbsp;также мануальная терапия.
          +figure({
            image: {
              name: 'kokcigodiniya-4',
              path: '/images/lechenie/pozvonochnik/travmy-pozvonochnika/kokcigodiniya/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              alt: 'Мануальная терапия - один из методов лечения кокцигодинии'
            }, 
          }).par
        +cell({ m:6 })
          h3 Инъекционные методы лечения
          p Нестероидные противовоспалительные препараты прописывают не&nbsp;только в&nbsp;форме ректальных свечей или таблеток. Если болевая реакция интенсивная, назначают инъекции.
          p Также используют новокаин-спиртовую блокаду околокопчиковой области. Другой вариант блокады при этом болевом синдроме&nbsp;&mdash; введение препарата с&nbsp;помощью изогнутой иглы в&nbsp;область между анусом и&nbsp;копчиком (для блокады непарного ганглия). 
          p Также на&nbsp;непарный ганглий воздействуют методом термической коагуляции, а&nbsp;крестцово-копчиковый диск подвергают радиочастотной нейроабляции. 
          p Эта процедура предполагает, что на&nbsp;нервные корешки воздействуют электрическим током сверхвысокой частоты. В&nbsp;результате болевые сигналы, которые поступают из&nbsp;определенной пораженной области, снижаются, соответственно минимизируется и&nbsp;интенсивность боли.
          p Важно понимать, что инъекционные варианты помощи относятся только к&nbsp;категории симптоматического лечения, не&nbsp;воздействуя на&nbsp;основную причину болезни.

        +cell({ m:6 })
          h3 Особенности хирургического лечения
          p Хирургическое лечение кокцигодинии рассматривают в&nbsp;качестве преимущественного способа, по&nbsp;сравнению с&nbsp;консервативным. Эффективность хирургической помощи достигает практически 90%. 
          h4 Этапы хирургического лечения
          ol.list-ordered
            li Нейрохирург рассекает участок над копчиком&nbsp;&mdash; делает разрез длиной до&nbsp;4&nbsp;см.
            li Получив доступ к&nbsp;копчику, удаляет его. 
            li Рассекает сухожилия мышц, скованных спазмом. Исчезновение спазма способствует снятию болевого синдрома.
            li Учитывая, что после удаления копчика пространство остается незаполненным, то, чтобы исключить образование в&nbsp;этой области абсцессов, гематом, прежде чем наложить швы, нейрохирург на&nbsp;несколько суток устанавливает дренаж. 
            li Врач назначает курс антибиотиков, что нужно для профилактики инфекционных осложнений . 
          p Авторы предлагают разные варианты оперативного вмешательства, но&nbsp;оптимальным способом признана проксимальная субпериостальная резекция копчика. 
    
    +pageSubsection
      h2#kokcigodiniya-6 Почему лечение кокцигодинии лучше проводить в&nbsp;нашем Центре?
      ul.list-unordered
        li Высокая точность оперативных вмешательств. Обеспечена выполнением манипуляций под микроскопом: увеличение в&nbsp;25&nbsp;раз дает подробнейший обзор операционного поля.
        li Максимально щадящее хирургическое лечение, поскольку работаем на&nbsp;операционном микроскопе, который превосходно визуализирует пораженные участки, чтобы исключить травматизацию здоровых тканей.
        li Риск осложнений сведен практически к&nbsp;нулю. Это стало возможным за&nbsp;счет оснащения операционных прогрессивным оборудованием, например, системой нейромониторинга. 
        li Нейрохирурги Центра выполняют лечение по&nbsp;мировым стандартам, последним клиническим рекомендациям, опираются на&nbsp;доказательный принцип медицины.
    
    +pageSubsection
      h2#kokcigodiniya-7 В&nbsp;качестве заключения
      p Кокцигэктомию проводят только в&nbsp;случае неэффективности других методов лечения. Так, хирургическое лечение выбирают, если консервативная терапия не&nbsp;дала ожидаемый результат в&nbsp;течение 6-12&nbsp;месяцев, а&nbsp;также неэффективными оказались блокады. 
      p Пациентов с&nbsp;идиопатической кокцигодинией направляют на&nbsp;хирургическое лечение только при наличии строгих показаний, учитывая наличие сопутствующих психогенных факторов.
    
    +pageSubsection
      h2#kokcigodiniya-8 Популярные вопросы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Можно ли жить без копчика?</h3>').par
          p Да, поскольку это рудиментарная часть, которая не нужна для выживания. 
        +accordionItem('<h3>Почему может болеть копчик?</h3>').par
          p Боль в&nbsp;этой области связана с&nbsp;инфекционным, воспалительным процессом, травмой, новообразованием. 
        +accordionItem('<h3>Какие таблетки помогают при боли в&nbsp;копчике?</h3>').par
          p Если боль вызывает напряжение, спазм мышц, тогда назначают миорелаксанты, а&nbsp;когда причина болевой реакции кроется в&nbsp;воспалительном процессе, тогда принимают противовоспалительные препараты.
        +accordionItem('<h3>Что будет, если не&nbsp;лечить кокцигодинию?</h3>').par
          p Болевой синдром станет хроническим, что существенно снизит качество жизни. 
        +accordionItem('<h3>Какой срок восстановления после удаления копчика?</h3>').par
          p Срок составляет от&nbsp;3-х недель.
    
    +pageSubsection
      h2#kokcigodiniya-9 Источники
      ol.list-ordered
        li Беленький А.Г. Кокцигодиния // Рус. мед.журн, 2004. &mdash;&nbsp;Т. 12, &#8470;&nbsp;6. &mdash;&nbsp;С. 396-398.
        li Горбатенко А.И. Оперативное решение проблемы кокцигодинии. Российский журнал боли.2018; 2 (56): 240&ndash;1.
        li Егорова З.В. Травматические повреждения копчика: особенности диагностики и&nbsp;лечения. Медицинские новости.&nbsp;2015;7:39&mdash;43.
        li Фатхутдинов И.М. Комплексная диагностика и&nbsp;лечение кокцигодинии. Колопроктология.&nbsp;2016; S1 (55): 46a.
        li Хидиятов И.И., Куляпин А.В., Герасимов М.В. и&nbsp;др. Хирургическое лече-ние больных с&nbsp;посттравматической кокцигодинией. Медицинский вестник Башкортостана.2015; 10 (4): 90&ndash;4.
        li Gonnade&nbsp;N., Mehta&nbsp;N., Khera P.S., Kumar&nbsp;D., Rajagopal&nbsp;R., Sharma P.K. Ganglion impar block in&nbsp;patients with chronic coccydynia. Indian J&nbsp;Radiol Imaging.&nbsp;2017;27(3):324&mdash;328.
