.consultation-ask-panel
  &__title
    margin-bottom 10px
  p
    margin 0
    font-size 18px
  p + p
    margin-top 10px
  &__button
    --icon-color rgba(#4FB14A, .25)
    --icon-transition-duration var(--transition-duration-out)
    position relative
    padding-left 48px
    text-align center
    &:hover
      --icon-color rgba(255, 255, 255, .25)
      --icon-transition-duration var(--transition-duration-in)
    &::before
      content ''
      position absolute
      top 4px
      bottom 4px
      left 4px
      width 40px
      height auto
      background-color var(--icon-color)
      mask-image url(../images/svg-sprites/inner.svg#consultation-ask-panel__button)
      mask-repeat no-repeat
      mask-position right
      mask-size contain
      transition background-color var(--icon-transition-duration)
