mixin directionItem(settings = {}, title)
  - const tag = settings.tag || 'div'
  #{tag}(class= classes('direction-item', settings))&attributes(attributes)
    .direction-item__inner
      .direction-item__title !{title}
      block
