.direction-item
  --color-text var(--color-black)
  --icon-color-before var(--color-primary)
  --icon-color-after var(--color-text-light)
  text-decoration none
  background-color var(--color-white)
  transition background-color var(--transition-duration-out)
  &--neurosurgery
    --icon-mask url(../images/svg-sprites/common.svg#direction-1)
  &--neurology
    --icon-mask url(../images/svg-sprites/common.svg#direction-2)
  &--gastroenterology
    --icon-mask url(../images/svg-sprites/common.svg#direction-3)
  &--orthopedics
    --icon-mask url(../images/svg-sprites/common.svg#direction-4)
  &--diagnostics
    --icon-mask url(../images/svg-sprites/common.svg#direction-5)
  &--oncology
    --icon-mask url(../images/svg-sprites/common.svg#direction-6)
  &::before
  &::after
    content ''
    position absolute
    mask-image var(--icon-mask)
    mask-repeat no-repeat
    mask-size cover
    mask-position center
    transition background-color var(--transition-duration-out)
  &::before
    --icon-color var(--icon-color-before)
    top calc(var(--base-padding) * 1.5)
    left var(--gap)
    width 7.5rem
    height 7.5rem
    background-color var(--icon-color-before)
  &::after
    --icon-color var(--icon-color-after)
    right -3.5rem
    bottom 6rem
    width 8.25rem
    height 8.25rem
    opacity 0.1
    background-color var(--icon-color-after)
  &:hover
    @media(min-width point-l)
      --color-text var(--color-white)
      --icon-color-before var(--color-white)
      --icon-color-after var(--color-white)
      background-color var(--color-primary)
      transition-duration var(--transition-duration-in)
  &__inner
    color var(--color-text)
    transition color var(--transition-duration-out)
  &__list
    list-style disc outside none
