.direction-item
  position relative
  display flex
  align-items flex-end
  min-height 25rem
  min-width 0
  padding calc(var(--base-padding) * 1.5)
  padding-left var(--gap)
  padding-bottom var(--gap)
  border-radius var(--border-radius)
  overflow hidden
  &__title
    font-size 1.625rem 
    @media(max-width point-s - 1)
      font-size 1.25rem 
  &__list
    margin-top 0.5rem
    padding-left calc(var(--base-padding)*1.25)
    font-size 1.375rem 
    @media(max-width point-s - 1)
      font-size 1.125rem 
