.tourism-online
  background-color var(--color-white)
  border-radius var(--border-radius)
  &--transparent
    background-color transparent
  &__inner
    display flex
    flex-direction column
    align-items flex-start
    justify-content center
    row-gap var(--base-padding)
    padding-x calc(var(--base-padding)*1.5)
    padding-y var(--base-padding)
    @media(max-width point-m - 1)
      padding-x 0
      padding-bottom 0
  & img
    display block !important
