.phone
  &__number
    @media (min-width point-m)
      $fontSizeXl()
    @media (max-width point-m - 1)
      $fontSizeM()
  &--icon &__number
    @media (min-width point-m)
      position relative
      margin-left -2rem
      padding-left 2rem
  &__description
    $fontSizeS()
    @media (max-width point-m - 1)
      line-height 1
