.phone
  &__number
    --color-link var(--color-text)
    --color-link-hover var(--color-text-light)
    --color-link-active var(--color-black)
    text-decoration none
  &--icon &__number
    @media (min-width point-m)
      --color-icon var(--color-button)
      --transition-icon var(--transition-duration-out)
      &:hover
        --color-icon var(--color-button-hover)
        --transition-icon var(--transition-duration-in)
      &:active
        --color-icon var(--color-button-active)
      &::before
        content ''
        position absolute
        top .1875rem
        left 0
        width 1.03125rem
        height 1.125rem
        background-color var(--color-icon)
        mask-image url(../images/svg-sprites/common.svg#phone)
        mask-repeat no-repeat
        mask-position center
        mask-size cover
        transition background-color var(--transition-icon)
  &__description
    color var(--color-text-light)
