mixin phone(phone = {}, settings = {})
  div(class= classes('phone', settings))&attributes(attributes)
    if (phone.description)
      .phone__description !{phone.description}
    a(href=`tel:${phone.link}`).phone__number !{phone.number}
