.landing-header
  display flex
  flex-direction column
  align-items center
  padding 4rem 1rem
  // background-color #7A6756
  background-size cover
  background-repeat no-repeat
  background-position center
  backdrop-filter blur(1px)
  border-radius 10px
  &--sport
    background-image image-set(url(../images/sport-bg.webp) 1x, url(../images/sport-bg@2x.webp) 2x)
  &--osteoarthritis
    background-image image-set(url(../images/osteoarthritis-bg.webp) 1x, url(../images/osteoarthritis-bg@2x.webp) 2x)
  &--directions
    background-position top center
    border-radius 0
  &--neurology
    padding 5rem 1rem
    background-image url(../images/neurology.webp)
    @media(max-width point-m - 1)
      padding 3.5rem 0
  &__title
    font-size 2rem
    line-height 1.25
    font-weight 700
    color var(--color-white)
    @media(max-width point-m - 1)
      font-size 1.8rem
  &__text
    margin-bottom 3.125rem
    font-size 1.25rem
    line-height 1.25
    color var(--color-white)
    @media(max-width point-m - 1)
      margin-bottom 2rem
