extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/table/table
include /blocks/doctor-item/doctor-item
include /blocks/list-steps-item/list-steps-item
include /blocks/slider/slider
include /blocks/review-item/review-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Грыжа грудного отдела позвоночника&nbsp;&mdash; симптомы и&nbsp;лечение
    +grid.page-subsection.article-info
      +cell({ m:6 }).article-info__topic
        -
          const articleContent = ['Показания', 'Почему удаление грыжи позвоночника в Санкт-Петербурге лучше проводить в нашем Центре?', 'Особенности операции', 'Часто задаваемые вопросы', 'Цены'] 
        +articleTopic(articleContent)

      +cell({ m:6 })
        .article-doctor.par
          .article-doctor__image
            +img({
              name: 'shevchenko',
              path: '/images/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [{
                values: [ 1, 2 ]
              }]
            })(alt= 'Шевченко Елена Николаевна, врач-нейрохирург высшей категории' title= 'Шевченко Елена Николаевна, врач-нейрохирург высшей категории' width=154 height=223)
          p.article-doctor__verified Информация проверена экспертом
          +textMarked({ tag: 'a', fontWeight: 'bold', size: 'l', color: 'blue' })(href='/vrachi/shevchenko-elena-nikolaevna/').article-doctor__name Шевченко Елена Николаевна
          span.article-doctor__job Врач-нейрохирург высшей категории #[br] Стаж - 28 лет
          p.article-doctor__date Дата публикации: 1 сентября 2022 #[br] Обновлено: 8 февраля 2023

    +pageSubsection
      <p>Операция по&nbsp;удалению грыжи позвоночника&nbsp;&mdash; это нейрохирургическое вмешательство, в&nbsp;ходе которого проводим резекцию пораженных костно-хрящевых структур. </p>
      <h2 id="content0">Показания</h2>
      <p>Хирургическое вмешательство проводим по&nbsp;следующим показаниям:</p>
      <ul class="list-unordered">
        <li>Сильный болевой синдром, вызванный интенсивным сдавлением нервных окончаний.</li>
        <li>Грыжа размером от&nbsp;7&nbsp;миллиметров.</li>
        <li>Нарушение чувствительности конечностей, ведущее к&nbsp;парезу, параличу.</li>
        <li>Нарушение мочеиспускания, работы кишечника из-за ущемления нервного отростка. </li>
      </ul>
      <h2 id="content1">Почему удаление грыжи позвоночника в&nbsp;Санкт-Петербурге лучше проводить в&nbsp;нашем Центре?</h2>
      <ul class="list-unordered">
        <li>Вмешательства проводят нейрохирурги, которые специализируются только на&nbsp;операциях на&nbsp;позвоночнике.</li>
        <li>Практикуем максимально щадящий доступ и&nbsp;объем вмешательства, чтобы не&nbsp;затрагивать здоровые ткани. Для этого применяем микрохирургические техники и&nbsp;эндоскопический доступ.</li>
        <li>Врачи используют мировые подходы к&nbsp;лечению (в&nbsp;частности изобретенные в&nbsp;Японии), практикуют запатентованные, авторские методики, потому успешно хирургически лечат даже самые сложные случаи. </li>
        <li>Эффективность и&nbsp;точность операции за&nbsp;счет полного визуального контроля под хирургическим микроскопом и&nbsp;эндоскопическим оборудованием. </li>
        <li>Общий наркоз безопасен за&nbsp;счет нетоксичных, гипоаллергенных, легкопереносимых препаратов. Легкое пробуждение достигается адекватной релаксацией мозга, а&nbsp;также пристальным наблюдением в&nbsp;палате пробуждения анестезиологами-реабилитологами. </li>
        <li>Ускоряем восстановление за&nbsp;счет индивидуальной реабилитационной программы и&nbsp;персональными занятиями с&nbsp;реабилитологом в&nbsp;палате и&nbsp;на&nbsp;дому.</li>
      </ul>

  +pageSection.main-content
    +grid({ noGap: true }).tourism-online.tourism-online--transparent
      +cell({ l:3, m:4 })
        +img({
          name: 'online',
          path: '/images/to-patients/inogorodnim/', 
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ], }
          ]
          })(alt= 'Онлайн консультация врача' width=1000 height=666)
      +cell({ l:9, m:8}).tourism-online__inner
        h2 Онлайн консультация
        span Если вы из другого города и у вас нет возможности заранее приехать на консультацию хирурга, возможно проведение заочной предварительной консультации со специалистом.
        a(href='#appointment' data-modal).button.button--secondary Записаться на онлайн-консультацию
  
  +pageSection(style='background-color: #fff').main-content
    +pageSubsection
      <h2 id="content2">Особенности операции</h2>
      <p>В&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; удаление позвоночной грыжи проводим двумя эффективными и&nbsp;минимально травматичными методами: эндоскопическим и&nbsp;микродискэктомией.</p>
      <h3>Особенности и&nbsp;преимущества эндоскопического способа</h3>
      <ul class="list-unordered">
        <li>Минимальное вмешательство: исключены рубцы, повреждение здоровых тканей, кровопотери.</li>
        <li>Короткий срок госпитализации: стандартно выписка через сутки.</li>
        <li>Быстрое восстановление: длится меньше, чем открытое хирургическое вмешательство, не&nbsp;приводит к&nbsp;резкому выпадению из&nbsp;привычного ритма жизни в&nbsp;послеоперационный период. </li>
        <li>Вариативность применения анестезии (кроме общего наркоза, в&nbsp;некоторых случаях допускается местная анестезия).</li>
        <li>Превосходный эстетический результат: идеально подходит при склонности к&nbsp;образованию гипертрофических, келоидных рубцов.</li>
        <li>Минимизирует риск осложнений, повторного появления грыжи.</li>
        <li>Исключен риск повреждения спинного мозга.</li>
        <li>Позволяет обойтись без монтажа фиксирующих конструкций, имплантов, кейджей.</li>
        <li>Риск повреждения мышц исключен, как и&nbsp;развитие внутримышечного фиброза.</li>
        <li>Высокая степень контролируемости вмешательства. </li>
      </ul>
      <p>Методику выполняем, используя микроинструментарий и&nbsp;эндоскопическое оснащение. Боль у&nbsp;пациента прекращается сразу после завершения операции, спустя несколько часов возвращается подвижность. </p>
      <p>Для эндоскопического удаления грыжи позвоночника не&nbsp;нужен открытый доступ: достаточно сделать прокол от&nbsp;7&nbsp;миллиметров в&nbsp;диаметре, который быстро затягивается, не&nbsp;оставляя следа от&nbsp;вмешательства. </p>
      <h3>Ход операции</h3>
      <ol class="list-ordered">
        <li>Вводим пациента в&nbsp;состояние общего наркоза, постоянно мониторим жизненно важные функции.</li>
        <li>Ориентируясь на&nbsp;предварительную разметку расположения грыжи, нейрохирург наносит разрез до&nbsp;7&nbsp;миллиметров. </li>
        <li>В&nbsp;отверстие вводит эндоскопическую трубку со&nbsp;встроенной микроскопической камерой, изображение с&nbsp;которой выводится на&nbsp;монитор. </li>
        <li>Используя микроинструменты, удаляет пораженные костно-хрящевые структуры.</li>
      </ol>
      <h3>Особенности и&nbsp;преимущества микродискэктомии</h3>
      <ul class="list-unordered">
        <li>Подобным способом проводим и&nbsp;операцию по&nbsp;удалению грыжи межпозвонкового диска. </li>
        <li>Вмешательство улучшает физическое состояние пациента, качество жизни, снижая риск послеоперационных осложнений.</li>
        <li>Короткий срок восстановительного периода из-за минимального разреза.</li>
        <li>Болевой синдром полностью исчезает спустя пару дней после хирургического лечения. </li>
        <li>Рядом расположенные костные структуры не&nbsp;повреждаются, зажим спинномозговых нервов эффективно снимается. </li>
        <li>Возможность полного удаления грыжи.</li>
      </ul>
      <h4>Ход операции способом микродискэктомии</h4>
      <ol class="list-ordered">
        <li>Вводим пациента в&nbsp;состояние наркоза, отслеживаем жизненно важные параметры на&nbsp;мониторе.</li>
        <li>Делаем разрез шириной от&nbsp;2&nbsp;сантиметров.</li>
        <li>Отодвигаем тканевые и&nbsp;мышечные структуры, чтобы получить доступ к&nbsp;диску. </li>
        <li>Под визуальным контролем микроскопа микроинструментом иссекаем часть поврежденного диска либо удаляем полностью. </li>
        <li>При наличии показаний&nbsp;&mdash; устанавливаем имплант.</li>
        <li>Возвращаем костный лоскут, мышечные и&nbsp;кожные структуры на&nbsp;место, накладываем швы.</li>
      </ol> 
      <h3>Особенности подготовительного периода</h3> 
      <p>Пациент проходит МРТ, КТ, чтобы определить точную локализацию грыжи и&nbsp;ее&nbsp;размеры, другие нюансы. Сдает биохимический и&nbsp;клинический анализ мочи, крови, проходит флюорографию или рентген легких, ЭКГ. У&nbsp;терапевта получает заключение об&nbsp;отсутствии противопоказаний к&nbsp;операции. </p>
      <p>Посещает невролога, нейрохирурга: специалисты, после неврологического осмотра, анализа результатов исследований, составляют план лечения, выбирают оптимальную тактику операции. </p>
      <p>Перед вмешательством анестезиолог подбирает средства для общего наркоза, которые быстро выводятся из&nbsp;организма, гипоаллергенные, легко переносятся, не&nbsp;токсичны, рассчитывает нужную дозу на&nbsp;массу тела. </p>
      <h3>Особенности послеоперационного периода</h3>
      <p>Пациент пробуждается сразу после операции, под присмотром анестезиолога-реабилитолога и&nbsp;непрерывным контролем жизненно важных функций. </p>
      <p>Потом в&nbsp;палате стационара его круглосуточно наблюдает медперсонал, который контролирует анализы, выполняет назначения по&nbsp;восстановительному лечению, делает перевязки. </p>
      <p>Практикуем раннюю активацию и&nbsp;реабилитацию пациента. Для этого разрабатываем индивидуальную программу восстановления, закрепляем за&nbsp;пациентом реабилитолога для персональных занятий в&nbsp;палате и&nbsp;на&nbsp;дому. </p>
      <h2 id="content3">Часто задаваемые вопросы</h2>
      +grid().page-subsection: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Назовите противопоказания</h3>').par
          <p>Воспалительные и&nbsp;инфекционные процессы в&nbsp;организме, онкология четвертой степени, сердечная недостаточность, серьезные нарушения дыхательной системы, свертываемости крови, беременность.</p>
        +accordionItem('<h3>Как быстро происходит восстановление?').par
          <p>Поскольку мы&nbsp;практикуем щадящие, минимально травматичные методики, то&nbsp;восстановление длится несколько недель.</p>
        +accordionItem('<h3>Как избежать рецидивов грыжи?</h3>').par
          <p>Не&nbsp;набирать лишний вес, соблюдать режим питания, заниматься плаванием, укреплять костно-мышечный корсет специальными упражнениями.</p>
          <p>Не&nbsp;рекомендуем затягивать с&nbsp;хирургическим лечением грыжи, поскольку высок риск инвалидизации. Потому запишитесь на&nbsp;прием к&nbsp;нейрохирургу клиники вовремя!</p>
    
  +pageSection({ noPadding: 'top' })(style='background-color: #fff').main-content
    +pageSubsection
      h2#content4 Цены
      p Цена удаления грыжи диска позвоночника зависит от стоимости инструментов, медикаментов, диагностики, сложности случая, объема нейрохирургического вмешательства.
      p Сколько стоит удаление грыжи позвоночника в вашем случае вы узнаете во время первого визита к нейрохирургу Центра. Он назовет полную сумму, которая будет без скрытых платежей и переплат, поскольку мы за честное ценообразование.
    +pageSubsection
      +table({ colorBg: true })
        +tr.table__row
          +th Услуга 
          +th Примерная стоимость
        +tr.table__row
          +td Удаление грыжи межпозвонкового диска в пояснично-крестцовом отделе   позвоночника
          +td от 135 000 ₽
        +tr.table__row
          +td Удаление грыжи межпозвонкового диска в шейном отделе позвоночника
          +td от 212 080 ₽
        +tr.table__row
          +td(colspan=2).table__cell--grey #[a(href='/to-patients/lechenie-v-rassrochku/') Рассрочка без переплаты на 3 месяца]
  
  +pageSection.main-content
    h2 Врачи центра, которые проводят удаление грыжи
    -
      const doctors = [
        {
          title: 'Трушин Павел Вадимович',
          description: `
            <p><strong>Врач-нейрохирург, кандидат медицинских наук</strong></p>
            <p>Стаж работы: с 2008 г.</p>
          `,
          image: 'doctor-item-4',
        },
        {
          title: 'Шевченко Елена Николаевна',
          description: `
            <p><strong>Врач - нейрохирург высшей категории</strong></p>
            <p>Стаж работы: 27 лет</p>
          `,
          image: 'doctor-item-2',
          oldPrice: true, 
        },
        {
          title: 'Федин Дмитрий Игоревич',
          description: `
            <p><strong>Врач-нейрохирург</strong></p>
            <p>Стаж работы: с 2019 г.</p>
          `,
          image: 'doctor-item-5',
        },
      ]
    +grid.page-subsection 
      each doctor in doctors
        +cell({ m:4, s:6 })
          +doctorItem(doctor) !{doctor.description}
  
  +pageSection({ noPadding: 'top' }).main-content
    h2 Как попасть на лечение?
    -
      const steps = [
        {
          title: 'Запись на прием',
          clarification: 'По телефону или через форму записи',
          body: `
            <p>Заполните заявку на прием или позвоните нам по телефону. Вы также можете отправить свои анализы или результаты обследований на <a href="mailto:info@neuros.ru">info@neuros.ru</a>. Врач изучит все материалы и <strong>предложит варианты решения</strong> вашей проблемы.
          `,
        },
        {
          title: 'Очная консультация в клинике',
          price: 'От 2 000 руб.',
          clarification: '1 час',
          body: `
            <p>Врач выполнит <strong>полноценный осмотр</strong>, изучит данные исследований, <strong>поставит диагноз, сформирует план лечения</strong> и ответит на все вопросы.</p>
          `,
        },
        {
          title: 'Получите высокотехнологичное лечение',
          body: `
            <p>Дадим памятку со списком необходимых анализов и подскажем, где их лучше сдать. Расскажем <strong>как подготовиться</strong> к процедуре или операции, что делать после.  После выписки <strong>уточним состояние здоровья.</strong></p>
          `,
        },
      ]
    +pageSubsection(class= gridClasses({ justify: 'center' })).list-steps
      each step in steps
        +listStepsItem(step, ({ tag: 'div' }))(class= cellClasses({ l: 4, m: 6, xs: 12 })).list-steps__item !{step.body}

  +pageSection(style='background-color: #fff').main-content
    +grid
      +cell({ m:5 })
        +img({
          name: 'article-form',
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
        })(width=509 height=290 alt= 'Запишитесь на прием к врачу')
      +cell({ m:7 })
        +grid({ smallGap: 'y' }).par
          +cell 
            h2 Запишитесь на прием к врачу
            p Администратор свяжется с вами для уточнения даты и времени.
          +cell 
            +grid({ tag: 'form', smallGap: 'y' })
              +cell({ s:6 })
                +formInput({ type: 'text', placeholder: 'ФИО пациента' }).par
              +cell({ s:6 })
                +formInput({ type: 'tel', placeholder: 'Телефон' }).par
              +cell({ s:6 })
                +button(type='submit' style="width: 100%;").form-submit.par.button--secondary Записаться на прием
                input(type="hidden" name="action" value="appointment")
              +cell({ s:6 })
                +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a href="/policy/">условиями обработки персональных данных</a>', checked: true }).par
        +linkIcons([ 'whatsapp', 'telegram' ])
          span Напишите нам:

  +pageSection.main-content
    h2.text-align-center Что говорят о нас пациенты 
    +slider({ fullWidth: true, pagination: false }).slider-reviews.page-subsection
      +slide
        article.review-item
          .review-item__body
            p Присоединяюсь к многочисленным словам благодарности в адрес Нейрохирургического Цента им.Проф.Тиглиева от имени родных Ваших пациентов. Высочайший уровень профессионализма, пунктуальность, поддержка и деликатность - это то, что так необходимо нам в самые трудные моменты жизни, когда сердце разрывается от переживаний за близких. И все это мы встретили в Вашем Центре. Дорогая Ольга Владимировна! У Вас прекрасная команда! Берегите Ваших виртуозов, которые творят настоящие чудеса! Дмитрий Александрович и Дмитрий Андреевич спасли самое дорогое, что есть у нас в жизни - нашу маму.
      +slide
        article.review-item
          .review-item__body
            p Огромное спасибо хочу сказать всему коллективу нейрохирургического центра “Новые технологии”, и отдельное спасибо - двум волшебникам: Гуляеву Дмитрию Александровичу и Кондюкову Дмитрию Андреевичу. Два месяца назад у меня была удалена грыжа межпозвонкового диска L4-L5. В нейрохирургическом центре я находился всего три дня. Сколько внимания, чуткости, доброты и отзывчивости я здесь увидел! В центре работают настоящие профессионалы, мастера своего дела, дружная сплоченная команда. СПАСИБО всем вам за ваш труд. Успехов и процветания вашему центру! Крепкого здоровья и счастья всем вам! 
      +slide
        article.review-item
          .review-item__body
            p Большое Вам спасибо за проведенную операцию и заботу. Дмитрий Александрович Гуляев прооперировал мне позвоночник, шейный отдел, удаление грыжи С3-С4. Результат очень хороший. Если у Вас еще есть сомнения оперироваться или нет у него, можете не сомневаться идите смело - мастер своего дела.Отдельное спасибо Ольге Владимировне за проявленное внимание. Желаю вашему процветания, ваша помощь неоценима! 
    +pageSubsection: include /blocks/reviews-footer/reviews-footer

  +pageSection({ noPadding: 'top' }).main-content
    -
      const consItemsOthers = [
        {
          title:'Анапластическая эпиндемома обоих полушарий мозжечка функционально значимых зон',
        },
        {
          title:'Экстрадуральная опухоль крестца (гигантоклеточная?)',
        },
        {
          title:'У свекра схожи симптомы с инсультом, диагноз - острый диссеминированный энцефалит, стволовой энцефалит',
        },
      ]    
    .block-marked.consultation-others-list
      .consultation-others-list__header.consultation-title Другие вопросы
      +grid({ smallGap: 'y'})
        each item in consItemsOthers
          +cell({ m:6 })
            .consultation-others-list__item
              .consultation-others-list__title
                a(href='/') !{item.title}
              if item.question
                p.consultation-others-list__question !{item.question}

  +pageSection(style='background-color: #fff').main-content
    h2 Круглосуточный стационар Центра 
    p После операции наши пациенты размещаются в одноместных <a href="/to-patients/hospitalization/">комфортабельных, светлых палатах</a> с телевизором, холодильником, телефоном, санузлом. Постоянное наблюдение, чуткое и внимательное отношение медицинского персонала сделает ваше пребывание максимально комфортным, а восстановление - быстрым.      
    +grid({ tag: 'ul' }).par
      +iconBlock({ tag: 'li', singleBed: true })(class= cellClasses({ m: 4, s:6, xs: 12 })) Удобная кровать
      +iconBlock({ tag: 'li', call: true })(class= cellClasses({ m: 4, s:6, xs: 12 })) Телефон для вызова медсестры
      +iconBlock({ tag: 'li', nutrition: true })(class= cellClasses({ m: 4, s:6, xs: 12 })) Разнообразное сбалансированное питание
      +iconBlock({ tag: 'li', washroom: true })(class= cellClasses({ m: 4, s:6, xs: 12 })) Санузел (душ, туалет) в каждой палате
      +iconBlock({ tag: 'li', reception: true })(class= cellClasses({ m: 4, s:6, xs: 12 })) Круглосуточный сестринский пост
      +iconBlock({ tag: 'li', tv: true })(class= cellClasses({ m: 4, s:6, xs: 12 })) Телевизор, стол, холодильник,вентилятор в каждой палате
