.home-symptoms
  --item-opacity 0
  --item-opacity-mobile 0.625
  --items-translate 1rem
  --items-transition-duration var(--transition-duration-out)
  display grid
  gap var(--gap)
  @media(min-width point-l)
    grid-template-columns repeat(3, 1fr)
    grid-auto-rows min-content
    grid-template-rows 540px 383px 383px
  @media(max-width point-l - 1)
    grid-template-columns repeat(2, 1fr)
    grid-auto-rows 1fr
  @media(max-width point-m - 1)
    grid-template-columns 1fr
    grid-auto-rows minmax(17rem, auto)
  &__item
    position relative
    display flex
    flex-direction column
    row-gap 0.625rem
    padding calc(var(--base-padding)*1.5)
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background radial-gradient(144.8% 111.8% at 0% 0%, #000 0%, rgba(0, 0, 0, 0.50) 100%)
      border-radius var(--border-radius)
      opacity var(--item-opacity-mobile)
      @media(min-width point-l)
        opacity var(--item-opacity)
        transition opacity var(--transition-duration-out)
    @media(min-width point-l)
      &:nth-child(5)
        grid-column 2/4
      &:nth-child(6)
        grid-column 1/3
      &:hover
        --item-opacity 1
        --items-translate 0
        --items-transition-duration var(--transition-duration-in)
  &__title
    font-size 1.25rem
    color var(--color-white)
    z-index 10
  &__list
    padding-left var(--base-padding)
    line-height 24px
    color #c0c0c0
    list-style disc outside none
    z-index 10
    @media(min-width point-l)
      opacity var(--item-opacity)
      transform translateY(var(--items-translate))
      transition-duration var(--items-transition-duration)
  &__image
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit cover
    object-position center
    z-index -1
