mixin homeSymptoms(symptoms)
  .home-symptoms&attributes(attributes)
    each item in symptoms
      .home-symptoms__item
        .home-symptoms__title !{item.title}
        ul.home-symptoms__list 
          each symptom in item.list
            li !{symptom}
        +img({
          name: item.image,
          path: '/images/home/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true }
          ],
          density: [{ values: [ 1, 2 ] }],
        })(alt= item.title).home-symptoms__image
