.faq-item
  padding 0 16px
  border-bottom 2px solid var(--color-primary)
  border-radius 10px 10px 0 0
  &__header
    padding-y 16px
  &__body
    padding-y 16px
    border-top 1px solid var(--color-white)
