.article-topic
  padding-x 2rem
  padding-y 1.5rem
  background-color var(--color-bg)
  border-bottom 2px solid var(--color-primary)
  border-radius 10px 10px 0 0
  @media(max-width point-s - 1)
    padding-x calc(var(--base-padding) * 1.5)
  &__list.list-ordered
    padding-left 1.5rem
  .list-ordered &__item
    padding-left 0.5rem
  &__link
    text-decoration none
