mixin articleTopic(content)
  +grid.page-subsection
    +cell.article-topic
      p.h2 Содержание
      ol.article-topic__list.list-ordered
        - for (let i = 0; i < content.length; i++)
          li.article-topic__item
            a(href=`#content${i}`).article-topic__link= content[i]
