mixin h2(settings = {})
  -
    const tag = settings.tag ? settings.tag : 'h2'
    const className = tag !== 'h2' || Object.keys(settings).length > 0 ? 'h3' : null
  #{tag}(class!= classes(className, settings))&attributes(attributes)
    block
