.link-icons
  &__link
    background-repeat no-repeat
    background-position center
    background-size contain
    transition opacity .4s
    &:hover
      opacity .75
      transition-duration  .1s
    for icon in 'vk' 'whatsapp' 'telegram'
      &--{icon}
        background-image url(unquote('../images/svg-sprites/common.svg#link-icons__link--' + icon))
