mixin linkIcons(list = [], settings = {})
  -
    const links = {
      vk: 'https://vk.com/neurostiglievaru',
      whatsapp: 'https://wa.me/79219150330',
      telegram: 'https://wa.me/79219150330',
    }
    const blockClass = classes('link-icons', settings)
  div(class != blockClass)&attributes(attributes)
    block
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
