.tourism-hotels
  position relative
  &__inner
    position absolute
    display flex
    flex-direction column
    align-items center
    bottom 0
    width 100%
    padding 0.8rem
    color var(--color-white)
    background-color var(--color-primary)
    border-radius 0 0 var(--border-radius) var(--border-radius) 
    opacity 0
    pointer-events none
    transition opacity var(--transition-duration-out) ease-in-out
    @media(max-width point-l - 1)
      opacity 1
  & img
    display block !important
  @media(min-width point-l)
    &:hover ^[0]__inner
      opacity 1
      pointer-events auto
      transition-duration var(--transition-duration-in)
      