mixin tourismHotels(hotels)
  +grid.page-subsection
    each item in hotels 
      +cell({ m:4 }).tourism-hotels
        h3= item.title
        .page-subsection
          +img({
            name: item.img,
            path: '/images/to-patients/inogorodnim/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { name:'xs', values: [ 1, 2 ] },
              { name:'s', values: [ 1, 2 ] },
            ]
            })(alt= item.title title= item.title width=518 height=315).box-shadow
          .tourism-hotels__inner
            p= item.price
