include /blocks/logo/logo
include /blocks/link-icons/link-icons
include /blocks/button/button
include /blocks/header-switcher/header-switcher
include /blocks/header-navigation/header-navigation
include /blocks/header-search/header-search
include /blocks/phone/phone

+container({ tag: 'header' }).header: +content.header__inner
  .header__top
    +logo.header__logo
    .header__age.hidden-s.hidden-xs
    .header__address.hidden-s.hidden-xs
      .header__location г. Санкт-Петербург, пр. Культуры, д. 4
      .header__schedule пн.-пт. с 09:30 до 18:00
    .header__contacts
      .header__age.hidden-hd.hidden-xl.hidden-l.hidden-m
      +phone({ number: '8 (800) 222-25-90', link: '+78002222590', description: 'бесплатно по России' }, { icon: true }).header__phone
      +phone({ number: '8 (921) 915-03-30', link: '+79219150330' }, { icon: true }).header__phone
      a(href='#').header__call-back.hidden-s.hidden-xs получить обратный звонок
      .header__schedule.hidden-hd.hidden-xl.hidden-l.hidden-m пн.-пт. с 09:30 до 18:00
      +linkIcons([ 'telegram', 'whatsapp' ]).header__socials.hidden-hd.hidden-xl.hidden-l.hidden-m
  .header__bottom
    +headerSwitcher.header__switcher
    +headerNavigation(mainMenu).header__navigation
    +headerSearch.header__search
    +button({ tag: 'a' })(href='#call-back' data-modal).header__appointment Записаться на прием
