.header
  &__top
    display flex
    align-items flex-end
    column-gap 2rem
    padding-y var(--base-padding)
    @media (max-width point-l - 1)
      column-gap 1rem
    @media (max-width point-m - 1)
      flex-wrap wrap
      padding-y calc(var(--base-padding) / 2)
  &__logo
    align-self center
    margin-right auto
    @media (max-width point-m - 1)
      margin-bottom calc(var(--base-padding) / 2)
  &__address
    max-width 12.75rem
    text-align center
  &__location
    $fontSizeM()
  &__schedule
    $fontSizeM()
    color var(--color-text-light)
  &__contacts
    @media (min-width point-m)
      display flex
      flex-direction column
      align-items center
    @media (max-width point-m - 1)
      display grid
      grid-template-columns repeat(3, auto)
      grid-template-areas 'socials age phone' 'socials age second-phone' 'socials age schedule'
      align-items center
      width 100%
      .header__schedule
        grid-area schedule
        justify-self end
  &__phone
    text-align center
    @media (max-width point-m - 1)
      grid-area second-phone
      justify-self end
      &:nth-child(2)
        grid-area phone
  &__call-back
    $fontSizeM()
    white-space nowrap
  &__socials
    @media (min-width point-m)
      margin-top .75rem
    @media (max-width point-m - 1)
      grid-area socials
      align-self center
  &__bottom
    display flex
    justify-content space-between
    align-items center
    width calc(100% + var(--gap))
    margin-left calc(var(--base-padding) * -1)
    @media (max-width point-xl - 1)
      width calc(100% + var(--gap))
      margin-left calc(var(--base-padding) * -1)
    @media (min-width point-m)
      gap var(--base-padding)
      padding-top .375rem
      padding-bottom .375rem
      padding-right .375rem
      padding-left 2.5rem
  &__switcher
    @media (min-width point-m)
      display none
    @media (max-width point-m - 1)
      align-self stretch
      margin-right auto
  &__navigation
    flex-grow 1
    @media (max-width point-m - 1)
      display none
  &__search
    @media (max-width point-m - 1)
      display none
  .button&__appointment
    position relative
    padding-y .4375rem
  &__age
    width 8.4rem
    height 5.5rem
    margin auto
    @media(max-width point-m - 1)
      grid-area age
      width 5.4rem
      height 3.5rem
