.header
  &__inner
    @media (max-width point-xl - 1)
      background-color var(--color-bg)
  &__address
    position relative
    &::before
      content ''
      position absolute
      top 50%
      left .125rem
      width .875rem
      height 1.25rem
      background-color var(--color-primary)
      mask-image url(../images/svg-sprites/common.svg#pin)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      transform translateY(-50%)
  &__call-back
    --color-link var(--color-primary)
    --color-link-hover var(--color-button-hover)
    --color-link-active var(--color-button-active)
    text-decoration none
  &__bottom
    position relative
    background-color var(--color-primary)
    @media (max-width point-xl - 1)
      padding-right 1.125rem
  .button&__appointment
    --color-button var(--color-white)
    // --color-button-hover var(--color-button-active)
    // --color-button-active var(--color-button-active)
    background-color var(--color-blue)
    // z-index 101
    // font-family 'PT Sans Narrow'
    font-family inherit
    font-weight 400
    // letter-spacing .06em
    letter-spacing 0
    // box-shadow 0 5px 10px 0 rgba(0,0,0,.2)
    border none
    &::before
      content ''
      position absolute
      top 2px
      z-index: -1
      left 0
      width 100%
      height 100%
      background-color #7BDA76
      filter blur(2px)
      border-radius var(--border-radius)
    &:hover
      background-color var(--color-link)
  &__search
    @media (max-width point-m - 1)
      --translate-y translateY(100%)
      position absolute
      bottom 0
      left 0
      z-index 1000
      display flex
      width 100vw
      padding 0
      background-color var(--color-accent)
      transform translateX(-100%) var(--translate-y)
      transition transform var(--transition-duration-out)
  &__navigation
    @media (max-width point-m - 1)
      --translate-y translateY(calc(100% + 3.5625rem))
      position absolute
      bottom 0
      left 0
      z-index 1000
      display block
      width 100vw
      padding-y 1rem
      background-color var(--color-primary)
      transform translateX(-100%) var(--translate-y)
      transition transform var(--transition-duration-out)
  &__switcher--active ~ &__search
  &__switcher--active ~ &__navigation
    transform translateX(0) var(--translate-y)
  &__top
    @media (min-width point-m)
      position relative
      z-index 1000
      &::before
        content ''
        position absolute
        top 0
        left 50%
        z-index -1
        width 100vw
        height 100%
        background-color var(--color-white)
        transform translateX(-50%)
  &__bottom
    z-index 1000
    @media (min-width point-m)
      position relative
      &::before
        content ''
        position absolute
        top 0
        left 50%
        z-index -1
        width 100vw
        height 100%
        background-color var(--color-primary)
        box-shadow 0 5px 10px 0 rgba(0,0,0,.2)
        transform translateX(-50%)
  &__age
    background-image url(../images/svg-sprites/common.svg#age)
    background-repeat no-repeat
    background-position center
    background-size contain
