extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Болезни спинного мозга
    +grid.par
      +cell({ l:8, m:8, s:12 })  
        p Болезни спинного мозга&nbsp;&mdash; это патологические состояния, вызванные пороками развития, дегенеративными изменениями, опухолями, сосудистыми нарушениями и&nbsp;повреждениями спинномозгового канала, которые приводят к&nbsp;структурно-функциональным изменениям отделов нервной системы, нарушению функционирования внутренних органов.
        h2 Симптоматика
        p Признаки и&nbsp;симптомы заболеваний спинного мозга у&nbsp;женщин и&nbsp;мужчин проявляются следующим образом:
      +cell({ l:3, m:4, s:7, 'alignSelf': 'center', centered: 'm' })
        +img({
          name: 'segment',
          path: '/images/lechenie/spinnoy-mozg/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [ 1, 2 ] }, 
            { name: 's', values: [ 1, 2 ] }, 
            { name: 'm', values: [ 1, 2 ] },
          ]
          })(alt= 'Спинальный сегмент с диском' title= 'Спинальный сегмент с диском' width=800 height=547).box-shadow
        p Спинальный сегмент с диском

    ul.list-unordered
      li Основной симптом&nbsp;&mdash; утрата чувствительности (вибрационной, болевой, температурной), которая приводит к&nbsp;спазмам, непроизвольным движениям конечностей и&nbsp;слабости мышц. Проявляется парестезией (внезапно возникающим онемением, покалыванием, жжением).
      li Вегетативные нарушения: задержка мочеиспускания, которая связана с&nbsp;нарушением чувствительности на&nbsp;определенном уровне, сухость кожи, изменение местной температуры тела, потоотделения, образование трофических язв и&nbsp;пролежней из-за расстройства трофики (питания) тканей.
      li Двигательные дисфункции: повышение мышечного тонуса, сухожильных рефлексов, парез (частичный паралич) или паралич конечностей, частей тела. При парезе мышца, группа мышц ослабляется, нарушается координация, походка, возникает тремор конечностей, поменять положение тела становится сложно.
      li Повышение болевой чувствительности, расстройство чувствительности и&nbsp;ощущений локализации, например, боли, атрофия, снижение тонуса мышц.
      li Нарушение, бесконтрольность опорожнения, мочеиспускания, боли, отдающие в&nbsp;бедра и&nbsp;промежность. 
      li Мышечная слабость верхней конечности и&nbsp;противоположной нижней или поражение конечностей на&nbsp;одной стороне.
    +grid.par
      +cell({ l:11 })
        +img({
          name: 'symptoms',
          path: '/images/lechenie/spinnoy-mozg/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name:'xs', values: [ 1, 2 ] },
            { name:'s', values: [ 1, 2 ] },
            { name:'m', values: [ 1, 2 ] },
            { name:'l', values: [ 1, 2 ] },
          ] 
        })(alt= 'Симптомы заболеваний спинного мозга' title= 'Симптомы заболеваний спинного мозга' width=1200 height=309)
        p Симптомы заболеваний спинного мозга

    +grid.par
      +cell({ l:6, m:7, s:12 }) 
        h2 Виды поражений в&nbsp;зависимости от&nbsp;локализации патологии
        h3 В&nbsp;грудном отделе
        p Паралич верхних конечностей, двигательные дисфункции, ослабление или исчезновение рефлексов, расстройство мочеиспускания, нарушение чувствительности.

        h3 В&nbsp;шейном отделе
        p Мочеиспускание невозможно или затруднено, паралич верхних и&nbsp;нижних конечностей, нарушение чувствительности, двигательной функции. Состояние опасно поражением органов, отдельных участков организма. 

        h3 В&nbsp;пояснично-крестцовом
        p Мочеиспускание искажается, коленные рефлексы нарушены, паралич мышц голеней, бедер, расстройство функций нижних конечностей, ниже от&nbsp;участка поражения искажается чувствительность. 
      +cell({ l:5, m:5, s:8, 'alignSelf': 'center', centered: 'm' })
        +img({
          name: 'scheme',
          path: '/images/lechenie/spinnoy-mozg/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name:'xs', values: [ 1, 2 ] },
            { name:'m', values: [ 1, 2 ] },
          ]
          })(alt= 'Схема строения спинного мозга' title= 'Схема строения спинного мозга' width=700 height=644).box-shadow
        p Схема строения спинного мозга

    h2 Причины
    ul.list-unordered
      li Проникающие метастазы из&nbsp;других органов.
      li Спинномозговые новообразования доброкачественной и&nbsp;злокачественной природы, прорастающие в&nbsp;канал позвоночника, сдавливающие его снаружи. 
      li Последствия травм, переломов, ранений, ран.
      li Воспалительные процессы при инфекционных заболеваниях, процессах, включая сепсис, и&nbsp;как сопутствующие состояния при остеомиелите.
      li Сосудистые нарушения: атеросклероз, варикозное расширение вен позвоночника, последствия сахарного диабета. Процессы способствуют остеохондрозу, в&nbsp;целом дегенеративным изменениям, межпозвонковым грыжам, спондилезу, компрессионным нарушениям. 
      li Рассеянный склероз, который охватывает белое вещество спинного мозга.

    h2 Виды заболеваний
    p Развиваются заболевания спинного мозга в&nbsp;раннем возрасте (при нарушении внутриутробного развития, генетической предрасположенности) или возникают из-за гематом, абсцессов, новообразований, грыж, травм, возрастных изменений тканей и&nbsp;структур.
    ul.list-unordered
      li Инфаркт спинного мозга. Магистральная артерия закупоривается, возникает внезапная спинная боль, пациент утрачивает чувствительность, возникает паралич конечностей.
      li Новообразования, кисты. Развиваются из-за аномалий краниовертебрального перехода, травмирования. Проявляются нарушением глотания, атрофией языковых мышц, нарушением температурной, болевой чувствительности спины и&nbsp;плеч.
      li Травматическая болезнь спинного мозга: необратимые и&nbsp;обратимые патологии, возникшие после травмирования. Поражаются близлежащие кровеносные сосуды, нервные участки, оболочки, сам спинной мозг. Нервные импульсы не&nbsp;проходят, чувствительность и&nbsp;двигательные функции снижаются или исчезают, возникает частичный или полный паралич.
      li Спондилез. Возникает из-за физических перегрузок, травмировании, возрастных изменений. Проявляется дегенеративными изменениями хрящевой ткани, компрессией нервных структур и&nbsp;спинного мозга. 
      li Поперечный миелит&nbsp;&mdash; воспаление спинномозгового вещества, которое ограничивает чувствительность и&nbsp;двигательные функции. 
      li Радикулопатия. Возникает из-за сдавливания нервных корешков межпозвонковыми грыжами. Проявляется нарушением глубоких рефлексов, чувствительности, болевым синдромом, неврологическими расстройствами. 

    p Врачи Нейрохирургического центра&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; лечат следующие заболевания спинного мозга в&nbsp;неврологии:
    ul.list-unordered
      li Злокачественные и&nbsp;доброкачественные опухоли: липома, глиома, эпиндимома, менингиома, невринома, фибролипома, менингиома, экстрамедуллярное, интрамедуллярное новообразование.
      li Гидромиелия: центральный спинномозговой канал расширен, возникает болезненность, нарушение двигательной функции, чувствительности. Возникает из-за болезней позвоночника, травм, аномалий краниоцервикального перехода. 
      li Стеноз позвоночного канала: дегенеративные изменения, вызванные сужение канала в&nbsp;области поясницы. Передавливает нервные структуры, что вызывает боли в&nbsp;спине, ногах во&nbsp;время нагрузок на&nbsp;нижние конечности и&nbsp;при ходьбе. 

    +pageSubsection.par
      +grid
        +cell({ l:7, m:7, s:12 }) 
          p Сосудистые болезни: 
          ul.list-unordered
            li Фистулы сосудов: соустье между спинномозговыми артериями и&nbsp;сегментарной веной, из-за чего в&nbsp;венозную систему спинного мозга поступает большее количество крови, повышается венозное давление. Возникают парезы и&nbsp;параличи верхних и&nbsp;нижних конечностей, нарушается работа мочевого пузыря, кишечника, искажается чувствительность. 
            li Артериовенозная мальформация&nbsp;&mdash; врожденное сосудистое заболевание, которое ведет к&nbsp;аневризмам, хронической недостаточности кровообращения. Сосудистые стенки выпячиваются, сдавливают нервные структуры, спинной мозг, вызывают кровоизлияние, ишемию.
        +cell({ l:3, m:4, s:6, 'alignSelf': 'center', centered: 'm' })
          +img({
            name: 'types-1',
            path: '/images/lechenie/spinnoy-mozg/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] },
            ]
            })(alt= 'Сосуды спинного мозга' title= 'Сосуды спинного мозга' width=400 height=330).box-shadow
          p Сосуды спинного мозга

    +pageSubsection.par
      +grid
        +cell({ l:6, m:6, s:12 }) 
          p Пороки развития:  
          ul.list-unordered
            li Диастематомиелия&nbsp;&mdash; наследственное заболевание спинного мозга, при котором продольная перегородка расщепляет спинной мозг на&nbsp;две части, содержащих центральный канал. Проявляется подкожными липомами, гемангиомами, оволосением поясницы. Грудная клетка деформируется, нарушается осанка, походка, длина конечностей, возникают парезы ног, мышечная слабость, боли в&nbsp;спине.
        +cell({ l:5, m:5, s:10, 'alignSelf': 'center', centered: 'm' })
          +img({
            name: 'types-2-1',
            path: '/images/lechenie/spinnoy-mozg/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { name: 'xs', values: [ 1, 2 ] },
              { name: 's', values: [ 1, 2 ] },
              { name: 'm', values: [ 1, 2 ] },
            ]
            })(alt= 'Диастематомиелия: A -  патологическое состояние, B - здоровое состояние' title= 'Диастематомиелия: A -  патологическое состояние, B - здоровое состояние' width=800 height=447).box-shadow
          p Диастематомиелия: A -  патологическое состояние, B - здоровое состояние 

    +pageSubsection.par
      +grid.par
        +cell({ l:6, m:6, s:12 })
          +grid 
            +cell({ l:12, m:12, s:12 }) 
              ul.list-unordered
                li Дермальный синус&nbsp;&mdash; свищевой ход, через который нервные структуры спинного мозга сообщаются с&nbsp;кожей. Аномалия врожденная, проявляется углублениями, повышенным оволосением зон, пигментацией, парезом нижних конечностей, абсцессами, нарушением функций тазовых органов.
            +cell({ l:7, m:8, s:6 }) 
              +img({
                name: 'types-2-2',
                path: '/images/lechenie/spinnoy-mozg/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
                })(alt= 'Дермальный синус' title= 'Дермальный синус' width=594 height=590).box-shadow
              p Дермальный синус 

        +cell({ l:6, m:6, s:12 })
          +grid 
            +cell({ l:12, m:12, s:12 }) 
              ul.list-unordered
                li Синдром фиксированного спинного мозга: врожденные аномалии, опухоли или травмы вызывают фиксацию каудального отдела спинного мозга. Проявляется кожными симптомами на&nbsp;пояснице, нарушением работы органов таза, двигательной функции и&nbsp;чувствительности ног. 
            +cell({ l:7, m:8, s:6 }) 
              +img({
                name: 'types-2-3',
                path: '/images/lechenie/spinnoy-mozg/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ]
                })(alt= 'Синдром фиксированного спинного мозга' title= 'Синдром фиксированного спинного мозга' width=594 height=590).box-shadow
              p Синдром фиксированного спинного мозга

    h2 Лечение  
    +grid.par
      +cell({ l:6, m:7, s:12 }) 
        p Лечение заболеваний спинного мозга предполагает преимущественно хирургическое вмешательство. Нейрохирурги Центра проводят следующие нейрохирургические операции.
        p Пороки развития решаем устранением диастомиелиии, иссечением дермального синуса. Для хирургического лечения спинномозговых компрессий применяем методику ламинопластики. 
        p Для решения проблемы новообразований предусмотрена биопсия и&nbsp;удаление опухолей максимально щадящим способом. 
        p Болезни сосудов спинного мозга оперируем способом удаления фистул и&nbsp;эмболизацией мальформаций. 
      +cell({ l:5, m:5, s:10, 'alignSelf': 'center', centered: 'm' })
        +img({
          name: 'treatment',
          path: '/images/lechenie/spinnoy-mozg/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [ 1, 2 ] },
            { name: 's', values: [ 1, 2 ] },
          ]
          })(alt= 'Шейная ламинопластика' title= 'Шейная ламинопластика' width=800 height=483).box-shadow
        p Шейная ламинопластика

      +cell({ l:8, m:8, s:10 }) 
        +img({
          name: 'punction',
          path: '/images/lechenie/spinnoy-mozg/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [ 1, 2 ] },
            { name: 's', values: [ 1, 2 ] },
            { name: 'm', values: [ 1, 2 ] },
          ]
          })(alt= 'Спинномозговая пункция' title= 'Спинномозговая пункция' width=1000 height=670) 
        p Спинномозговая пункция

    h2 Почему болезни спинного мозга в&nbsp;СПб предпочитают лечить в&nbsp;нашем Центре?
    ul(class= gridClasses())
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--certificate Прогрессивные методики лечения по&nbsp;мировым стандартам: практикуем европейские, американские протоколы, в&nbsp;том числе авторские, запатентованные методы. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--heart Современные подходы к&nbsp;оперативной помощи, которые гарантируют эффективность: эндоскопические вмешательства, минимально инвазивный доступ.
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--ecg Операционные оснащены оборудованием последнего поколения: системами 3D-нейронавигации, нейромониторинга, видеоангиографии. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--neurosurgery В&nbsp;Центре работает нейрохирург, специализирующийся на&nbsp;спинальных хирургических вмешательствах, который получил европейское образование и&nbsp;стажировался в&nbsp;мировых медицинских центрах. 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--microscope Максимальная точность операций, не&nbsp;затрагиваем здоровые ткани, так как работаем под постоянным визуальным контролем (используем операционный микроскоп). 
      li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--recovered Быстрое восстановление без осложнений: после операции пациент находится под пристальным контролем анестезиологов, реаниматологов и&nbsp;медицинских сестер. На&nbsp;дому с&nbsp;ним работает реабилитолог по&nbsp;персонально разработанной программе. 

    p Не&nbsp;рекомендуем откладывать с&nbsp;лечением заболеваний спинного мозга, поскольку патологические процессы прогрессируют, вызывают обездвиживания тела и&nbsp;опасны для жизни. Запишитесь на&nbsp;прием к&nbsp;нейрохирургу Центра вовремя!
