.text-marked
  color var(--color-black)
  &--size--s
    color var(--color-text)
  &--color--green
    color var(--color-primary)
  &--color--grey
    color var(--color-text)
  &--color--blue
    color var(--color-link)
  &--old-price
    &::after
      content ''
      position absolute
      left 0
      bottom 0
      width 100%
      height 50%
      border-bottom 3px solid var(--color-red)
      transform rotate(165deg)
