.icon-block
  display flex
  align-items center
  gap 1rem
  min-height 6rem
  padding 1rem 1.5rem
  background-color var(--color-bg)
  border-radius 10px
  &--white
    background-color var(--color-white)
  &--vertical
    flex-direction column
    gap 0.625rem
    padding 1.875rem
  @media (max-width point-s - 1)
    flex-direction column
    align-items center
  &--scalpel
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--scalpel)
  &--hourglass
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--hourglass)
  &--doctor
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--doctor)
  &--report
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--report)
  &--monitor
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--monitor)
  &--knife
    --icon-image url(../images/icon-block--knife.png)
    &::before
      mask-size contain
  &--recovered
    --icon-image url(../images/icon-block--recovered.png)
    &::before
      mask-size contain
  &--license
    --icon-image url(../images/icon-block--license.png)
    &::before
      mask-size contain
  &--ct-scan
    --icon-image url(../images/icon-block--ct-scan.png)
    &::before
      mask-size contain
  &--medical-team
    --icon-image url(../images/icon-block--medical-team.png)
    &::before
      mask-size contain
  &--bed
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--bed)
    &::before
      mask-size contain
  &--microscope
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--microscope)
    &::before
      mask-size contain
  &--neurosurgery
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--neurosurgery)
    &::before
      mask-size contain
  &--ecg
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--ecg)
    &::before
      mask-size contain
  &--globe
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--globe)
    &::before
      mask-size contain
  &--anesthetic
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--anesthetic)
    &::before
      mask-size contain
  &--foreigner
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--foreigner)
    &::before
      mask-size contain
  &--helping-hand
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--helping-hand)
    &::before
      mask-size contain
  &--mri
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--mri)
    &::before
      mask-size contain
  &--solution
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--solution)
    &::before
      mask-size contain
  &--coins
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--coins)
    &::before
      mask-size contain
  &--reviews
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--reviews)
    &::before
      mask-size contain
  &--pills
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--pills)
    &::before
      mask-size contain
  &--certificate
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--certificate)
    &::before
      mask-size contain
  &--modeling
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--modeling)
    &::before
      mask-size contain
  &--brain
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--brain)
    &::before
      mask-size contain
  &--recovered
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--recovered)
    &::before
      mask-size contain
  &--scanners
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--scanners)
    &::before
      mask-size contain
  &--heart
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--heart)
    &::before
      mask-size contain
  &--neurosurgeon
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--neurosurgeon)
    &::before
      mask-size contain
  &--camera
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--camera)
    &::before
      mask-size contain
  &--surgery
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--surgery)
    &::before
      mask-size contain
  &--medical-care
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--medical-care)
    &::before
      mask-size contain
  &--surgery-room
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--surgery-room)
    &::before
      mask-size contain
  &--magnifier
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--magnifier)
    &::before
      mask-size contain
  &--hospital-bed
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--hospital-bed)
    &::before
      mask-size contain
  &--checklist
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--checklist)
    &::before
      mask-size contain
  &--hospital-building
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--hospital-building)
    &::before
      mask-size contain
  &--medical-team
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--medical-team)
    &::before
      mask-size contain
  &--information-system
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--information-system)
    &::before
      mask-size contain
  &--document
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--document)
    &::before
      mask-size contain
  &--diet
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--diet)
    &::before
      mask-size contain
  &--blood-pressure
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--blood-pressure)
    &::before
      mask-size contain
  &--stress
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--stress)
    &::before
      mask-size contain
  &--weight
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--weight)
    &::before
      mask-size contain
  &--cholesterol
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--cholesterol)
    &::before
      mask-size contain
  &--obesity
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--obesity)
    &::before
      mask-size contain
  &--sedentary-life
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--sedentary-life)
    &::before
      mask-size contain
  &--evaluation
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--evaluation)
    &::before
      mask-size contain
  &--sunlight
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--sunlight)
    &::before
      mask-size contain
  &--prohibition
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--prohibition)
    &::before
      mask-size contain
  &--customer-review
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--customer-review)
    &::before
      mask-size contain
  &--equipment
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--equipment)
    &::before
      mask-size contain
  &--sign
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--sign)
    &::before
      mask-size contain
  &--hormones
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--hormones)
    &::before
      mask-size contain
  &--non-ionizing-radiation
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--non-ionizing-radiation)
    &::before
      mask-size contain
  &--no-fast-food
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--no-fast-food)
    &::before
      mask-size contain
  &--bin
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--bin)
    &::before
      mask-size contain
  &--airplane-flight
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--airplane-flight)
    &::before
      mask-size contain
  &--call
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--call)
    &::before
      mask-size contain
  &--reception
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--reception)
    &::before
      mask-size contain
  &--nutrition
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--nutrition)
    &::before
      mask-size contain
  &--single-bed
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--single-bed)
    &::before
      mask-size contain
  &--tv
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--tv)
    &::before
      mask-size contain
  &--washroom
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--washroom)
    &::before
      mask-size contain
  &--quality-life
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--quality-life)
    &::before
      mask-size contain
  &--landing-leg
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-leg)
    &::before
      mask-size contain
  &--landing-man
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-man)
    &::before
      mask-size contain
  &--landing-muscles
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-muscles)
    &::before
      mask-size contain
  &--landing-leg-1
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-leg-1)
    &::before
      mask-size contain
  &--landing-menisc
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-menisc)
    &::before
      mask-size contain
  &--landing-pain
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-pain)
    &::before
      mask-size contain
  &--landing-injury
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-injury)
    &::before
      mask-size contain
  &--landing-leg-2
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-leg-2)
    &::before
      mask-size contain
  &--landing-active
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-active)
    &::before
      mask-size contain
  &--landing-spasm
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-spasm)
    &::before
      mask-size contain
  &--landing-joint
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-joint)
    &::before
      mask-size contain
  &--landing-shield
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-shield)
    &::before
      mask-size contain
  &--landing-timer
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-timer)
    &::before
      mask-size contain
  &--landing-bones
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-bones)
    &::before
      mask-size contain
  &--landing-walk
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--landing-walk)
    &::before
      mask-size contain
  &::before
    content ''
    flex-shrink 0
    width 4rem
    height 4rem
    background-color var(--color-primary)
    mask-image var(--icon-image)
    mask-repeat no-repeat
  &__inner
    align-self center
  &--checked
    &::before
      width 2rem
      height 2rem
      background-image url(../images/svg-sprites/common.svg#service-category__title)
      background-repeat no-repeat
      background-position center
      background-size cover
      background-color transparent
  &--tourism // Страница мед туризма
    color var(--color-white)
    background-color var(--color-primary)
    --icon-image url(../images/svg-sprites/inner.svg#icon-block--phone)
    &::before
      background-color var(--color-white)
