extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Грыжа пояснично-крестцового отдела позвоночника&nbsp;&mdash; симптомы и&nbsp;лечение
    +pageSubsection
      p Поясничный отдел позвоночника ежедневно страдает от&nbsp;перегрузок, потому что берет на&nbsp;себя основную нагрузку при движении. Как часто мы&nbsp;не&nbsp;обращаем внимание на&nbsp;дискомфорт в&nbsp;спине после поднятия тяжестей или длительной сидячей работы. Беспокоиться о&nbsp;здоровье начинаем, когда нарастающие изменения проявляют себя болями и&nbsp;нарушением чувствительности.
    
    +grid.page-subsection
      +cell({ m:6 })
        h2#h2-1 Что такое грыжа позвоночника поясничного отдела
        p Грыжа позвоночника&nbsp;&mdash; дегенеративный процесс, сопровождаемый смещением межпозвоночного диска и&nbsp;выпячиванием его сердцевины в&nbsp;позвоночный канал или в&nbsp;межпозвонковое отверстие. 
        p Поясничный сегмент ограничен 5&nbsp;позвонками. Расположенные между ними диски представляют фиброзно-хрящевые пластинки с&nbsp;гелеобразным ядром в&nbsp;центре. Диск обеспечивает позвоночнику подвижность, выступает в&nbsp;роли амортизирующей подушки, которая предотвращает трение позвонков друг о&nbsp;друга.
        p Межпозвоночный диск состоит из&nbsp;3&nbsp;частей: пульпозное центральное ядро, фиброзное периферическое кольцо, замыкательные пластинки. Под воздействием неблагоприятных факторов окружность диска выходит за&nbsp;пределы тел позвонков, студенистое образование ядра выдавливается за&nbsp;границы диска. При этом грыжа сдавливает спинномозговой нерв, нервный корешок или позвоночный канал, вызывая сильные боли.
      +figure({
        image: {
          name: 'gryzha-1',
          path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Межпозвоночный диск',  
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
    
    .page-subsection
      h2#h2-2 Виды межпозвоночных грыж поясничного отдела
      p Классифицируют межпозвонковые грыжи по&nbsp;разным признакам. Определение типа выпячивания диска будет определять тактику лечения.

      h3 Деление по&nbsp;направлению выпячивания
      +grid.par
        +cell({ m:6 })
          h4 Задние
          p При заднем направлении пульпозное ядро выпадает в&nbsp;позвоночный канал, воздействуя на&nbsp;спинной мозг и&nbsp;нервные корешки, от&nbsp;положения грыжи будет зависеть симптоматика.
          ul.list-unordered
            li Для задне-срединного направления характерно центральное положение грыжи с&nbsp;сужением позвоночного канала и&nbsp;корешков. В&nbsp;таком случае может развиваться хромота, пациентам становится больно ходить даже на&nbsp;короткие расстояния. . Заднебоковая проходит через заднюю половину внешней оболочки диска в&nbsp;бок от&nbsp;средней линии.
            li Фораминальная&nbsp;&mdash; Выпячивание расположено в&nbsp;фораминальном отверстии позвоночника&nbsp;&mdash; месте выхода спинномозгового корешка. При таком поражении возникает сильная боль в&nbsp;ноге, особенно в&nbsp;положении сидя, онемение и&nbsp;даже слабость мышц стопы и&nbsp;голени. Экстрафораминальная грыжа находится за&nbsp;пределами фораминального отверстия, в&nbsp;стороне от&nbsp;корней дуг позвонка. Такой тип грыжи редко повреждает нервный корешок. 
            li При секвестрированной грыже часть ядра отрывается и&nbsp;размещается в&nbsp;позвоночном канале, часто вызываю снижение силы в&nbsp;мышцах, онемение, сильные боли.
        +figure({
          image: {
            name: 'gryzha-2',
            path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Фораминальная протрузия',  
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
      +grid.par
        +cell({ m:6 })
          h4 Передняя грыжа
          p Для этого типа выпячивания характерно выпадение образования в&nbsp;направлении от&nbsp;позвонка, что влечет минимум осложнений.
        +cell({ m:6 })
          h4 Диффузная грыжа
          p Полностью поражает фиброзное кольцо, которое равномерно растягивается во&nbsp;всех направлениях. Патология чаще остальных поражает поясничный отдел позвоночника.Часто такие патологии не&nbsp;имеют симптомов.
    
    .page-subsection
      h2#h2-3 Симптомы грыжи поясничного отдела
      p Грыжа в&nbsp;пояснице прогрессирует постепенно, со&nbsp;стертой симптоматикой или&nbsp;же минимальной, не&nbsp;характерной, чтобы что-то заподозрить. Высока роль триггеров, например, в&nbsp;виде резкого подъема тяжестей, в&nbsp;результате чего возникает травма и&nbsp;разрыв межпозвонкового диска.
      +grid.par
        +cell
          h3 Начальные симптомы
          p Другие первые признаки грыжи в&nbsp;поясничном отделе:
          ul.list-unordered
            li В&nbsp;пояснице возникают непостоянные болевые ощущения.
            li Выпадение чувствительности: больной сталкивается с&nbsp;ощущением &laquo;ползающих мурашек&raquo;, у&nbsp;него возникает онемение кожи. 
            li Легкое перенапряжение поясницы в&nbsp;случае длительного стояния или сидения.
        +cell({ m:6 })
          h3 Явные симптомы
          p Без адекватного лечения больным трудно наклоняться, любое движение сопровождается острой болевой реакцией. Грыжа поясничной зоны приводит к&nbsp;гипертонусу и&nbsp;отечности близлежащих тканей из-за ущемления нервных корешков. Защемление седалищного нерва сопровождают прострелы в&nbsp;пояснице, боли и&nbsp;онемение в&nbsp;ягодице, ноге. Боль распространяется на&nbsp;бедро и&nbsp;голени, часто больной не&nbsp;может стоять на&nbsp;пораженной ноге. Однако иногда боль возникает как раз в&nbsp;положении сидя или лежа. Постоянный мышечный спазм ведет к&nbsp;искривлению позвоночника.
          p Характерные проявления, вызванные сдавлением корешков спинномозговых нервов либо&nbsp;же спинного мозга. Основная симптоматика патологии:
          ul.list-unordered
            li Местный болевой синдром. Для болевой реакции свойственна разная степень проявления и&nbsp;длительность. Усиление дискомфортных и&nbsp;болезненных ощущений происходит при резких поворотах тела и&nbsp;физическом перенапряжении. Иногда боль может возникать при вставании или при долгом сидении
            li Корешковые боли&nbsp;&mdash; когда поражаются одноименные структуры спинномозговых нервов. Симптоматика зависит от&nbsp;характера поражения тех или иных дисков:
              ul.list-unordered
                li L1-L2, L2-L3. В&nbsp;этих участках локализуются реже, проявляются нарушением чувствительности на&nbsp;передних поверхностях бедер, болевой реакцией, а&nbsp;в&nbsp;некоторых случаях нарушается и&nbsp;функционирование тазовых органов.
                li L3-L4. Болевая реакция тоже охватывает переднюю поверхность бедер, распространяется на&nbsp;лодыжку, голень, приводит к&nbsp;чрезмерной чувствительности кожи и&nbsp;слабости определенных групп мышц в&nbsp;пораженной области.
                li L4-L5. Болевая реакция охватывает ягодицы, внешнюю часть бедер, голени, пальцы стоп. 
                li L5-S1. Боль иррадиирует с&nbsp;задней ягодичной поверхности, переходит на&nbsp;внешнюю бедренную поверхность, голени, в&nbsp;пятку, стопу, пальцы. 

          p При повреждении двигательной части нервов возникает симптоматика, для которой характерна повышенная утомляемость, слабость мышц, неуверенная походка.
        +figure({
          image: {
            name: 'gryzha-3',
            path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Защемление седалищного нерва',  
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        
        +figure({
          image: {
            name: 'gryzha-4',
            path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Грыжа диска L5-S1',  
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell({ m:6 })
          h3 Опасные симптомы
          p В&nbsp;ряде случаев грыжа поясничного отдела приводит к&nbsp;полному или частичному параличу ног или некоторых мышц ноги, грубому нарушению чувствительности и&nbsp;даже поражению органов таза, с&nbsp;развитием недержания мочи и&nbsp;кала.
    
    .page-subsection
      h2#h2-4 Причины грыжи поясничного отдела
      +grid.par 
        +cell({ m:6 })
          p Ежедневно диски поясничного сегмента испытывают серьезную нагрузку. Со&nbsp;временем диски подвергаются дегенеративным изменениям. Это естественный процесс, который не&nbsp;причиняет боли. Грыжевое выпячивание формируется под влиянием провоцирующих факторов:
          ul.list-unordered
            li травмы, ушибы спины и&nbsp;поясничного отдела;
            li сколиоз 3-4&nbsp;степени;
            li физические перегрузки;
            li неразвитый опорно-двигательный аппарат;
            li низкая двигательная активность;
            li наследственность.
        +cell({ m:6 })
          p Считалось, что грыжевые образования&nbsp;&mdash; показатель зрелого возраста. Но&nbsp;все больше молодых людей слышат неутешительный диагноз. Виной тому увлечение экстремальными видами спорта, травмы, продолжительное нахождение в&nbsp;одной позе. Тяжелый труд, связанный с&nbsp;поднятием тяжестей, также способствует выпячиванию межпозвонковых дисков поясничного отдела.
          p Во&nbsp;время беременности организм женщины претерпевает серьезные изменения.. Часто болезни позвоночника впервые заявляют о&nbsp;себе в&nbsp;период вынашивания ребенка. При родах поясничный отдел тоже испытывает повышенную нагрузку, есть риск защемления спинномозгового корешка.
          p Глобально в&nbsp;основе повреждения межпозвонковых дисков лежит нарушение питания этих структур из-за постоянной травматизации, чрезмерной нагрузки на&nbsp;поясниый отдел или наоборот от&nbsp;малоподвижного образа жизни, избыточной массы тела, вредных причвычек, как курение или злоупотребление алкоголем.
    
    .page-subsection
      h2#h2-5 Течение заболевания и&nbsp;возможные осложнения
      +grid.par
        +cell({ m:6 })
          p В&nbsp;начале формирования грыжи симптомы отсутствуют. Затем появляются первые признаки&nbsp;&mdash; боли в&nbsp;месте локализации грыжи. Это тупые боли, усиливающиеся при напряжении, отступающие после отдыха. По&nbsp;мере роста грыжевого выпячивания нарастает болевой синдром, т&nbsp;В своем развитии грыжа проходит несколько этапов.
          ul.list-unordered
            li Пролапс&nbsp;&mdash; начальная стадия болезни, когда грыжа небольших размеров, а&nbsp;смещение диска 2-3&nbsp;мм. Кольцо сильно растянуто или порвано. Сдавливание нервных корешков вызывает боль и&nbsp;отек тканей.
            li Протрузия&nbsp;&mdash; состояние, при котором смещение диска достигло 4&nbsp;мм. Ядро сдвигается, но&nbsp;остается в&nbsp;пределах фиброзного кольца. На&nbsp;этом этапе выпячивание раздражает расположенные рядом спинномозговые корешки.
            li Экструзия выражается в&nbsp;прогрессировании болезни, которая ведет к&nbsp;расслоению фиброзной капсулы и&nbsp;выпадению студенистого образования. Симптомы зависят от&nbsp;размера и&nbsp;смещения грыжи. Появляются проблемы в&nbsp;пояснице, паху, ногах.
            li Секвестрация&nbsp;&mdash; опасная стадия, когда часть диска или ядра выпадает в&nbsp;позвоночный канал, сдавливая нервы. 
          p Если не&nbsp;заниматься лечением, грыжа межпозвоночных дисков поясницы может вызывать грубое нарушение работы ног, мочевого пузыря, прямого кишечника. Осложнения развиваются с&nbsp;разной скоростью&nbsp;&mdash; чаще за&nbsp;полгода или несколько лет, но&nbsp;возможно стремительное развитие событий.
          +figure({
            image: {
              name: 'gryzha-5',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Нормальный диск в сравнении с протрузией и грыжей диска',  
            }, 
          }).par
          
        +cell({ m:6 })
          h3 Возможные осложнения
          p Если не&nbsp;приступить к&nbsp;своевременному и&nbsp;планомерному лечению, возникают такие осложнения:
          ul.list-unordered
            li Парезы и&nbsp;параличи, то&nbsp;есть слабость мышц в&nbsp;ногахБоли в&nbsp;пояснице, которые возникают внезапно, совершенно не&nbsp;снимаются стандартными обезболивающими препаратами.
            li Сбой в&nbsp;функционировании органов малого таза, что чаще связано с&nbsp;повреждением конского хвоста (спинномозговой группы нервов, отводящихся от&nbsp;окончания спинного мозга).
            li Расстройства чувствительности, когда пациент перестает чувствовать отделение участки на&nbsp;ногах. 
          p Даже если больной столкнется хотя&nbsp;бы с&nbsp;одним из&nbsp;вышеупомянутых признаков, ему рекомендовано как можно скорее обратиться за&nbsp;профессиональной помощью. Если медлить, то&nbsp;симптомы будут только прогрессировать,
          +figure({
            image: {
              name: 'gryzha-6',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Течение заболевания',  
            }, 
          }).par

    .page-subsection
      h2#h2-6 Боли при поясничной грыже позвоночника
      +grid.par
        +cell({ m:6 })
          p Основное проявление межпозвонковой грыжи&nbsp;&mdash; боль, Бывает крайне разнообразной: ноющей, стреляющей, тянущей, колющей. Характер болевого синдрома зависит от&nbsp;раздраженных анатомических структур и&nbsp;степени воспалительного процесса
          p В&nbsp;поясничной зоне боль возникает при выраженной деформации диска. Вначале это слабая болевая реакция, которая проходит самостоятельно. Болезнь прогрессирует, и&nbsp;симптом усиливается. При развитии корешкового синдрома боль в&nbsp;ногах сильнее, чем в&nbsp;пояснице. Порой прострелы и&nbsp;болевая реакция не&nbsp;дают человеку разогнуться, спать, работать, иногда даже обслуживать себя. 
          p Виды боли при грыже
          ul.list-unordered
            li Люмбаго. Проявляется внезапной и&nbsp;острой болевой реакцией в&nbsp;пояснице, которую вызывает смещение диска, случившееся после неудачного движения. Потому другое название этого вида боли&nbsp;&mdash; прострел. Состояние осложняется тем, что спазмируются спинные мышцы, из-за чего болевая реакция только нарастает. Определяют люмбаго по&nbsp;характерной симптоматике: человек принимает вынужденную позу, столкнувшись с&nbsp;характерным болевым проявлением. Длительность приступа составляет разную продолжительность: от&nbsp;пары минут до&nbsp;суток, Основная причина люмбаго&nbsp;&mdash; подъем тяжестей, резкие рывки туловищем.
            li Пояснично-крестцовый радикулит. Окончания спинномозговых нервов сталкиваются с&nbsp;внезапным ущемлением. Другое название этого вида боли&nbsp;&mdash; ишиас. За&nbsp;корешками следует седалищный нерв, находящийся в&nbsp;зоне ягодиц и&nbsp;нижней конечности (речь о&nbsp;ее&nbsp;задней поверхности). Основная симптоматика&nbsp;&mdash; болевая реакция, которая характеризуется односторонним проявлением, имеет характер жгучей, распространяется непосредственно по&nbsp;ходу седалищного нерва.

        +cell({ m:6 })
          h3 Как снять боль
          p В&nbsp;начале болезни для устранения симптомов достаточно отдохнуть. В&nbsp;положении лежа снимается нагрузка с&nbsp;позвоночника. При болях средней интенсивности принимают обезболивающие препараты, рекомендованные врачом. Мышечные спазмы снимают миорелаксантами. Когда приступ боли не&nbsp;дает разогнуться, проводят локальную инъекционную терапию. Если медикаментозное лечение не&nbsp;помогает, проводится операция. Своевременное оперативное вмешательство гарантирует полное выздоровление.
          +figure({
            image: {
              name: 'gryzha-7',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Локальная инъекционная терапия',  
            }, 
          }).par
    
    .page-subsection
      h2#h2-7 Диагностика
      p На&nbsp;начальных этапах болезни симптоматика неявная, болевая реакция выражена слабо. Самостоятельно по&nbsp;симптомам поставить диагноз невозможно. Только диагностические мероприятия с&nbsp;применением технических средств подтвердят грыжу поясничного отдела&nbsp;&mdash; все отклонения от&nbsp;нормы отображаются на&nbsp;снимках.
      ul.list-unordered
        li Рентгенография&nbsp;&mdash; первичный метод диагностики, позволяющий рассмотреть грубые образования на&nbsp;позвоночнике, расстояние между дисками, остеофиты. Если обнаружено проседание диска или дегенеративные изменения, назначают дополнительные исследования.
        li КТ&nbsp;дает подробное изображение костной ткани. Это хорошая альтернатива при противопоказаниях к&nbsp;МРТ. Аппарат делает множественные снимки в&nbsp;разных проекциях. После обработки формируется трехмерное изображение, на&nbsp;котором показаны изменения в&nbsp;форме и&nbsp;структуре объектов.
        li МРТ&nbsp;&mdash; наиболее чувствительный вид исследований, который выявляет аномалии позвоночника и&nbsp;смежных структур. Аппаратура напрямую визуализирует спинной мозг, диски, нервные корешки. Отсутствие ионизирующего излучения исключает риск облучение. Магнитно-резонансная томография выявляет межпозвоночную грыжу, определяет ее&nbsp;размеры, тип, точное расположение, вероятность рассасывания, степень влияния на&nbsp;невральные структуры. Процедура помогает исключить опухолевые образования, визуализировать близлежащие структуры, чтобы провести дифференциальную диагностику.

      h3 Дифференциальная диагностика
      p Если у&nbsp;пациента большей частью болевая реакция проявляется локально, то&nbsp;она обусловлена множественными факторами, не&nbsp;всегда связанными с&nbsp;грыжами.
      p Если на&nbsp;снимке после магнитно-резонансной томографии выявлены клинически незначимые грыжи, то&nbsp;они вводят в&nbsp;заблуждение и&nbsp;больного, и&nbsp;специалиста. Сама&nbsp;же болевая реакция в&nbsp;области спины часто связана с&nbsp;повреждением мышц, связок, межпозвоночных суставов или указывает на&nbsp;симптом другой болезни.
      p Так, боль в&nbsp;спине, кроме грыжи, может провоцировать:
      ul.list-unordered.list-unordered--column-2
        li Болезнь Бехтерева.
        li Воспалительные реакции в&nbsp;позвоночнике.
        li Спондилоартроз.
        li Гемангиома позвонка.
        li Смещение позвонка.
        li Сужение позвоночного канала.
        li Миофасциальный болевой синдром.
        li Дисфункция крестцово-подвздошного сочленения.
        li Новообразования в&nbsp;позвоночнике, в&nbsp;том числе по&nbsp;причине метастазов.
        li Переломы позвонков компрессионного и&nbsp;травматического характера.
        li Болезни внутренних органов, связанные с&nbsp;патологиями органов малого таза, повреждением сосудов, почек.
      p Чтобы определить источник боли, важно со&nbsp;всей ответственностью отнестись к&nbsp;сбору анамнеза, провести нейроортопедическое тестирование, внимательно выполнять неврологический осмотр. В&nbsp;некоторых случаях практикуют прицельную блокаду, которую выполняют с&nbsp;помощью УЗИ- либо рентген-навигации. 
    
    .page-subsection
      h2#h2-8 Что делать, если грыжа обнаружена?
      p По&nbsp;статистике, в&nbsp;70-90% случаев грыжевое образование не&nbsp;подлежит оперативному вмешательству или применению блокад. Если подобрать правильную тактику лечения, возможно естественное рассасывание грыжи, которое называют резорбцией.
      p Резорбция&nbsp;&mdash; физиологически заложенный механизм, предполагающий воспалительный процесс вокруг грыжевого образования, во&nbsp;время которого иммунные клетки уменьшают грыжу в&nbsp;размере, способствуя ее&nbsp;рассасыванию.
      +grid.par 
        +cell({ m:6 })
          h3 Процесс рассасывания грыжи можно ускорить?
          p Хотя исследования и&nbsp;продолжают, научные доказательства о&nbsp;методах ускорения резорбции отсутствуют. Но&nbsp;спонтанная резорбция подтвердилась в&nbsp;ходе большинства клинических исследований: часть наблюдаемых пациентов излечивались без какой-либо терапевтической помощи.
          p Искусственное усиление воспаления, для ускорения рассасывания грыжи, медики считают небезопасным, потому его, наоборот, нужно контролировать с&nbsp;помощью медикаментов. 
          p Чрезмерная воспалительная реакция провоцирует осложнения, связанные с&nbsp;прорастанием нервов и&nbsp;сосудов в&nbsp;межпозвоночной диск, формированием рубцов, в&nbsp;результате чего боль перейдет в&nbsp;разряд хронической.
          p Стоит учитывать и&nbsp;то, что часть грыж не&nbsp;подвержены физиологическому рассасыванию. На&nbsp;процесс влияет тип и&nbsp;структура грыжевого образования. Согласно результатам научных исследований, рассасыванию больше подвержены секвестры и&nbsp;реже протрузии, а&nbsp;также экструзии. 
          p Потому врачи дают время на&nbsp;естественную резорбцию грыжи: исчезновения симптоматики ожидают через 1,5-2&nbsp;месяца, а&nbsp;структурные изменения на&nbsp;магнитно-резонансной томографии наблюдают через 3-4&nbsp;месяца. 
        +cell({ m:6 })
          h3 Что делать запрещено?
          p Чтобы не&nbsp;усугубить состояние, препятствуя естественному рассасыванию грыжи, следует отказаться от&nbsp;неправильного комплекса упражнений, обращения за&nbsp;небезопасными, не&nbsp;доказанными вариантами лечения, под которыми чаще подразумевают якобы &laquo;вправление&raquo; грыжи, вытяжение позвоночника. 
          p Грыжевое образование невозможно растворить, используя карипазим, выпарить лазерным лучом, вправить, поскольку патологический очаг располагается за&nbsp;костными, мышечными структурами и&nbsp;нервами. 

          h3 Когда нужно обратиться к&nbsp;врачу
          p Начинать лечение лучше в&nbsp;начальной стадии болезни. Но&nbsp;на&nbsp;этом этапе больные редко обращаются за&nbsp;помощью. Только боль заставляет беспокоиться о&nbsp;своем здоровье. Опасно заниматься самолечением и&nbsp;упускать время. Запущенная грыжа приводит к&nbsp;потере работоспособности, возможности ходить. Поэтому боли в&nbsp;пояснице, ягодице, снижение мышечной силы в&nbsp;ногах и&nbsp;потеря чувствительности&nbsp;&mdash; повод обратиться к&nbsp;врачу.
    
    .page-subsection
      h2#h2-9 Лечение грыжи поясничного отдела
      p После постановки диагноза назначаем лечение, включающее прием фармацевтических препаратов, инвазивные или хирургические методы.
      +grid.par 
        +cell({ m:6 })
          h3 Консервативное лечение
          p В&nbsp;начальной стадии лечим межпозвоночную грыжу консервативно. Назначаем лекарственные препараты, которые купируют боль, убирают мышечный спазм и&nbsp;воспаление. После острого периода дополняем лечение физиотерапией, лечебной гимнастикой, мануальными практиками, иглорефлексотерапией. Все лекарства и&nbsp;процедуры назначает врач.
          p Главная цель лечения&nbsp;&mdash; устранение болевого симптома, предотвращение ухудшения состояния. Основные методы консервативной терапии грыжи позвоночника:
          ul.list-unordered
            li медикаментозное лечение;
            li блокады;
            li лечебная физкультура;
            li физиотерапия.
          p Для медикаментозного лечения при острой боли поясничного отдела используют негормональные противовоспалительные средства (НПВС), миорелаксанты, и&nbsp;кортикостероиды.
          p НПВС купируют острую боль при обострении, оказывают противовоспалительное действие. Миорелаксанты снимают мышечный спазм, восстанавливая кровоток. Гормональные препараты снимают отек и&nbsp;воспаление и&nbsp;болевую реакцию.

          h3 Инвазивный метод
          p При острых болях врач назначает локальную инъекционную терапию. Укол делают в&nbsp;область зажатого нервного корешка При блокаде обезболивающее, анестезирующее или противовоспалительное вещество вводят в&nbsp;зону боли. Кроме уменьшения болевых ощущений и&nbsp;облегчения состояния, медикаментозная блокада снижает мышечное напряжение, возвращает подвижность. Эффект длится от&nbsp;нескольких недель до&nbsp;полугода.
        
        +cell({ m:6 })
          h3 Некоторые особенности лечения
          p Если долго затягивать с&nbsp;лечением прогрессирующей грыжи, повышается риск спаечного процесса, окостенения образования, невральные структуры необратимо повреждаются, боль становится хронической, возникает онемение в&nbsp;конечностях. Симптоматика может сохраниться даже после оперативного вмешательства в&nbsp;дальнейшем, потому к&nbsp;лечению стоит приступить вовремя.
          p Если спустя полтора-два месяца консервативного лечения состояние не&nbsp;улучшается, патология только прогрессирует (что проявляется нарастанием боли, чувством онемения, мышечной слабости, расстройством функции тазовых органов), тогда проводят операцию&nbsp;&mdash; эндоскопическое удаление грыжевого образования.
          +figure({
            image: {
              name: 'gryzha-8',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Эндоскопический способ удаления грыжи',  
            }, 
          }).par
        
      h3 Когда принять решение об&nbsp;операции?
      +grid.par
        +cell({ m:6 })
          p Хирургическое лечение&nbsp;&mdash; не&nbsp;замена телепатического, а&nbsp;очередной этап, если предыдущий не&nbsp;принес результаты.
          p В&nbsp;нашем Центре нейрохирурги практикуют разумное и&nbsp;деликатное применение методов хирургии позвоночника, которые отличаются минимальной инвазивностью, безопасностью и&nbsp;современной техникой выполнения. 
          p Принимать решение об&nbsp;операции нужно, придерживаюсь такой тактики:
          ul.list-unordered
            li Срочное оперативное вмешательство показано при нарушении функции тазовых органов.
            li Показанием к&nbsp;умеренной срочности хирургического лечения станет слабость, онемение конечностей.
            li Заняться планированием операции стоит при непроходящей боли в&nbsp;спине, конечностях.

          h3 Хирургическое лечение
          p Поводом для хирургического вмешательства служит интенсивная болевая реакция, некупируемая медикаментозно, выраженная компрессия спинномозговых корешков и&nbsp;секвестрированные грыжи. 
          p В&nbsp;Нейрохирургическом центре&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo; применяют высокотехнологичные и&nbsp;оригинальные методики, снижающие травматичность, сокращающие период реабилитации. Болевой синдром после удаления грыжи исчезает быстро, возвращается свобода движения. Впереди реабилитация, ускоряющая заживление и&nbsp;восстановление функций позвоночника.
          +figure({
            image: {
              name: 'gryzha-9',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-poyasnichnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Хирургическое лечение',  
            }, 
          }).par
        
        +cell({ m:6 })
          h4 Проведение хирургического лечения
          p Стандарт хирургического лечения грыжи&nbsp;&mdash; микродискэктомия с&nbsp;применением микроскопа. Метод рассматривают как наиболее безопасный и&nbsp;надежный. 
          p Доступ к&nbsp;пораженному участку выполняют, ориентируясь на&nbsp;локализацию патологического образования: его расширяют с&nbsp;помощью удаления части диска в&nbsp;области верхних или нижних участков позвонковых дужек. 
          p Учитывая, что сдавление спинномозгового нерва вызывает не&nbsp;только грыжевое образование, но&nbsp;и&nbsp;сопутствующие патологические процессы, нейрохирург добивается абсолютной декомпрессии, выполняя полную или частичную резекцию.

          h4 Особенности альтернативной техники хирургического лечения 
          p Менее инвазивной альтернативой микрохирургического способа лечения рассматривают эндоскопические операции.
          p Ключевые преимущества эндоскопической техники хирургического вмешательства:
          ul.list-unordered
            li Минимизация послеоперационных осложнений.
            li Существенное уменьшение травматизации тканей.
            li Небольшой разрез кожных покровов.
            li Сроки госпитализации сокращаются.
            li Боль в&nbsp;прооперированном участке быстрее проходит. 
            li Возможно проведение под местной или сочетанной анестезией, например, с&nbsp;седацией. 
            li Ускоренный период восстановления: активизация в&nbsp;короткий срок и&nbsp;быстрый возврат к&nbsp;трудовой деятельности.
            li Минимальные кровопотери.

          p Наиболее часто практикуют следующие методы эндоскопических техник:
          ul.list-unordered
            li Микроэндоскопическая дискэктомия. Способ рассматривают как максимально малотравматичный. Выполняют через интраламинарный доступ: через мышцы вводят дилататоры, эндоскопический порт для фиксации эндоскопа. Для вскрытия желтой связки не&nbsp;используют острые инструменты. Грыжевое образование удаляют так&nbsp;же, как и&nbsp;при микрохирургической дискэктомии. 
            li Эндоскопическая дискэктомия. Проводят с&nbsp;помощью эндоскопических портов, диаметр которых не&nbsp;превышает 10&nbsp;мм. Хирургическое лечение выполняют через рабочий канал эндоскопического оборудования. Сама операция относится к&nbsp;категории эндоскопической, в&nbsp;соответствии с&nbsp;общепринятой классификацией хирургического лечения позвоночника. Участок расположения эндоскопа и&nbsp;место разреза подбирают под каждого пациента индивидуально, учитывая его анатомические особенности. Установку эндоскопического оборудования облегчают флюороскопической интраоперационной навигацией. Оперативное вмешательство проводят, практикуя один из&nbsp;вариантов доступов: трансфораминальный, заднебоковой либо интраламинарный. 
        
      h3 Сомнительные и&nbsp;не&nbsp;доказанные методы лечения
      ul.list-unordered
        li Вытяжение позвоночника: не&nbsp;применяют, поскольку эффективность научно не&nbsp;доказана.
        li Физиотерапия, предполагающая использование ультразвука, лазерных лучей, электростимуляция. Не&nbsp;рекомендуют из-за сомнительной эффективности.
        li Отсутствуют доказательства о&nbsp;действенности мануальной терапии, иглорефлексотерапии. 
    
    .page-subsection
      h2#h2-10 Преимущества клиники
      p Чтобы получить помощь мирового уровня, не&nbsp;обязательно обращаться к&nbsp;зарубежным специалистам. Центр &laquo;Новые технологии&raquo;&nbsp;&mdash; команда профессионалов, занимающихся эффективным лечением заболеваний позвоночника в&nbsp;Санкт-Петербурге. Наша цель&nbsp;&mdash; избавить пациента от&nbsp;боли, и&nbsp;сохранить полноценные функции организма. 
      ul.list-unordered
        li Операции проводят нейрохирурги узкой специализации, которые в&nbsp;совершенстве владеют малоинвазивными методами хирургических вмешательств на&nbsp;позвоночнике; 
        li Наши врачи сотрудничают с&nbsp;ведущими специалистами мира, открывая россиянам доступ к&nbsp;инновационным медицинским технологиям;
        li В&nbsp;клинике применяют щадящие методики, которые гарантируют высокую продуктивность и&nbsp;быстрое выздоровление;
        li Эндоскопическое оборудование и&nbsp;хирургический микроскоп сохраняют полный визуальный контроль за&nbsp;ходом операции, повышая точность и&nbsp;эффективность результата;
        li Применяем методы ранней активации и&nbsp;реабилитации;
        li Индивидуальные программы восстановления и&nbsp;персональные занятия с&nbsp;тренером сокращают реабилитационный период.
      p Высокотехнологичное оборудование, комфортабельное размещение, квалифицированный и&nbsp;чуткий персонал&nbsp;&mdash; мы&nbsp;стараемся, чтобы пребывание в&nbsp;Центре было комфортным, а&nbsp;лечение продуктивным.
    
    .page-subsection
      h2#h2-11 Прогноз и&nbsp;профилактика заболевания
      p Хирургическое вмешательство проводится в&nbsp;стационаре. Через несколько суток больного выписывают домой. Выполнение предписаний врача исключает рецидивы. Наши врачи разрабатывают индивидуальные программы восстановления, где учитывают сложность операции, возраст, физические возможности, наличие хронических болезней.
      p На&nbsp;раннем этапе восстановления запрещен массаж, поднятие тяжестей, спорт, температурные процедуры (баня, горячие ванны) и&nbsp;глубокие наклоны.
      p Профилактика рецидивов подразумевает бережное отношение к&nbsp;организму. Первое время носят фиксирующий корсет, избегают резких движений. Профилактические мероприятия включают:
      ul.list-unordered.list-unordered--column-2
        li соблюдение режима труда и&nbsp;отдыха;
        li поддержание нормальной массы тела;
        li равномерную нагрузку на&nbsp;позвоночник;
        li умеренную физическую активность;
        li сбалансированный рацион питания.
    
    .page-subsection
      h2#h2-12 Популярные вопросы и&nbsp;ответы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Если заняться спортом, грыжа рассосется?</h3>').par
          p Некоторые грыжи действительно могут зажить сами. Особенно это касается свежих грыж&nbsp;Но когда болезнь достигла последних стадий, поможет только операция.
        +accordionItem('<h3>Может&nbsp;ли грыжа появиться после поднятия тяжести?</h3>').par
          p Грыжа не&nbsp;появляется ниоткуда. Даже при тяжелой нагрузке и&nbsp;поднятии тяжестей человек не&nbsp;зарабатывает грыжу за&nbsp;один день. Это продолжительный процесс, на&nbsp;который влияют разные факторы.
        +accordionItem('<h3>Возможен&nbsp;ли рецидив в&nbsp;период реабилитации?</h3>').par
          p Да, но&nbsp;соблюдение рекомендаций снижает риски.
        +accordionItem('<h3>Почему бывают боли после операции?</h3>').par
          p Болезненные ощущения часто связаны с&nbsp;разрезом на&nbsp;коже в&nbsp;ходе операции или послеоперационным отеком. Анальгетики и&nbsp;противовоспалительные средства коротким курсом решают проблему.
        +accordionItem('<h3>Всегда&nbsp;ли грыжи&nbsp;&mdash; причины боли в&nbsp;спине?</h3>').par
          p Не&nbsp;всегда, если речь о&nbsp;возрастных изменениях, которые у&nbsp;большинства людей возникают в&nbsp;разных отделах позвоночника. Такие образования, случайно выявленные в&nbsp;ходе магнитно-резонансной томографии, не&nbsp;дают клинической симптоматики, не&nbsp;приводят к&nbsp;разрыву фиброзного кольца и&nbsp;сдавлению невральных структур.
        +accordionItem('<h3>Как определить, что причина клинических признаков&nbsp;&mdash; грыжа?</h3>').par
          p Главные клинические проявления грыжевого образования&nbsp;&mdash; миелопатия и&nbsp;радикулопатия. В&nbsp;первом случае идет речь о&nbsp;сдавлении спинного мозга, а&nbsp;во&nbsp;втором&nbsp;&mdash; нервных окончаний.
          p Для миелопатии характерна слабость, скованность, которая ощущается в&nbsp;верхних или нижних конечностях, чувство онемения рук, ног. Дополнительно возникает расстройство дефекации, мочеиспускания, половой функции.
          p Для радикулопатии свойственно нарушение чувствительности, ощущение слабости в&nbsp;конечностях, болевая реакция.
          p Для определенных разновидностей грыж характерна только локальная болевая реакция в&nbsp;конкретном участке тела (например, в&nbsp;пояснице).
        +accordionItem('<h3>Какой образ жизни рекомендован для предотвращения межпозвоночной грыжи? </h3>').par
          ul.list-unordered
            li Важно организовать физическую подготовку таким образом, чтобы сформировать крепкий и&nbsp;эластичный мышечный корсет, укрепить мышцы брюшного пресса. Для этого нужно держать спину прямо, ежедневно заниматься физическими нагрузками.
            li Заняться правильной организацией места для сна. Чрезмерно мягкий, как и&nbsp;чрезмерно жесткий матрас не&nbsp;подойдет. Поэтому лучше отдать предпочтение специальному ортопедическому. 
            li Вести активный образ жизни. Следует увеличить физическую нагрузку, гулять, совершать длительное пешие походы, посещать занятия по&nbsp;фитнесу. Наиболее эффективная мера профилактики поражения позвоночника&nbsp;&mdash; плавание.
        +accordionItem('<h3>Какие последствия несвоевременного лечения межпозвоночной грыжи?</h3>').par
          p Если не&nbsp;приступить к&nbsp;лечению вовремя, случится разрыв фиброзного кольца. В&nbsp;результате жидкость из&nbsp;ядра проникает в&nbsp;позвоночный канал, ущемляя спинномозговые нервы
        +accordionItem('<h3>Можно&nbsp;ли использовать согревающую мазь при грыже позвоночника?</h3>').par
          p Можно, если у&nbsp;Вас нет аллергии. Но&nbsp;помните, что это не&nbsp;лечение, а&nbsp;только временное снятие симптомов боли.
        +accordionItem('<h3>Прочитала, что блокады либо уменьшают размер грыжи, либо замедляют ее&nbsp;рассасывание&nbsp;&mdash; какая информация достоверная?</h3>').par
          p Отсутствуют научно подтвержденные доказательства, что гормональные блокады влияют на&nbsp;рассасывание грыжевого образования. Их&nbsp;применяют только для временного устранения болевой реакции.
        +accordionItem('<h3>Правда&nbsp;ли, что после хирургического лечения грыжи повышается риск инвалидизации?</h3>').par
          p Нет, безопасность современных методов операции стремится к&nbsp;100%.
        +accordionItem('<h3>Грыжу можно удалить лазером?</h3>').par
          p Нет, хотя в&nbsp;некоторых клиниках и&nbsp;предлагают лазерную выпоризацию, но&nbsp;ее&nbsp;эффективность не&nbsp;доказана. 
        +accordionItem('<h3>При грыже разрешено заниматься спортом, бегать, посещать бассейн?</h3>').par
          p Можно, но&nbsp;только не&nbsp;в&nbsp;период обострения заболевания.
        +accordionItem('<h3>Инъекции плазмогеля помогают при грыжах?</h3>').par
          p Методика относится к&nbsp;категории перспективных, но&nbsp;пока недостаточно исследована, потому рано делать выводы. Важно понимать, что такие уколы делают только в&nbsp;диск, контролируя процесс введения во&nbsp;время рентген-навигации. Делать&nbsp;же инъекции в&nbsp;суставы или спинные мышцы не&nbsp;эффективно.
    
    .page-subsection
      h2#h2-13 Вывод
      ul.list-unordered
        li Грыжа поясничного отдела позвоночника&nbsp;&mdash; распространенная патология, так как поясница принимает большую часть нагрузки при движении. 
        li Первые признаки, указывающие на&nbsp;формирование грыжи: тяжесть в&nbsp;спине, покалывание, дискомфорт после поднятия тяжестей или продолжительного сидения в&nbsp;неудобной позе.
        li Сердцевина пульпозного ядра выпячивается в&nbsp;любом направлении. Грыжи, вклинивающиеся в&nbsp;позвоночный столб, несут большую опасность.
        li Сдавливание нервных корешков студенистым образованием сопровождается сильной болевой реакцией, которая не&nbsp;дает больному пошевелиться. 
        li Болевой синдром снимают медикаментозно, если состояние не&nbsp;улучшается, встает вопрос об&nbsp;операции.
        li В&nbsp;нашей клинике проводят малоинвазивные вмешательства, которые избавляют от&nbsp;боли, скованности движений, и&nbsp;гарантируют полное восстановление. 
        li Бережное отношение к&nbsp;позвоночнику после операции&nbsp;&mdash; лучшая профилактика рецидивов. 
    
    .page-subsection
      h2#h2-14 Список литературы
      ul.list-unordered
        li Болезни позвоночника и&nbsp;суставов. Л.&nbsp;Виилма
        li Компьютерная томография в&nbsp;диагностике дегенеративных изменений позвоночника Васильев А.Ю., Витько Н.К.
        li Нехирургическое лечение и&nbsp;профилактика рецидива грыж межпозвоночных дисков Фещенко&nbsp;Я.&nbsp;В.
        li Невропатология Бадалян&nbsp;Л.&nbsp;О.
        li Физическая реабилитация Попов&nbsp;С.&nbsp;Н.
        li Осложнения различных видов хирургии грыж поясничных межпозвонковых дисков Бывальцев&nbsp;В.&nbsp;А., Сороковик В.А.
