extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/accordion-item/accordion-item
include /blocks/block-analysis/block-analysis
include /blocks/image-overlay/image-overlay
include /blocks/article-topic/article-topic     
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff').main-content
    h1 Грыжа грудного отдела позвоночника&nbsp;&mdash; симптомы и&nbsp;лечение
    +grid.page-subsection.article-info
      +cell({ m:6 }).article-info__topic
        -
          const articleContent = ['Что такое грыжа грудного отдела', 'Причины грыжи грудного отдела', 'Симптомы', 'Диагностика', 'Развитие и осложнения', 'Методы лечения', 'Другие варианты лечения опухоли головного мозга', 'Почему лечение опухолей головного мозга в CПб лучше проводить в нашем Центре?', 'Профилактика новообразований ', 'Часто задаваемые вопросы', 'Что такое метастазы'] 
        +articleTopic(articleContent)

      +cell({ m:6 })
        .article-doctor.par
          .article-doctor__image
            +img({
              name: 'shevchenko',
              path: '/images/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [{
                values: [ 1, 2 ]
              }]
            })(alt= 'Шевченко Елена Николаевна, врач-нейрохирург высшей категории' title= 'Шевченко Елена Николаевна, врач-нейрохирург высшей категории' width=154 height=223)
          p.article-doctor__verified Информация проверена экспертом
          +textMarked({ tag: 'a', fontWeight: 'bold', size: 'l', color: 'blue' })(href='/vrachi/shevchenko-elena-nikolaevna/').article-doctor__name Шевченко Елена Николаевна
          span.article-doctor__job Врач-нейрохирург высшей категории #[br] Стаж - 28 лет
          p.article-doctor__date Дата публикации: 1 сентября 2022 #[br] Обновлено: 8 февраля 2023

    +pageSubsection
      p Диагностировать грыжу грудного отдела позвоночника трудно. Симптомы схожи с&nbsp;другими заболеваниями, но&nbsp;патология прогрессирует. Чтобы не&nbsp;было поздно, важно своевременно и&nbsp;правильно диагностировать грыжу, обратиться за&nbsp;эффективной медицинской помощью к&nbsp;врачам Нейрохирургического центра&nbsp;им. профессора Г.С. Тиглиева &laquo;Новые технологии&raquo;. 
      h2#content0 Что такое грыжа грудного отдела
      p Грыжа грудного отдела&nbsp;&mdash; это патологическое состояние, для которого характерно смещение гелеобразного содержимого диска в&nbsp;сторону от&nbsp;позвонка. При этом оболочка диска разрывается. Проявление межпозвонковой грыжи в&nbsp;грудном отделе позвоночника часто принимают за&nbsp;боли в&nbsp;сердце, которое и&nbsp;начинают лечить. В&nbsp;это время болезнь прогрессирует. Поэтому правильный диагноз, как правило, ставят на&nbsp;поздних стадиях.
      p В&nbsp;области грудного отдела грыжевое выпячивание встречается реже, чем на&nbsp;других отделах позвоночного столба. Потому что это наименее подвижный сегмент.

      h2#content1 Причины грыжи грудного отдела
      +grid.par
        +cell({ l:6 })
          p Благодаря дискам, расположенным между позвонками, человек двигается в&nbsp;разных плоскостях и&nbsp;направлениях. Даже при обычной ходьбе позвоночник совершает движения в&nbsp;трех плоскостях. В&nbsp;сердцевине каждого диска находится пульпозное ядро. Это желеподобное образование, ответственное за&nbsp;амортизацию позвоночника. Снаружи диск окружен соединительной многослойной тканью&nbsp;&mdash; фиброзным кольцом. Оно выдерживает нагрузку, вызванную давлением соседних позвонков при движении.
          p Межпозвонковые диски получают питательные вещества из&nbsp;смежных поверхностей тел позвонков. В&nbsp;процессе движения диск постоянно сдавливается, растягивается, но&nbsp;быстро восстанавливает первоначальную форму.
          p Неадекватная нагрузка, возрастные изменения и&nbsp;травмы нарушают питание позвоночного диска, запускают дегенеративные процессы. У&nbsp;пораженного диска амортизирующие свойства снижаются. Оболочка теряет эластичность, и&nbsp;разрывается&nbsp;&mdash; студенистое образование прорывается наружу.     
        +imageOverlay({
          path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/', name: ['structure', 'hernia'], alt: ['Строение позвоночно-двигательного сегмента', 'Грыжа и выпячивание диска']
          })(class= cellClasses({ l:6 }))    

      h3 Факторы, провоцирующие повреждение межпозвонковых дисков
      ul.list-unordered
        li Неадекватные нагрузки на&nbsp;тренировках;
        li Тяжелая физическая работа;
        li Малоактивный образ жизни;
        li Пристрастие к&nbsp;курению;
        li Большой вес;
        li Нарушение обменных процессов;
        li Предшествующие травмы.
      .block-marked.block-marked--grey.par
        p Удивительный факт: грыжу вызывают как интенсивные нагрузки, так и&nbsp;продолжительная обездвиженность.

      h3 Как стресс влияет на&nbsp;здоровье позвоночника
      p Психосоматика в&nbsp;процессе формирования межпозвонковой грыжи занимает отдельное место. Зачастую косвенной причиной болезней позвоночника становится не&nbsp;физическая, а&nbsp;душевная тяжесть.
      p Позвоночный столб&nbsp;&mdash; опора человеческого тела. Нестабильное психоэмоциональное состояние влияет на&nbsp;позвоночник. Ежедневный стресс вызывает спазмирование мышц, окружающих позвоночник, и&nbsp;дает о&nbsp;себе знать болью или нарушением чувствительности. В&nbsp;таком состоянии питание позвоночного столба ухудшается, запускаются дегенеративные процессы. Снимает мышечное напряжение йога, миофасциальный массаж, ЛФК. Хорошо помогает работа с&nbsp;психотерапевтом или психологом.

      h2#content2 Симптомы
      p Симптомы грыжи грудного отдела схожи с&nbsp;симптомами стенокардии, инфаркта, неврологических нарушений, поэтому поставить диагноз сложно.

      h3 Начальные симптомы
      p В&nbsp;начале болезни симптоматика неявная, на&nbsp;первые проявления грыжевого выпячивания не&nbsp;обращают внимание. Чаще это напряжение спины после продолжительного стояния, дискомфорт при поворотах. Вначале грыжа грудного отдела проявляется покалыванием в&nbsp;груди, быстропроходящим ощущением нехватки воздуха. В&nbsp;состоянии покоя чувствуются мурашки, жжение между лопатками или в&nbsp;конечностях.

      +grid.par
        +cell({ m:6 })(class= gridClasses())
          +cell
            h3 Явные симптомы
            p При отсутствии лечения дегенеративные процессы в&nbsp;позвоночнике прогрессируют. Проявления маскируются под болезни внутренних органов. К&nbsp;очевидным симптомам, указывающим на&nbsp;формирование грыжи в&nbsp;грудном сегменте, относятся:
            ul.list-unordered
              li острые или ноющие боли в&nbsp;области сердца;
              li одышка, кашель;
              li опоясывающая боль в&nbsp;грудине;
              li острая боль в&nbsp;межреберном пространстве как ложный признак невралгии;
              li слабость в&nbsp;ногах;
              li парестезия нижней части грудной клетки;
              li шаткая походка.
          +cell({ l:9, m:10, s:8 })
            +img({
              name: 'symptoms-1',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
              })(alt= 'Симптомы грыжи межпозвоночного диска' title= 'Симптомы грыжи межпозвоночного диска' width=800 height=509).box-shadow
            p Симптомы грыжи межпозвоночного диска
        
        +cell({ m:6 })(class= gridClasses())
          +cell
            h3 Опасные симптомы
            p Когда грыжевое образование сдавливает нервные окончания, развивается парез или паралич нижних конечностей. Симптомы кратковременной потери чувствительности или нарушение двигательной функции требуют срочной консультации специалиста. 
          +cell({ l:10, m:12, s:8 })
            +img({
              name: 'symptoms-2',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
              })(alt= 'Защемление нерва' title= 'Защемление нерва' width=825 height=796).box-shadow
            p Защемление нерва

      h2#content3 Течение заболевания и&nbsp;возможные осложнения
      p В&nbsp;начале патологических изменений содержимое сердцевины выходит за&nbsp;допустимые пределы на&nbsp;2-3&nbsp;мм. Неприятные симптомы схожи с&nbsp;остеохондрозом, локализуются в&nbsp;области формирования грыжи. Сильной боли нет, поэтому начальный этап остается незамеченным.
      +grid.par
        +cell({ m:7 })
          p В&nbsp;фазе протрузии выпячивание ядра достигает 3&nbsp;мм. Оболочка еще не&nbsp;повреждена. И, если не&nbsp;задеты нервы, болевой синдром неявный. При сдавливании&nbsp;же нервного окончания боль распространяется на&nbsp;туловище. 
          p Следующий этап&nbsp;&mdash; разрыв фиброзного кольца с&nbsp;полным выбуханием пульпозного ядра. При экструзии появляются боли в&nbsp;сердце и&nbsp;даже животе. Люди годами лечат сердечно-сосудистую и&nbsp;бронхолегочную системы, пищеварительный тракт, но&nbsp;безуспешно. Боль мешает дышать, смеяться, кашлять. Игнорировать симптомы и&nbsp;заниматься самолечением опасно.
          p Секвестрация&nbsp;&mdash; самый неприятный период болезни, когда часть грыжевого выпячивания отделяется. Образовавшияся объем сдавливает спинной мозг и&nbsp;отходящие от&nbsp;него корешки. В&nbsp;результате больному грозит частичный или полный паралич.
          p У&nbsp;женщин грыжа нарушает репродуктивную функцию, и&nbsp;является причиной бесплодия, особенно при наличии проблем с&nbsp;мочеполовой системой. У&nbsp;мужчин грыжа вызывает скованность в&nbsp;тазобедренных суставах, проблемы с&nbsp;эректильной функцией.
        +cell({ m:5, s:8 })
            +img({
              name: 'complications',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
              })(alt= 'Протрузия и грыжа диска' title= 'Протрузия и грыжа диска' width=800 height=472).box-shadow
            p Протрузия и грыжа диска

      h2#content4 Классификация межпозвоночных грыж по&nbsp;направлению грыжевого выпячивания
      p Так как грыжа выбухает в&nbsp;любом направлении, классификацию стандартно основывают на&nbsp;направлениях выпячивания диска.
      +grid.par
        +cell({ m:5, s:8 })
            +img({
              name: 'classification',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
              })(alt= 'Грыжа Шморля' title= 'Грыжа Шморля' width=779 height=643).box-shadow
            p Грыжа Шморля
        +cell({ m:7 })
          p Задние срединные грыжи вклиниваются в&nbsp;спинной мозг, что грозит тяжелыми осложнениями. В&nbsp;запущенных случаях ведут к&nbsp;параличу, нарушению работы жизненно важных систем организма. К&nbsp;подвидам патологии относятся:
          ul.list-unordered
            li срединные грыжи, достигающие больших размеров;
            li срединно-боковые, которые встречаются чаще и&nbsp;имеют меньшие размеры.	
          p Передние позвоночные грыжи&nbsp;&mdash; это наиболее безопасный вид, потому что выпячивание направлено от&nbsp;спинного мозга.
          p Фораминальные грыжи межпозвонковых дисков сочетаются с&nbsp;острой болью, так как проникают в&nbsp;отверстие, где расположены нервные окончания. Боль бывает постоянной или эпизодической.
          p Боковые располагаются справа или слева&nbsp;&mdash; самый распространенный вид. Из-за специфического расположения сложно диагностируются.
          p Вертикальные грыжи Шморля вклиниваются в&nbsp;позвонки, расположенные выше или ниже. Чаще процесс протекает бессимптомно, но&nbsp;может привести к&nbsp;разрушению позвонка. При расположении в&nbsp;грудном сегменте протекает бессимптомно даже при больших размерах и&nbsp;требуют наблюдения врача.
        
      h2#content5 Диагностика
      p Самостоятельно диагностировать грыжу грудного отдела затруднительно. Много симптомов, характерных для других болезней. Поэтому комплексное обследование в&nbsp;специализированной клинике поможет правильно поставить диагноз. Первичный прием проходит у&nbsp;невролога. При подозрении на&nbsp;болезнь сердца, легких или желудка, пациенты идут к&nbsp;врачам соответствующей специализации. 
      p На&nbsp;патологию позвоночника указывает:
      ul.list-unordered
        li болевой синдром, который усиливается при движении;
        li болезненные ощущения при пальпации грудного сегмента позвоночника;
        li напряженность околопозвоночных мышц.
      p Рентген исключает проблемы с&nbsp;легкими, ЭКГ и&nbsp;УЗДГ&nbsp;&mdash; болезни сердца и&nbsp;сосудов. С&nbsp;помощью УЗИ брюшной полости подтверждают или исключают патологии ЖКТ. Рентгенография подтверждает остеохондроз и&nbsp;посттравматические изменения позвоночника. КТ&nbsp;дает детальное изображение выпячивания, но&nbsp;не&nbsp;позволяет оценить размеры и&nbsp;степень компрессии&nbsp;&mdash; сдавления межпозвонковых дисков.
      p МРТ конкретизирует расположение и&nbsp;размеры грыжи грудного отдела. С&nbsp;помощью МРТ определяют степень воспалительных изменений, выявляют иные болезни позвоночного столба. При противопоказаниях к&nbsp;проведению МРТ, ограничиваются КТ.

      h2#content6 Лечение грыжи грудного отдела позвоночника
      p Лечение грыжи делится на&nbsp;консервативное и&nbsp;хирургическое. При назначении адекватного лечения большую роль играет правильное определение локализации грыжи, ее&nbsp;размеров и&nbsp;состояния.

      h3 Консервативное
      p Направлено на&nbsp;уменьшение болевого синдрома и&nbsp;воспаления. Сосудорасширяющие и&nbsp;противовоспалительные средства, хондропротекторы снимают острое состояние во&nbsp;время болезни. Таблетками и&nbsp;блокадами купируют приступ боли, снижают тонус скелетной мускулатуры. Для быстрого прекращения боли и&nbsp;снятия отека анестетики и&nbsp;гормональные препараты напрямую вводят в&nbsp;пораженную область. Также показан прием витаминов группы В.
      p Для усиления противовоспалительного и&nbsp;расслабляющего эффекта медикаментозное лечение дополняют физиотерапией.
      ul.list-unordered
        li Электрофорез&nbsp;&mdash; введение лекарственных препаратов через кожу под воздействием электрического поля. Аппарат способствует накоплению лекарств в&nbsp;слоях кожи, увеличивает их&nbsp;эффективность.
        li Магнитотерапия&nbsp;&mdash; процедура, при которой магнитный импульс, не&nbsp;повреждая ткани, проникает вглубь на&nbsp;5&nbsp;см. Магнитная терапия улучшает кровоток в&nbsp;воспаленных тканях, снимает отек, восстанавливает чувствительность и&nbsp;уменьшает боль.
        li Воздействие ультразвуком активирует иммунные реакции клеток. Ультразвук запускает процесс резорбции&nbsp;&mdash; рассасывания, снимает мышечный спазм, уменьшает боль.
      p При положительной динамике лечения пациенту подбирается комплекс ЛФК. Специальные упражнения укрепляют мышечный корсет позвоночника, чтобы удерживать его в&nbsp;правильном положении.
      p Медикаментозное лечение проводится при незначительном выпячивании пульпозного ядра. Лекарства улучшают состояние межпозвоночных дисков, фасеточных суставов, затормаживают, но&nbsp;не&nbsp;останавливают разрушительный процесс. Если консервативное лечение не&nbsp;дает результата, поможет только удаление грыжи.

      h3 Хирургическое
      p Проводим хирургическое удаление грыжи грудного отдела позвоночника, если консервативное лечение не&nbsp;приносит облегчения, болезнь прогрессирует. Прямое показание к&nbsp;операции&nbsp;&mdash; поражение спинного мозга и&nbsp;его корешков, дисфункции тазовых органов, сенсорные расстройства. 
      p Избавляем пациента от&nbsp;боли, парезов, парестезии уже в&nbsp;первые дни после удаления грыжи. Хирургическое вмешательство положительно влияет на&nbsp;работу внутренних органов, страдавших от&nbsp;пережатия нервных окончаний. Нервные пучки возвращаются в&nbsp;естественное положение. Дальнейший прогноз зависит от&nbsp;тяжести неврологических поражений, сложности операции, наличия хронических болезней.
      p Риск рецидива после операции возникает у&nbsp;5-10&nbsp;% прооперированных пациентов. Причиной зачастую становится пренебрежение профилактикой.
      p Вмешательство в&nbsp;нейрохирургическом центре &laquo;Новые технологии&raquo; проводят нейрохирурги, практикующие операции на&nbsp;позвоночнике. Для удаления позвонковой грыжи грудного отдела используем два малотравматичных метода: эндоскопический и&nbsp;микродискэктомию.
      +grid.par
        +cell({ m:6 })(class= gridClasses())
          +cell
            p Для эндоскопического способа не&nbsp;нужен общий доступ. Удаляем грыжу через прокол диаметром 7&nbsp;мм без кровопотерь, рубцов и&nbsp;повреждения здоровых тканей. Боль исчезает сразу после операции, подвижность возвращается через несколько часов. Стандартная выписка через сутки. Минимальный риск осложнений, повреждение мозга исключено.
          +cell({ l:8, m:12, s:8 })
            +img({
              name: 'treatment-1',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
              })(alt= 'Эндоскопический способ удаления грыжи' title= 'Эндоскопический способ удаления грыжи' width=612 height=462).box-shadow
            p Эндоскопический способ удаления грыжи
        
        +cell({ m:6 })(class= gridClasses())
          +cell
            p При микродискэктомии удаляем грыжу вместе с&nbsp;диском или его выпирающей частью, сдавливающей нерв, через разрез 2&nbsp;см под общим наркозом. При наличии показаний устанавливаем имплант. После консультации невролог и&nbsp;нейрохирург определяют подходящую тактику вмешательства. Близлежащие костные структуры не&nbsp;повреждаются, спинномозговые нервы освобождаются от&nbsp;сдавления. Боль исчезает сразу после операции. Предусмотрены персональные занятия с&nbsp;реабилитологом в&nbsp;палате или на&nbsp;дому.
          +cell({ l:7, m:10, s:8 })  
            +img({
              name: 'treatment-2',
              path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] },
              ]
              })(alt= 'Микродискэктомия' title= 'Микродискэктомия' width=320 height=228).box-shadow
            p Микродискэктомия

      h2#content7 Преимущества клиники
      p Нейрохирургический центр &laquo;Новые технологии&raquo; предлагает доказанные мировые методики. Сотрудники центра регулярно анализируют инновационные открытия в&nbsp;сфере лечения нейрохирургических патологий, внедряя полученные знания в&nbsp;клиническую практику. Для наркоза используем гипоаллергенные, безопасные и&nbsp;легкопереносимые препараты, 
      p Причины, по&nbsp;которым выбирают нашу клинику для удаления грыжи позвоночника:
      ul(class= gridClasses()).par
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--neurosurgery Накопленный специалистами опыт проведения хирургических вмешательств минимизирует риск повреждения нервных структур во&nbsp;время операции
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--recovered После операции за&nbsp;состоянием пациента круглосуточно наблюдает медперсонал, клиника практикует раннюю активизацию и&nbsp;реабилитацию по&nbsp;индивидуальной программе
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--microscope Обследование и&nbsp;лечение на&nbsp;мировом уровне с&nbsp;использованием последних микрохирургических технологий
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--ecg Высокотехнологичное оборудование операционных
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--surgery Функционально-щадящая микронейрохирургия, гарантирующая высокую эффективность вмешательства и&nbsp;быстрое восстановление
      p Микроскоп визуализирует нервную ткань, чтобы снизить операционные риски. Видеокамера дает полный обзор и&nbsp;возможность 25-кратного увеличения операционного поля для повышения точности хирургических манипуляций, что исключает травмирование здоровых тканей.

      h2#content8 Профилактика заболевания
      +grid.par
        +cell({ m:7 })
          p Ключевая задача профилактики&nbsp;&mdash; наладить правильную работу позвоночника. Для этого исключают  факторы-провокаторы, которые приводят к&nbsp;смещению позвонков. Это чрезмерная или низкая физическая активность, дефицит витаминов, полнота.
          p Курение&nbsp;&mdash; врачи не&nbsp;зря рекомендуют избавляться от&nbsp;вредной привычки. Никотин сужает сосуды, питание позвоночника ухудшается.
          p Массаж&nbsp;&mdash; хорошая профилактика грыжи позвоночника, особенно при малоподвижном образе жизни. Процедура укрепляет мышечный корсет, улучшает питание костной и&nbsp;хрящевой ткани.
          p Правильное функционирование позвоночника&nbsp;&mdash; надежная защита от&nbsp;проблем с&nbsp;опорно-двигательным аппаратом. Для этого необходимо грамотно распределять нагрузку на&nbsp;позвоночник. Отдавать предпочтение обуви с&nbsp;амортизирующей подошвой, выполнять комплекс упражнений, поддерживающих здоровье позвоночника.
        +cell({ m:5, s:10 })
          +img({
            name: 'prevention',
            path: '/images/lechenie/pozvonochnik/degenerativnye/gryzha-grudnogo-otdela/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] },
            ]
            })(alt= 'Профилактика грыжи позвоночника' title= 'Профилактика грыжи позвоночника' width=800 height=360).box-shadow
          p Профилактика грыжи позвоночника

      h2#content9 Популярные вопросы и&nbsp;ответы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>Можно&nbsp;ли во&nbsp;время операции повредить спинной мозг?</h3>').par
          p Сегодняшние технологии позволяют проводить эффективные операции с&nbsp;минимальным риском осложнений через небольшой разрез. С&nbsp;помощью микрохирургического или эндоскопического способа удаляют грыжу, освобождают сдавленный нерв, восстанавливают кровообращение, сохраняя при этом диск.
        +accordionItem('<h3>Возможна&nbsp;ли инвалидность после операции?</h3>').par
          p Слухи о&nbsp;вероятной инвалидности базируются на&nbsp;случаях, когда пациент обращается за&nbsp;помощью уже после паралича. В&nbsp;такой ситуации шанс вернуться к&nbsp;обычной жизни невелик. Поэтому, если болезнь принимает опасный оборот, с&nbsp;операцией лучше не&nbsp;тянуть.
        +accordionItem('<h3>Как понять, что нужна операция?</h3>').par
          p Когда консервативное лечение не&nbsp;дает результата после 4-6 недель терапии. При компрессии нерва также показано хирургическое вмешательство.
        +accordionItem('<h3>Когда после эндоскопического удаления грыжи можно вернуться к&nbsp;обычной жизни?</h3>').par
          p Длительность реабилитации зависит от&nbsp;объема вмешательства. Первые 1-5 дней пациент проводит в&nbsp;стационаре. На&nbsp;первичную реабилитацию уходит 1-2&nbsp;недели. Далее все индивидуально.
        +accordionItem('<h3>Можно&nbsp;ли избежать операции, если носить бандаж?</h3>').par
          p Корсет останавливает прогрессирования болезни на&nbsp;начальных стадиях. Но&nbsp;он&nbsp;не&nbsp;избавляет от&nbsp;деформации диска, а&nbsp;значит не&nbsp;лечит. При осложненной патологии без операции не&nbsp;обойтись.

      h2#content10 Список литературы
      ol.list-ordered
        li Краусс Йоахим&nbsp;К., отделение нейрохирургии Медицинской школы Ганновера Carl-Neuberg-Str.&nbsp;1 30625 Ганновер, Германия.
        li Массими Лука Кафедра детской нейрохирургии Медицинская школа Католического университета Ларго А. Джемелли 8 00168 Рим, Италия.
        li Кротенков П.В., Киселев&nbsp;A.&nbsp;M., Шерман Л.А. МРТ томография в&nbsp;диагностике и&nbsp;лечении грыж грудных межпозвоночных дисков. (рус.) // Вестник рентгенологии и&nbsp;радиологии : научная статья. &mdash;&nbsp;Лучевая диагностика, 2007. &mdash;&nbsp;&#8470;&nbsp;4. &mdash;&nbsp;С. 53&ndash;57. &mdash;&nbsp;ISSN 0042-4676.
        li Очеретина И.Г. &laquo;Секреты здоровье без лекарств&raquo;.
        li Соломатов В.Г. &laquo;Межпозвонковая грыжа от&nbsp;&bdquo;А&ldquo; до&nbsp;&bdquo;Я&ldquo;&raquo;.
        li Хидиятов И.И., Нуриманов Р.З., Кульсарин А.А. учебное пособие &laquo;Топографическая анатомия&raquo; и&nbsp;оперативная хирургия позвоночника и&nbsp;спинного мозга.
      
      h2#content11 Что такое метастазы
      p Метастазы в позвоночнике — вторичные злокачественные опухоли, локализованные в позвонках, позвоночном канале, спинном мозге, защитных мозговых оболочках. Формируются на фоне агрессивного течения онкологического процесса. Поражают любой отдел позвоночника, куда раковые клетки попадают с кровотоком. Осложнение возникает при миграции опухолевых образований в позвоночник из очага первичной опухоли, расположенной в любом органе организма.
      p Метастазирование говорит о IV стадии рака. Длительное время протекает бессимптомно, поэтому часто диагностируется на последних стадиях. Злокачественное разрастание в позвоночнике у мужчин встречается чаще, чем у женщин. Средний возраст больных — 40-65 лет.

    
