.list-ordered-blocks
  counter-reset listOrderedBlocks
  list-style none
  &__item
    counter-increment listOrderedBlocks
    position relative
    padding-top calc(var(--base-padding) + 2rem)
    &::before
      $fontSizeXl()
      content counter(listOrderedBlocks)
      position absolute
      top 0
      left 0
      display flex
      align-items center
      justify-content center
      width 2rem
      height 2rem
      text-align center
      color var(--color-white)
      background-color var(--color-primary)
      border-radius 100vmax
  &--horizontal
    & ^[0]__item
      padding-left 2.5rem
      padding-top 0
      @media(max-width point-m - 1)
        padding-left 3.5rem
    & ^[0]__item + ^[0]__item
        margin-top 1rem
