.header-search
  @media (min-width point-m)
    --display-form none
    --color-icon var(--color-bg)
    --opacity-before 1
    --opacity-after 0
    --form-transition-duration var(--transition-duration-out)
    --form-translate -1rem
    --form-opacity 0
    position relative
  &--active
    @media (min-width point-m)
      --display-form flex
  &--appearing
    @media (min-width point-m)
      --form-transition-duration var(--transition-duration-in)
      --form-translate 0
      --form-opacity 1
      --opacity-before 0
      --opacity-after 1
  &__label
    @media (max-width point-m - 1)
      display none
    @media (min-width point-m)
      position relative
      background-color transparent
      &::before
      &::after
        content ''
        position absolute
        top 50%
        left 50%
        width 1.5rem
        height 1.5rem
        background-color var(--color-icon)
        mask-repeat no-repeat
        mask-position center
        mask-size cover
        transform translate(-50%, -50%)
        transition-property opacity
        transition-duration var(--form-transition-duration)
      &::before
        opacity var(--opacity-before)
        mask-image url(../images/svg-sprites/common.svg#search)
      &::after
        opacity var(--opacity-after)
        mask-image url(../images/svg-sprites/common.svg#cross)
  &__form
    padding .25rem
    background-color var(--color-primary)
    @media (max-width point-m - 1)
      display flex
      width 100%
    @media (min-width point-m)
      position absolute
      top 4rem
      right -4rem
      display var(--display-form)
      width 20rem
      opacity var(--form-opacity)
      transform translateY(var(--form-translate))
      transition-property opacity, transform
      transition-duration var(--form-transition-duration)
      &::before
        content ''
        position absolute
        top -1rem
        right 4.5rem
        width .5rem
        height .5rem
        border .5rem solid transparent
        border-bottom-color var(--color-primary)
  &__input
    flex-grow 1
    & .form-input__field
      padding-top .6875rem
      padding-bottom .75rem
      border-right none
      border-radius 10px 0 0 10px
      &:focus
        outline none
  &__submit
    --icon-color-bg var(--color-text-light)
    --icon-transition-duration var(--transition-duration-out)
    appearance none
    position relative
    width 3.0625rem
    height 3.0625rem
    margin 0
    padding 0
    background-color var(--color-white)
    border 1px solid var(--color-border)
    border-left none
    border-radius 0 10px 10px 0
    &:hover
      --icon-color-bg var(--color-text)
      --icon-transition-duration var(--transition-duration-in)
    &::before
      content ''
      position absolute
      top 50%
      left 50%
      width 1.5rem
      height 1.5rem
      background-color var(--icon-color-bg)
      mask-image url(../images/svg-sprites/common.svg#search)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      transform translate(-50%, -50%)
      transition-property background-color
      transition-duration var(--icon-transition-duration)
  .form-input__field
    border 1px solid var(--color-border)
    border-right none
