include /blocks/form-input/form-input

mixin headerSearch
  .header-search&attributes(attributes)
    button(type='button').header-search__label
    form.header-search__form
      +formInput({type: 'search'}).header-search__input
      button.header-search__submit
