-
  const mainMenu = [
    { name: 'О центре', href: '/', sublist: [
        { name: 'О центре', href: '/' },
        { name: 'Специалисты', href: '/' },
        { name: 'Цены', href: '/' },
        { name: 'Заболевания', href: '/' },
        { name: 'Операции', href: '/' },
        { name: 'Пациентам', href: '/' },
        { name: 'Вопрос - ответ', href: '/' },
        { name: 'Контакты', href: '/' },
      ] },
    { name: 'Лечение', href: '/', settings: { parentWide: true }, sublist: [
        { name: 'Головной мозг', href: '/', sublist: [
            { name: 'Головная боль', href: '/', sublist: [
                { name: 'Моноклональные антитела', href: '/' },
                { name: 'Ботулинотерапия', href: '/' },
              ] },
            { name: 'Опухоль мозга', href: '/', sublist: [
                { name: 'Аденома гипофиза', href: '/' },
              ] },
            { name: 'Сосуды головного мозга', href: '/', sublist: [
                { name: 'Аневризма', href: '/' },
                { name: 'Артерио-венозная Мальформация', href: '/' },
                { name: 'Ишемический инсульт', href: '/' },
              ] },
            { name: 'Невралгия', href: '/', sublist: [
                { name: 'Гемифациальный спазм', href: '/' },
                { name: 'Невралгия тройничного нерва', href: '/' },
                { name: 'Невропатия лицевого нерва', href: '/' },
                { name: 'Невралгия языкоглоточного нерва', href: '/' },
              ] },
          ] },
        { name: 'Спинной мозг', href: '/', sublist: [
            { name: 'Опухоль спинного мозга', href: '/' },
            { name: 'Дегенеративные заболевания', href: '/', sublist: [
                { name: 'Стеноз', href: '/' },
              ] },
          ] },
        { name: 'Периферические нервы', href: '/' },
        { name: 'Позвоночник', href: '/', sublist: [
            { name: 'Дегенеративные заболевания', href: '/', sublist: [
                { name: 'Грыжа шейного отдела', href: '/' },
                { name: 'Грыжа позвоночника', href: '/' },
              ] },
          ] },
      ] },
    { name: 'Пациентам', href: '/', sublist: [
        { name: 'О центре', href: '/' },
        { name: 'Специалисты', href: '/' },
        { name: 'Цены', href: '/' },
        { name: 'Заболевания', href: '/' },
        { name: 'Операции', href: '/' },
        { name: 'Пациентам', href: '/' },
        { name: 'Вопрос - ответ', href: '/' },
        { name: 'Контакты', href: '/' },
      ] },
    { name: 'Вопрос - ответ', href: '/', sublist: [
        { name: 'О центре', href: '/' },
        { name: 'Специалисты', href: '/' },
        { name: 'Цены', href: '/' },
        { name: 'Заболевания', href: '/' },
        { name: 'Операции', href: '/' },
        { name: 'Пациентам', href: '/' },
        { name: 'Вопрос - ответ', href: '/' },
        { name: 'Контакты', href: '/' },
      ] },
    { name: 'Отзывы', href: '/' },
    { name: 'Контакты', href: '/' },
  ]
