extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/landing-header/landing-header
include /blocks/image-overlay/image-overlay
include /blocks/doctor-item/doctor-item
include /blocks/list-steps-item/list-steps-item
include /blocks/slider/slider
include /blocks/direction-item/direction-item
include /blocks/accordion-item/accordion-item
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +pageSection(style='background-color: #fff')
    +grid.page-subsection
      +cell({ m:6 })
        p Нейрохирургия&nbsp;&mdash; область медицины, которая появилась недавно, на&nbsp;рубеже 19-20&nbsp;столетия. Но&nbsp;ее&nbsp;зарождение случилось еще в&nbsp;древности, когда практиковали трепанацию черепа или&nbsp;же выполняли его пластику, используя пластины, изготовленные из&nbsp;драгоценных металлов.
        p Развитие нейрохирургии в&nbsp;России происходило последовательно: врачи нейрохирургии начинали с&nbsp;исследований, изучали особенности нервной системы, пока не&nbsp;перешли к&nbsp;оперативным вмешательствам. В&nbsp;то&nbsp;же время начали массовое производство специализированного оборудования и&nbsp;микрохирургического инструментария. 
        p Первые операции проводили, устраняя последствия черепно-мозговых травм или удаляли новообразования. Поначалу существовала общая нейрохирургия, после чего ее&nbsp;классифицировали на&nbsp;отдельные направления.
        p Врач-нейрохирург&nbsp;&mdash; специалист узкого профиля, который лечит заболевания центрального и&nbsp;периферического отдела нервной системы, как правило с&nbsp;применением хирургических методик. 
        p Учитывая, что нейрохирургия предполагает длительный срок обучения, постоянное освоение новых технологий, которые стремительно меняются, пациента ждет консультация нейрохирурга высокого квалификационного уровня. 
      +figure({
        image: {
          name: 'konsultatsiya-neyrokhirurga-1',
          path: '/images/directions/konsultatsiya-neyrokhirurga/',
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
          alt: 'Нейрохирургическая операция',  
        }, 
      })(class= cellClasses({ m:6, xs:12 }))
    
    +pageSubsection
      h2 Когда нужно записаться к&nbsp;нейрохирургу?
      +grid.page-subsection
        +figure({
          image: {
            name: 'konsultatsiya-neyrokhirurga-2',
            path: '/images/directions/konsultatsiya-neyrokhirurga/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ],
            alt: 'Симптомы, при которых стоит записаться к нейрохирургу',  
          }, 
        })(class= cellClasses({ m:6, xs:12 }))
        +cell({ m:6 })
          p Записаться к&nbsp;нейрохирургу необходимо, если возникли следующие симптомы:
          ul.list-unordered 
            li Боли в&nbsp;конечностях, которые не&nbsp;снимаются обезболивающими препаратами.
            li Нарушение координации.
            li Параличи (частичные или полные).
            li Нарушение речи, обоняния, вкусовых ощущений.
            li Возникновение судорог, жжения, покалывания в&nbsp;конечностях. 
            li Болевая реакция в&nbsp;области поясницы, шеи, спины, груди.
            li Ощущение слабости, онемения в&nbsp;конечностях (в&nbsp;том числе нарушение чувствительности пальцев).
            li Чувство онемения в&nbsp;области бедер и&nbsp;ягодиц.
            li Обмороки, кратковременная потеря сознания с&nbsp;приступами эпилепсии.
            li Тошнота, рвота после травмы головы.
            li Сильное нарушение подвижности в&nbsp;области спины.
            li Острые боли в&nbsp;лице, которые возникают внезапно.
            li Беспричинные головные боли сильной интенсивности, головокружения.
            li Нарушение дефекации, мочеиспускания.
            li Острые боли после физических нагрузок.

    +pageSubsection
      h2 Как проходит прием нейрохирурга
      +grid.par
        +cell({ m:6 })
          p Прием нейрохирурга начинается с&nbsp;выслушивания жалоб пациента, истории болезни. Специалист анализирует симптоматику, течение и&nbsp;особенности начала заболевания.
          p Учитывая, что в&nbsp;большинстве случаев на&nbsp;прием к&nbsp;нейрохирургу приходят уже с&nbsp;предварительно поставленным диагнозом, то&nbsp;врач изучает записи в&nbsp;медицинской карте. После этого выполняет неврологический осмотр, акцентируя внимание на&nbsp;тех участках, которые значимы во&nbsp;время хирургического лечения. 
          p Затем нейрохирург назначит лабораторные исследования, а&nbsp;именно анализ крови (биохимический, общий, на&nbsp;свертываемость), анализ мочи. 
          p Могут проводиться следующие исследования, направленные на&nbsp;точную локализацию патологического процесса на&nbsp;такие аппаратные методы исследования:
          ul.list-unordered 
            li Компьютерная томография. Позволяет получить снимки головного мозга под разными углами, чтобы максимально точно визуализировать новообразования, отличить патологически измененные ткани от&nbsp;здоровых. Полезен метод и&nbsp;для диагностики патологий позвоночника.
            li Магнитно-резонансная томография. Позволяет получить максимально детализированное изображение пораженных структур спинного, головного мозга, позвоночного канала. 
            li Ангиография. Позволяет детально изучить состояние сосудов, визуализировать на&nbsp;снимках аномалии, в&nbsp;том числе после введения контрастного вещества.
        +cell({ m:6 })
          p В&nbsp;некоторых случаях показана биопсия, чтобы определить, например, тип опухоли и&nbsp;степень ее&nbsp;злокачественности.
          p А&nbsp;также процедуру проводят для постановки точного диагноза, планирования нейрохирургической помощи при дегенеративных, вирусных, инфекционных заболеваниях нервной системы.
          +figure({
            image: {
              name: 'konsultatsiya-neyrokhirurga-3',
              path: '/images/directions/konsultatsiya-neyrokhirurga/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
              density: [
                { values: [ 1, 2 ] }
              ],
              alt: 'Прием нейрохирурга',  
            }, 
          }).par

    +pageSubsection
      h2 Какие заболевания лечит нейрохирург?
      p Опухоли головного, спинного мозга, позвоночника, дефекты черепа, невралгии, невропатии нервов, гидроцефалию, пороки развития головного мозга, аневризмы сосудов головного мозга, ишемический инсульт, артериовенозную мальформацию,, дегенеративно-дистрофические заболевания позвоночника (преимущественно грыжи разных отделов), заболевания периферических нервов. 

    +pageSubsection
      h2 Почему консультацию нейрохирурга в&nbsp;СПб стоит получить в&nbsp;нашем Центре? 
      ul(class= gridClasses()).page-subsection
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--customer-review Запись к&nbsp;нейрохирургу именно нашего Центра оправдана, потому что более 21&nbsp;года успешно диагностируем и&nbsp;излечиваем заболевания центральной и&nbsp;периферической нервной системы разного уровня сложности.
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--equipment К&nbsp;диагностике подключаем зарубежных специалистов, с&nbsp;которыми обмениваемся снимками за&nbsp;несколько минут (для этого используем прогрессивные информационные системы). 
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--neurosurgery Нейрохирурги клиники&nbsp;&mdash; высококлассные специалисты, которые проводят не&nbsp;только сложные, но&nbsp;и&nbsp;уникальные хирургические вмешательства, практикуют авторские методики, на&nbsp;которые получили патенты. 
        li(class= cellClasses({ m:6, s:12 })).icon-block.icon-block--globe Врачи ежегодно осваивают актуальные методы лечения, посещают зарубежные клиники для обмена опытом, проходят тренинги в&nbsp;ведущих нейрохирургических центрах мира.

    +pageSubsection
      h2 Получить заочную бесплатную консультацию 
      p Для иногородних пациентов, а&nbsp;также для получения оперативных ответов на&nbsp;беспокоящие вопросы, на&nbsp;сайте работает форма для отправки вопросов специалистам Центра. 

    +pageSubsection
      h2 Популярные вопросы и&nbsp;ответы
      +grid().par: +cell({ l: 8, m: 10, xs: 12 })
        +accordionItem('<h3>В&nbsp;чем разница между нейрохирургом и&nbsp;неврологом?</h3>').par
          p Ключевое различие в&nbsp;методах помощи пациентам. Если невролог практикует консервативное лечение болезней нервной системы, то&nbsp;нейрохирург выполняет хирургическое лечение.
        +accordionItem('<h3>Как подготовиться к&nbsp;консультации нейрохирурга?</h3>').par
          p Особой подготовки не&nbsp;предусмотрено. Достаточно взять результаты анализов, исследований, медицинскую карту, направление от&nbsp;профильного специалиста.
        +accordionItem('<h3>Сколько длится нейрохирургическая операция?</h3>').par
          p Длительность зависит от&nbsp;сложности случая, выбранного метода оперативного лечения, труднодоступности оперируемый зоны. В&nbsp;среднем составляет несколько часов.
        +accordionItem('<h3>Что делает нейрохирург во&nbsp;время приема?</h3>').par
          p Основная цель консультации нейрохирурга&nbsp;&mdash; принятие решения о&nbsp;наблюдении за&nbsp;состоянием в&nbsp;динамике или&nbsp;же направление на&nbsp;операцию.
        +accordionItem('<h3>Какие преимущества онлайн-приема? </h3>').par
          p Экономия времени, сил, расходов, возможность попасть к&nbsp;высококлассному специалисту даже проживая в&nbsp;маленьком городе, получение альтернативного врачебного мнения, если есть сомнения в&nbsp;правильности диагноза, удобный способ корректировки назначенного лечения, а&nbsp;также основательной подготовки к&nbsp;очной консультации.
  
  +pageSection
    h2 Наши специалисты
    -
      const doctors = [
        {
          title: 'Тастанбеков Малик Маратович',
          description: `
            <p><strong>Врач-нейрохирург, доктор медицинских наук</strong></p>
            <p>Стаж работы: с 1989 г.</p>
          `,
          image: 'doctor-item-9',
          price: '5 000 ₽',
          href: '/vrachi/tastanbekov-malik-maratovich/',  
        },
        {
          title: 'Киселев Виталий Сергеевич',
          description: `
            <p><strong>Врач-нейрохирург, кандидат медицинских наук</strong></p>
            <p>Стаж работы: с 2002 г.</p>
          `,
          image: 'doctor-item-10',
          price: '2&nbsp;500&nbsp;₽',
          href: '/vrachi/kiselev-vitaliy-sergeevich/',
        },
        {
          title: 'Щербинин Антон Владимирович',
          description: `
            <p><strong>Врач-нейрохирург, кандидат медицинских наук</strong></p>
            <p>Стаж работы: с 1998 г.</p>
          `,
          image: 'doctor-item-1',
          price: '2&nbsp;500&nbsp;₽',
          href: '/vrachi/shcherbinin-anton-vladimirovich/',
        },
        {
          title: 'Трушин Павел Вадимович',
          description: `
            <p><strong>Врач-нейрохирург, кандидат медицинских наук</strong></p>
            <p>Стаж работы: с 2008 г.</p>
          `,
          image: 'doctor-item-4',
          price: '5 000 ₽',
          href: '/vrachi/trushin-pavel-vadimovich/',
        },
        {
          title: 'Шевченко Елена Николаевна',
          description: `
            <p><strong>Врач-нейрохирург высшей категории</strong></p>
            <p>Стаж работы: с 1995 г.</p>
          `,
          image: 'doctor-item-2',
          price: '3 500 ₽',
          href: '/vrachi/shevchenko-elena-nikolaevna/',
        },
        {
          title: 'Федин Дмитрий Игоревич',
          description: `
            <p><strong>Врач-нейрохирург</strong></p>
            <p>Стаж работы: с 2019 г.</p>
          `,
          image: 'doctor-item-5',
          price: '2 000 ₽',
          href: '/vrachi/fedin-dmitriy-igorevich/',
        },
        {
          title: 'Минеев Владимир Андреевич',
          description: `
            <p><strong>Врач-нейрохирург</strong></p>
            <p>Стаж работы: с 2022 г.</p>
          `,
          image: 'doctor-item-11',
          price: '2 500 ₽',
          href: '/vrachi/mineev-vladimir-andreevich/',
        },
        {
          title: 'Холодова Маргарита Александровна',
          description: `
            <p><strong>Врач-нейрохирург</strong></p>
            <p>Стаж работы: с 2022 г.</p>
          `,
          image: 'doctor-item-12',
          price: '2 500 ₽',
          href: '/vrachi/kholodova-margarita-aleksandrovna/',
        },
      ]
    +slider({ fullWidth: true }).doctors-slider.page-subsection
      each doctor in doctors
        +slide: +doctorItem(doctor) !{doctor.description}
  +pageSection({ noPadding: 'top' })
    h2 Как попасть на лечение?
    -
      const steps = [
        {
          title: 'Запись на прием',
          clarification: 'По телефону или через форму записи',
          body: `
            <p>Заполните заявку на прием или позвоните нам по телефону. Вы также можете отправить свои анализы или результаты обследований на <a href="mailto:info@neuros.ru">info@neuros.ru</a>. Врач изучит все материалы и <strong>предложит варианты решения</strong> вашей проблемы.
          `,
        },
        {
          title: 'Очная консультация в клинике',
          price: 'От 2 000 руб.',
          clarification: '1 час',
          body: `
            <p>Врач выполнит <strong>полноценный осмотр</strong>, изучит данные исследований, <strong>поставит диагноз, сформирует план лечения</strong> и ответит на все вопросы.</p>
          `,
        },
        {
          title: 'Получите высокотехнологичное лечение',
          body: `
            <p>Дадим памятку со списком необходимых анализов и подскажем, где их лучше сдать. Расскажем <strong>как подготовиться</strong> к процедуре или операции, что делать после.  После выписки <strong>уточним состояние здоровья.</strong></p>
          `,
        },
      ]
    +pageSubsection(class= gridClasses({ justify: 'center' })).list-steps
      each step in steps
        +listStepsItem(step, ({ tag: 'div' }))(class= cellClasses({ l: 4, m: 6, xs: 12 })).list-steps__item !{step.body}
