extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/icon-block/icon-block
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/landing-header/landing-header
include /blocks/image-overlay/image-overlay
include /blocks/doctor-item/doctor-item
include /blocks/list-steps-item/list-steps-item
include /blocks/slider/slider
include /blocks/direction-item/direction-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(href='https://neuros.ru/bitrix/templates/tpl_neuros/styles/old.rest.css?v=22' rel='stylesheet')
block content
  +landingHeader({ directions: true, neurology: true, tag: 'section' }).container.page-section
    +grid.content
      +blockMarked({ grey: 'without-border' })(class= cellClasses({ l:5, m:7, xs: 12 }))
        +textMarked({ tag:'p', size: 'l' }) В&nbsp;нейрохирургическом центре &laquo;Новые технологии&raquo; врачи #[strong высшей категории] лечат неврологические проблемы #[strong любой сложности].
        a(href='#appointment' data-modal).button.button--secondary.par Записаться на прием
  +pageSection(style='background-color: #fff')
    +pageSubsection
      h2 О направлении
      +grid.par 
        +cell({ l:6 })
          p Неврология специализируется на&nbsp;лечении заболеваний центральной и&nbsp;периферической нервной системы. Одна из&nbsp;ключевых жалоб&nbsp;&mdash; это #[strong головная боль]. В&nbsp;Санкт-Петербурге более 1&nbsp;000&nbsp;000 человек страдают от&nbsp;разных вариантов мигрени, а&nbsp;существующих в&nbsp;мире различных типов головной боли около 300!
          p #[strong Правильная диагностика] основа для назначения верного лечения. Современная неврология использует такие варианты лечения, как #[strong ботокс или моноклональные антитела].
          p Врач-невролог помогает пациентам и&nbsp;с&nbsp;другими жалобами, в&nbsp;том числе и&nbsp;с&nbsp;неврологическими осложнениями. Он&nbsp;играет #[strong ключевую роль] в&nbsp;терапии последствий #[strong сахарного диабета, гипертонической болезни].
          p Для выбора верного лечения, оценки перспектив терапии, прогноза течения заболевания мы&nbsp;используем #[strong современные методы функциональной диагностики, нейровизуализации]. Также наши неврологи ежедневно работают вместе со&nbsp;специалистами #[strong нейрохирургами].
        +imageOverlay({path: '/images/directions/neurology/', name: ['neurology-1', 'neurology-2']}, { 'fullWidth':'left-top' })(class= cellClasses({ l:6 }))
    +pageSubsection
      h2 Преимущества совместной работы нейрохирургов и неврологов
      +grid({ tag: 'ul' }).page-subsection
        +iconBlock({ tag: 'li', neurosurgeon: true, vertical:true })(class= cellClasses({ l: 4, m:6, xs: 12 })): p Совместная работа нейрохирургов и&nbsp;неврологов позволяет более #[strong точно определять] локализацию патологического процесса в&nbsp;нервной системе и&nbsp;выбирать наиболее #[strong эффективный метод лечения].
        +iconBlock({ tag: 'li', qualityLife: true, vertical:true })(class= cellClasses({ l: 4, m:6, xs: 12 })): p #[strong Повышение качества жизни] пациентов. После проведения нейрохирургической операции к&nbsp;терапии часто подключается врач-невролог. Он&nbsp;формирует план рекомендаций по&nbsp;дальнейшему восстановлению, реабилитации, медикаментозной терапии и&nbsp;профилактике.
        +iconBlock({ tag: 'li', recovered: true, vertical:true })(class= cellClasses({ l: 4, m:6, xs: 12 })): p При необходимости мы&nbsp;привлекаем неврологов, специализирующихся на&nbsp;#[strong физической реабилитации пациентов]. Например, при межпозвонковой грыже для лучшего восстановления пациентов после лечения и&nbsp;снижения рисков рецидивов патологического процесса.

      +grid.page-subsection
        +cell({ m:6 }): +img({
          name: 'neurology-3',
          path: '/images/directions/neurology/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })
        +cell({ m:6 })
          p Длительный отказ от&nbsp;обращения к&nbsp;специалисту может приводить к&nbsp;хронизации патологического процесса и&nbsp;лечение может #[strong многократно усложниться] или например будет требовать уже не&nbsp;медикаментозной терапии, а&nbsp;#[strong хирургического подхода].
          p Например это касается таких заболеваний, как болезнь Паркинсона или рассеянный склероз. Эти заболевания, к&nbsp;сожалению, неизлечимы, однако на&nbsp;ранних стадиях процесса неплохо #[strong поддаются коррекции]. При затягивании с&nbsp;обращением к&nbsp;врачу неврологу есть риск, что придется #[strong лечить] не&nbsp;только основные симптомы этих болезней, но&nbsp;возможные #[strong осложнения], которые как правило развиваются из-за несвоевременного посещения специалиста.
    +pageSubsection
      h2 Консультация невролога необходима при следующих симптомах:
      +grid.page-subsection
        +imageOverlay({path: '/images/directions/neurology/', name: ['neurology-4', 'neurology-5']})(class= cellClasses({ l:6 }))
        +cell({ m:6 })
          ul.list-unordered.par 
            li Онемение, ощущения &laquo;бегания мурашек&raquo; в&nbsp;разных частях тела; 
            li Головные боли;
            li Головокружение; 
            li Приступы головной боли, сопровождающиеся тошнотой и&nbsp;рвотой;
            li Сложности с&nbsp;засыпанием, частые ночные пробуждения; 
            li Шаткость при ходьбе; 
            li Потери сознания;
            li Судороги в&nbsp;ногах и&nbsp;руках; 
            li Болезненные мышечные спазмы; 
            li Дрожь в&nbsp;конечностях или в&nbsp;теле.
    +pageSubsection
      h2 Преимущества лечения в нашем центре
      +grid({ tag: 'ul' }).page-subsection
        +iconBlock({ tag: 'li', scalpel: true })(class= cellClasses({ m: 6, xs: 12 })): p Минимальная инвазивность вмешательства за&nbsp;счет безрамной навигации либо стереотаксических рам. За&nbsp;счет этого здоровые	структуры не&nbsp;повреждаются, восстановление после операции происходит быстрее, длительность госпитализации уменьшается.
        +iconBlock({ tag: 'li', doctor: true })(class= cellClasses({ m: 6, xs: 12 })): p Лечение без ухудшения исходного неврологического статуса за&nbsp;счет высокого профессионализма операционной бригады, высокотехнологичного оборудования и&nbsp;инструментария.
        +iconBlock({ tag: 'li', hourglass: true })(class= cellClasses({ m: 6, xs: 12 })): p Быстрое восстановление и&nbsp;максимально раннее возвращение	к&nbsp;привычной жизни: срок госпитализации&nbsp;&mdash; 1-3&nbsp;дня.
        +iconBlock({ tag: 'li', evaluation: true })(class= cellClasses({ m: 6, xs: 12 })): p Значительный опыт в&nbsp;успешном проведении вмешательств на&nbsp;головном мозге: проводим операции с&nbsp;1998&nbsp;года.
        +iconBlock({ tag: 'li', monitor: true })(class= cellClasses({ m: 6, xs: 12 })): p Высокая эффективность вмешательств и&nbsp;минимальный риск осложнений за&nbsp;счет современного оснащения операционных системами видеоангиографии, нейромониторинга и&nbsp;3D-нейронавигации.
  
  +pageSection
    h2 Наши врачи-неврологи
    -
      const doctors = [
        {
          title: 'Шкаровский Андрей Вадимович',
          description: `
            <p><strong>Врач-невролог</strong></p>
            <p>Стаж работы: с 2017 г.</p>
          `,
          image: 'doctor-item-6',
          oldPrice: '2&nbsp;500&nbsp;₽', 
          price: '2&nbsp;375&nbsp;₽'
        },
        //- {
        //-   title: 'Корно Надежда Васильевна',
        //-   description: `
        //-     <p><strong>Врач-невролог</strong></p>
        //-     <p>Стаж работы: с 2010 г.</p>
        //-   `,
        //-   image: 'doctor-item-7',
        //-   price: '3&nbsp;500&nbsp;₽'
        //- },
        {
          title: 'Ляхова Евгения Александровна',
          description: `
            <p><strong>Врач-невролог</strong></p>
            <p>Стаж работы: с 2011 г.</p>
          `,
          image: 'doctor-item-8',
          price: '2&nbsp;500&nbsp;₽'
        },
      ]
    +grid.page-subsection 
      each doctor in doctors
        +cell({ m:4, s:6 })
          +doctorItem(doctor) !{doctor.description}

  +pageSection({ noPadding:'top' })
    +grid({ noGap: true }).tourism-online.tourism-online--transparent
      +cell({ l:3, m:4 })
        +img({
          name: 'online',
          path: '/images/to-patients/inogorodnim/', 
          formats: [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { values: [ 1, 2 ], }
          ]
          })(alt= 'Онлайн консультация врача' width=1000 height=666)
      +cell({ l:9, m:8}).tourism-online__inner
        h2 Онлайн консультация
        span Если вы из другого города и у вас нет возможности заранее приехать на консультацию хирурга, возможно проведение заочной предварительной консультации со специалистом.
        a(href='#appointment' data-modal).button.button--secondary Записаться на онлайн-консультацию

  +pageSection({ noPadding: 'top' })
    h2 Как попасть на лечение?
    -
      const steps = [
        {
          title: 'Запись на прием',
          clarification: 'По телефону или через форму записи',
          body: `
            <p>Заполните заявку на прием или позвоните нам по телефону. Вы также можете отправить свои анализы или результаты обследований на <a href="mailto:info@neuros.ru">info@neuros.ru</a>. Врач изучит все материалы и <strong>предложит варианты решения</strong> вашей проблемы.
          `,
        },
        {
          title: 'Очная консультация в клинике',
          price: 'От 2 000 руб.',
          clarification: '1 час',
          body: `
            <p>Врач выполнит <strong>полноценный осмотр</strong>, изучит данные исследований, <strong>поставит диагноз, сформирует план лечения</strong> и ответит на все вопросы.</p>
          `,
        },
        {
          title: 'Получите высокотехнологичное лечение',
          body: `
            <p>Дадим памятку со списком необходимых анализов и подскажем, где их лучше сдать. Расскажем <strong>как подготовиться</strong> к процедуре или операции, что делать после.  После выписки <strong>уточним состояние здоровья.</strong></p>
          `,
        },
      ]
    +pageSubsection(class= gridClasses({ justify: 'center' })).list-steps
      each step in steps
        +listStepsItem(step, ({ tag: 'div' }))(class= cellClasses({ l: 4, m: 6, xs: 12 })).list-steps__item !{step.body}

  +pageSection(style='background-color: #fff')
    +grid
      +cell({ m:5 })
        +img({
          name: 'article-form',
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ],
        })(width=509 height=290 alt= 'Запишитесь на прием к врачу')
      +cell({ m:7 })
        +grid({ smallGap: 'y' }).par
          +cell 
            h2 Запишитесь на прием к врачу
            p Администратор свяжется с вами для уточнения даты и времени.
          +cell 
            +grid({ tag: 'form', smallGap: 'y' })(data-is-validate="true" data-is-answer-in-popup="true").form-ajax
              //- input(type="text" name="req_name")
              +cell({ s:6 })
                +formInput({ type: 'text', name:'name', placeholder: 'ФИО пациента' })(data-validation-required).par
              +cell({ s:6 })
                +formInput({ type: 'tel', name:'phone', placeholder: 'Телефон' })(data-validation-required).par
              +cell({ s:6 })
                +button(type='submit' style="width: 100%;").form-submit.par.button--secondary Записаться на прием
                input(type="hidden" name="action" value="appointment")
              +cell({ s:6 })
                +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a href="/policy/">условиями обработки персональных данных</a>', checked: true }).par
        +linkIcons([ 'whatsapp', 'telegram' ])
          span Напишите нам:

  +pageSection
    h2 Другие направления центра
    +pageSubsection(class = gridClasses())
      +cell({ m:4 })
        +directionItem({ 'neurosurgery': true }, 'Нейрохирургия' ) 
      +cell({ m:4 })
        +directionItem({ 'diagnostics': true }, 'Диагностика:' ) 
          ul.direction-item__list
            li МРТ
            li КТ
            li Рентген
            li ЭНМГ
            li УЗИ нервов
      +cell({ m:4 })
        +directionItem({ 'oncology': true }, 'Онкология' )
