.image-overlay
  position relative
  @media(min-width point-s)
    display flex
  &__left
    @media(min-width point-s)
      width 100%
      margin-right -1.5rem
      margin-top 1.5rem
      z-index 1
  &__right
    z-index 2
    @media(min-width point-s)
      width 70%
      & p 
        margin-left 2.5rem 
    @media(max-width point-s - 1)
      margin-top 2rem    
  &--full-width--right-top
    --position-image-right-absolute absolute 
    & ^[0]__right
      position var(--position-image-right-absolute)
      top 0
      right 0
      width 60%
      margin-top 0
    & ^[0]__left
      width 95%
      margin-top 2rem
  &--full-width--left-top
    --position-image-right-absolute absolute 
    & ^[0]__right
      position var(--position-image-right-absolute)
      top 0
      left 0
      width 60%
      margin-top 0
    & ^[0]__left
      width 95%
      margin-top 2rem
      margin-left 1.5rem
