include /blocks/img/img

mixin imageOverlay(images= {}, settings = {})
  div(class= classes('image-overlay', settings))&attributes(attributes)
    - const name = []
    - const alt = images.alt || []
    .image-overlay__left
      +img({
        name: images.name[0],
        path: images.path,
        formats: [
          { ext: 'jpg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { values: [ 1, 2 ] },
        ]
        })(alt= alt[0] title= alt[0] width=800 height=615).box-shadow
      if alt[0]
        p= alt[0]

    .image-overlay__right
      +img({
        name: images.name[1],
        path: images.path,
        formats: [
          { ext: 'jpg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { values: [ 1, 2 ] },
        ]
        })(alt= alt[1] title= alt[1] width=480 height=480).box-shadow
      if alt[0] 
        p= alt[1]
