.header-navigation
  &__list
    display flex
    justify-content space-between
    &--sub-1
    &--sub-2
      display var(--display-sub)
      @media (max-width point-m - 1)
        padding-y 1rem
    &--sub-2
      @media (max-width point-m - 1)
        padding-top 0
  &__item
    --display-sub none
    flex-grow 1
    display flex
    justify-content center
    &:not(&--sub) + &:not(&--sub)
      @media (min-width point-m)
        border-left 1px solid #a0cd65
    & > a
      $fontSizeL()
    &:not(&--sub)&--parent > a
      position relative
      padding-right 1.25rem
