.header-navigation
  --color-link var(--color-white)
  --color-link-hover var(--color-bg-secondary)
  --color-link-active var(--color-bg-secondary)
  --color-icon var(--color-link)
  @media (max-width point-m - 1)
    padding-bottom var(--base-padding)
  &__list
    @media (max-width point-m - 1)
      flex-direction column
    &--sub-1
      background-color #21943B
      @media (min-width point-m)
        position absolute
        bottom var(--list-sub-1-bottom)
        left 0
        z-index -1
        flex-direction var(--list-sub-1-direction)
        justify-content center
        gap 0
        width var(--list-sub-1-width)
        padding-y var(--list-sub-padding-y)
        border-top 1rem solid var(--color-primary)
        transform translateY(100%)
        box-shadow var(--shadow)
      @media (max-width point-m - 1)
        position relative
        grid-area sub
    &--sub-2
      flex-wrap wrap
      min-height fit-content
      @media (min-width point-m)
        --color-link #646466
        --color-link-hover #6aa1f2
        --color-link-active #134794
        position absolute
        bottom 0
        left 0
        grid-template-columns repeat(4, 1fr)
        grid-gap var(--gap)
        justify-content start
        width 100%
        padding-y var(--base-padding)
        background-color var(--color-white)
        translate 0 100%
        box-shadow var(--box-shadow)
    &--sub-3
      flex-direction column
      margin-top .5rem
  &__item
    &:not(&--sub)
    &--sub-1
      @media (max-width point-m - 1)
        display grid
        grid-template-areas 'link opener' 'sub sub'
        grid-template-columns 1fr min-content
        flex-direction column
        padding-x var(--base-padding)
      & > a
        @media (max-width point-m - 1)
          padding-y .25rem
    &--sub
      justify-content flex-start
      flex-grow 0
      & > a
        padding-x var(--base-padding)
    &--sub-1
      transition color, background-color
      transition-duration var(--transition-duration-out)
      &:hover
        @media (min-width point-m)
          --color-link #21943b
          --color-link-hover #21943b
          background-color var(--color-white)
          transition-duration var(--transition-duration-in)
      @media (max-width point-m - 1)
        position static
        flex-direction column
      & > a
        width 100%
        height auto
        padding-y var(--item-sub-padding-y)
        padding-left var(--base-padding)
    & > a
      font-family 'PT Sans Narrow'
      letter-spacing .06em
      text-decoration none
    &--sub-2
      flex-direction column
      justify-content flex-start
      width fit-content
      @media (max-width point-m - 1)
        padding-left var(--base-padding)
      & > a
        padding-right var(--base-padding)
      &^[-1]--parent > a
        @media (min-width point-m)
          --color-link #21943B
    &--sub-2:has(&--sub) + &--sub-2:has(&--sub)
      @media (max-width point-m - 1)
        margin-top .5rem
    &--sub-1&--parent + &
    & + &--sub-1&--parent
      @media (max-width point-m - 1)
        margin-top .25rem
    &:not(&--sub):has(^[-1]__list-) > ^[-1]__list > &
      height 2rem
    &--sub-3
      @media (min-width point-m)
        & + &
          margin-top .5rem
      @media (max-width point-m - 1)
        padding-left var(--base-padding)
      & > a
        $fontSizeM()
        padding-right var(--base-padding)
        font-weight normal
        @media (max-width point-m - 1)
          position relative
        &::before
          @media (max-width point-m - 1)
            content ''
            position absolute
            top .5rem
            left 0
            width .5rem
            height .5rem
            background-color currentColor
            border-radius .25rem
    &--parent
      &:not(^[-1]--sub):not(^[-1]--parent-wide)
        @media (min-width point-m)
          --item-sub-padding-y 0
          --list-sub-padding-y .75rem
          --list-sub-1-bottom 0.3rem
          --list-sub-1-direction column
          --list-sub-1-width 15rem
          position relative
      @media (min-width point-m)
        --item-sub-padding-y .75rem
        --list-sub-padding-y 0
        --list-sub-1-bottom 1rem
        --list-sub-1-direction row
        --list-sub-1-width 100%
        &:hover
          --display-sub flex
        &^[-1]--sub-1:hover
          --display-sub grid
      & > a
        @media (max-width point-m - 1)
          grid-area link
        @media (min-width point-m)
          &::after
            content ''
            position absolute
            top 50%
            right 0
            width .75rem
            height .5rem
            background-color currentColor
            transform translateY(-50%)
            mask-image url(../images/svg-sprites/common.svg#header-navigation__item--parent_a_after)
            mask-repeat no-repeat
            mask-position center
            mask-size cover
      &^[-1]--sub-1
        @media (min-width point-m)
          --after-rotate -90deg
          & > a
            display flex
            justify-content space-between
            align-items center
            gap var(--base-padding)
            padding-right var(--base-padding)
            &::after
              position relative
              top 0
              transform none
              rotate var(--after-rotate)
          &:hover
            --after-rotate 0
      &^[-1]--sub-2 > a
        @media (min-width point-m)
          &::after
            content none
    
  &__opener
    display none
    @media (max-width point-m - 1)
      --transform--scale-arrow 1
      --transition-arrow var(--transition-duration-out)
      grid-area opener
      display flex
      align-items center
      justify-content center
      justify-self end
      width 2rem
      height 2rem
      border-radius .25rem
      background-color rgba(#fff, .1)
      &::before
        content ''
        width .625rem
        height .5rem
        background-color var(--color-bg)
        mask-image url(../images/svg-sprites/common.svg#header-navigation__item--parent_a_after)
        mask-repeat no-repeat
        mask-position center
        mask-size cover
        transform scaleY(var(--transform--scale-arrow))
        transform-origin 50% 50% 0
        transition transform var(--transition-arrow)
      &--active
        --transform--scale-arrow -1
        --transition-arrow var(--transition-duration-in)
        & + ^[-2]__list--sub
          --display-sub flex
